// -------------------------------------------------------------------
// 	detailLink.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mediaquery" as med;

.c-detailLink {
  width: 625px;
  text-align: center;
  margin: 110px auto 0;
  > p {
    font-family: var.$LIGHT_FONT_FAMILY;
    font-size: 33px;
    letter-spacing: 1.65px;
    color: var.$ACCENT_TEXT_COLOR;
    @include med.media(sp) {
      font-size: 4.4vw;
      letter-spacing: 0.22vw;
    }
  }

  @include med.media(sp) {
    width: 84%;
    margin-top: 14.65vw;
  }
}