<!DOCTYPE html>
<html lang="ja">
<%- include('../include/_headNewsRelease.ejs'); %>

<body>
  <div class="container" id="js-container">
    <%- include('../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">個人情報の保護について</a>
          </li>
        </ul>
      </div>
      <div class="common-mainVisual common-mainVisual--privacy common-mb">
        <img src="../images/privacy.jpg" alt="個人情報の保護について" class="common-mainVisual--pc">
        <img src="../images/privacy_sp.jpg" alt="個人情報の保護について" class="common-mainVisual--sp">
        <h1 class="common-heading--h1">個人情報の保護について<br><span></span></h1>
      </div>

      <div class="common-container">
        <div class="anchor-container">
          <div class="anchor-list">
            <div class="anchor-item">
              <a href="#header-1" class="anchor-link top-link">→ 個人情報保護方針<span class="-arrow"></span></a>
              <a href="#list-1-item-1" class="anchor-item--no-arrow anchor-link">1. 体制の整備<span class="-arrow"></span></a>
              <a href="#list-1-item-2" class="anchor-item--no-arrow anchor-link">2. 個人情報の収集、利用及び提供等に関する方針<span class="-arrow"></span></a>
              <a href="#list-1-item-3" class="anchor-item--no-arrow anchor-link">3. 個人情報の開示、訂正についての対応<span class="-arrow"></span></a>
              <a href="#list-1-item-4" class="anchor-item--no-arrow anchor-link">4. 安全保護対策<span class="-arrow"></span></a>
              <a href="#list-1-item-5" class="anchor-item--no-arrow anchor-link">5. 法令遵守<span class="-arrow"></span></a>
              <a href="#list-1-item-6" class="anchor-item--no-arrow anchor-link">6. 継続的改善<span class="-arrow"></span></a>
              <a href="http://privacymark.jp/" target="_blank" title="Opens in a new window" class="mt-10 pmark-link"><img src="../images/common/pmark.png" alt=""></a>
            </div>
          </div>
          <div class="anchor-list">
            <div class="anchor-item">
              <a href="#header-2" class=" anchor-link top-link">→ 個人情報の取り扱いについて<span class="-arrow"></span></a>
              <a href="#list-2-item-1" class="anchor-item--no-arrow anchor-link">1. 適法かつ適切な取得<span class="-arrow"></span></a>
              <a href="#list-2-item-2" class="anchor-item--no-arrow anchor-link">2. ご本人の同意<span class="-arrow"></span></a>
              <a href="#list-2-item-3" class="anchor-item--no-arrow anchor-link">3. 個人情報に関する権利<span class="-arrow"></span></a>
              <a href="#list-2-item-4" class="anchor-item--no-arrow anchor-link">4. 利用目的の変更<span class="-arrow"></span></a>
              <a href="#list-2-item-5" class="anchor-item--no-arrow anchor-link">5. 個人情報の任意性<span class="-arrow"></span></a>
              <a href="#list-2-item-6" class="anchor-item--no-arrow anchor-link">6. 個人情報の利用目的<span class="-arrow"></span></a>
              <a href="#list-2-item-7" class="anchor-item--no-arrow anchor-link">7. 第三者への提供<span class="-arrow"></span></a>
              <a href="#list-2-item-8" class="anchor-item--no-arrow anchor-link">8. 委託先への提供<span class="-arrow"></span></a>
              <a href="#list-2-item-9" class="anchor-item--no-arrow anchor-link">9. 個人情報のグループ内における共同利用<span class="-arrow"></span></a>
              <a href="#list-2-item-10" class="anchor-item--no-arrow anchor-link">10. 個人情報の適正な管理<span class="-arrow"></span></a>
              <a href="#list-2-item-11" class="anchor-item--no-arrow anchor-link">11. 個人情報管理者<span class="-arrow"></span></a>
              <a href="#list-2-item-12" class="anchor-item--no-arrow anchor-link">12. Cookie(クッキー)及びSSLの利用の有無<span class="-arrow"></span></a>
              <a href="#list-2-item-13" class="anchor-item--no-arrow anchor-link">13. 「開示等の求め」に応じる手続き<span class="-arrow"></span></a>
              <a href="#list-2-item-14" class="anchor-item--no-arrow anchor-link">14. 「個人情報に関する相談、苦情」に応じる手続き<span class="-arrow"></span></a>
            </div>
          </div>
        </div>
        <div class="common-secondHeading common-mb--subTitle">
          <h3 class="common-heading--h3" id="header-1">個人情報保護方針</h3>
          <div class="common-heading--h3__underLine"></div>
        </div>
        <p class="common-mb">C&amp;Rグループは、「人の能力を阻害している社会の様々な要因を取り除き、最大限に人の叡智を解き放つ」ことを統括理念としております。クリーク･アンド･リバー社は、「クリエイターの生涯価値の向上」と「クライアントの価値創造への貢献」をミッションとし、クリエイティブマネジメントからコンテンツマネジメント、更にライツマネジメントまであらゆるクリエイティブ領域で独創的なサービスを提供するクリエイター･エージェンシーとして事業活動を展開しております。</p>
        <p class="common-mb">当社では、登録するクリエイターの方々の個人情報をはじめ、さまざまな重要な個人情報を取り扱っており、当社がたずさわる個人情報および関連資産を過失、事故、災害、犯罪などの脅威から守り、クリエイター、クライアント、社会に対する継続的、かつ安定的なサービスの提供を確保するため、個人情報保護方針を策定し、適切な個人情報保護対策を実施し推進してまいります。<br>なお、当方針においては、「行政手続における特定の個人を識別するための番号の利用等に関する法律」に基づく「個人番号」及び「特定個人情報」は対象としておりません。</p>
        <a href="https://www.cri.co.jp/privacy/my_number.html" class="common-link">特定個人情報等の適正な取扱いに関する基本方針はこちら</a>
        <h4 class="common-heading--h4 common-mb" id="list-1-item-1">1.体制の整備</h4>
        <p class="common-mb">個人情報保護の重要性について、社員に対する社内教育を実施し、個人情報保護の管理責任者を置き、適切な管理体制を確立してまいります。</p>
        <h4 class="common-heading--h4 common-mb" id="list-1-item-2">2.個人情報の収集、利用及び提供等に関する方針</h4>
        <p class="common-mb">個人情報保護を適切に行うため、明示した利用目的の範囲内でのみ個人情報の取得、利用、提供及び委託などを行うとともに、個人情報を取得、提供をする場合には、事前に本人の同意をとることといたします。また、目的外利用を行なわないために、適切な管理措置を講じます。</p>
        <h4 class="common-heading--h4 common-mb" id="list-1-item-3">3.個人情報の開示、訂正についての対応</h4>
        <p class="common-mb">当社が直接取得した個人情報について、本人から確認、訂正、苦情及び相談などの申し出があった場合には、誠意をもって迅速に対応いたします。</p>
        <h4 class="common-heading--h4 common-mb" id="list-1-item-4">4.安全保護対策</h4>
        <p class="common-mb">取得した個人情報は、不正アクセス、個人情報の紛失、破壊、改ざん及び漏洩などの予防ならびに是正に努め、厳正な管理の下で安全に蓄積、保管いたします。</p>
        <h4 class="common-heading--h4 common-mb" id="list-1-item-5">5.法令遵守</h4>
        <p class="common-mb">個人情報保護の法令、国が定める指針及びその他の規範を遵守いたします。</p>
        <h4 class="common-heading--h4 common-mb" id="list-1-item-6">6.継続的改善</h4>
        <p class="common-mb">個人情報保護体制の維持・改善のために個人情報保護マネジメントシステムの継続的改善に努めてまいります。</p>
        <p class="common-mb">■本方針の内容及び個人情報保護に関する問い合わせ<br>株式会社クリーク･アンド･リバー社<br>個人情報相談窓口<br>TEL:0800-888-1171<br>E-mail：ppinfo@hq.cri.co.jp</p>
        <p class="common-mb common-text--right">制定日 平成17年4月1日<br>改訂日 平成28年6月1日<br>株式会社クリーク･アンド･リバー社<br>代表取締役社長　井川　幸広</p>
        <div class="common-secondHeading common-mb--subTitle">
          <h3 class="common-heading--h3" id="header-2">個人情報の取扱いについて</h3>
          <div class="common-heading--h3__underLine"></div>
        </div>
        <p class="common-mb">当社個人情報保護方針に基づき、ご本人からお預かりする個人情報の取扱いについて、以下のように規定します。</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-1">１．適法かつ適切な取得</h4>
        <p class="common-mb">個人情報の取得は、当社が行う事業の範囲内で利用目的をできる限り明確に定め、適法かつ公正な手段によって行います。</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-2">2.ご本人の同意</h4>
        <p class="common-mb">個人情報を取得する際、明示的なご本人の同意を得ることとします。また、ご本人が１２歳未満等の場合は、親権者（法定代理人を含む）の同意をも得ることとします。</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-3">3.個人情報に関する権利</h4>
        <p class="common-mb">当社が取得した個人情報が保有個人データに該当する場合、当社の名称、個人情報保護管理者の氏名、利用目的、苦情申し出先、開示等の求め（以下「開示等の求め」といいます。）に応じる手続等を公表し、ご本人の知り得る状態とします。</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-4">4.利用目的の変更</h4>
        <p class="common-mb">取得した後、利用目的を変更する場合、下記のいずれかに該当する場合を除き、事前にその目的を通知し、ご本人の同意を得ることとします。</p>
        <ul class="privacy__list">
          <li><span class="privacy__list__num">(1）</span>法令に基づく場合</li>
          <li><span class="privacy__list__num">(2)</span>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
          <li><span class="privacy__list__num">(3)</span>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
          <li><span class="privacy__list__num">(4)</span>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることによって当該事務の遂行に支障を及ぼすおそれがあるとき</li>
        </ul>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-5">5.個人情報の任意性</h4>
        <p class="common-mb">当社に個人情報を提供いただくことは任意です。<br>ただし、当社が求める個人情報の全部または一部が不足している場合、情報に誤りがある場合は、当社が提供するサービスをご利用になれないことがあります。</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-6">6.個人情報の利用目的</h4>
        <p>ご本人から取得した個人情報について、下記各項に記載の利用目的の達成に必要な範囲内で利用します。</p>
        <ul class="privacy__list">
          <li><span class="privacy__list__num">(1)</span>採用及びクリエイター・プロダクションの登録に関する手続並びに選考のため</li>
          <li><span class="privacy__list__num">(2)</span>当社からのエージェントサービスのご案内または契約の締結に関する業務のため<br><a href="https://www.creativevillage.ne.jp/services-2" class="common-link" target="_blank" title="Opens in a new window">サービス詳細はこちら</a></li>
          <li><span class="privacy__list__num">(3)</span>保険医療管理、社会保険加入、雇用管理、外国人雇用状況の届出等法令の定めのある業務のため</li>
          <li><span class="privacy__list__num">(4)</span>能力開発サポート及びライフサポート等各種提案、コンサルティングを行うため</li>
          <li><span class="privacy__list__num">(5)</span>クリエイターの皆様のご希望、能力に応じた仕事を確保するため</li>
          <li><span class="privacy__list__num">(6)</span>当社が提供するサービスにおけるメールマガジン配信のため</li>
          <li><span class="privacy__list__num">(7)</span>教育講座のご案内、中止の連絡等円滑な運営のため</li>
          <li><span class="privacy__list__num">(8)</span>お客様のご意見を伺う等、商品・サービスの改善または新たな商品・サービスの企画開発のため</li>
          <li><span class="privacy__list__num">(9)</span>当社が運営・管理するECサイトでの商品購入時等の登録に関する手続きのため</li>
          <li><span class="privacy__list__num">(10)</span>訪問、ダイレクトメール・パンフレット等の発送、各種セミナー・イベント等のご案内、電話・電子メールによる勧誘・サービス・情報提供等を伴う営業活動のため</li>
          <li><span class="privacy__list__num">(11)</span>当社が提供するサービスに関連する商品のお申込確認、代金の請求又は受領確認及び商品発送のため</li>
          <li><span class="privacy__list__num">(12)</span>お客様の利用状況や満足度調査等、商品開発・サービスの向上に係る調査、問題解決、ヒアリング及び集計・統計・分析・広告実施のため<br>なお、具体的な個人情報の利用目的の範囲につきましては、当社個人情報取得時に明示される利用目的をご確認ください。</li>
          <li><span class="privacy__list__num">(13)</span>その他、当社が委託を受けてお客様の利用状況や満足度の調査・集計・統計・分析等或いは新たな商品・サービスの企画開発を業務として行うため、委託された個人情報を取扱うことがあります（この場合、保有個人データには該当しません）。</li>
        </ul>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-7">7.第三者への提供</h4>
        <p>個人情報は、以下のいずれかに該当する場合を除き、いかなる第三者にも開示及び提供はしません。</p>
        <ul class="privacy__list">
          <li><span class="privacy__list__num">(1)</span>ご本人の同意がある場合</li>
          <li><span class="privacy__list__num">(2)</span>個人を識別することができない状態で提供する場合</li>
          <li><span class="privacy__list__num">(3)</span>業務を円滑に進める等の理由で外部業者に取扱いを委託する場合</li>
          <li><span class="privacy__list__num">(4)</span>法令等の定めにより提供を要求された場合</li>
          <li><span class="privacy__list__num">(5)</span>人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難である場合</li>
          <li><span class="privacy__list__num">(6)</span>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難な場合</li>
          <li><span class="privacy__list__num">(7)</span>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼす恐れのある場合</li>
          <li><span class="privacy__list__num">(8)</span>本取扱い第9項（個人情報のグループ内における共同利用）に掲げる関係会社、関係団体等と共同利用する場合</li>
        </ul>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-8">8.委託先への提供</h4>
        <p class="common-mb">当社は、マガジンの発送及びサーバの運用管理等において、本取扱い第6項（個人情報の利用目的）に記載した利用目的の達成に必要な範囲内において、円滑かつ効率的に事業活動を遂行するため情報の取扱いを外部に委託することがあります。その場合には、当社で定めた基準に従って委託先を選定し、その取扱いを委託された個人データの安全管理が確保されるように個人情報の取扱いに関する契約を締結すること等により、委託先に対して必要かつ適切な監督を実施します。</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-9">9.個人情報のグループ内における共同利用</h4>
        <p>当社では、下記の当社関係会社及び関係団体との間で利用目的の達成に必要な範囲内で個人情報を共同利用することがあります。</p>
        <ul class="privacy__list">
          <li><span class="privacy__list__num">(1)</span>共同して利用する個人情報の項目：本取扱い第6項（個人情報の利用目的）で取得する基本情報等の個人情報</li>
          <li><span class="privacy__list__num">(2)</span>共同して利用する者の範囲　：当社の子会社及び関連会社（海外法人を含む※）<br><a href="https://www.cri.co.jp/about_us/group/" class="common-link">詳細情報</a></li>
          <li><span class="privacy__list__num">(3)</span>利用する者の利用目的　　　：本取扱い第6項（個人情報の利用目的）における(1)(2)(4)(6)(9)(10)に記載の利用目的</li>
          <li><span class="privacy__list__num">(4)</span> 個人情報の管理責任を有する者：株式会社クリーク･アンド･リバー社<br>個人情報保護管理者（管理グループ執行役員）<br>住所　〒105-0004　東京都港区新橋四丁目1番1号　新虎通りCORE<br>E-mail： ppinfo@hq.cri.co.jp</li>
        </ul>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-10">10.個人情報の適正な管理</h4>
        <p class="common-mb">お預かりした個人情報は、必要な範囲内で正確かつ最新の状態で保管します。また、外部からの不正アクセス、個人情報の紛失、破壊、改ざんおよび漏洩等、個人情報に関するリスクについて、合理的な安全対策を講じております。</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-11">11.個人情報の取扱管理者</h4>
        <p class="common-mb">株式会社クリーク･アンド･リバー社<br>個人情報保護管理者（管理グループ執行役員）<br>E-mail：ppinfo@hq.cri.co.jp</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-12">12.Cookie（クッキー）等情報及びSSLの利用の有無</h4>
        <p>当社のWeb サイトでは、以下に記載の目的において位置情報や端末情報またはCookieを利用することがあります。Cookieとは、Webサーバがお客様のブラウザに送信する小さな情報で、お客様のPCディスクにファイルとして格納されるものです。なお、Cookieにはお客様個人が判明する様な情報等は含まれておりませんので、ご安心ください。</p>
        <ul class="privacy__list">
          <li><span class="privacy__list__num">(1)</span>お客様によりご満足をいただけるようなコンテンツの改善、個々のお客様に合わせてカスタマイズされたサービス提供をするため</li>
          <li><span class="privacy__list__num">(2)</span>お客様がどのようなサービスにご興味をお持ちなのかについての分析や、サイト上での効果的な広告の配信のために利用するため</li>
        </ul>
        <p class="common-mb">当社のWebサイトでは、お客様の個人情報を保護するためにSSLに対応しています。セキュリティ機能に対応したブラウザを使用することにより、お客様が入力される個人情報が自動的に暗号化されて送受信されます。なお、SSLに対応していないブラウザをご利用の場合には、当社のWebサイトにアクセスできない場合があります。</p>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-13">13.「開示等の求め」に応じる手続き</h4>
        <p>当社の保有する個人情報に対しての「開示等の求め」に、当社所定の方法によりご本人からの要請であることを確認し、迅速に対応します。ただし、開示に関しては当社が別途定める開示手数料をお支払いいただく場合があります。また、下記のいずれかに該当する場合は、開示等の求めに応じることができない場合があります。この場合、ご本人に遅滞なくその旨を、理由の説明とともに通知します。</p>
        <ul class="privacy__list">
          <li><span class="privacy__list__num">(1)</span>ご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
          <li><span class="privacy__list__num">(2)</span>当社業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
          <li><span class="privacy__list__num">(3)</span>法令に違反することとなる場合<br>「開示等の求め」に関しては次項個人情報相談窓口までお申し出ください。</li>
        </ul>
        <h4 class="common-heading--h4 common-mb" id="list-2-item-14">14.「個人情報に関する相談、苦情」に応じる手続き</h4>
        <p class="common-mb">この個人情報の取扱いの対応が不適切だと感じられた場合、その他個人情報に関するお問い合わせについては、下記相談窓口までご連絡ください。</p>
        <p class="common-mb">株式会社クリーク･アンド･リバー社<br>個人情報相談窓口<br>TEL:0800-888-1171<br>E-mail：ppinfo@hq.cri.co.jp</p>
        <p class="common-mb">※下記団体は当社の商品・サービスに関する問合せ窓口ではございません。<br>認定個人情報保護団体の名称及び、苦情の解決の申し出先<br>一般財団法人　日本情報経済社会推進協会<br>認定個人情報保護団体事務局<br>〒106-0032 東京都港区六本木一丁目9番9号 六本木ファーストビル内<br>TEL：03-5860-7565/ 0120-700-779<br>受付時間　平日9：30～12：00、13：00～16：30</p>
        <p class="common-mb common-text--right">制定 2006年4月1日<br>改訂 2022年6月28日<br>株式会社クリーク･アンド･リバー社<br>代表取締役社長　井川　幸広</p>

      </div>


      <%- include('../include/_footer.ejs'); %>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/vendor.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    $('a[href^="#"]').click(function () {
      var headerHeight = $('#js-header').height();
      var speed = 500;
      var offset = 50;
      var href = $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top - headerHeight - offset;
      $("html, body").animate({ scrollTop: position }, speed, "swing");
      return false;
    });

    $('.common-container').find('a').each(function(){
      if (!$(this).hasClass('anchor-link') && !$(this).hasClass('common-link') && !$(this).hasClass('pmark-link')){
        $(this).addClass('common-link');
      }
    })
  </script>
</body>

</html>
