<!DOCTYPE html>
<html lang="ja">
<%- include('../include/_headNewsRelease.ejs'); %>

<body>
  <div class="container" id="js-container">
    <%- include('../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">特定個人情報基本方針</a>
          </li>
        </ul>
      </div>
      <div class="common-mainVisual common-mainVisual--myNumber common-mb">
        <img src="../images/myNumber.jpg" alt="特定個人情報等の適正な取扱いに関する基本方針" class="common-mainVisual--pc">
        <img src="../images/myNumber_sp.jpg" alt="特定個人情報等の適正な取扱いに関する基本方針" class="common-mainVisual--sp">
        <h1 class="common-heading--h1">特定個人情報等の適正な取扱いに関する基本方針<br><span></span></h1>
      </div>

      <div class="common-container common-container--top">

        <p class="common-mb">当社は、「行政手続における特定の個人を識別するための番号の利用等に関する法律」（「マイナンバー法」）に基づく特定個人情報及び個人番号（「特定個人情報等」）の適正な取扱いの確保について組織として取り組むため本基本方針を定めます。</p>

        <h4 class="common-heading--h4 common-mb">1.事業者の名称</h4>

        <p class="common-mb">株式会社クリーク･アンド･リバー社</p>

        <h4 class="common-heading--h4 common-mb">2.関係法令・ガイドライン等の遵守</h4>

        <p class="common-mb">当社は、マイナンバー法、「個人情報の保護に関する法律」その他の法令及び「特定個人情報の適正な取扱いに関するガイドライン（事業者編）」その他のガイドラインを遵守して、特定個人情報等の適正な取扱いを行います。</p>

        <h4 class="common-heading--h4 common-mb">3.利用目的</h4>

        <p class="common-mb">当社は、特定個人情報等について、以下の利用目的で利用します。</p>
        <h4 class="common-text--normal common-text--bold">役職員（扶養家族を含む）に係る個人番号関係事務（右記に関連する事務を含む）</h4>
        <p class="common-mb">
          源泉徴収関連事務等<br>
          扶養控除等（異動）申告書、保険料控除申告書兼給与所得者の配偶者特別控除申告書作成事務等<br>
          特別徴収への切替申請書作成事務等<br>
          健康保険、厚生年金届出事務等<br>
          国民年金第三号届出事務等<br>
          雇用保険、労災保険届出事務等<br>
          持株会に係る金融商品取引に関する法定書類の作成・提供事務
        </p>
        <h4 class="common-text--normal common-text--bold">役職員以外の個人に係る個人番号関係事務 （右記に関連する事務を含む）</h4>
        <p class="common-mb">
          報酬・料金等の支払調書作成事務<br>
          配当、剰余金の分配及び基金利息の支払調書作成事務<br>
          不動産の使用料等の支払調書作成事務<br>
          不動産等の譲受けの対価の支払調書作成事務
        </p>

        <h4 class="common-heading--h4 common-mb">4.安全管理措置に関する事項</h4>

        <p class="common-mb">当社は、特定個人情報等について、漏えい、滅失又はき損の防止等、その管理のために必要かつ適切な安全管理措置を講じます。また、特定個人情報等を取り扱う従業者や委託先（再委託先等を含みます。）に対して、必要かつ適切な監督を行います。特定個人情報等の安全管理措置に関しては、別途「特定個人情報等取扱規程」において具体的に定めています。</p>

        <h4 class="common-heading--h4 common-mb">5.ご質問等の窓口</h4>

        <p class="common-mb">当社における特定個人情報等の取扱いに関するご質問や苦情に関しては下記の窓口にご連絡ください。</p>

        <p class="common-mb">
          【会社名】株式会社クリーク･アンド･リバー社<br>
          【窓口の部署】マイナンバー事務局<br>
          【TEL】0800-888-1171
        </p>

        <p class="common-mb common-text--right">
          制定　平成27年10月1日<br>
          株式会社クリーク･アンド･リバー社<br>
          代表取締役社長　井川　幸広
        </p>

      </div>


      <%- include('../include/_footer.ejs'); %>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/vendor.js"></script>
</body>

</html>
