<!DOCTYPE html>
<html lang="ja">
  <%- include('../../../include/subpages/_subpageHead.ejs', {path: "../../../", title: "環境 | ESG活動 | サステナビリティ | クリーク･アンド･リバー社｜C&Rグループ", description: "環境 ESG活動。 サステナビリティ。 クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../../include/_header.ejs'); %>
    <main id="sustainability" class="subpage esg">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="">サステナビリティ</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="">ESG活動</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="">環境</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="common-mainVisual">
        <img src="../../../images/sustainability_main.jpg" alt="ダミー">
        <h1 class="common-heading--h1">環境<br><span></span></h1>
      </div>

      <div class="contentWrap commonSustainability">
        <ul class="ankerLinks__blk-glay commonSustainabilityLinks">
          <li>
            <a class="anchor-link" href="#section01">環境マネジメント
              <div class="arrow--grayBtn"><span class="arrow"></span></div>
            </a>
          </li>
          <li>
            <a class="anchor-link" href="#section02">
              気候変動への対応
              <div class="arrow--grayBtn"><span class="arrow"></span></div>
            </a>
          </li>
        </ul>

        <h2 id="section01" class="common-textBlock__textTop commonSustainability__ttl">
          環境マネジメント
        </h2>
      </div>
        <div class="contentWrap commonSustainability">
          <h3 class="common-heading--h3">環境方針</h3>
          <div class="common-heading--h3__underLine"></div>
          <p class="commonSustainability__txt">
            C&Rグループは、グループ統括理念である「人の能力は、無限の可能性を秘めています。私たちはその能力を最大限に引き出し、人と社会の幸せのために貢献します。」に基づき、事業活動で生じる環境負荷の低減に向けた取り組みを行うとともに、持続可能な社会の実現に向けた責務を果たすための指針として、環境方針を以下のとおり定めます。
          </p>
         <div class="-border">
            <div class="sustain__list">
              <h4>1. 事業活動を通じた環境問題への貢献</h4>
              <p>事業活動を通じ、地球環境問題解決への貢献に努めます。</p>
            </div>
            <div class="sustain__list">
              <h4>2. 環境負荷低減活動の取り組み</h4>
              <p>持続可能な社会を実現するため、事業活動による環境への影響を正しく認識・評価しながら環境に配慮した活動を行うとともに、省エネルギー・省資源、廃棄物削減等についても積極的に推進し、環境負荷低減活動に取り組みます。</p>
            </div>
            <div class="sustain__list">
              <h4>3. 環境コンプライアンス遵守</h4>
              <p>環境関連法規、条例等の規制、環境に関する国内外の法令・規制等を遵守します。また、事業活動における環境への影響を考慮し、誠意を持った行動に努めます。</p>
            </div>
            <div class="sustain__list">
              <h4>4. 環境教育と啓発活動</h4>
              <p>C&Rグループは本方針を全役職員に周知徹底するとともに、環境教育や啓発活動を通じて一人ひとりが環境に対して意識的に行動するための基盤を醸成します。</p>
            </div>
            <div class="sustain__list">
              <h4>5. 情報開示とコミュニケーション</h4>
              <p>本方針の内容、C&Rグループの環境保全活動について、ステークホルダーへの情報開示と積極的なコミュニケーションにより、相互理解と協力関係の強化に努めます。</p>
            </div>
         </div>
        </div>


        <div class="contentWrap commonSustainability">
          <h2 id="section02" class="common-textBlock__textTop commonSustainability__ttl">
            気候変動への対応
          </h2>
        </div>
        <div class="contentWrap commonSustainability">
          <h3 class="common-heading--h3">TCFDの対応</h3>
          <div class="common-heading--h3__underLine"></div>
          <p class="commonSustainability__txt">
            クリーク･アンド･リバー社は、2021年4月に、TCFD（気候関連財務情報開示タスクフォース）による提言への賛同を表明するとともに、同提言に賛同する企業や金融機関等からなるTCFDコンソーシアムに加入いたしました。TCFDによる提言に基づき、気候関連のリスクと事業機会について分析を進め、事業戦略への影響を把握し対策を検討するとともに、質と量の情報開示の充実に取り組んでまいります。
          </p>
          <div class="environment__logo">
            <img src="../../../images/TCFD_logo_black.png" alt="">
          </div>

          <div class="common-button--grayArrowBtn "><a href="/sustainability/esg/environment/tcfd/">TCFD提言への対応</a>
            <div class="arrow--grayBtn">
              <span class="arrow"></span>
            </div>
          </div>

          <h3 class="common-heading--h3">脱炭素化の活動</h3>
          <div class="common-heading--h3__underLine"></div>
          <p class="commonSustainability__txt">
            カジュアル及びオフィスカジュアルを推奨し、エアコンの設定温度を夏季は高めに、冬季は低めに設定しております。また、エリア毎の照明設定やこまめなスイッチオフ、執務スペース毎の空調温度の調節、新型の複合機導入等の施策を実施しております。
          </p>
          <h3 class="common-heading--h3">資源の保全</h3>
          <div class="common-heading--h3__underLine"></div>
          <p class="commonSustainability__txt">
            C&Rグループでは、事業を通じて環境負荷低減に取り組んでいます。積極的なDX化などを通じて、紙使用量の削減など資源の保全に努めています。
          </p>
        </div>



    <%- include('../../../include/subpages/_sustainabilityLink.ejs',); %>

    </main>
    <%- include('../../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $('body').on('click', '.anchor-link', function(){
    		let link_id = $(this).attr('href');
            $('html,body').animate({scrollTop: $(link_id).offset().top - 100 },'slow');
    	
    })
    </script>
  </body>
</html>