<div class="c-search" id="js-search-box">
  <div class="c-search__menuCloseBtn">
    <span id="js-search-menuClose"><img src="<%= data.commonImgPath %>/icon_close.svg" alt="×"></span>
  </div>
  <ul class="c-search__list">
    <li class="c-search__item">
      <span class="js-search-label" data-category="研削">研削</span>
    </li>
    <li class="c-search__item">
      <span class="js-search-label" data-category="研磨">研磨</span>
    </li>
    <li class="c-search__item">
      <span class="js-search-label" data-category="剥離">剥離</span>
    </li>
    <li class="c-search__item">
      <span class="js-search-label" data-category="破砕">破砕</span>
    </li>
    <li class="c-search__item">
      <span class="js-search-label" data-category="穴あけ">穴あけ</span>
    </li>
    <li class="c-search__item">
      <span class="js-search-label" data-category="締付け">締付け</span>
    </li>
    <li class="c-search__item">
      <span class="js-search-label" data-category="切断">切断</span>
    </li>
    <li class="c-search__item">
      <span class="js-search-label" data-category="切削">切削</span>
    </li>
    <li class="c-search__item">
      <span class="js-search-label" data-category="鉄筋加工">鉄筋加工</span>
    </li>
    <li class="c-search__item --mt">
      <span class="js-search-label" data-category="コンプレッサー">コンプレッサー</span>
    </li>
    <li class="c-search__item --mt">
      <span class="js-search-label" data-category="エアーツール">エアーツール</span>
    </li>
    <li class="c-search__item --mt">
      <span id="js-search-all">全て選択する</span>
    </li>
  </ul>
  <div class="c-search__buttonArea">
    <button class="c-search__button" id="js-search-trigger">絞り込み検索</button>
  </div>
</div>
<div class="c-search__menuOpenBtn">
  <button class="c-search__button --menuOpenTrigger" id="js-search-menuOpen">絞り込み検索</button>
</div>