<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../", title: "実績事例 | 映像 | 事業分野・サービス | クリーク･アンド･リバー社｜C&Rグループ", description: "実績事例。映像。事業分野・サービス。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="case_studies_detail" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">実績事例一覧</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>実績事例</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="detailMv">
        <div class="common-mainVisual common-mainVisual--policy common-mb">
          <img src="../../images/case_studies/detail_mv_sp.png" alt="" class="common-mainVisual--pc">
          <img src="../../images/case_studies/detail_mv_sp.png" alt="" class="common-mainVisual--sp">
          <h1 class="common-heading--h1">プロジェクトメインビジュアル<br><span></span></h1>
        </div>
      </section>
      <div class="contentWrap">
        <section class="detailTop">
          <h2 class="detailTop__ttl">プロジェクト名プロジェクト名プロジェクト名</h2>
          <ul class="detailTop__tags">
            <li class="detailTop__tag">映像</li>
            <li class="detailTop__tag">映像制作</li>
            <li class="detailTop__tag">AR</li>
            <li class="detailTop__tag">VR</li>
            <li class="detailTop__tag">プロデュース</li>
          </ul>
          <a class="detailTop__link" href="https://projecturl.com/">https://projecturl.com/</a>
          <p class="detailTop__lead">プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。</p>
          <a class="detailTop__dl -pdf" href="">> 関連資料（PDF：約130KB）</a>
          <ul class="detailTop__imgBlk">
            <li><img src="../../images/case_studies/detail_img_01.png" alt=""></li>
            <li><img src="../../images/case_studies/detail_img_01.png" alt=""></li>
          </ul>
          <div class="detailTop__overview">
            <div class="detailTop__overviewBlk -topBlk">
              <p class="detailTop__overviewTtl">概要</p>
              <p class="detailTop__overviewTxt">転職回数：0回</p>
              <p class="detailTop__overviewTxt">応募経路：ご友人からの紹介</p>
              <p class="detailTop__overviewTxt">希望職種：ゲームプランナー</p>
              <p class="detailTop__overviewTxt">応募社数：14社（1社で面接）</p>
              <p class="detailTop__overviewTxt">エージェント接触回数：毎日何かしらのやり取り</p>
              <p class="detailTop__overviewTxt">転職支援期間：約3ヵ月半</p>
            </div>
            <div class="detailTop__overviewBlk -bottomBlk">
              <p class="detailTop__overviewTxt">仮名：Aさん 24歳 男性</p>
              <p class="detailTop__overviewTxt">職種：ゲームプランナー</p>
              <p class="detailTop__overviewTxt">活動拠点：東京</p>
              <p class="detailTop__overviewTxt">代表作：ー</p>
              <p class="detailTop__overviewTxt">主な受賞歴：ー</p>
              <p class="detailTop__overviewTxt">その他：ー</p>
            </div>
          </div>
          <h4 class="common-heading--h4 detailTop__skillTtl">スキル・キャリアUP事例概要</h4>
          <dl class="detailTop__skillBlk">
            <dt class="-glay">転職前</dt>
            <dd>ゲーム制作会社にてアルバイト（アルバイト）</dd>
          </dl>
          <dl class="detailTop__skillBlk">
            <dt class="-color">転職後</dt>
            <dd class="-bold">ゲームプランナー（正社員）</dd>
          </dl>
          <dl class="detailTop__skillBlk -annualIncome">
            <dt>年収</dt>
            <dd>210万円<span class="-arrow">→</span><span class="-after">260万円</span></dd>
          </dl>
        </section>
        <section class="story">
          <h4 class="common-heading--h4 story__ttl">Story｜課題（見出し）</h4>
          <p class="story__txt">プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。</p>
          <h4 class="common-heading--h4 story__ttl">Story｜解決策（見出し）</h4>
          <p class="story__txt">解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。</p>
          <h4 class="common-heading--h4 story__ttl">Story｜効果（見出し）</h4>
          <p class="story__txt">プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
        </section>
        <section class="interview">
          <div class="contentWrap">
            <h3 class="common-heading--h3 interview__ttl">顧客担当者インタビュー</h3>
            <div class="common-heading--h3__underLine"></div>
            <h4 class="common-heading--h4 interview__subTtl">インタビューキャッチテキスト1</h4>
            <p class="interview__txt">プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
            <p class="interview__manager">担当者氏名◯◯ ◯◯◯<</p>
            <p class="interview__belongs">部署名 ◯◯株式会社 △△部 □□課</p>
            <h4 class="common-heading--h4 interview__subTtl">インタビューキャッチテキスト1</h4>
            <p class="interview__txt">プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
            <p class="interview__manager">担当者氏名◯◯ ◯◯◯</p>
            <p class="interview__belongs">部署名 ◯◯株式会社 △△部 □□課</p>
          </div>
        </section>
        <section class="award">
          <h3 class="common-heading--h3">Awards</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="award__wrapper">
            <li class="award__blk">
              <div class="award__img"><img src="../../images/case_studies/detail_award_icon.png" alt=""></div>
              <dl class="award__txtBlk">
                <dt class="award__name">Award名Award名Award名</dt>
                <dd class="award__txt">受賞年など</dd>
              </dl>
            </li>
            <li class="award__blk">
              <div class="award__img"><img src="../../images/case_studies/detail_award_icon.png" alt=""></div>
              <dl class="award__txtBlk">
                <dt class="award__name">Award名Award名Award名</dt>
                <dd class="award__txt">受賞年など</dd>
              </dl>
            </li>
            <li class="award__blk">
              <div class="award__img"><img src="../../images/case_studies/detail_award_icon.png" alt=""></div>
              <dl class="award__txtBlk">
                <dt class="award__name">Award名Award名Award名</dt>
                <dd class="award__txt">受賞年など</dd>
              </dl>
            </li>
          </ul>
        </section>
        <div class="sectionFlxWrapper">
          <section  class="project">
            <h3 class="common-heading--h3">プロジェクトチーム</h3>
            <div class="common-heading--h3__underLine"></div>
              <div class="project__outer">
                <div class="project__wrapper">
                  <dl class="project__blk">
                    <dt class="project__position">CONSULTANT</dt>
                    <dd class="project__member">
                      <span>姓姓姓 名名名</span>
                    </dd>
                  </dl>
                  <a class="project__linkBtn" href="">お問合せ</a>
                </div>
                <div class="project__wrapper">
                  <dl class="project__blk">
                    <dt class="project__position">DIRECTION</dt>
                    <dd class="project__member">
                      <span>姓姓姓 名名名</span>
                    </dd>
                  </dl>
                  <a class="project__linkBtn" href="">お問合せ</a>
                </div>
                <div class="project__wrapper">
                  <dl class="project__blk">
                    <dt class="project__position">INFORMATION ARCHITECTURE</dt>
                    <dd class="project__member">
                      <span>姓姓姓 名名名</span>
                    </dd>
                    <dt class="project__position">PROJECT MANAGEMENT</dt>
                    <dd class="project__member">
                      <span>姓姓姓 名名名</span>
                    </dd>
                    <dt class="project__position">ART DIRECTION</dt>
                    <dd class="project__member">
                      <span>姓姓姓 名名名</span>
                    </dd>
                  </dl>
                  <a class="project__linkBtn" href="">お問合せ</a>
                </div>
                <div class="project__wrapper">
                  <dl class="project__blk">
                    <dt class="project__position">INFORMATION ARCHITECTURE</dt>
                    <dd class="project__member">
                      <span>姓姓姓 名名名</span>
                    </dd>
                    <dt class="project__position">DESIGN</dt>
                    <dd class="project__member">
                      <span>姓姓姓 名名名</span>
                    </dd>
                    <dt class="project__position">DEVELOPMENT</dt>
                    <dd class="project__member">
                      <span>姓姓姓 名名名</span>
                      <span>姓姓姓 名名名</span>
                      <span>姓姓姓 名名名</span>
                    </dd>
                  </dl>
                  <a class="project__linkBtn" href="">お問合せ</a>
                </div>
              </div>
          </section>
          <section class="client">
           <div class="contentWrap">
              <h3 class="common-heading--h3">クライアント情報</h3>
              <div class="common-heading--h3__underLine"></div>
              <p class="client__name">株式会社◯◯◯◯◯◯◯◯◯◯◯◯様</p>
              <p class="client__txt">会社（事業）概要文が入ります。会社（事業）概要文が入ります。会社（事業）概要文が入ります。会社（事業）概要文が入ります。会社（事業）概要文が入ります。</p>
              <p class="client__Link">公式サイト｜<a target="_blank" href="">https://・ー・ー・ー・ー.co.jp</a></p>
              <p class="client__Link">特設サイト｜<a target="_blank" href="">https://・ー・ー・ー・ー.co.jp</a></p>
           </div>
          </section>
        </div>
        <div class="bottomLinks">
          <div class="common-button--grayArrowBtn -back">
            <a href="#">事業分野・サービス一覧に戻る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
          <div class="common-button--grayArrowBtn -back -mt">
            <a href="#">事例一覧に戻る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
        </div>
      </div>

    </main>
    <%- include('../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
    </script>
  </body>
</html>