// -------------------------------------------------------------------
//  variables.scss
// -------------------------------------------------------------------

// Width
// -------------------------------------------------------------------¥
$ADJUST_SP_POINT: 640px;
$BREAK_POINT_SP: 960px;
$BREAK_POINT_TABLET: 960px;

// Font
// Standard Times New Roman
// Title Semplicita Pro(Adobe Font)
// -------------------------------------------------------------------
$BASE_FONT_FAMILY: 'Times New Roman', sans-serif;
$SEMPLI_FAMILY: 'semplicitapro', sans-serif;

// Color
// -------------------------------------------------------------------
$BASE_TEXT_COLOR: #000;
$ACCENT_COLOR: #008B9D;
$ACCENT_COLOR_TITLE: #001F62;
$ACCENT_COLOR_LINK: #0D92A3;