<div class="c-buttonWrap left">
  <a href="#" class="c-button">WEBSITE</a>
</div>
<div class="c-buttonWrap center">
  <a href="#" class="c-button">WEBSITE</a>
</div>
<div class="c-buttonWrap right">
  <a href="#" class="c-button">WEBSITE</a>
</div>