<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../", title: "実績事例 | 映像 | 事業分野・サービス | クリーク･アンド･リバー社｜C&Rグループ", description: "実績事例。映像。事業分野・サービス。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="case_studies_detail" class="subpage case_studies_detail_p">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">実績事例一覧</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>実績事例</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="contentWrap">
        <section class="detailTop">
          <div class="newsDetail__topLink"><a href="#" class="common-link">事例・実績一覧</a></div>
          <h2 class="detailTop__ttl">プロジェクト名プロジェクト名プロジェクト名</h2>
          <ul class="detailTop__tags">
            <li class="detailTop__tag">映像</li>
            <li class="detailTop__tag">映像制作</li>
            <li class="detailTop__tag">AR</li>
            <li class="detailTop__tag">VR</li>
            <li class="detailTop__tag">プロデュース</li>
          </ul>
          <div class="detailTop__flxBlk">
            <div class="detailTop__flxLeftBox">
              <img src="../../images/case_studies/detailtop_produce-lights.jpg" alt="">
            </div>
            <div class="detailTop__flxRightBox">
              <p class="detailTop__heading">DATA</p>
              <div class="detailTop__dataDetail">
                <p>URL： <a class="detailTop__link" href="https://～">https://～</a></p>
                <p class="detailTop__date">
                  Release Date：　March 31, 2022
                </p>
                <p><a class="detailTop__dl -pdf" href="">> 関連資料（PDF：約130KB）</a></p>
              </div>
              <p class="detailTop__heading">SCOPE</p>
              <div class="detailTop__dataDetail">
                <p>・Webデザイン</p>
                <p>・マークアップ</p>
                <p>・フロントエンド開発</p>
                <p>・動画撮影・編集</p>
                <p>・CMS開発</p>
              </div>
            </div>
          </div>


          <div class="detailTop__projectView">
            <div class="contentWrap">
             <h4 class="">プロジェクトチーム概要</h4>
              <div class="detailTop__flxBlk">
                <div class="detailTop__flxLeftBox">
                  <p class="detailTop__heading">体制</p>
                  <div class="detailTop__dataDetail">
                    <p>クリエイティブディレクター1名・アートディレクター2名・デザイナー3名</p>
                  </div>
                </div>
                <div class="detailTop__flxRightBox">
                  <p class="detailTop__heading">ボリューム</p>
                  <div class="detailTop__dataDetail">
                    <p>広告制作約230件/月、パッケージ・カートンデザイン約25件/月、他業務約180件/月</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </section>
        <section class="projectDetail">
          <h3 class="">見出しが入ります見出しが入ります見出しが入ります見出しが入ります見出しが入り…</h3>
          <div class="common-heading--h3__underLine"></div>
          <p>プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。</p>
          <div class="singleColumnMovie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hT-XC_aRSIc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="singleColumnImg">
            <img src="../../images/case_studies/detailtop_sample_big.jpg" alt="">
          </div>
          <div class="multipleColumnImg-wrap">
            <div class="multipleColumnImg">
              <img src="../../images/case_studies/detailtop_sample.jpg" alt="">
            </div>
            <div class="multipleColumnImg">
              <img src="../../images/case_studies/detailtop_sample.jpg" alt="">
            </div>
          </div>
        </section>
        <section class="story">
          <article class="story__article">
            <h4>Story｜課題（見出し）</h4>
            <p >プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。</p>
          </article>
          <article class="story__article">
            <h4>Story｜解決策（見出し）</h4>
            <p >解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。</p>
          </article>
          <article class="story__article">
            <h4>Story｜効果（見出し）</h4>
            <p >プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
          </article>
        </section>
        <section class="interview">
          <div class="contentWrap">
            <h3>顧客担当者インタビュー</h3>
            <div class="common-heading--h3__underLine"></div>
            <div class="singleColumnImg">
              <img src="../../images/case_studies/detailtop_sample_big.jpg" alt="">
            </div>
            <article>
              <h4>インタビューキャッチテキスト1</h4>
              <p>プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
              <div class="interview__peopleWrap">
                <span>担当者氏名◯◯ ◯◯◯</span>
                <span>部署名 ◯◯株式会社 △△部 □□課</span>
              </div>
            </article>
            <article>
              <h4>インタビューキャッチテキスト1</h4>
              <p>プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
              <span>担当者氏名◯◯ ◯◯◯</span>
              <span>部署名 ◯◯株式会社 △△部 □□課</span>
            </article>
          </div>
        </section>
        <section class="award">
          <h3 class="common-heading--h3">Awards</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="award__wrapper">
            <li class="award__blk">
              <div class="award__img">
                <img src="../../images/case_studies/detail_award_icon.png" alt="">
              </div>
              <dl>
                <dt>Award名Award名Award名</dt>
                <dd>受賞年など</dd>
              </dl>
            </li>
            <li class="award__blk">
              <div class="award__img"><img src="../../images/case_studies/detail_award_icon.png" alt=""></div>
              <dl>
                <dt>Award名Award名Award名</dt>
                <dd>受賞年など</dd>
              </dl>
            </li>
            <li class="award__blk">
              <div class="award__img"><img src="../../images/case_studies/detail_award_icon.png" alt=""></div>
              <dl>
                <dt>Award名Award名Award名</dt>
                <dd>受賞年など</dd>
              </dl>
            </li>
          </ul>
        </section>
        <div class="sectionFlxWrapper">
          <section class="project">
            <h3 class="common-heading--h3">プロジェクトチーム</h3>
            <div class="common-heading--h3__underLine"></div>
              <div class="project__outer">
                <div class="project__wrapper">
                  <!-- <dl>
                    <dt>CONSULTANT</dt>
                    <dd>
                      <span>姓姓姓 名名名</span>
                    </dd>
                  </dl> -->
                  <p class="project__position">CONSULTANT</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <a href="">お問い合わせ </a>
                </div>
                <div class="project__wrapper">
                  <!-- <dl>
                    <dt>DIRECTION</dt>
                    <dd>
                      <span>姓姓姓 名名名</span>
                    </dd>
                  </dl> -->
                  <p class="project__position">DIRECTION</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <a href="">お問い合わせ </a>
                </div>
                <div class="project__wrapper">
                  <!-- <dl>
                    <dt>INFORMATION ARCHITECTURE</dt>
                    <dd>
                      <span>姓姓姓 名名名</span>
                    </dd>
                    <dt>PROJECT MANAGEMENT</dt>
                    <dd>
                      <span>姓姓姓 名名名</span>
                    </dd>
                    <dt>ART DIRECTION</dt>
                    <dd>
                      <span>姓姓姓 名名名</span>
                    </dd>
                  </dl> -->
                  <p class="project__position">INFORMATION ARCHITECTURE</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <p class="project__position">PROJECT MANAGEMENT</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <p class="project__position">ART DIRECTION</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <a href="">お問い合わせ </a>
                </div>
                <div class="project__wrapper">
                  <!-- <dl>
                    <dt>INFORMATION ARCHITECTURE</dt>
                    <dd>
                      <span>姓姓姓 名名名</span>
                    </dd>
                    <dt>DESIGN</dt>
                    <dd>
                      <span>姓姓姓 名名名</span>
                    </dd>
                    <dt>DEVELOPMENT</dt>
                    <dd>
                      <span>姓姓姓 名名名</span>
                      <span>姓姓姓 名名名</span>
                      <span>姓姓姓 名名名</span>
                    </dd>
                  </dl> -->
                  <p class="project__position">INFORMATION ARCHITECTURE</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <p class="project__position">DESIGN</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <p class="project__position">DEVELOPMENT</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <p class="project__name">姓姓姓 名名名</p>
                  <a href="">お問い合わせ </a>
                </div>
              </div>
          </section>
          <section class="client">
           <div class="contentWrap">
              <h3 class="common-heading--h3">クライアント情報</h3>
              <div class="common-heading--h3__underLine"></div>
              <p class="client__name">株式会社◯◯◯◯◯◯◯◯◯◯◯◯様</p>
              <p class="client__txt">会社（事業）概要文が入ります。会社（事業）概要文が入ります。会社（事業）概要文が入ります。会社（事業）概要文が入ります。会社（事業）概要文が入ります。</p>
              <p class="client__Link">公式サイト｜<a target="_blank" href="">https://・ー・ー・ー・ー.co.jp</a></p>
              <p class="client__Link">特設サイト｜<a target="_blank" href="">https://・ー・ー・ー・ー.co.jp</a></p>
           </div>
          </section>
        </div>
        <div class="bottomLinks">
          <div class="common-button--grayArrowBtn -back">
            <a href="#">事業分野・サービス一覧に戻る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
          <div class="common-button--grayArrowBtn -back -mt">
            <a href="#">事例一覧に戻る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
        </div>
      </div>

    </main>
    <%- include('../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
    </script>
  </body>
</html>