<div class="p-top__mv">
  <div class="p-top__mvImg">
    <img src="<%= data.imgPath %>/mv_1.webp" alt="top page mv" id="js-top-mvImg" loading="eager">
  </div>
  <div class="p-top__mvCatchphrase">
    <%- include('../../include/top/_catchSvg.ejs', {data: data}); %>
  </div>
  <p class="p-top__mvMessage">We are committed to building a sustainable community<br>where all people can live
    dynamically and reach their full potential.</p>
  <ul class="p-top__mvNavigation" id="js-mv-navigation"></ul>
  <div class="p-top__mvCover--gray"></div>
</div>