<section class="p-top__news js-scrollFadeIn">
  <div class="p-top__newsHeadingArea js-heading-scroll">
    <div class="c-headingWrap">
      <h2 class="c-heading">News</h2>
        <p class="c-headingSub">
          <span class="c-headingSub__decoration"></span>
        </p>
    </div>
  </div>
  <div class="p-top__newsListArea">
    <ul class="p-top__newsList">
      <li class="p-top__newsItem">
        <div class="p-top__newsLabel">
          <span>INFO</span>
          <span>2022.09.01</span>
        </div>
        <p>トヨタ・モビリティ基金、JA共済連、薄暮時間帯・夜間の交通事故削減に向けてドライバーか らの服装の見えやすさを診断できるソフトウェアを開発し、啓発活動を開始</p>
      </li>
      <li class="p-top__newsItem">
        <div class="p-top__newsLabel">
          <span>RELEASE</span>
          <span>2022.09.01</span>
        </div>
        <p>トヨタ・モビリティ基金、デンソー、東京海上日動火災保険、東京大学、ドライブレコーダー AI解析技術を活用した高齢者安全運転支援の実証実験を豊田市で実施</p>
      </li>
      <li class="p-top__newsItem">
        <div class="p-top__newsLabel">
          <span>UPDATE</span>
          <span>2022.09.01</span>
        </div>
        <p>ダミーテキストダミーテキストトヨタ・モビリティ基金、「もっといいモビリティ社会」をつ くるアイデアコンテスト、「Make a Move PROJECT」の第2弾の募集を開始</p>
      </li>
    </ul>
    <div class="p-top__newsBtn">
      <a href="<%= data.path %>/news/" class="c-button">LEARN MORE</a>
    </div>
  </div>
</section>