<% if (page.name == 'top') {%>
<div class="WovenCity__header --top">
  <div data-animate class="WovenCity__summary">
    <h2 class="WovenCity__heading">Woven City</h2>
    <div class="WovenCity__description">
      <p>A test course for mobility to explore well-being for all being built on a “manufacturing” site that used to accommodate the Toyota Motor East Japan, Higashi-Fuji plant. Construction on Phase 1 is scheduled for completion in the summer of 2024. Subsequently, preparations will be made for the start of some initial trials in 2025.</p>
    </div>
  </div>
  <div data-animate class="WovenCity__movie">
    <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/L068c2m3ggI?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<% } else if (page.name == 'updates') { %>
<div class="WovenCity__header --updates">
  <div data-animate class="WovenCity__summary --updates">
    <p>July 21, 2023</p>
    <h2 class="WovenCity__heading --small">“Woven City Concept Video” Now Available!!</h2>
    <div class="WovenCity__description">
      <p>“For others”</p>
      <p>This core philosophy has remained unchanged since Toyota’s founding, and is the starting point for Toyota's transformation into a mobility company.</p>
      <p>What we are doing is not just "urban development”.<br>Then, what is Woven City and why are we building Woven City as a mechanism for well-being?</p>
    </div>
  </div>
  <div data-animate class="WovenCity__movie">
    <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/gk1PQAqBj-Q?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<% } %>