<section class="Careers">
  <div class="Careers__inner">
    <div data-animate class="Careers__detail">
      <h2 class="Heading -medium">Careers</h2>
      <div class="Careers__description">
        <p>We want to partner with people who are as thrilled as we are to work on a mobility test course of the future. Success starts by celebrating and fostering our team member's individual skills, talents, and ideas.</p>
      </div>
      <div class="Careers__footer">
        <a href="<%= `${page.path}careers/` %>" class="Button -primary">Work with us</a>
      </div>
    </div>
    <figure class="Careers__image js-parallax">
      <img src="<%= `${page.path}assets/images/top/careers.jpg` %>" decoding="async" loading="lazy" alt="">
    </figure>
  </div>
</section>