<div id="js-modal" class="Modal" aria-hidden="true">
  <div id="js-modalOverlay" class="Modal__overlay" tabindex="-1">
    <div class="Modal__inner" role="dialog" aria-modal="true">
      <div class="Modal__content">
        <div class="Download">
          <div class="Download__inner">
            <em class="Heading -medium">Download Agreement</em>
            <div class="Download__content">
              <div class="Download__description">
                <p>All materials on this site are for personal or editorial use only.<br>The use of these materials for advertising, marketing or any other commercial purpose is prohibited.<br>To download these materials, you must agree to abide by these terms.</p>
              </div>
              <p class="Download__accept">
                <label class="Checkbox" for="js-agreement">
                  <input class="Checkbox__input _visuallyHidden" type="checkbox" id="js-agreement">
                  <span class="Checkbox__icon"></span>
                  <span class="Checkbox__text">I have read and accept the terms of the Download Agreement</span>
                </label>
              </p>
            </div>
            <div class="Download__footer">
              <a id="js-download" href="#" class="Button -primary -disabled" download>Download</a>
            </div>
          </div>
        </div>
      </div>
      <button type="button" id="js-modalClose" class="Modal__closeButton" aria-label="Close this dialog window"></button>
    </div>
  </div>
</div>