<section class="Faq">
  <div class="Faq__inner">
    <div class="Inner">
      <h2 data-animate class="Heading">FAQ</h2>
      <dl data-animate class="Faq__list">
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-1" id="label-1" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">What is Woven City?</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-1" aria-labelledby="label-1" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven City is a test course for mobility built to create the basis for the future fabric of life. People will live in the city while we invent, demonstrate, and repeatedly improve new systems, applications, and services that will amplify people’s abilities and enable them to thrive and live happy and fulfilling lives.</p>
              <p class="Accordion__definitionText">This inspirational project will be built on the former site of the Toyota Motor East Japan Higashi-Fuji Plant in Susono City, Shizuoka Prefecture. Together with surrounding communities, Toyota will demonstrate what “mobility” can do for people.</p>
              <p class="Accordion__definitionText">After thorough testing, the inventions from Woven City will be shared with the world.</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-2" id="label-2" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">What is the purpose of creating Woven City？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-2" aria-labelledby="label-2" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">The purpose of Woven City is to realize well-being for all. Since individuals have different needs and preferences, our focus is on achieving well-being, not uniform happiness. To meet this goal, we will explore a variety of solutions to uplevel well-being for a wide variety of people.</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-3" id="label-3" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">What will Woven City accomplish?</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-3" aria-labelledby="label-3" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">In 2018, Toyota Motor Corporation (TMC) announced that it would transform itself from an “automobile company" into a true mobility company that creates well-being for all. Borne from the legacy cultivated by TMC, future mobility refers not only to the movement of people, things, and information from point A to point B but also the ability to emotionally “move” people's hearts. Woven City will redefine mobility beyond cars and transportation and expand its value to humanity.</p>
              <p class="Accordion__definitionText">The goal is to expand the definition of mobility from simply “moving things,” to adding ease and joy to daily life. Mobility will be seamlessly integrated into essential aspects of society such as healthcare, food and agriculture, energy, finance and education and be used in various ways that inspire daily happiness and amplify human potential.</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-4" id="label-4" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">When will Woven City be completed?</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-4" aria-labelledby="label-4" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven City is driven by three primary concepts: “Human-Centered,” a “Living Laboratory,” and “Ever-Evolving.” Also, Woven City is a city that is a test course for mobility. As Toyota tests cars at their test courses, Woven City is a place where everyone can test their new services and products. This means as it strives to foster well-being for different kinds of people, the city will always be undergoing “kaizen” and never be completed. The project's Phase 1 opening will be from 2024 to 2025 and will include the necessary infrastructure for its first residents.</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-5" id="label-5" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">Will the city look like the picture?</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-5" aria-labelledby="label-5" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">The city's infrastructure and design are currently under review, and the actual city may differ from the concept pictures. Please click on <a href="https://youtu.be/E-N4IrLrSlU" target="_blank" rel="noopener noreferrer">this link</a> for up-to-date construction status.</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-6" id="label-6" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">How can I live there?</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-6" aria-labelledby="label-6" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven City residents will be co-creators and we are looking to include inventors, the elderly, and families raising children. This will be a human-centered city and together we will solve social issues. Information about residency will be shared as soon as it is available.</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-7" id="label-7" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">How can I get involved in Woven City projects?</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-7" aria-labelledby="label-7" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven City is a real-life proving ground for completely new ideas. We are open to hearing proposals from inventors, companies, and others who are interested in working together to create and test new services and systems to solve social issues.</p>
              <p class="Accordion__definitionLink">
                <a href="<%= `${page.path}partners/` %>" class="TextLink">Click here for an inquiry form</a>
              </p>
              <p class="Accordion__definitionText">We also want to partner with people who share our Mission and are passionate to work as a member of Woven City Management.</p>
              <p class="Accordion__definitionLink">
                <a href="<%= `${page.path}careers/` %>" class="TextLink">Click here for careers page</a>
              </p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-8" id="label-8" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">What kind of proof-of-concept experiments will be conducted?</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-8" aria-labelledby="label-8" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Fields of research will include all kinds of systems and services that can contribute to Toyota's transformation into a mobility company. Not limited to automobiles, we will experiment with innovations in energy, logistics, healthcare, food and agriculture, finance, education, and many other areas. Details related to specific demonstrations will be shared as soon as they are finalized.</p>
              <p class="Accordion__definitionLink">
                <a href="<%= `${page.path}updates/` %>" class="TextLink">Click here for the latest news</a>
                <a href="https://www.facebook.com/WovenCity.GL/" class="TextLink" target="_blank" rel="noopener noreferrer">Click here for Facebook</a>
              </p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-9" id="label-9" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">Can I visit Woven City?</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-9" aria-labelledby="label-9" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven City is currently under construction. Due to difficulties in safely accommodating visitors at the construction site, we are unable to accept such requests.</p>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>