<section class="HowWeWork">
  <div class="Inner">
    <h2 data-animate class="Heading">How We Work</h2>
    <div class="HowWeWork__content">
      <div class="HowWeWork__1">
        <div data-animate class="HowWeWork__detail">
          <em class="HowWeWork__read">We strive to achieve lifetime employability.</em>
          <div class="HowWeWork__description">
            <p>We encourage flexiblility and a positive mindset, and together we will learn from our failures, and take everything as an opportunity for growth.</p>
            <p>Although we value the attitude of working together as a team, we want every employee to enjoy their own professional growth.</p>
          </div>
        </div>
        <figure class="HowWeWork__image js-parallax">
          <img src="<%= `${page.path}assets/images/careers/how-we-work_1.jpg` %>" decoding="async" loading="lazy" alt="">
        </figure>
      </div>
      <div class="HowWeWork__mainImage">
        <div class="HowWeWork__mainImageInner">
          <img src="<%= `${page.path}assets/images/careers/how-we-work_2.jpg` %>" decoding="async" loading="lazy" alt="">
        </div>
      </div>
      <div class="HowWeWork__2">
        <div class="Inner">
          <div data-animate class="HowWeWork__2Inner">
            <div class="HowWeWork__detail">
              <em class="HowWeWork__read">We Are Woven -<br>Many Threads,<br>One Woven</em>
              <div class="HowWeWork__description">
                <p>We respect and welcome all people - regardless of age, race, nationality, gender or religion. To us, Diversity and Inclusion (D&I) means interlacing the multicolored threads of unique experience and knowledge that diverse individuals bring to our mission.</p>
              </div>
            </div>
            <div class="HowWeWork__footer">
              <a href="https://woven.toyota/en/diversity-and-inclusion" class="Button -primary" target="_blank" rel="noopener noreferrer">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>