<div class="Leaflet">
  <div class="Inner">
    <div data-animate class="Leaflet__inner">
      <div class="Leaflet__detail">
        <h2 class="Heading -medium">Woven City Leaflet</h2>
        <div class="Leaflet__description">
          <p>Please check out this leaflet introducing Woven City.</p>
        </div>
        <p class="Leaflet__footer"><a href="<%= `${page.path}downloads/WovenCity_leaf_1024_en.pdf` %>" class="TextLink" target="_blank" rel="noopener noreferrer">PDF download</a></p>
      </div>
      <figure class="Leaflet__image">
        <img src="<%= `${page.path}assets/images/top/wovencity_leaf-thumb_en.png` %>" decoding="async" loading="lazy" alt="PDF thumbnail">
      </figure>
    </div>
  </div>
</div>