<div class="Message">
  <div class="Inner">
    <section class="Message__feature">
      <div data-animate class="Message__featureDetail">
        <h2 class="Heading">Akio's Message</h2>
        <div class="Message__featureDescription">
          <p>Chairman of the Board of Directors of Toyota Motor Corporation, Akio Toyoda believes, “As a global society we need to come together to heal, grow, learn, and create new possibilities for a collective future.” He also stated, “It is only through partnership and collaboration that we will realize the dream of not just mobility for all but a better quality of life for all. In fact, if it were up to me, I would add an 18th goal to the SDG's list -  Happiness!”</p>
        </div>
      </div>
      <div data-animate class="Message__featureMovie">
        <button class="Message__featureButton js-modalTrigger" type="button" data-video-id="p-9X8Z2kJt8">
          <span class="_visuallyHidden">Watch the Message from Chairman of the Board of Directors of Toyota Motor Corporation, Akio Toyoda</span>
          <img src="<%= `${page.path}assets/images/top/message_feature.jpg` %>" decoding="async" loading="lazy" alt="" aria-hidden="true">
        </button>
      </div>
    </section>
    <section class="Message__leadership">
      <h2 data-animate class="Heading">Leadership</h2>
      <ul class="Message__list">
        <li data-animate class="Message__item">
          <div class="Message__itemInner">
            <h3 class="Message__itemHeading">
              <span>CEO</span>
              <em>James Kuffner</em>
            </h3>
            <figure class="Message__itemImage">
              <img src="<%= `${page.path}assets/images/top/message_1.jpg` %>" decoding="async" loading="lazy" alt="Photo of CEO James Kuffner">
            </figure>
            <div class="Message__itemDescription">
              <p>Dr. James Kuffner received a Ph.D. from Stanford University Dept. of Computer Science Robotics Laboratory in 2000 and headed Google's Robotics Div. In 2016, he joined the Toyota Research Institute as CTO and served as Chief Digital Officer of Toyota's driving D/X from 2020 to 2023. As CEO of Woven by Toyota, he aims to strengthen the business and technology of the companies and create safe mobility for how people live, work, learn, interact, communicate, and move in the future.</p>
            </div>
            <div class="Message__itemFooter">
              <button class="Button -primary js-modalTrigger" type="button" data-video-id="Rw9whAiCgCE">Watch the Message<span class="_visuallyHidden"> from CEO James Kuffner</span></button>
            </div>
          </div>
        </li>
        <li data-animate class="Message__item">
          <div class="Message__itemInner">
            <h3 class="Message__itemHeading">
              <span>Senior Vice President, Woven by Toyota</span>
              <span>Head of Woven City Management</span>
              <em>Daisuke Toyoda</em>
            </h3>
            <figure class="Message__itemImage">
              <img src="<%= `${page.path}assets/images/top/message_2.jpg` %>" decoding="async" loading="lazy" alt="Photo of Head of Woven City Management Daisuke Toyoda">
            </figure>
            <div class="Message__itemDescription">
              <p>Daisuke Toyoda is a founding member of the Toyota Research Institute - Advanced Development (TRI-AD), and now a head of Woven City Management. He has worked to create an innovative environment that maximizes employee productivity. Currently, through Woven City, he continues to take on the challenge of creating a city realizing well-being for all. He also competes in endurance races to make ever-better motorsports-bred cars.</p>
            </div>
            <div class="Message__itemFooter">
              <button class="Button -primary js-modalTrigger" type="button" data-video-id="KsjWF-1tFqo">Watch the Message<span class="_visuallyHidden"> from Head of Woven City Management Daisuke Toyoda</span></button>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>