<section class="Mission">
  <div class="Inner">
    <div class="Mission__summary">
      <div data-animate class="Mission__detail">
        <h2 class="Heading -small">Our Mission</h2>
        <em class="Mission__lead">Building the Future Fabric of Life in a City as a Test Course for Mobility.</em>
      </div>
      <figure class="Mission__image js-parallax">
        <img src="<%= `${page.path}assets/images/top/mission.jpg` %>" decoding="async" loading="lazy" alt="Completion image of woven city (Streetscape)">
      </figure>
    </div>
    <div class="Mission__statement">
      <div class="Mission__statementInner">
        <div data-animate class="Mission__statementParagraph">
          <p>Woven City is a test course for mobility to realize our dream of creating well-being for all.</p>
          <p>Starting from Susono by Mt. Fuji, we will conduct trials of new ideas for systems and services that expand mobility and unlock human potential.</p>
          <p>Here we will  build the future fabric of life.</p>
        </div>
        <div data-animate class="Leaflet__inner --MissionBlk">
          <div class="Leaflet__detail">
            <h2 class="Heading -medium">Woven City<br>Concept Video</h2>
          </div>
          <div class="Mission__movie">
            <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/gk1PQAqBj-Q?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>