<section class="Partners">
  <div class="Inner">
    <div data-animate class="Partners__detail">
      <h2 class="Heading -medium">Contact</h2>
      <div class="Partners__description">
        <p>Our mission is to engage with society in this unique community as we develop, build, and test applications and processes that will form the future fabric of life. Woven City welcomes a diverse array of inventors, engineers, designers, and organizations who are excited to work on a city built as a testing ground for mobility.</p>
      </div>
      <div class="Partners__footer">
        <a href="<%= `${page.path}partners/` %>" class="Button -primary">Contact Us</a>
      </div>
    </div>
  </div>
</section>