<section class="Services">
  <div class="Services__inner">
    <div data-animate class="Services__detail">
      <h2 class="Heading">Our Demonstrations</h2>
      <div class="Services__description">
        <p>Our definition of mobility goes well beyond cars and transportation. We have defined 12 distinct areas of daily life where we can further empower people, amplify their capabilities, and increase the ways that mobility can positively impact society.</p>
      </div>
      <div class="Services__footer">
        <a href="<%= `${page.path}services/` %>" class="Button -secondary">Learn More<span class="_visuallyHidden"> about Our Services</span></a>
      </div>
    </div>
    <figure data-animate class="Services__image">
      <img src="<%= `${page.path}assets/images/services/services.png` %>" decoding="async" loading="lazy" alt="Mobility, Energy, Logistics, Agriculture Food, IoT, Healthcare, Education, Entertainment, Payment Finance, Safe Security, Smart Home, Housing Office">
    </figure>
  </div>
</section>