<section class="Team">
  <div class="Inner">
    <h2 data-animate class="Heading">Our Team</h2>
    <ul class="Team__list">
      <li data-animate class="Team__item">
        <div class="Team__itemInner">
          <h3 class="Team__itemHeading">Mobility</h3>
          <div class="Team__itemDescription">
            <p>In a city that is also a living laboratory, you will get to design and engineer mobility services that will make this world a better place.Join us to conceive, plan, and launch cutting-edge technologies such as safe autonomous driving and conduct experiments to test and improve products and systems for the future.</p>
          </div>
          <button class="Team__itemButton js-modalTrigger" type="button" data-video-id="iJ56_zawVYo">
            <span class="_visuallyHidden">What the Message form Woven City Mobility team</span>
            <img src="<%= `${page.path}assets/images/careers/team_1.jpg` %>" decoding="async" loading="lazy" alt="" aria-hidden="true">
          </button>
        </div>
      </li>
      <li data-animate class="Team__item">
        <div class="Team__itemInner">
          <h3 class="Team__itemHeading">Food & Agriculture</h3>
          <div class="Team__itemDescription">
            <p>Employ a unique research ecosystem to explore new ways to proactively integrate next-generation food and agriculture technology with other services such as infrastructure logistics and social services.</p>
          </div>
          <button class="Team__itemButton js-modalTrigger" type="button" data-video-id="UZ_2JXxGYAM">
            <span class="_visuallyHidden">What the Message form Woven City Food & Agriculture team</span>
            <img src="<%= `${page.path}assets/images/careers/team_2.jpg` %>" decoding="async" loading="lazy" alt="" aria-hidden="true">
          </button>
        </div>
      </li>
      <li data-animate class="Team__item">
        <div class="Team__itemInner">
          <h3 class="Team__itemHeading">Woven City Experience</h3>
          <div class="Team__itemDescription">
            <p>Use one-of-a-kind technologies like Digital Twin to turn ideas into reality and uncover meaningful and unexpected connections between people, technology, and the environment.</p>
          </div>
          <button class="Team__itemButton js-modalTrigger" type="button" data-video-id="EPLY8hRAHgA">
            <span class="_visuallyHidden">What the Message form Woven City Experience team</span>
            <img src="<%= `${page.path}assets/images/careers/team_3.jpg` %>" decoding="async" loading="lazy" alt="" aria-hidden="true">
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>