<section id="js-values" class="Values">
  <div id="js-valuesInner" class="Values__inner">
    <div class="Inner">
      <h2 class="Values__heading">Our Values</h2>
      <div class="Values__content">
        <em class="Values__lead">We respect</em>
        <div class="Values__list">
          <div class="Values__group js-valuesGroup">
            <div class="Values__item">
              <span class="Values__itemNum">1</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Sharing<br>Our Goals</dt>
                <dd class="Values__itemDefinition">Understand, empathize, permeate, execute, and realize our common goals</dd>
              </dl>
            </div>
            <div class="Values__item">
              <span class="Values__itemNum">2</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Giver Mind</dt>
                <dd class="Values__itemDefinition">Propose from yourself, be transparent, always start from “For Others” perspective</dd>
              </dl>
            </div>
          </div>
          <div class="Values__group js-valuesGroup">
            <div class="Values__item">
              <span class="Values__itemNum">3</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Diverse<br>Perspectives</dt>
                <dd class="Values__itemDefinition">Listen to diverse opinions, think first / middle / last impressions, and find better ways</dd>
              </dl>
            </div>
            <div class="Values__item">
              <span class="Values__itemNum">4</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Flexibility</dt>
                <dd class="Values__itemDefinition">Be flexible to changes with positive mindset, and learn from failure.</dd>
              </dl>
            </div>
          </div>
          <div class="Values__group js-valuesGroup">
            <div class="Values__item">
              <span class="Values__itemNum">5</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Ownership</dt>
                <dd class="Values__itemDefinition">Take everything as an opportunity for growth, work proactively, and constantly evolve!</dd>
              </dl>
            </div>
            <div class="Values__item">
              <span class="Values__itemNum">6</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Each other</dt>
                <dd class="Values__itemDefinition">Never be bound by your own role, support each other, and enjoy the growth of your team and yourself.</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>