<h2 class="Heading -small"><span>Our Vision</span></h2>
<div class="Vision__lead">
  <em><span>Expand mobility.</span></em>
  <em><span>Enhance humanity.</span></em>
  <em><span>Engage society.</span></em>
</div>