<!DOCTYPE html>
<html lang="ja">
<%- include('../include/_headNewsRelease.ejs'); %>

<body>
  <div class="container" id="js-container">
    <%- include('../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">サイトマップ</a>
          </li>
        </ul>
      </div>
      <div class="common-sitemap__heading__wrap">
        <h1 class="common-sitemap__heading">サイトマップ<br><span></span></h1>
      </div>

      <div class="common-container">
        <div class="common-sitemap__content">
          <div class="common-sitemap__grid" style="flex-direction:column;">
          <div class="common-sitemap__grid__left">
            <h2 class="common-sitemap__title">企業・グループ情報</h2>
            <a href="#" class="common-sitemap__title__link">企業・グループ情報トップ</a>
            <ul class="common-sitemap__ul">
              <li class="common-sitemap__li"><a href="#">ごあいさつ</a></li>
              <li class="common-sitemap__li"><a href="#">クリーク・アンド・リバー社について</a></li>
              <li class="common-sitemap__li"><a href="#">C&Rグループについて</a></li>
              <li class="common-sitemap__li"><a href="#">企業理念</a></li>
              <li class="common-sitemap__li"><a href="#">ビジネスモデル</a></li>
              <li class="common-sitemap__li"><a href="#">事業領域とネットワーク</a></li>
              <li class="common-sitemap__li"><a href="#">C&Rクリエイティブスタジオ</a></li>
              <li class="common-sitemap__li"><a href="#">文化・オフィス紹介</a></li>
              <li class="common-sitemap__li"><a href="#">コーポレートガバナンス</a></li>
            </ul>
          </div>
          <div class="common-sitemap__grid__right">
            <h2 class="common-sitemap__title">事業分野・サービス</h2>
            <a href="#" class="common-sitemap__title__link">事業分野・サービストップ</a>
            <ul class="common-sitemap__ul">
              <li class="common-sitemap__li"><a href="#">映像</a></li>
              <li class="common-sitemap__li"><a href="#">ゲーム</a></li>
              <li class="common-sitemap__li"><a href="#">Web</a></li>
              <li class="common-sitemap__li"><a href="#">広告・出版</a></li>
              <li class="common-sitemap__li"><a href="#">作家</a></li>
              <li class="common-sitemap__li"><a href="#">舞台芸術</a></li>
              <li class="common-sitemap__li"><a href="#">医療</a></li>
              <li class="common-sitemap__li"><a href="#">建築</a></li>
              <li class="common-sitemap__li"><a href="#">コンピュータサイエンス</a></li>
              <li class="common-sitemap__li"><a href="#">IT</a></li>
              <li class="common-sitemap__li"><a href="#">ライフサイエンス</a></li>
              <li class="common-sitemap__li"><a href="#">アグリ</a></li>
              <li class="common-sitemap__li"><a href="#">ファッション</a></li>
              <li class="common-sitemap__li"><a href="#">食</a></li>
              <li class="common-sitemap__li"><a href="#">アスリート</a></li>
              <li class="common-sitemap__li"><a href="#">会計</a></li>
              <li class="common-sitemap__li"><a href="#">法曹</a></li>
              <li class="common-sitemap__li"><a href="#">CXO</a></li>
              <li class="common-sitemap__li"><a href="#">各種ソリューション事業</a></li>
              <li class="common-sitemap__li"><a href="#">実績事例一覧</a></li>
            </ul>
          </div>
          <div class="common-sitemap__grid__left">
            <h2 class="common-sitemap__title">強み・特徴</h2>
            <a href="#" class="common-sitemap__title__link">強み・特徴トップ</a>
            <ul class="common-sitemap__ul">
              <li class="common-sitemap__li"><a href="#">[特徴1]C&R Creative Studiosが新たな価値を提供</a></li>
              <li class="common-sitemap__li"><a href="#">[特徴2]事業クリエイティブカンパニー</a></li>
              <li class="common-sitemap__li"><a href="#">[特徴3]ライツマネジメント</a></li>
              <li class="common-sitemap__li"><a href="#">[特徴4]プロフェッショナル・エージェンシー</a></li>
              <li class="common-sitemap__li"><a href="#">[特徴5]グローカルなビジネス展開</a></li>
            </ul>
          </div>
          <div class="common-sitemap__grid__left">
            <h2 class="common-sitemap__title">プロフェッショナルの皆さまへ</h2>
            <a href="#" class="common-sitemap__title__link">プロフェッショナルの皆さまへトップ</a>
          </div>
          <div class="common-sitemap__grid__right">
            <h2 class="common-sitemap__title">採用情報</h2>
            <a href="#" class="common-sitemap__title__link">採用情報トップ</a>
            <ul class="common-sitemap__ul">
              <li class="common-sitemap__li"><a href="#" target="_blank">総合職（エージェント）[新卒]</a></li>
              <li class="common-sitemap__li"><a href="#" target="_blank">映像専門職 [新卒]</a></li>
              <li class="common-sitemap__li"><a href="#" target="_blank">ゲーム専門職 [新卒]</a></li>
              <li class="common-sitemap__li"><a href="#" target="_blank">デジタル専門職 [新卒]</a></li>
              <li class="common-sitemap__li"><a href="#" target="_blank">中途採用</a></li>
            </ul>
          </div>
          <div class="common-sitemap__grid__left">
            <h2 class="common-sitemap__title">IR情報</h2>
            <a href="#" class="common-sitemap__title__link">IRトップ</a>
            <ul class="common-sitemap__ul">
              <li class="common-sitemap__li"><a href="#">トップメッセージ</a></li>
              <li class="common-sitemap__li"><a href="#">役員一覧</a></li>
              <li class="common-sitemap__li"><a href="#">経営戦略</a></li>
              <li class="common-sitemap__li"><a href="#">IRニュース</a></li>
              <li class="common-sitemap__li"><a href="#">業績・財務情報</a></li>
              <li class="common-sitemap__li"><a href="#">IRライブラリ</a></li>
              <li class="common-sitemap__li"><a href="#">IRカレンダー</a></li>
              <li class="common-sitemap__li"><a href="#">株式について</a></li>
              <li class="common-sitemap__li"><a href="#" target="_blank">IRニュースメール</a></li>
              <li class="common-sitemap__li"><a href="#">個人投資家の皆さまへ</a></li>
              <li class="common-sitemap__li"><a href="#">リスク情報</a></li>
              <li class="common-sitemap__li"><a href="#">IRポリシー</a></li>
              <li class="common-sitemap__li"><a href="#">免責事項</a></li>
              <li class="common-sitemap__li"><a href="#">電子公告</a></li>
            </ul>
          </div>
          <div class="common-sitemap__grid__right">
            <h2 class="common-sitemap__title">サステナビリティ</h2>
            <a href="#" class="common-sitemap__title__link">サステナビリティトップ</a>
            <ul class="common-sitemap__ul">
              <li class="common-sitemap__li"><a href="#">サステナビリティマネジメント</a></li>
              <li class="common-sitemap__li"><a href="#">マテリアリティ</a></li>
              <li class="common-sitemap__li"><a href="#">環境</a></li>
              <li class="common-sitemap__li"><a href="#">社会</a></li>
              <li class="common-sitemap__li"><a href="#">ガバナンス</a></li>
              <li class="common-sitemap__li"><a href="#">ESG活動データ</a></li>
            </ul>
          </div>
          <div class="common-sitemap__grid__right">
            <h2 class="common-sitemap__title">ニュースリリース</h2>
            <a href="#" class="common-sitemap__title__link">ニュースリリーストップ</a>
          </div>
          <div class="common-sitemap__grid__right">
            <h2 class="common-sitemap__title">公式サイト・SNS一覧</h2>
            <a href="#" class="common-sitemap__title__link">公式サイト・SNS一覧トップ</a>
          </div>
          <div class="common-sitemap__grid__left">
            <h2 class="common-sitemap__title">お問い合わせ</h2>
            <a href="#" class="common-sitemap__title__link">お問い合わせトップ</a>
          </div>
          <div class="common-sitemap__grid__right">
            <h2 class="common-sitemap__title">サイトポリシー</h2>
            <a href="#" class="common-sitemap__title__link">サイトポリシートップ</a>
          </div>
          <div class="common-sitemap__grid__left">
            <h2 class="common-sitemap__title">ウェブアクセシビリティ</h2>
            <a href="#" class="common-sitemap__title__link">ウェブアクセシビリティトップ</a>
          </div>
          <div class="common-sitemap__grid__left">
            <h2 class="common-sitemap__title">個人情報の保護について</h2>
            <a href="#" class="common-sitemap__title__link">個人情報の保護についてトップ</a>
          </div>
          <div class="common-sitemap__grid__left">
            <h2 class="common-sitemap__title">特定個人情報基本方針</h2>
            <a href="#" class="common-sitemap__title__link">特定個人情報基本方針トップ</a>
          </div>
        </div>
        </div>

      </div>


      <%- include('../include/_footer.ejs'); %>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/vendor.js"></script>
  <script>
  const grid = document.getElementsByClassName('common-sitemap__grid')[0];
  const parent = document.querySelector('.common-sitemap__content');
  const allItems = document.querySelectorAll('.common-sitemap__grid > div');
  const gridCopy = grid.cloneNode(true);

  let allItemsLeft = new Array();
  let allItemsRight = new Array();
  let allItemsSort = new Array();

  const sortFunc = () => {
    for( let i=0; i < allItems.length; i++){
      if(allItems[i].classList.contains( "common-sitemap__grid__left" )){
        allItemsLeft.push(allItems[i]);
      } else if(allItems[i].classList.contains( "common-sitemap__grid__right" )) {
        allItemsRight.push(allItems[i]);
      }
    }
    // allItemsSort = allItemsLeft.concat(allItemsRight);
    var elemPC = document.createElement('div');
    elemPC.className = 'common-sitemap__grid';
    parent.appendChild(elemPC);
    var elemCntLeft = document.createElement('div');
    elemCntLeft.className = 'common-sitemap__grid__cnt';
    elemPC.appendChild(elemCntLeft);
    for( let i=0; i < allItemsLeft.length; i++){
      elemCntLeft.insertBefore(allItemsLeft[i], null);
    }
    var elemCntRight = document.createElement('div');
    elemCntRight.className = 'common-sitemap__grid__cnt';
    elemPC.appendChild(elemCntRight);
    for( let i=0; i < allItemsRight.length; i++){
      elemCntRight.insertBefore(allItemsRight[i], null);
    }
    gridCopy.className = 'common-sitemap__grid__sp';
    parent.appendChild(gridCopy);
  }

  window.addEventListener('load', () => {
    sortFunc();
  });
  </script>
</body>

</html>
