<%
path = '../';
category = '';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<%- include ../include/_meta %>
<%- include('../include/_head' ,{
  title: meta.top.title,
  description: meta.top.description,
  catTitle: meta.top.catTitle
})
%>
<body class="page-article">
<% include ../include/_old %>
<div class="wrapper">
  <% include ../include/_header %>
  <div class="contents">



			<main>
				<article>
			
					<header class="article-header">
						<div class="inner">
							<picture class="image">
								<img src="../images/dummy_article_d01.jpg" alt="aaaaa">
							</picture>
							<div class="body articleMeta">
								<h1 class="title"><a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h1>
								<div class="meta">
									<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
									<div class="category"><span>カテゴリー</span></div>
								</div>
								<div class="list-tag">
									<ul class="items">
										<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
									</ul>
								</div>
							</div>
						</div>
					</header>

					<aside class="sitePath">
						<ul class="inner">
							<li class="item"><a href="/" aria-label="サイトトップへ戻る"><svg xmlns="http://www.w3.org/2000/svg" width="15.167" height="14" aria-label="Home"><path data-name="home" d="M5.833 14V9.333h3.5V14h3.558V7h2.275L7.583 0 0 7h2.275v7z" fill="#888"/></svg></a></li>
							<li class="item"><a href="/article/" aria-label="Articleの一覧へ戻る">Article</a></li>
							<li class="item"><strong>ページのタイトル...</strong></li>
						</ul>
					</aside>

					<div class="article-body articleBox">
						<div class="inner">
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。<br>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<h2>ここには大見出しが入ります。ここには大見出しが入ります。ここには大見出しが入ります。ここには大見出しが入ります。</h2>
							<figure>
								<img src="../images/dummy_article_d02.jpg" alt="aaaaa">
								<figcaption>ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。</figcaption>
							</figure>
							<p>ここには本文が入ります。<a href="">ここには本文が入ります。</a> ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<h3>ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。</h3>
							<p>ここには本文が入ります。<em>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</em>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<div class="img-multi">
								<figure>
									<img src="../images/dummy_article_d02.jpg" alt="aaaaa">
									<figcaption>ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。</figcaption>
								</figure>
								<figure>
									<img src="../images/dummy_article_d02.jpg" alt="aaaaa">
									<figcaption>ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。</figcaption>
								</figure>
							</div>

       <div class="box-w">
        <p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
        <p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
       </div>

       <div class="box-b">
        <p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
        <p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
       </div>
       
       <h4>ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。</h3>
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<ul>
								<li>ここにはリストが入ります。ここにはリストが入ります。ここにはリストが入ります。ここにはリストが入ります。ここにはリストが入ります。ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
							</ul>
							<h4>ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。</h3>
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
              <div class="article-table-wrapper">
              <table>
								<thead>
									<tr>
										<td>テキスト</td>
										<td>テキスト</td>
										<td>テキストテキストテキスト</td>
										<td>テキスト</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>テキストテキストテキスト</th>
										<td>テキストテキストテキスト</td>
										<td>テキスト</td>
										<td>テキスト</td>
									</tr>
									<tr>
										<th>テキスト</th>
										<td>テキストテキスト</td>
										<td>テキスト</td>
										<td>テキスト</td>
									</tr>
									<tr>
										<th>テキスト</th>
										<td>テキスト</td>
										<td>テキストテキスト</td>
										<td>テキスト</td>
									</tr>
								</tbody>
              </table>
            </div>
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
              <h3>ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。</h3>
              <p>
                <a href="#">ここにはテキストリンクが入ります。</a><br>
                <a href="https://www.youtube.com/" target="_blank">ここには外部リンクが入ります。</a>
              </p>
							<ul>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
							</ul>
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>

              <h3>2023-06追加 / DIABLOMANの画像を使ったQnadAブロック</h3>
              <p>DIABLOMANのアイコンを6種類用意したブロックです</p>
              <div class="article-qaBlock">
                <dl class="article-qaItem">
                  <dt>
                    <div>
                      <img src="../images/icon_article_driver.svg" alt="Driver Icon">
                    </div>
                    <p>DIABLOMAN パターン-1</p>
                  </dt>
                  <dd>
                    <div>
                      <img src="../images/icon_diabloman_1.svg" alt="DIABLOMAN Icon パターン1">
                    </div>
                    <p>DIABLOMAN-1。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
                  </dd>
                </dl>
                <dl class="article-qaItem">
                  <dt>
                    <div>
                      <img src="../images/icon_article_driver.svg" alt="Driver Icon">
                    </div>
                    <p>DIABLOMAN パターン-2</p>
                  </dt>
                  <dd>
                    <div>
                      <img src="../images/icon_diabloman_2.svg" alt="DIABLOMAN Icon パターン2">
                    </div>
                    <p>DIABLOMAN-2。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
                  </dd>
                </dl>
                <dl class="article-qaItem">
                  <dt>
                    <div>
                      <img src="../images/icon_article_driver.svg" alt="Driver Icon">
                    </div>
                    <p>DIABLOMAN パターン-3</p>
                  </dt>
                  <dd>
                    <div>
                      <img src="../images/icon_diabloman_3.svg" alt="DIABLOMAN Icon パターン3">
                    </div>
                    <p>DIABLOMAN-3。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
                  </dd>
                </dl>
                <dl class="article-qaItem">
                  <dt>
                    <div>
                      <img src="../images/icon_article_driver.svg" alt="Driver Icon">
                    </div>
                    <p>DIABLOMAN パターン-4</p>
                  </dt>
                  <dd>
                    <div>
                      <img src="../images/icon_diabloman_4.svg" alt="DIABLOMAN Icon パターン4">
                    </div>
                    <p>DIABLOMAN-4。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
                  </dd>
                </dl>
                <dl class="article-qaItem">
                  <dt>
                    <div>
                      <img src="../images/icon_article_driver.svg" alt="Driver Icon">
                    </div>
                    <p>DIABLOMAN パターン-5</p>
                  </dt>
                  <dd>
                    <div>
                      <img src="../images/icon_diabloman_5.svg" alt="DIABLOMAN Icon パターン5">
                    </div>
                    <p>DIABLOMAN-5。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
                  </dd>
                </dl>
                <dl class="article-qaItem">
                  <dt>
                    <div>
                      <img src="../images/icon_article_driver.svg" alt="Driver Icon">
                    </div>
                    <p>DIABLOMAN パターン-6</p>
                  </dt>
                  <dd>
                    <div>
                      <img src="../images/icon_diabloman_6.svg" alt="DIABLOMAN Icon パターン6">
                    </div>
                    <p>DIABLOMAN-6。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
                  </dd>
                </dl>
              </div>

              <h3>2023-06追加 / シンプルなQnadAブロック</h3>
              <p>シンプルなQandAのブロックです。</p>
              <div class="article-qaBlock">
                <dl class="article-qaItem">
                  <dt>
                    <div>
                      <img src="../images/icon_article_q.svg" alt="Question Icon">
                    </div>
                    <p>ここにユーザーのコメントがはいります。(1行)</p>
                  </dt>
                  <dd>
                    <div>
                      <img src="../images/icon_article_a.svg" alt="Answer Icon">
                    </div>
                    <p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
                  </dd>
                </dl>
                <dl class="article-qaItem">
                  <dt>
                    <div>
                      <img src="../images/icon_article_q.svg" alt="Question Icon">
                    </div>
                    <p>ここにユーザーのコメントがはいります。ここにユーザーのコメントがはいります。ここにユーザーのコメントがはいります。ここにユーザーのコメントがはいります。(複数行)</p>
                  </dt>
                  <dd>
                    <div>
                      <img src="../images/icon_article_a.svg" alt="Answer Icon">
                    </div>
                    <p>ここには本文が入ります。ここには本文が入ります。<a href="#">内部リンクテキスト</a>ここには本文が入ります。ここには本文が入ります。<a href="#" target="_blank">外部リンクテキスト</a>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
                  </dd>
                </dl>
              </div>

       <div class="authorBox">
        <header class="header">
         <div class="photo"><img src="aaaa" alt=""></div>
         <dl class="names">
          <dt class="head">Profile</dt>
          <dd class="body">
           <span class="name">名前名前</span>
           <span class="kana">なまえなまえ</span>
          </dd>
         </dl>
        </header>
        <div class="body">
         <p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
        </div>
       </div>
      
      </div>
					</div>
					
					<footer class="article-footer">
						<div class="inner">
						
							<ul class="sns-shere">
								<li class="item facebook">
									<a href="https://ja-jp.facebook.com/PirelliJapan/" aria-label="facebookでシェアする">
										<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="9.637" height="17.994"><path data-name="Icon awesome-facebook-f" d="M9.006 10.122l.5-3.256H6.381V4.752a1.628 1.628 0 011.836-1.759h1.421V.22A17.323 17.323 0 007.116 0C4.543 0 2.861 1.56 2.861 4.383v2.482H0v3.256h2.861v7.872h3.52v-7.871z" fill="#222"/></svg></span>
										<span class="label">facebookでシェアする</span>
									</a>
								</li>
								<li class="item twitter">
									<a href="https://twitter.com/pirellimoto" aria-label="Twitterでつぶやく">
										<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="17.994" height="14.614"><path data-name="Icon awesome-twitter" d="M16.144 3.642c.011.16.011.32.011.48A10.421 10.421 0 015.663 14.619 10.422 10.422 0 010 12.959a7.629 7.629 0 00.891.046 7.386 7.386 0 004.578-1.576 3.694 3.694 0 01-3.448-2.558 4.651 4.651 0 00.7.057 3.9 3.9 0 00.97-.126 3.688 3.688 0 01-2.96-3.619v-.045a3.714 3.714 0 001.669.468A3.693 3.693 0 011.256.673a10.483 10.483 0 007.6 3.859 4.163 4.163 0 01-.091-.845 3.691 3.691 0 016.382-2.523 7.261 7.261 0 002.341-.891 3.678 3.678 0 01-1.618 2.033 7.393 7.393 0 002.124-.571 7.927 7.927 0 01-1.85 1.907z" fill="#222"/></svg></span>
										<span class="label">Twitterでつぶやく</span>
									</a>
								</li>
							</ul>


							<aside class="pnNav">
								<a href="aaaa" class="prev btn" aria-label="前の記事へ">
									<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="8.005" height="14"><path data-name="Icon ionic-ios-arrow-down" d="M2.413 7.002l5.3 5.294a1 1 0 010 1.413 1.009 1.009 0 01-1.417 0l-6-6a1 1 0 01-.029-1.38L6.294.289a1 1 0 111.417 1.413z" fill="#222"/></svg></span>
									<span class="label">Previous</span>
								</a>
								<a href="aaaa" class="next btn" aria-label="次の記事へ">
									<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="8.005" height="14"><path data-name="Icon ionic-ios-arrow-down" d="M5.592 6.998l-5.3-5.294a1 1 0 010-1.413 1.009 1.009 0 011.417 0l6 6a1 1 0 01.029 1.38l-6.027 6.04a1 1 0 11-1.417-1.413z" fill="#222"/></svg></span>
									<span class="label">Next</span>
								</a>
								<a href="aaaa" class="home btn" aria-label="記事の一覧へ">
									<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"><g data-name="グループ 7" fill="#222"><path data-name="長方形 39" d="M0 0h8v8H0z"/><path data-name="長方形 42" d="M0 14h8v8H0z"/><path data-name="長方形 40" d="M14 0h8v8h-8z"/><path data-name="長方形 41" d="M14 14h8v8h-8z"/></g></svg></span>
									<span class="label">List</span>
								</a>
							</aside>

						</div>
					</footer>

				</article>
			</main>
		
			<section class="recommendBlock">
				<div class="inner">
					<header class="header">
						<h2 class="title">
							<svg xmlns="http://www.w3.org/2000/svg" width="296.717" height="28.8" aria-label="おすすめ記事">
								<g data-name="グループ 19" fill="#222"><path data-name="パス 33" d="M0 28.8V.04h22.843a5.731 5.731 0 014.2 1.76 5.688 5.688 0 011.76 4.16v7.44a5.688 5.688 0 01-1.76 4.16 5.731 5.731 0 01-4.2 1.76h-.28l6.237 7.36v2.12h-6.4l-7.957-9.48-8.243.04v9.44zm7.52-15.72h15V6.24H6.2v6.84z"/><path data-name="パス 34" d="M33.12 28.8V0h26.6v6.24H39.4v5.04h16.36v6.24H39.4v5.04h20.32v6.24z"/><path data-name="パス 35" d="M69.6 28.8a5.7 5.7 0 01-4.18-1.74 5.7 5.7 0 01-1.74-4.18V5.92a5.7 5.7 0 011.74-4.18A5.7 5.7 0 0169.6 0h22.8v6.24H69.88v16.32H92.4v6.24z"/><path data-name="パス 36" d="M102.4 28.8a5.7 5.7 0 01-4.18-1.74 5.7 5.7 0 01-1.74-4.18V5.92a5.7 5.7 0 011.74-4.18A5.7 5.7 0 01102.4 0h16.96a5.72 5.72 0 014.16 1.74 5.668 5.668 0 011.76 4.18v16.96a5.668 5.668 0 01-1.76 4.18 5.72 5.72 0 01-4.16 1.74zm1.6-6.24h15V6.244h-16.32V22.56z"/><path data-name="パス 37" d="M129.68 28.8V0h6.4l9.76 11.64L155.56 0H162v28.8h-6.241V9.48l-9.92 11.84-9.96-11.8V28.8z"/><path data-name="パス 38" d="M166.8 28.8V0h6.4l9.76 11.644 9.72-11.64h6.44v28.8h-6.24V9.48l-9.92 11.84L173 9.52V28.8z"/><path data-name="パス 39" d="M203.997 28.8V0h26.6v6.24h-20.316v5.04h16.36v6.24h-16.36v5.04h20.32v6.24z"/><path data-name="パス 40" d="M234.557 28.8V0h6.4l16.123 19.2V0h6.277v28.8h-6.4l-16.2-19.28V28.8z"/><path data-name="パス 41" d="M267.917 28.8V0h22.84a5.766 5.766 0 014.2 1.74 5.668 5.668 0 011.76 4.18v16.96a5.668 5.668 0 01-1.76 4.18 5.766 5.766 0 01-4.2 1.74zm7.52-6.24h15V6.244h-16.32V22.56z"/></g>
							</svg>
					 </h2>
            <div class="slide-controller">
              <button class="btn next swiper-button-next" alia-label="次へ">
                <svg
                  xmlns="http://www.w3.org/2000/svg" width="12" height="20.988">
                  <path data-name="Icon ionic-ios-arrow-down"
                        d="M8.383 10.49L.441 2.554a1.493 1.493 0 010-2.118 1.512 1.512 0 012.125 0l9 8.992a1.5 1.5 0 01.044 2.068L2.572 20.55a1.5 1.5 0 11-2.125-2.118z"
                        fill="#7f7f7f"/>
                </svg>
              </button>
              <button class="btn prev swiper-button-prev swiper-button-prev-top" alia-label="前へ">
                <svg
                  xmlns="http://www.w3.org/2000/svg" width="12" height="20.988">
                  <path data-name="Icon ionic-ios-arrow-down"
                        d="M3.617 10.497l7.942 7.936a1.493 1.493 0 010 2.118 1.512 1.512 0 01-2.125 0l-9-8.992A1.5 1.5 0 01.39 9.491L9.428.437a1.5 1.5 0 112.125 2.118z"
                        fill="#7f7f7f"/>
                </svg>
              </button>
            </div>
					</header>
          <div class="list-wrap swiper-container">
            <div class="list-article type-single swiper-wrapper">
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a>
                  </h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。</a></h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。</a></h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。</a></h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。</a></h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a>
                  </h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。</a></h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。</a></h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。</a></h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image">
                  <a href="/article/detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
                    <picture>
                      <source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
                      <img src="../images/dummy_article_01.png" decoding="async" decoding="async"
                           alt="aaaaaa">
                    </picture>
                  </a>
                </div>
                <div class="body articleMeta">
                  <h2 class="title"><a href="/article/detail.html"
                                       aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。</a></h2>
                  <div class="meta">
                    <time datetime="2020-12-24" class="date topArticleDate_padding"><span>2020.12.24</span></time>
                    <div class="category"><span>カテゴリー</span></div>
                  </div>
                  <div class="list-tag">
                    <ul class="items">
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                      <li class="item"><a href="aaaaaa"
                                          aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
			</section>
			
   <% include ../include/_bnr_01 %>
  </div>
  <% include ../include/_footer %>
</div>
<% include ../include/_modal %>
<% include ../include/_script.ejs %>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
<script>
  let swiper = new Swiper('.swiper-container', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    slidesPerView: 'auto',
    freeMode: true,
    freeModeSticky: false,
    breakpoints: {
      1025: {
        // slidesPerView: 5,
        slidesPerGroup: 4,
      }
    }
  });
var userAgent = window.navigator.userAgent.toLowerCase();
if(userAgent.indexOf('trident') != -1) {
  var body = document.body;
  body.classList.add('article-detail-ie-only-styles')
}
</script>
</body>
</html>