<%
path = '../';
category = '';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<%- include ../include/_meta %>
<%- include('../include/_head' ,{
  title: meta.top.title,
  description: meta.top.description,
  catTitle: meta.top.catTitle
})
%>
<body class="page-list-article">
<% include ../include/_old %>
<div class="wrapper">
  <% include ../include/_header %>
  <div class="contents">

			<div class="sitePath">
				<ul class="inner">
					<li class="item"><a href="/" aria-label="サイトトップへ戻る"><svg xmlns="http://www.w3.org/2000/svg" width="15.167" height="14" aria-label="Home"><path data-name="home" d="M5.833 14V9.333h3.5V14h3.558V7h2.275L7.583 0 0 7h2.275v7z" fill="#888"/></svg></a></li>
					<li class="item"><strong>Article</strong></li>
				</ul>
			</div>


			<main>
			
				<div class="page-header">
					<div class="inner">
						<h1 class="headline">
							<span class="main">Article</span>
							<span class="sub">最新記事</span>
						</h1>
					</div>
				</div>
				<% include ../include/_category %>

				<div class="articleList-block" aria-label="最新記事一覧">
					<div class="inner">
						<div class="list-article type-multi">
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="image">
									<a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">
										<picture>
											<source media="(min-width: 960px)" srcset="../images/dummy_article_01.png">
											<img src="../images/dummy_article_01.png" decoding="async" alt="aaaaaa">
										</picture>
									</a>
								</div>
								<div class="body articleMeta">
									<h2 class="title"><a href="./detail.html" aria-label="記事「ここには記事のタイトルが入ります。」の詳細へ移動します。">ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。ここには記事のタイトルが入ります。</a></h2>
									<div class="meta">
										<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
										<div class="category"><span>カテゴリー</span></div>
									</div>
									<div class="list-tag">
										<ul class="items">
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
											<li class="item"><a href="aaaaaa" aria-label="タグ「タグ名が入ります。」のついた記事の詳細へ">タグ名が入ります。</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<footer class="footer">
							<div class="pagingNav">
								<a href="aaaaaa" class="btn first" aria-label="First"><span>
									<svg xmlns="http://www.w3.org/2000/svg" width="9.15" height="16.003" viewBox="0 0 9.15 16.003"><path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M8,6.392,14.056.336a1.139,1.139,0,0,1,1.615,0,1.153,1.153,0,0,1,0,1.62L8.814,8.817a1.142,1.142,0,0,1-1.577.033l-6.9-6.89A1.144,1.144,0,0,1,1.949.341Z" transform="translate(9.15) rotate(90)" fill="#222"/></svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="9.15" height="16.003" viewBox="0 0 9.15 16.003"><path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M8,6.392,14.056.336a1.139,1.139,0,0,1,1.615,0,1.153,1.153,0,0,1,0,1.62L8.814,8.817a1.142,1.142,0,0,1-1.577.033l-6.9-6.89A1.144,1.144,0,0,1,1.949.341Z" transform="translate(9.15) rotate(90)" fill="#222"/></svg>
								</span></a>
								<a href="aaaaaa" class="btn prev" aria-label="Previous"><span>
									<svg xmlns="http://www.w3.org/2000/svg" width="9.15" height="16.003" viewBox="0 0 9.15 16.003"><path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M8,6.392,14.056.336a1.139,1.139,0,0,1,1.615,0,1.153,1.153,0,0,1,0,1.62L8.814,8.817a1.142,1.142,0,0,1-1.577.033l-6.9-6.89A1.144,1.144,0,0,1,1.949.341Z" transform="translate(9.15) rotate(90)" fill="#222"/></svg>
								</span></a>
								<strong class="btn current"><span>1</span></strong>
								<a href="aaaaaa" class="btn link"><span>2</span></a>
								<a href="aaaaaa" class="btn link"><span>3</span></a>
								<span class="blank">…</span>
								<a href="aaaaaa" class="btn link"><span>10</span></a>
								<a href="aaaaaa" class="btn next" aria-label="Next"><span>
									<svg xmlns="http://www.w3.org/2000/svg" width="9.15" height="16.003" viewBox="0 0 9.15 16.003"><path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M8,6.392,14.056.336a1.139,1.139,0,0,1,1.615,0,1.153,1.153,0,0,1,0,1.62L8.814,8.817a1.142,1.142,0,0,1-1.577.033l-6.9-6.89A1.144,1.144,0,0,1,1.949.341Z" transform="translate(0 16.003) rotate(-90)" fill="#222"/></svg>
								</span></a>
								<a href="aaaaaa" class="btn last" aria-label="Last"><span>
									<svg xmlns="http://www.w3.org/2000/svg" width="9.15" height="16.003" viewBox="0 0 9.15 16.003"><path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M8,6.392,14.056.336a1.139,1.139,0,0,1,1.615,0,1.153,1.153,0,0,1,0,1.62L8.814,8.817a1.142,1.142,0,0,1-1.577.033l-6.9-6.89A1.144,1.144,0,0,1,1.949.341Z" transform="translate(0 16.003) rotate(-90)" fill="#222"/></svg>
									<svg xmlns="http://www.w3.org/2000/svg" width="9.15" height="16.003" viewBox="0 0 9.15 16.003"><path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down" d="M8,6.392,14.056.336a1.139,1.139,0,0,1,1.615,0,1.153,1.153,0,0,1,0,1.62L8.814,8.817a1.142,1.142,0,0,1-1.577.033l-6.9-6.89A1.144,1.144,0,0,1,1.949.341Z" transform="translate(0 16.003) rotate(-90)" fill="#222"/></svg>
								</span></a>
							</div>
						</footer>
					</div>
				</div>

			</main>
		
			
   <% include ../include/_bnr_01 %>
  </div>
  <% include ../include/_footer %>
</div>
<% include ../include/_modal %>
<% include ../include/_script.ejs %>
</body>
</html>