<!--既存footer-->
<footer>
  <div id="footer">
    <div id="footer-group-nav">
      <div class="footer-group-nav-inner">
        <ul>
          <li><a href="../product/index.html">商品紹介</a></li>
          <li><a href="../tenpo/index.html">店舗紹介</a></li>
          <li><a href="../rental/index.html">レンタルについて</a></li>
          <li><a href="../company/index.html">企業情報</a></li>
          <li><a href="../recruit/index.html">採用情報</a></li>
        </ul>
      </div>
    </div>
    <div id="footer-group">
      <ul class="nav">
        <li><a href="../inquery/index.html">お問い合わせ</a></li>
        <li><a href="../security.html">セキュリティについて</a></li>
        <li><a href="../privacy.html">プライバシーポリシー</a></li>
      </ul>
      <ul class="social">
        <li><a href="//twitter.com/Taiyo_1986" target="_blank"><img src="<%= data.path %>/images-top/twitter_btn.png" alt="twitter"></a>
        </li>
        <li><a href="//www.youtube.com/channel/UCMnuc7_XHgXh66h5n7_oQdA" target="_blank"><img src="<%= data.path %>/images-top/youtube_btn.png" alt="YouTube"></a></li>
      </ul>
      <p class="copyright"><small>Copyright © TAIYOKENKI RENTAL CO.,LTD. All Rights Reserved.</small></p>
    </div>
  </div>
</footer>
<!--既存footerここまで-->