<div class="c-fv --rentaCar">
  <div class="c-fv__titleArea">
    <div class="c-fv__titleAreaInner">
      <h1 class="c-fv__topHeading">レンタカー</h1>
      <div class="c-fv__contact">
        <a href="<%= data.contactURL %>" class="c-fv__contactLink">お問い合わせはこちら</a>
      </div>
    </div>
  </div>
</div>