<ul class="p-sub__itemList js-float-start">
  <li>
    <div class="p-sub__itemNameWrap">
      <p class="p-sub__itemName"><span>プレート30Kg</span></p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__itemTextWrap">
        <p class="p-sub__itemText">軽量・コンパクトなため、取り回しが良く軽作業に最適です。<br>ハンドルは手で回せるノブボルトを採用しているため、軽自動車やライトバンへも楽々積み込めます。</p>
      </div>
    </div>
    <div class="p-sub__tableWrap">
      <table class="c-table">
        <thead class="c-tableHeading">
          <tr>
            <th class="--w168">商品コード</th>
            <th class="--w168">代表型式</th>
            <th class="--w168">機械質量</th>
            <th class="--w168">燃料</th>
            <th class="--w168">レンタル料/日</th>
            <th class="--w168">サービス料/日</th>
            <th class="--w192">管理検査料/１回のみ発生</th>
            <th class="--w80">PDF</th>
          </tr>
        </thead>
        <tbody class="c-tableBody">
          <tr>
            <td>PLT30</td>
            <td>KP30A</td>
            <td>38kg</td>
            <td>ガソリン</td>
            <td>3,000円</td>
            <td>60円</td>
            <td>300円</td>
            <td class="c-table__pdfLinkLine">
              <a href="https://www.taiyokenki.co.jp/product/docs/1a06e300ff4423cc048d7612ac3ba576.pdf" class="c-table__pdfLink" target="_blank">
                <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap">
      <p class="p-sub__itemName"><span>プレート45Kg</span></p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__itemTextWrap">
        <p class="p-sub__itemText">舗装から軽作業までできるスタンダードタイプです。<br>ハンドルは工具を使用することで折り畳み可能なため、軽自動車やライトバンへも楽々積み込めます。</p>
      </div>
    </div>
    <div class="p-sub__tableWrap">
      <table class="c-table">
        <thead class="c-tableHeading">
          <tr>
            <th class="--w168">商品コード</th>
            <th class="--w168">代表型式</th>
            <th class="--w168">機械質量</th>
            <th class="--w168">燃料</th>
            <th class="--w168">レンタル料/日</th>
            <th class="--w168">サービス料/日</th>
            <th class="--w192">管理検査料/１回のみ発生</th>
            <th class="--w80">PDF</th>
          </tr>
        </thead>
        <tbody class="c-tableBody">
          <tr>
            <td>PLT45</td>
            <td>KP50</td>
            <td>50kg</td>
            <td>ガソリン</td>
            <td>4,000円</td>
            <td>60円</td>
            <td>300円</td>
            <td class="c-table__pdfLinkLine">
              <a href="https://www.taiyokenki.co.jp/product/docs/1a06e300ff4423cc048d7612ac3ba576.pdf" class="c-table__pdfLink" target="_blank">
                <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap">
      <p class="p-sub__itemName"><span>プレート60Kg</span></p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__itemTextWrap">
        <p class="p-sub__itemText">重量があり、しっかりと締固めながら平らにできます。舗装の表面形成などにも使用されます。</p>
      </div>
    </div>
    <div class="p-sub__tableWrap">
      <table class="c-table">
        <thead class="c-tableHeading">
          <tr>
            <th class="--w168">商品コード</th>
            <th class="--w168">代表型式</th>
            <th class="--w168">機械質量</th>
            <th class="--w168">燃料</th>
            <th class="--w168">レンタル料/日</th>
            <th class="--w168">サービス料/日</th>
            <th class="--w192">管理検査料/１回のみ発生</th>
            <th class="--w80">PDF</th>
          </tr>
        </thead>
        <tbody class="c-tableBody">
          <tr>
            <td>PLT60</td>
            <td>KP60A</td>
            <td>63kg</td>
            <td>ガソリン</td>
            <td>4,500円</td>
            <td>60円</td>
            <td>300円</td>
            <td class="c-table__pdfLinkLine">
              <a href="https://www.taiyokenki.co.jp/product/docs/1a06e300ff4423cc048d7612ac3ba576.pdf" class="c-table__pdfLink" target="_blank">
                <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ul>