div.u-lg_mg-tp-100.u-sp_mg-tp-60
  div.c-archive-toggle-button.u-lg_mg-bt-60
      div.c-archive-toggle-button__wrapper.ssReport--archiveBottom.is-hide#js-archive-toggle-target--bottom
          div.c-archive-toggle-button__container.ssReport--archiveBottom
              ul.c-archive-toggle-button__container--list#js-archive-toggle-button--bottom
          div.c-archive-toggle-button__arrow.ssReport--archiveBottom
      div.c-archive-toggle-button__toggle#js-archive-toggle-trigger--bottom
          span See list of archives
              img(src=`${config.assets_link}` + "images/toggle-icon.svg" alt="")
      