div.c-background#js-bg-elem(class= bgColors.isTop ? 'c-background--top' : '')
    div.c-background__square--main#js-bg-square-main(style=bgColors.main)
    div.c-background__square--sub#js-bg-square-sub(style=bgColors.sub)
    canvas.c-background__canvas#js-bg