div.c-carousel-controller#js-controller-container
    div.c-carousel-controller__prev#js-carousel-prev
        img(src=`${config.assets_link}` + "images/top-carousel-arrow-prev.svg" alt="")
        img(src=`${config.assets_link}` + "images/top-carousel-arrow-prev-sp.svg" alt="").u-is-sp
    ul#js-carousel-pointer-container
    div.c-carousel-controller__next#js-carousel-next
        img(src=`${config.assets_link}` + "images/top-carousel-arrow-next.svg" alt="")
        img(src=`${config.assets_link}` + "images/top-carousel-arrow-next-sp.svg" alt="").u-is-sp
    div.c-carousel-pointer#js-carousel-pointer(style="left: 9.0625vw; background: linear-gradient(45deg, #1482CA, #79BD36);")