.l-gdpr.js-gdpr
  .l-gdpr__overlay.js-gdpr-overlay
  .l-gdpr__primary.js-gdpr-banner
    .l-gdpr-banner
      .l-gdpr-banner__texts
        p.l-gdpr-banner__title
          | You can manage your cookie preferences using the Civic cookies tool, or read more about our use of cookies at Privacy Policy.
        p.l-gdpr-banner__text
          | Cookies served by us and our third-party partners help us to deliver our services, provide you with a personalized experience on our websites and support our marketing campaigns. 
          br
          | You can manage your cookie preferences using the Civic cookies tool, or read more about our use of cookies at 
          a.inline.underlined(href='/english/etc/privacypolicy/') Privacy Policy
          | .
      .l-gdpr-banner__buttons
        .l-gdpr-banner__button.js-gdpr-accepter
          a(href='')
            p.c-button.c-gdpr-button
              span Accept All
        .l-gdpr-banner__button.js-gdpr-panelOpener
          a(href='')
            p.c-button.c-gdpr-button
              span I Do Not Accept or Settings
      p.l-gdpr-banner__closer.js-gdpr-closer
        a(href='')
          span Close
  .l-gdpr__secondary.js-gdpr-panel
    .l-gdpr-settings
      .l-gdpr-settings__item
        .l-gdpr-settings__header
          p Your choice regarding cookies on this site.
        p
          | Cookies served by us and our third-party partners help us to deliver our services, provide you with a personalized experience on our websites and support our marketing campaigns. You can manage your cookie preferences using the Civic cookies tool, or read more about our use of cookies at 
          a.inline.underlined(href='/english/etc/privacypolicy/') Privacy Policy
          | .
        .l-gdpr-settings__choices
          .l-gdpr-settings__choice.js-gdpr-accepter
            a(href='')
              p.c-button
                span Accept All
          .l-gdpr-settings__choice.js-gdpr-disabler
            a(href='')
              p.c-button
                span I Do Not Accept
      .l-gdpr-settings__item
        .l-gdpr-settings__header
          p Strictly Necessary Cookies
          //
            <div class="l-gdpr-settings__checkbox">
            <div class="l-gdpr-switch js-gdpr-switch">
            <label class="l-gdpr-switch__label">
            <input class="l-gdpr-switch__input" type="checkbox" value="strictly-necessary">
            <span class="l-gdpr-switch__on" aria-hidden="true">ON</span>
            <span class="l-gdpr-switch__off" aria-hidden="true">OFF</span>
            <span class="l-gdpr-switch__toggle"></span>
            </label>
            </div>
            </div>
        p
          | These Cookies are required for the operation of our Websites. They enable basic site functionality such as page navigation and access to secure areas, such as when you sign in to your online account. The Websites cannot function properly without these Cookies. Strictly Necessary Cookies are enabled when you visit our Websites. If you block these Cookies, it may impact your experience when using our Websites.
          br
          | Retention period – max 12 months.
      .l-gdpr-settings__item
        .l-gdpr-settings__header
          p Functional and Analytics Cookies
          .l-gdpr-settings__checkbox
            .l-gdpr-switch.js-gdpr-switch
              label.l-gdpr-switch__label
                input.l-gdpr-switch__input(type='checkbox' name='accept-cookies' value='functional-and-analytics')
                span.l-gdpr-switch__on(aria-hidden='true') ON
                span.l-gdpr-switch__off(aria-hidden='true') OFF
                span.l-gdpr-switch__toggle
        p
          | Functional and Analytics Cookies help us to improve our Websites by collecting and reporting information on your use of our Websites. This includes analytics and re-marketing Cookies that allow us to monitor and analyze web traffic, understand visitor behaviors on the Websites, and enables us to analyze the success of our marketing campaigns and Products. Functional and Analytics Cookies also enable us to provide enhanced functionality and personalization when you visit our Websites and interact with our Products. Any Functional and Analytics Cookie data that we collect is fully anonymized.
          br
          | Retention period – max 12 months.
      .l-gdpr__setting
        .l-gdpr-settings__header
          p Marketing Cookie 
          .l-gdpr-settings__checkbox
            .l-gdpr-switch.js-gdpr-switch
              label.l-gdpr-switch__label
                input.l-gdpr-switch__input(type='checkbox' name='accept-cookies' value='marketing')
                span.l-gdpr-switch__on(aria-hidden='true') ON
                span.l-gdpr-switch__off(aria-hidden='true') OFF
                span.l-gdpr-switch__toggle
        p
          | Marketing Cookies collect information about your browsing habits and enable us to show you adverts whilst you browse our Websites and other online sites. These Cookies may be set by us or our third party partners to understand the performance of our marketing activities, understand the way you interact with our marketing campaigns, and to improve the relevance of the adverts that you receive.
          br
          br
          | 				Marketing Cookies on our Websites, as well as those contained within marketing emails you have signed up to, may include pixels and web beacons. The unique identifiers in these technologies enable us to recognize when you open our emails, which content you have interacted with on our Websites and email marketing materials, your IP address or other unique identifier, and the date and time of your interactions with our content. We use the data in these Cookies to create reports about how our email marketing campaigns perform. If unique identifiers are combined with other Cookie information held on your device, it could be used to create a profile that identifies users of our Websites. You can find out more information about tracking used by SEGA SAMMY HOLDINGS INC. (“SSHD”) in our 
          a.inline.underlined(href='/english/etc/privacypolicy/') Privacy Policy
          | .
          br
          br
          | 				You may be able to interact with third party social networking sites from our Websites, for instance by clicking “Like” or “Share” using the social sharing plugins. You should refer to the privacy policies of these third party platforms (such as Facebook and Twitter) to find out more about how they process data about you, and/or to opt-out from the Cookies that these third parties serve. SSHD shall not be responsible for your use of and/or interactions with third party websites.
          br
          br
          | 				Retention period – max 12 months.
      p.l-gdpr-settings__closer.js-gdpr-closer
        a(href='')
          span Close
  .l-gdpr__toggle.js-gdpr-toggle
    a(href='')
      span Settings
