.c-landscape-alert.js-landscape-alert(hidden)
    .c-landscape-alert__inner
        .c-landscape-alert__image
            img(src=`${config.assets_link}` + "images/landscape-phone.svg" alt="スマートフォンを横向きから縦向きにするジェスチャーを示す画像")
        p.c-landscape-alert__text
            strong
                | 申し訳ございません。
                br
                | 横位置には対応しておりませんので、
                br
                | 縦向きにしてご覧ください。