div.c-mv-banner#js-briefing-banner-mv
    a(href=`${config.page_link}` + "event/index.html")
        img(src=`${config.assets_link}` + "images/mv-banner.svg" alt="")
        div.text-block
            span.title
                |Briefing for
                br
                |Individual Investors
            div.event-date Event Date: 
                time