// -------------------------------------------------------------------
//  variables.scss
// -------------------------------------------------------------------

// BreakPoint-Width
// -------------------------------------------------------------------
$CONTENT_WIDTH: 960px;
$BREAK_POINT_SP: 980px;
$BREAK_POINT_TABLET: 980px;
$BREAK_POINT_TABLET_SMALL: 640px;

// Font
// -------------------------------------------------------------------
$BASE_FONT_SIZE: 14;
$BASE_LINE_HEIGHT: 1.5;
$BASE_FONT_FAMILY: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;

// Web Font
// -------------------------------------------------------------------
$FONT_BARLOW: 'Barlow', sans-serif;
$FONT_RALEWAY: 'Raleway', sans-serif;
$FONT_ZENKAKU: 'Zen Kaku Gothic New', sans-serif;


// Common Color
// -------------------------------------------------------------------
$BASE_TEXT_COLOR: #323232;
$LIGHT_TEXT_COLOR: #666666;
$BASE_GARY:#f2f9fb;
$LIGHT_GRAY:#f2f6f6;
$DARK_GRAY:#555555;
$ACCENT_BLUE:#004FA2;
$ACCENT_YELLOW:#DAE700;

