<section class="p-indivTop__fv">
  <div class="p-indivTop__fvTextsWrap">
    <h1 class="p-indivTop__fvTitle">個人のお客さま向けレンタル</h1>
    <p class="p-indivTop__fvText">現金だけで無く、<br>クレジットカードでもお支払い可能</p>
    <div class="p-indivTop__fvLink">
      <a href="<%= data.contactURL %>" class="c-button --em --fv">お問い合わせはこちら</a>
    </div>
  </div>
  <ul class="p-indivTop__anchorList">
    <li>
      <a href="#js-lineup" class="js-anchor-link">ラインナップ</a>
    </li>
    <li>
      <a href="#js-payment" class="js-anchor-link">手続き・支払い方法</a>
    </li>
    <li>
      <a href="#js-faq" class="js-anchor-link">Q&A</a>
    </li>
  </ul>
</section>