div.c-archive-toggle-button.u-lg_mg-bt-60
    div.c-archive-toggle-button__toggle#js-archive-toggle-trigger
        span アーカイブ一覧を見る
            img(src=`${config.assets_link}` + "images/toggle-icon.svg" alt="")
    div.c-archive-toggle-button__wrapper.is-hide#js-archive-toggle-target
        div.c-archive-toggle-button__arrow
        div.c-archive-toggle-button__container
            ul.c-archive-toggle-button__container--list#js-archive-toggle-button