div.c-mv-banner#js-briefing-banner-mv
    a(href=`${config.page_link}` + "event/index.html")
        img(src=`${config.assets_link}` + "images/mv-banner.svg" alt="")
        div.text-block
            span.title 個人投資家様向け
                br
                |説明会のご案内
            div.event-date 開催日 
                time