<!DOCTYPE html>
<html lang="ja">
<%- include('../../../include/subpages/_subpageHead.ejs', {path: "../../../" ,
  title: "ESG活動データ | ESG活動 | サステナビリティ | クリーク･アンド･リバー社｜C&Rグループ" ,
  description: "ESG活動データ ESG活動。 サステナビリティ。 クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"
  }); %>

  <body>
    <%- include('../../../include/_header.ejs'); %>
      <main id="sustainability" class="subpage esg">
        <div class="breadcrumb">
          <ol class="breadcrumb__list">
            <li>
              <a href="">TOP</a>
              <span class="breadcrumb__line">/</span>
            </li>
            <li>
              <a href="">サステナビリティ</a>
              <span class="breadcrumb__line">/</span>
            </li>
            <li>
              <a href="">ESG活動</a>
              <span class="breadcrumb__line">/</span>
            </li>
            <li>
              <a href="">ESG活動データ</a>
            </li>
          </ol>
          <!-- /.breadcrumb -->
        </div>
        <div class="common-mainVisual">
          <img src="../../../images/sustainability_main.jpg" alt="ダミー">
          <h1 class="common-heading--h1">ESG活動データ<br><span></span></h1>
        </div>

        <div class="contentWrap commonSustainability sectionTop__mt">

          <p class="commonSustainability__txt">集計対象範囲：2019年2月期から2021年2月期まで、クリーク･アンド･リバー社を対象としております。<br>★2019年2月期の一部数値については、算出根拠のデータに不足があり、数値未記入の箇所がございます。</p>
          <a href="" target="_blank" class="pdfLink pdf__icon">PDFはこちら（PDF　〇〇KB）</a>
          <p class="spSwipe">※スワイプでスクロールができます。</p>
          <div class="txtBase__scrBlock mt">
            <table class="txtBase__table column6">
              <tbody>
                <tr>
                  <th class="bg bold" rowspan="6">環境</th>
                  <th class="bg"></th>
                  <th class="bg">2019年2月期</th>
                  <th class="bg">2020年2月期</th>
                  <th class="bg">2021年2月期</th>
                </tr>
                <tr>
                  <td>スコープ2（t- CO2）　※１</td>
                  <td></td>
                  <td>603</td>
                  <td>541</td>
                </tr>
                <tr class="bg">
                  <td>電力使用量（kWh）</td>
                  <td>-</td>
                  <td>1,324,801</td>
                  <td>1,171,981</td>
                </tr>
                <tr>
                  <td>水使用量（m3）</td>
                  <td>-</td>
                  <td>6,562.9</td>
                  <td>3,970.3</td>
                </tr>
                <tr class="bg">
                  <td>紙使用量（t）</td>
                  <td>-</td>
                  <td>140.3</td>
                  <td>77.6</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="txtBase__scrBlock">
            <table class="txtBase__table column6">
              <tbody>
                <tr>
                  <th class="bg bold" rowspan="38">社会　※2</th>
                  <th class="bg"></th>
                  <th class="bg"></th>
                  <th class="bg">2019年2月期</th>
                  <th class="bg">2020年2月期</th>
                  <th class="bg">2021年2月期</th>
                </tr>
                <tr>
                  <td class="preWrap" rowspan="4">従業員数：男女の割合及び女性比率</td>
                  <td>全体（人）</td>
                  <td>825</td>
                  <td>872</td>
                  <td>926</td>
                </tr>
                <tr>
                  <td>男性（人）</td>
                  <td>469</td>
                  <td>483</td>
                  <td>498</td>
                </tr>
                <tr>
                  <td>女性（人）</td>
                  <td>356</td>
                  <td>389</td>
                  <td>428</td>
                </tr>
                <tr>
                  <td>女性比率（%）</td>
                  <td>43.1</td>
                  <td>44.6</td>
                  <td>46.2</td>
                </tr>

                <tr class="bg">
                  <td rowspan="4">管理職数（人）※３</td>
                  <td>全体</td>
                  <td>114</td>
                  <td>127</td>
                  <td>133</td>
                </tr>
                <tr class="bg">
                  <td>男性</td>
                  <td>85</td>
                  <td>95</td>
                  <td>94</td>
                </tr>
                <tr class="bg">
                  <td>女性</td>
                  <td>29</td>
                  <td>32</td>
                  <td>39</td>
                </tr>
                <tr class="bg">
                  <td>女性比率（%）</td>
                  <td>25.4</td>
                  <td>25.2</td>
                  <td>29.3</td>
                </tr>

                <tr>
                  <td rowspan="3">女性管理職内訳（人［%］）</td>
                  <td>取締役・監査役</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>部長職以上</td>
                  <td>10</td>
                  <td>11</td>
                  <td>11</td>
                </tr>
                <tr>
                  <td>マネージャー</td>
                  <td>19</td>
                  <td>20</td>
                  <td>19</td>
                </tr>

                <tr class="bg">
                  <td class="preWrap" rowspan="4">国内における採用数：男女の割合</td>
                  <td>全体</td>
                  <td>183</td>
                  <td>168</td>
                  <td>142</td>
                </tr>
                <tr class="bg">
                  <td>男性</td>
                  <td>103</td>
                  <td>68</td>
                  <td>59</td>
                </tr>
                <tr class="bg">
                  <td>女性</td>
                  <td>80</td>
                  <td>100</td>
                  <td>83</td>
                </tr>
                <tr class="bg">
                  <td>女性比率（%）</td>
                  <td>43.7</td>
                  <td>59.5</td>
                  <td>58.4</td>
                </tr>

                <tr>
                  <td rowspan="4">新卒採用数（人）</td>
                  <td>全体</td>
                  <td>23</td>
                  <td>28</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>男性</td>
                  <td>8</td>
                  <td>10</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>女性</td>
                  <td>15</td>
                  <td>18</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td>女性比率（%）</td>
                  <td>65.2</td>
                  <td>64.2</td>
                  <td>72</td>
                </tr>

                <tr class="bg">
                  <td>障がい者雇用数（人）</td>
                  <td></td>
                  <td>32</td>
                  <td>42</td>
                  <td>48</td>
                </tr>

                <tr>
                  <td rowspan="3">平均年齢（歳）</td>
                  <td>全体</td>
                  <td>32.1</td>
                  <td>32.7</td>
                  <td>33.1</td>
                </tr>
                <tr>
                  <td>男性</td>
                  <td>34</td>
                  <td>35</td>
                  <td>36</td>
                </tr>
                <tr>
                  <td>女性</td>
                  <td>30</td>
                  <td>30</td>
                  <td>30</td>
                </tr>

                <tr class="bg">
                  <td>平均勤続年数（年）</td>
                  <td></td>
                  <td>4.8</td>
                  <td>5.1</td>
                  <td>5.2</td>
                </tr>

                <tr>
                  <td rowspan="3">育児勤務制度利用者数</td>
                  <td>男性（人）</td>
                  <td>0</td>
                  <td>1</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>女性（人）</td>
                  <td>13</td>
                  <td>12</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td>復帰率（%）</td>
                  <td>95</td>
                  <td>93</td>
                  <td>100</td>
                </tr>

                <tr class="bg">
                  <td>リモートワーク率</td>
                  <td></td>
                  <td>-</td>
                  <td>68.3</td>
                  <td>42.9</td>
                </tr>

                <tr>
                  <td class="preWrap">有給休暇取得率（一人当たり平均）（%）</td>
                  <td></td>
                  <td>46.6</td>
                  <td>47.9</td>
                  <td>48.8</td>
                </tr>

                <tr class="bg">
                  <td class="preWrap">月間総労働時間（一人当たり平均）（時間）</td>
                  <td></td>
                  <td>169.4</td>
                  <td>164.5</td>
                  <td>164.7</td>
                </tr>

                <tr>
                  <td class="preWrap">年間所定外労働時間（一人当たり平均）（時間）</td>
                  <td></td>
                  <td>16.6</td>
                  <td>13.8</td>
                  <td>15.2</td>
                </tr>

                <tr class="bg">
                  <td>労働災害発生度数率（%）</td>
                  <td></td>
                  <td>0.7</td>
                  <td>0.4</td>
                  <td>0.4</td>
                </tr>

                <tr>
                  <td>定期健康診断受診率（%）※４</td>
                  <td></td>
                  <td>97.1</td>
                  <td>94.4</td>
                  <td>97.4</td>
                </tr>

                <tr class="bg">
                  <td class="preWrap">法執行機関からのユーザー情報開示請求件数（件）</td>
                  <td></td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>

                <tr>
                  <td class="preWrap">情報開示請求を受けたユーザー数（件）</td>
                  <td></td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>

                <tr class="bg">
                  <td class="preWrap">研修数（情報セキュリティ関連） ※４</td>
                  <td></td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>

                <tr>
                  <td>規格認証　※５</td>
                  <td>プライバシーマーク</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>

              </tbody>
            </table>
            
          </div>


          <div class="txtBase__scrBlock">
            <table class="txtBase__table column6">
              <tbody>
                <tr>
                  <th class="bg bold" rowspan="13">ガバナンス</th>
                  <th class="bg"></th>
                  <th class="bg"></th>
                  <th class="bg">2019年2月期</th>
                  <th class="bg">2020年2月期</th>
                  <th class="bg">2021年2月期</th>
                </tr> 
                <tr>
                  <td rowspan="3">取締役人数（人）</td>
                  <td>全体（人）</td>
                  <td>7</td>
                  <td>7</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>女性</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>独立社外</td>
                  <td>3</td>
                  <td>3</td>
                  <td>3</td>
                </tr>

                <tr class="bg">
                  <td rowspan="3">監査役人数（人）</td>
                  <td>全体</td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                </tr>
                <tr class="bg">
                  <td>女性</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr class="bg">
                  <td>独立社外</td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>

                
                <tr>
                  <td>独立取締役比率（%）</td>
                  <td></td>
                  <td>42.8</td>
                  <td>42.8</td>
                  <td>42.8</td>
                </tr>

                <tr class="bg">
                  <td>独立監査役比率（%）</td>
                  <td></td>
                  <td>50</td>
                  <td>50</td>
                  <td>50</td>
                </tr>

                <tr>
                  <td>取締役報酬総額（百万円）</td>
                  <td></td>
                  <td>81</td>
                  <td>67</td>
                  <td>61</td>
                </tr>
                
                <tr class="bg">
                  <td>監査役報酬総額（百万円）</td>
                  <td></td>
                  <td>17</td>
                  <td>17</td>
                  <td>17</td>
                </tr>

                <tr>
                  <td>内部通報件数（件）</td>
                  <td></td>
                  <td>9</td>
                  <td>9</td>
                  <td>9</td>
                </tr>


              </tbody>
            </table>
          </div>

          <p class="commonSustainability__note">
            ※１：電気事業者別排出係数（特定排出者の温室効果ガス排出量算定用）によって算出 <br>
            ※２：C&R社　正社員を対象<br>
            ※３：チームリーダーを含む<br>
            ※４：契約社員、派遣社員を含む<br>
            ※５：審査機関：JIPDEC、登録番号：10860704（08）
          </p>

        </div>

        <%- include('../../../include/subpages/_sustainabilityLink.ejs',); %>

      </main>
      <%- include('../../../include/_footer.ejs'); %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
          $('body').on('click', '.anchor-link', function(){
    		let link_id = $(this).attr('href');
            $('html,body').animate({scrollTop: $(link_id).offset().top - 100 },'slow');
    	
    })
        </script>
  </body>

</html>