<!DOCTYPE html>
<html lang="ja">
  <%- include('../../../include/subpages/_subpageHead.ejs', {path: "../../../",title: "企業理念", description: "企業理念。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../../include/_header.ejs'); %>
    <main id="logoguide" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="/">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../../">企業・グループ情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">企業理念</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>コーポレートロゴについて</a>
            <span class="breadcrumb__line">/</span>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="logoguide-heading">
        <h1 class="logoguide-heading--h1">コーポレートロゴ<br class="pc">について<br><span></span></h1>
      </div>
      <div class="contentWrap md">
        <section id="logoguideMain">
          <section id="belong" class="contentSec">
            <h2 class="contentTtl">ロゴの権利帰属</h2>
            <p class="leadTxt">当社ロゴに関する一切の権利（著作権、商標権等含む）は、すべて当社に帰属します。</p>
          </section>
          <section id="usable" class="contentSec">
            <h2 class="contentTtl">ロゴの利用</h2>
            <p class="leadTxt">当社の許諾なしにロゴマーク、ロゴ及びロゴタイプを使用することは出来ません。<br>使用を希望する場合は、利用者、利用者連絡先、利用目的、利用期間、利用媒体、利用範囲を明記し、株式会社クリーク･アンド･リバー社経営企画部までお問い合せください。利用の可否は追ってご連絡いたします。</p>
          </section>
          <section id="origin" class="contentSec">
            <h2 class="contentTtl">ロゴマークの意味</h2>
            <div class="originBlk flex">
              <div class="origin__design">
                <h3 class="blockTtl -uLine">ロゴマークデザイン</h3>
                <p class="leadTxt">すべてが始まった、宇宙のビッグバンを表現しています。</p>
              </div>
              <div class="origin__image mt_40">
                <img src="../../../images/about_us/logoguide_logo_image.png" alt="ロゴイメージ" width="100%">
              </div>
              <div class="origin__english">
                <h3 class="blockTtl -uLine mt_60">ロゴマーク内の英文</h3>
                <p class="leadTxt">In the universe, infinite numbers of nebulous whirls are contin uously being born and dying.<br>We follow the birth of the whirls and attempt to ascertain how the stars come into being.</p>
                <dl>
                  <dt class="leadTxt">英文の解釈</dt>
                  <dd class="bodyTxt">ビッグバンから138億年。<br>今、この瞬間も宇宙は成長を続けています。無数に点在する星の一つひとつがまったく違った歴史を持ち、未来を描きつづけています。生命の源である星の誕生。その瞬間のエネルギーは人知をはるかに超えるものです。静から動への瞬間。無限の成長を内に秘め、今まさに誕生しようとするその瞬間。永遠の時の流れの中で、無限の可能性を秘め、やがて世界の人々の頭上に燦然と輝く夢と希望の星へと成長していくその誕生の瞬間。クリーク・アンド・リバー社のロゴマークは、終わり無き無限大の前進をめざし、その瞬間の莫大なエネルギーの象徴を表現したものなのです。</dd>
                </dl>
              </div>
            </div>
          </section>
          <section id="pattern" class="contentSec">
            <h2 class="contentTtl">使用可能なロゴ</h2>
            <p class="leadTxt">使用可能なロゴは、原則として次の４つです。<br><span class="em">ロゴマーク+ロゴタイプ（縦組み）</span>を基本形としています。</p>
            <ul class="pattern__type">
              <li class="pattern__basic">
                <p class="typeTtl">ロゴマーク＋ロゴタイプ（縦組み）</p>
                <img src="../../../images/about_us/logoguide_logo_type1.png" alt="ロゴマーク＋ロゴタイプ（縦組み）" width="100%">
              </li>
              <li class="pattern__other">
                <ul>
                  <li>
                    <p class="typeTtl">ロゴマークのみ</p>
                    <img src="../../../images/about_us/logoguide_logo_type2.png" alt="ロゴマークのみ" width="100%">
                  </li>
                  <li>
                    <p class="typeTtl">ロゴマーク＋ロゴタイプ（横組み）</p>
                    <img src="../../../images/about_us/logoguide_logo_type3.png" alt="ロゴマーク＋ロゴタイプ（横組み）" width="100%">
                  </li>
                  <li>
                    <p class="typeTtl">ロゴタイプのみ</p>
                    <img src="../../../images/about_us/logoguide_logo_type4.png" alt="ロゴタイプのみ" width="100%">
                  </li>
                </ul>
              </li>
            </ul>
          </section>
          <section id="color" class="contentSec">
            <h2 class="contentTtl">ロゴの色規定</h2>
            <p class="leadTxt">ロゴの色は、カラーを基本とします。<br>単色の場合はCMYKカラー（単色）、モノクロも使用可能です。</p>
            <div class="color__type type__rgb">
              <h3 class="blockTtl -uLine">RGBカラー</h3>
              <ul class="colorLst">
                <li class="rgb_main"><p class="color_code">R 210  G 137  B 3<br>#D28903</p></li>
                <li class="rgb_black"><p class="color_code">R 0  G 0  B 0<br>#000000</p></li>
              </ul>
            </div>
            <div class="color__type type__dic">
              <h3 class="blockTtl -uLine">DICカラー</h3>
              <ul class="colorLst">
                <li class="dic"><p class="color_code">DIC 619<br>赤金</p></li>
              </ul>
            </div>
            <div class="color__type type__cmyk">
              <h3 class="blockTtl -uLine">CMYKカラー</h3>
              <ul class="colorLst pc">
                <li class="cmyk_main"><p class="color_code">C 24  M 53  Y 100  K 0</p></li>
                <li class="cmyk_black"><p class="color_code">C 30  M 30  Y 30  K 100</p></li>
              </ul>
              <ul class="colorLst flex">
                <li>
                  <p class="typeTtl">CMYKカラー</p>
                  <img src="../../../images/about_us/logoguide_logo_color1.png" alt="CMYKカラー" width="100%">
                  <ul class="colorLst sp">
                    <li class="cmyk_main"><p class="color_code">C 24  M 53  Y 100  K 0</p></li>
                    <li class="cmyk_black"><p class="color_code">C 30  M 30  Y 30  K 100</p></li>
                  </ul>
                </li>
                <li>
                  <p class="typeTtl">CMYKカラー（単色）</p>
                  <img src="../../../images/about_us/logoguide_logo_color2.png" alt="CMYKカラー（単色）" width="100%">
                  <ul class="colorLst sp">
                    <li class="cmyk_main"><p class="color_code">C 24  M 53  Y 100  K 0</p></li>
                  </ul>
                </li>
                <li>
                  <p class="typeTtl">モノクロ</p>
                  <img src="../../../images/about_us/logoguide_logo_color3.png" alt="モノクロ" width="100%">
                  <ul class="colorLst sp">
                    <li class="cmyk_black"><p class="color_code">C 30  M 30  Y 30  K 100</p></li>
                  </ul>
                </li>
              </ul>
            </div>
          </section>
          <section id="placement" class="contentSec">
            <h2 class="contentTtl">ロゴの基本展開</h2>
            <p class="leadTxt">カラーを使用する場合の展開推奨例</p>
            <ul class="color__type flex">
              <li>
                <p class="typeTtl">カラー</p>
                <img src="../../../images/about_us/logoguide_color_type1.jpg" alt="カラー" width="100%">
              </li>
              <li>
                <p class="typeTtl">白抜きの場合</p>
                <img src="../../../images/about_us/logoguide_color_type2.jpg" alt="白抜きの場合" width="100%">
              </li>
              <li>
                <p class="typeTtl">白抜きの場合</p>
                <img src="../../../images/about_us/logoguide_color_type3.jpg" alt="白抜きの場合" width="100%">
              </li>
              <li>
                <p class="typeTtl">背景色が黒系の場合</p>
                <img src="../../../images/about_us/logoguide_color_type4.jpg" alt="背景色が黒系の場合" width="100%">
              </li>
            </ul>
            <p class="leadTxt mt_60">カラーを使用できない場合のモノクロ例</p>
            <ul class="color__type flex">
              <li>
                <p class="typeTtl">モノクロ</p>
                <img src="../../../images/about_us/logoguide_color_type5.jpg" alt="モノクロ" width="100%">
              </li>
              <li>
                <p class="typeTtl">白抜きの場合</p>
                <img src="../../../images/about_us/logoguide_color_type6.jpg" alt="白抜きの場合" width="100%">
              </li>
              <li>
                <p class="typeTtl">白抜きの場合</p>
                <img src="../../../images/about_us/logoguide_color_type7.jpg" alt="白抜きの場合" width="100%">
              </li>
            </ul>
          </section>
          <section id="background" class="contentSec">
            <h2 class="contentTtl">背景色の規定</h2>
            <p class="leadTxt">ロゴは、背景色と同化し視認性が大きく損なわれないこと、ハレーション（ちらつき、不快感等）が起こらないことを条件に、背景色との組み合わせが可能です。下図の表示可、不可の判断を目安に実際の色調で判断してください。<br>また、背景色が黒系の際はカラー（単色）を推奨とするが、十分認識できる場合に限ってカラー（ロゴマーク＋ロゴタイプ（縦組み））の使用も認める。</p>
            <div class="background__image">
              <img src="../../../images/about_us/logoguide_background__image.jpg" alt="背景色の規定" width="100%">
            </div>
            <p class="note">※背景色が黒系の場合はカラー（単色）を使用する</p>
          </section>
          <section id="isolation" class="contentSec">
            <h2 class="contentTtl">ロゴのアイソレーション規定</h2>
            <p class="leadTxt">ロゴの表示は独立性、識別性をもって行うことが重要です。表示する際にはその周辺に一定のアイソレーションを設け、この領域内には他のデザイン要素や文字などは表示してはいけません。確保すべき最小限の保護エリアですが、表示にあたっては可能な限り大きな余白スペースを設けるよう配慮してください。</p>
            <ul class="isolation__type">
              <li class="isolation__basic">
                <p class="typeTtl">ロゴマーク＋<br>ロゴタイプ（縦組み）</p>
                <img src="../../../images/about_us/logoguide_isolation_type1.png" alt="ロゴマーク＋ロゴタイプ（縦組み）" width="100%">
              </li>
              <li>
                <p class="typeTtl">ロゴマークのみ</p>
                <img src="../../../images/about_us/logoguide_isolation_type2.png" alt="ロゴマークのみ" width="100%">
              </li>
              <li>
                <p class="typeTtl">ロゴマーク＋<br>ロゴタイプ（横組み）</p>
                <img src="../../../images/about_us/logoguide_isolation_type3.png" alt="ロゴマーク＋ロゴタイプ（横組み）" width="100%">
              </li>
              <li>
                <p class="typeTtl">ロゴタイプのみ</p>
                <img src="../../../images/about_us/logoguide_isolation_type4.png" alt="ロゴタイプのみ" width="100%">
              </li>
            </ul>
          </section>
          <section id="size" class="contentSec">
            <h2 class="contentTtl">最小使用サイズの規定</h2>
            <p class="leadTxt"><span class="bold">ロゴの視認性を確保するための最小サイズ設定</span><br>印刷する際、ロゴの表示は視認性を確保するため、最小サイズ設定を厳守し、スペースがある場合は、可能な限り大きさを保って使用してください。</p>
            <ul class="size__type flex">
              <li>
                <p class="typeTtl">ロゴマーク＋<br>ロゴタイプ（縦組み）</p>
                <img src="../../../images/about_us/logoguide_size_type1.png" alt="ロゴマーク＋ロゴタイプ（縦組み）" width="100%">
              </li>
              <li>
                <p class="typeTtl">ロゴマークのみ</p>
                <img src="../../../images/about_us/logoguide_size_type2.png" alt="ロゴマークのみ" width="100%">
              </li>
              <li>
                <p class="typeTtl">ロゴマーク＋<br>ロゴタイプ（横組み）</p>
                <img src="../../../images/about_us/logoguide_size_type3.png" alt="ロゴマーク＋ロゴタイプ（横組み）" width="100%">
              </li>
              <li>
                <p class="typeTtl">ロゴタイプのみ</p>
                <img src="../../../images/about_us/logoguide_size_type4.png" alt="ロゴタイプのみ" width="100%">
              </li>
            </ul>
          </section>
          <section id="group" class="contentSec">
            <h2 class="contentTtl">グループロゴの規定</h2>
            <p class="leadTxt"><span class="bold">C&R GROUPのロゴガイドライン</span><br>C&R GROUPロゴは、株式会社クリーク･アンド･リバー社のロゴガイドラインと原則同様とします。ロゴの色規定、ロゴのアイソレーション規定、ロゴの最小使用サイズの規定は、ガイドラインに従って使用してください。</p>
            <ul class="group__type type__vertical flex">
              <li>
                <p class="typeTtl">カラー（縦組み）</p>
                <img src="../../../images/about_us/logoguide_group_type1.png" alt="ロゴマーク＋ロゴタイプ（縦組み）" width="100%">
              </li>
              <li>
                <p class="typeTtl">モノクロ（縦組み）</p>
                <img src="../../../images/about_us/logoguide_group_type2.png" alt="ロゴマークのみ" width="100%">
              </li>
            </ul>
            <ul class="group__type type__horizontal flex">
              <li>
                <p class="typeTtl">カラー（横組み）</p>
                <img src="../../../images/about_us/logoguide_group_type3.png" alt="ロゴマーク＋ロゴタイプ（横組み）" width="100%">
              </li>
              <li>
                <p class="typeTtl">モノクロ（横組み）</p>
                <img src="../../../images/about_us/logoguide_group_type4.png" alt="ロゴタイプのみ" width="100%">
              </li>
            </ul>
            <div class="group__type__wrap">
              <div class="group__type type__rgb">
                <h3 class="blockTtl -uLine">RGBカラー</h3>
                <ul class="colorLst">
                  <li class="rgb_main"><p class="color_code">R 210  G 137  B 3<br>#D28903</p></li>
                  <li class="rgb_black"><p class="color_code">R 0  G 0  B 0<br>#000000</p></li>
                </ul>
              </div>
              <div class="group__type type__cmyk">
                <h3 class="blockTtl -uLine">CMYKカラー</h3>
                <ul class="colorLst">
                  <li class="cmyk_main"><p class="color_code">C 24  M 53  Y 100  K 0</p></li>
                  <li class="cmyk_monoblack"><p class="color_code">K 100</p></li>
                </ul>
              </div>
              <div class="group__type type__dic">
                <h3 class="blockTtl -uLine">DICカラー</h3>
                <ul class="colorLst">
                  <li class="dic"><p class="color_code">DIC 619<br>赤金</p></li>
                </ul>
              </div>
            </div>
            <div class="group__type type__image">
              <div class="group__isolation">
                <img src="../../../images/about_us/logoguide_group_image1.png" alt="グループロゴ" width="100%">
                <img src="../../../images/about_us/logoguide_group_image2.png" alt="グループロゴサイズ" width="100%">
              </div>
              <div class="group__size flex">
                <img src="../../../images/about_us/logoguide_group_image3.png" alt="グループロゴ" width="100%">
                <img src="../../../images/about_us/logoguide_group_image4.png" alt="グループロゴサイズ" width="100%">
              </div>
            </div>
          </section>
          <section id="text" class="contentSec">
            <h2 class="contentTtl">テキストでの表記ルール</h2>
            <p class="leadTxt"><span class="bold">使用可能な社名表記と禁止例</span><br>社名をテキストで使用する場合は、下の社名表記に従って使用してください。社名表記（日本語）を使用する場合は、クリーク･アンド･リバー社の「･」は必ず半角でお願いします。株式会社とクリークの間はスペースや半角を開けずに使用してください。<br>英語文章中での表記は初回出現時は「Creek & River Co., Ltd.」、2回目以降「Creek & River」「C&R」と略称を可とします。同様に英語文章中で「C&R GROUP」を「C&R Group」と表記することも可とします。右の社名表記以外は原則禁止とします。</p>
            <ul class="text__type">
              <li>
                <p class="typeTtl">社名表記（日本語）</p>
                <p class="text__rule">株式会社クリーク<span class="halfsize">･</span>アンド<span class="halfsize">･</span>リバー社</p>
              </li>
              <li>
                <p class="typeTtl">社名表記（英語）</p>
                <p class="text__rule">CREEK<span class="halfsize"> </span>&<span class="halfsize"> </span>RIVER<span class="halfsize"> </span>Co.,<span class="halfsize"> </span>Ltd.</p>
                <p class="note mt_40">※英語文章中のみ「Creek & River Co., Ltd.」「Creek & River」「C&R」を使用可とします。</p>
              </li>
              <li>
                <p class="typeTtl">社名表記を短縮表記</p>
                <p class="text__rule">C&R社</p>
                <p class="note">※文章内に「株式会社クリーク･アンド･リバー社」もしくは「CREEK & RIVER Co., Ltd.」と既に一度出現している場合に限る。</p>
              </li>
              <li>
                <p class="typeTtl">グループ名表記（日本語）</p>
                <p class="text__rule">C&Rグループ</p>
              </li>
              <li>
                <p class="typeTtl">グループ名表記（英語）</p>
                <p class="text__rule">C&R<span class="halfsize"> </span>GROUP</p>
                <p class="note mt_40">※英語文章中のみ「C&R Group」を使用可とします。</p>
              </li>
            </ul>
          </section>
          <section id="misuse" class="contentSec">
            <h2 class="contentTtl">ロゴの使用禁止例</h2>
            <p class="leadTxt">ロゴを表示する上で誤りがちな使用例を表示しています。<br>一貫したブランドコミュニケーション展開を行うためにも、ロゴの誤用は避けてください。</p>
            <div class="misuse__image">
              <img src="../../../images/about_us/logoguide_misuse_image.jpg" alt="ロゴの使用禁止例" width="100%">
            </div>
          </section>
        </section>
        <p class="responsible">株式会社クリーク･アンド･リバー社<br class="pc">経営企画部</p>
      </div> 
    </main>
    <%- include('../../../include/_footer.ejs'); %>
  </body>
</html>