<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "取引先企業一覧 | クリーク･アンド･リバー社｜C&Rグループ", description: "取引先企業一覧。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="clients" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">企業・グループ情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>取引先企業一覧</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <!-- <section class="kv kvTxt">
        <h1 class="kv__ttl">取引先企業一覧</h1>
        <span class="kv__line"></span>
      </section> -->
      <h1 class="newsDetail__mainHeading">取引先企業一覧</h1>
      <div class="contentWrap md">
        <section class="clients">
          <div class="clients__blk">
            <h3 class="common-heading--h3">TV・映像関連</h3>
            <div class="common-heading--h3__underLine"></div>
            <ul class="clients__list">
              <li>日本放送協会</li>
              <li>日本テレビ放送網</li>
              <li>TBSテレビ</li>
              <li>フジテレビジョン</li>
              <li>テレビ朝日</li>
              <li>テレビ東京</li>
              <li>関西テレビ放送</li>
              <li>テレビ大阪</li>
              <li>讀賣テレビ放送</li>
              <li>アサヒ放送</li>
              <li>毎日放送</li>
              <li>東海テレビ放送</li>
              <li>名古屋テレビ放送</li>
              <li>中京テレビ放送</li>
              <li>テレビ愛知</li>
              <li>日テレ アックスオン</li>
              <li>共同テレビジョン</li>
              <li>テレビ朝日映像</li>
              <li>ケイマックス</li>
              <li>東北新社</li>
              <li>ピラミッドフィルム</li>
              <li>太陽企画</li>
              <li>IMAGICA</li>
              <li>テクノマックス</li>
              <li>ヴェルト</li>
              <li>アマゾンジャパン</li>
              <li>HJホールディングス</li>
              <li>AbemaTV</li>
              <li>Bytedance</li>
              <li>ワンメディア</li>
              <li>CyberZ</li>
            </ul>
          </div>
          <div class="clients__blk">
            <h3 class="common-heading--h3">コンシューマ―ゲーム・ソーシャルゲーム・遊技機関連</h3>
            <div class="common-heading--h3__underLine"></div>
            <ul class="clients__list">
              <li>セガゲームス</li>
              <li>コーエーテクモゲームス</li>
              <li>コナミデジタルエンタテインメント</li>
              <li>モノリスソフト</li>
              <li>ソニー･インタラクティブエンタテインメント</li>
              <li>スクウェア･エニックス</li>
              <li>バンダイナムコエンターテインメント</li>
              <li>アトラス</li>
              <li>ゲームフリーク</li>
              <li>NTTドコモ</li>
              <li>カプコン</li>
              <li>ディー･エヌ･エー</li>
              <li>グリー</li>
              <li>LINE</li>
              <li>QualiArts</li>
              <li>ガンホー･オンライン･エンターテイメント</li>
              <li>サイバード</li>
              <li>NHN PlayArt</li>
              <li>Cygames</li>
              <li>アカツキ</li>
              <li>コロプラ</li>
              <li>モブキャスト</li>
              <li>gumi</li>
              <li>ザッパラス</li>
              <li>ミクシィ</li>
              <li>KADOKAWA</li>
              <li>他遊技機メーカー、遊技機開発会社各社</li>
            </ul>
          </div>
          <div class="clients__blk">
            <h3 class="common-heading--h3">Web関連</h3>
            <div class="common-heading--h3__underLine"></div>
            <ul class="clients__list">
              <li>日本マイクロソフト</li>
              <li>ヤフー</li>
              <li>パーソルキャリア</li>
              <li>ぐるなび</li>
              <li>サイバーエージェント</li>
              <li>ベネッセコーポレーション</li>
              <li>楽天</li>
              <li>森ビル</li>
              <li>ソニーネットワークコミュニケーションズ</li>
              <li>ハウステンボス</li>
              <li>KDDI</li>
              <li>アサヒ飲料</li>
              <li>リクルートホールディングス</li>
              <li>資生堂</li>
              <li>クックパッド</li>
              <li>イオンドットコム</li>
              <li>アスクル</li>
              <li>ライフネット生命保険</li>
              <li>ディノス･セシール</li>
              <li>アマゾンジャパン</li>
              <li>グーグル</li>
              <li>サムスン電子ジャパン</li>
              <li>ソニー</li>
              <li>LINE</li>
              <li>サントリーマーケティング＆コマース</li>
              <li>SBI証券</li>
            </ul>
          </div>
          <div class="clients__blk">
            <h3 class="common-heading--h3">広告・出版・SP関連</h3>
            <div class="common-heading--h3__underLine"></div>
            <ul class="clients__list">
              <li>電通</li>
              <li>電通テック</li>
              <li>電通デジタル</li>
              <li>アサツー ディ･ケイ</li>
              <li>千趣会</li>
              <li>共同印刷</li>
              <li>講談社</li>
              <li>集英社</li>
              <li>KADOKAWA</li>
              <li>文藝春秋</li>
              <li>新潮社</li>
              <li>PHP研究所</li>
              <li>日経BP</li>
              <li>紀伊國屋書店</li>
              <li>凸版印刷日本経済新聞社</li>
              <li>博報堂</li>
              <li>明治大学</li>
              <li>一橋大学</li>
              <li>東京大学</li>
              <li>読売新聞東京本社</li>
              <li>高島屋</li>
              <li>住友不動産</li>
              <li>東急不動産</li>
            </ul>
          </div>
          <p class="clients__bottomTxt">※順不同　2021.05​</p>
        </section>
      </div>
      <!-- <%- include('../../include/subpages/_serviceLinks.ejs',); %> -->
    </main>
    <%- include('../../include/_footer.ejs'); %>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</html>