// -------------------------------------------------------------------
//  state.scss
// -------------------------------------------------------------------
@use "../helpers/mediaquery" as med;

.is-sp {
  @include med.media(pc) {
    display: none;
  }
  @include med.media(tb) {
    display: none;
  }
}
.is-pc {
  @include med.media(sp) {
    display: none;
  }
}
