// -------------------------------------------------------------------
//  top.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mediaquery" as med;

$TOP_BASE_FONT_SIZE: 26px;
$TOP_BASE_FONT_SIZE_SP: 4vw;

.p-top {
  // intro
  &__intro {
    padding: 100px 0 40px;
    @include med.media(sp) {
      padding: 5.3vw 4vw;
    }
  }

  &__logo {
    position: absolute;
    left: -135px;
    top: -55px;
    @include med.media(sp) {
      position: static;
      margin-left: 4vw;
    }
  }

  &__introInner {
    position: relative;
    width: 690px;
    margin: auto;
    @include med.media(sp) {
      width: 100%;
    }
  }

  &__introTitle {
    text-align: center;

    > img {
      width: 435px;
      @include med.media(sp) {
        width: 84.5%;
      }   
    }

    @include med.media(sp) {
      margin-top: 7.3vw;
    }
  }

  &__heading {
    margin-top: 40px;
    text-align: center;
    > img {
      width: 100%;
    }
    @include med.media(sp) {
      margin-top: 4vw;
    }
  }

  &__mainImg {
    width: 530px;
    margin: 50px auto 0;
    @include med.media(sp) {
      width: 91.3%;
      margin-top: 6.4vw;
    }
  }

  &__dotsImg {
    margin-top: 40px;
    text-align: center;
    > img {
      width: 8px;
    }
  }

  &__introTexts {
    width: 530px;
    margin: 40px auto 0;
    > p {
      font-family: var.$LIGHT_FONT_FAMILY;
      font-size: $TOP_BASE_FONT_SIZE;
      line-height: 2;
      letter-spacing: 1.48px;
      @include med.media(sp) {
        font-size: $TOP_BASE_FONT_SIZE_SP;
        letter-spacing: 0.16vw;
      }
    }

    @include med.media(sp) {
      width: 100%;
      margin-top: 8vw;
      padding-left: 8.4vw;
    }
  }

  &__guideArea {
    margin-top: 60px;
    @include med.media(sp) {
      margin-top: 12vw;
    }
  }

  &__guideText {
    text-align: center;
    color: var.$ACCENT_TEXT_COLOR;
    font-family: var.$EM_FONT_FAMILY;
    font-size: 35px;
    line-height: 1.45;
    letter-spacing: 5.25px;
    @include med.media(sp) {
      font-size: 5.33vw;
      letter-spacing: 0.586vw;
      line-height: 1.27;
    }
  }

  &__guideArrow {
    text-align: center;
    margin-top: 20px;

    @include med.media(sp) {
      margin-top: 2.65vw;
    }

    > img {
      width: 72px;
      @include med.media(sp) {
        width: 10.65vw;
      }
    }
  }
  // Menu
  &__menuArea {
    background-image: var.$BG_TEXTURE;
    background-size: cover;
    padding: 100px 0 120px;
    @include med.media(sp) {
      padding:21.33vw 12%;
    }
  }

  &__menuHeading {
    text-align: center;
    > img {
      width: 152px;
      @include med.media(sp) {
        width: 20.4vw;
      }
    }
  }

  &__menuItemWrap {
    display: flex;
    width: 960px;
    margin: 60px auto 0;
    justify-content: space-between;
    @include med.media(sp) {
      display: block;
      width: 100%;
      margin-top: 10.65vw;
    }
  }

  &__menuItem {
    width: 440px;
    @include med.media(sp) {
      width: 100%;
    }
    > dd {
      margin-top: 25px;
    }
  }

  &__menuTerm {
    text-align: center;
    &.future {
      > img {
        width: 270px;
        @include med.media(sp) {
          width: 40vw;
        }
      }
    }

    &.thanks {
      > img {
        width: 310px;
        @include med.media(sp) {
          width: 46.65vw;
        }
      }

      @include med.media(sp) {
        margin-top: 11.33vw;
      }
    }
  }

  &__partLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > span {
      display: inline-block;
      &.partIcon {
        width: 85px;

        @include med.media(sp) {
          width: 14.65vw;
        }

        &.is-shake {
          animation: 0.2s ease-in-out shake 2 forwards;
        }
      }

      &.fukidashi {
        width: 350px;
        margin-top: 14px;

        @include med.media(sp) {
          width: 59.45vw;
          margin-top: 1.865vw;
        }

        > img {
          width: 100%;
        }
      }
    }

    &:hover {
      transition: 0.3s opacity;
      opacity: 0.5;
    }

    &.comingSoon {
      transition: none;
      opacity: 1;
    }
  }

  // CreatorInfo
  &__creator {
    width: 890px;
    background-color: #fff;
    margin: auto;
    margin-top: 100px;
    padding: 100px;
    border: 1px solid var.$ACCENT_TEXT_COLOR;
    border-radius: 4px;

    @include med.media(sp) {
      width: 92%;
      margin-top: 8vw;
      padding: 16vw 8vw;
    }

    &Name {
      text-align: center;
      > img {
        width: 220px;
        @include med.media(sp) {
          width: 29.3vw;
        }
      }
    }

    &Heading {
      margin-top: 50px;
      text-align: center;

      @include med.media(sp) {
        margin-top: 6.65vw;
      }

      > img {
        width: 590px;
        @include med.media(sp) {
          width: 100%;
        }
      }
    }

    &Texts {
      margin-top: 70px;

      > p {
        font-family: var.$LIGHT_FONT_FAMILY;
        font-size: 26px;
        line-height: 1.92;
        letter-spacing: 5.2px;
        margin-top: 54px;
        &:first-child {
          margin-top: 0;
        }

        @include med.media(sp) {
          font-size: 4vw;
          margin-top: 8vw;
          letter-spacing: 0.64vw;
          &:first-child {
            margin-top: 0;
          } 
        }
      }

      @include med.media(sp) {
        margin-top: 13.33vw;
      }
    }
  }

  &__officialText {
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
    @include med.media(sp) {
      margin-top: 13.33vw;
      font-size: 4.53vw;
    }
  }

  &__sns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include med.media(sp) {
      display: block;
      margin-top: 4vw;
    }

    &Item {
      position: relative;
      width: 215px;
      height: auto;

      @include med.media(sp) {
        width: 100%;
        margin-bottom: 4vw;
      }

      > a {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 80px;
        line-height: 80px;
        color: #fff;
        border-radius: 6px;
        background-color: var.$ACCENT_TEXT_COLOR;
        display: flex;
        align-items: center;
        justify-content: center;

        @include med.media(sp) {
          height: 16vw;
          line-height: 16vw;
        }
      }

      &.official {
        @include med.media(sp) {
          margin-bottom: 0;
        }

        > a {
          justify-content: center;
        }
      }

      &:after {
        position: absolute;
        z-index: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 6px;
        top: 3px;
        left: 3px;
        border: 2px solid #0d3993;
      }

      &:hover {
        transition: 0.3s;
        opacity: 0.5;
      }
    }

    &Icon {
      display: inline-block;
      > img {
        vertical-align: middle;
      }

      &.instagram {
        margin-right: 8px;
        > img {
          width: 22px;
          height: 22px;
          @include med.media(sp) {
            width: 6vw;
            height: auto;
          }
        }
        @include med.media(sp) {
          position: absolute;
          margin-right: 0;
          left: 6.65vw;
        }
      }

      &.twitter {
        margin-right: 8px;
        > img {
          width: 27px;
          height: 22px;
          @include med.media(sp) {
            width: 6vw;
            height: auto;
          }
        }

        @include med.media(sp) {
          position: absolute;
          margin-right: 0;
          left: 6.65vw;
        }
      }

      &.official {
        padding-left: 2px;
        > img {
          width: 18px;
          height: 18px;
          @include med.media(sp) {
            width: 3.47vw;
            height: auto;
          }
        }
      }
    }
    &Text {
      display: inline-block;
      font-family: var.$SNS_BUTTON_FONT_FAMILY;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1.8px;

      &.official {
        font-family: var.$EM_FONT_FAMILY;
        @include med.media(sp) {
          margin-right: 0.66vw;
        }
      }

      @include med.media(sp) {
        font-size: 4.53vw;
        letter-spacing: 0.4vw;
      }
    }
  }

  // Bottom
  &__bottomArea {
    width: 890px;
    margin:160px auto 0;
    padding-bottom: 30px;
    @include med.media(sp) {
      width: 92%;
      margin-top: 16vw;
      padding-bottom: 4vw;
    }
  }

  &__copyRight {
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 100px;
    @include med.media(sp) {
      margin-top: 8vw;
      font-size: 2.93vw;
      letter-spacing: 0.146vw;
    }
  }
}

// pelo_part_icon 要素が全て見えてから発火
@keyframes shake {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(0);
  }
  
  75%{
    transform: rotate(-25deg);
  }

  100%{
    transform: rotate(0);
  }
}