<div class="c-scrollTop">
  <button class="js-scrollTop-btn" type="button">
    <img src="<%= data.commonImgPath %>/scroll_top.svg" alt="TOP ↑">
  </button>
</div>

<div class="c-scrollTop--sp">
  <button class="js-scrollTop-btn" type="button">
    <img src="<%= data.commonImgPath %>/scroll_top_sp.svg" alt="TOP ↑">
  </button>
</div>