<% page = {
  title: "クッキーに関するポリシー",
  description: "",
  path: "/jpn/",
  devPath: "../",
  includePath: "../",
  jpAssetsPath: "/",
  devJpAssetsPath: "../../",
  url: "",
  name: "terms"
} %>

<!DOCTYPE html>
<html lang="ja">
  <%- include(`${page.includePath}_include/head.ejs`); %>
  <body>
    <%- include(`${page.includePath}_include/header.ejs`); %>
    <main id="js-main" class="Main" data-page="terms">
      <div id="js-hero" class="DetailHero -terms is-before">
        <div class="DetailHero__bg">
          <div class="Inner">
            <div class="DetailHero__inner">
              <h1 class="Heading"><span>クッキーに関するポリシー</span></h1>
            </div>
          </div>
        </div>
      </div>
      <div id="js-content" class="Content is-before">
        <div class="Terms">
          <div class="Terms__content">
            <div class="Inner -narrow">
              <div class="Terms__section">
                <div class="Terms__description">
                  <p>お客様のオンライン体験を向上させるため、ウーブン・バイ・トヨタ株式会社（以下、当社といいます）は、「クッキー」や「ウェブビーコン」、その他のトラッキング技術を使用しています。クッキーは、お客様のご希望の設定を保存するために、お使いのコンピューターのブラウザーに保存されるテキストファイルです。当社は、サービスやインターネットの使用状況を把握し、当社ウェブサイト上のコンテンツや提供内容、サービスを改善しカスタマイズする目的で、クッキーやその他のトラッキングテクノロジーを使用しています。</p>
                </div>
              </div>
              <section class="Terms__section">
                <h2 class="Terms__heading">当社はクッキーを以下の4つの分類で設定しています。</h2>
                <div class="Terms__description">
                  <p>必要なクッキー<br>お客様がウェブサイトの中を移動したり、その機能をご利用になるために不可欠なものです。</p>
                  <p>希望設定用クッキー<br>既に入力された情報（ユーザー名、言語の選択、お客様の所在地など）をウェブサイトが保存して、より向上され、個人に合った機能をお届けすることを可能にするもの。</p>
                  <p>統計用クッキー<br>訪問者が最もよくアクセスするページや、特定のページでユーザーに対しエラーメッセージが表示されるかどうかなど、ウェブサイトがどのように利用されているかに関する情報を収集します。</p>
                  <p>マーケティング用クッキー<br>お客様やお客様の関心に対する関連性がより高い広告やその他の通信を配信するために使用されます。これらは、お客様に対する広告の表示回数を制限したり、広告キャンペーンの効果を測定する目的にも使用されます。</p>
                </div>
              </section>
              <div class="Terms__section">
                <div class="Terms__description">
                  <p>お客様が当社のウェブサイトにアクセスされると、上述のテクノロジーおよび将来開発される同様のテクノロジーを通じて、弊社がお客様のアクティビティや、サービスや機能の使用状況をトラッキングすることに同意されたものとみなされます。</p>
                  <p>また、お客様が当社のウェブサイトをご利用になると、お客様に関する情報や、さまざまなウェブサイトおよびアプリケーションにおけるお客様の経時的なオンラインアクティビティに関する情報にアクセスできるようになる可能性があります。そのようなトラッキングテクノロジーの使用は弊社による管理の範囲外であり、それには各社独自のプライバシーポリシーが適用されます。</p>
                </div>
              </div>
              <div class="Terms__section">
                <div class="Terms__description">
                  <p>ほとんどのウェブブラウザーは、クッキーを受け入れるように設定されています。特定のクッキーを受け入れる前に警告を表示させたり、特定のクッキーを拒否するようブラウザーを設定することが可能な場合があります。ただし、お使いのウェブブラウザーでクッキーの使用を無効にすると、当社のウェブサイトの一部のサービスや機能が使用しにくくなったり正常に機能しなくなる可能性があり、お客様が弊社ウェブサイトにアクセスされる度に一部の設定を手作業で調整しなければならない場合があります。</p>
                </div>
              </div>
              <div class="Terms__section"></div>
              <!-- <script id="CookieDeclaration" src="https://consent.cookiebot.com/0926de79-6e8b-4de1-a13f-189b97241e6f/cd.js" type="text/javascript" async></script>
              <script id="CookieDeclaration" src="https://consent.cookiebot.com/6355755f-de80-4a98-a141-2a8c56fd7bf3/cd.js" type="text/javascript" async></script> -->
              <script id="CookieDeclaration" src="https://consent.cookiebot.com/6355755f-de80-4a98-a141-2a8c56fd7bf3/cd.js" type="text/javascript" async   data-georegions="{'region ':'US-06','cbid':'0926de79-6e8b-4de1-a13f-189b97241e6f'} " ></script>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include(`${page.includePath}_include/footer.ejs`); %>
    <%- include(`${page.includePath}_include/script.ejs`); %>
  </body>
</html>