// -------------------------------------------------------------------
//  variables.scss
// -------------------------------------------------------------------

// Content-Width
// -------------------------------------------------------------------
$ADJUST_SP_POINT: 640px;
$BREAK_POINT_SP: 1000px;
$BREAK_POINT_TABLET: 1024px;
$INNER_CONTENT: 89.6%;
$INNER_CONTENT_SP: 92%;
$INNER_CONTENT_SUB: 1280px;

// Font
// -------------------------------------------------------------------
$FONT_NOTO: "noto-sans-condensed", sans-serif;

// Color
// -------------------------------------------------------------------
$BASE_TEXT_COLOR: #000;
$LIGHT_TEXT_COLOR: #6A6A6A;
$ACCENT_ORANGE: #F57A1B;
$ACCENT_GREEN: #6CB9A9;
$BLOCK_BG_GRAY: #EFF4F2;
$PARTS_BG_GRAY: #EEE;
