<%
path = '../';
category = '';
page = '';
%><!DOCTYPE html>
<html lang="ja">
<%- include ../include/_meta %>
<%- include('../include/_head' ,{
  title: meta.top.title,
  description: meta.top.description,
  catTitle: meta.top.catTitle
})
%>
<body class="news-archive page-news">
<% include ../include/_old %>
<div class="wrapper">
  <% include ../include/_header %>
  <div class="contents">

			<div class="sitePath">
				<ul class="inner">
					<li class="item"><a href="/" aria-label="サイトトップへ戻る"><svg xmlns="http://www.w3.org/2000/svg" width="15.167" height="14" aria-label="Home"><path data-name="home" d="M5.833 14V9.333h3.5V14h3.558V7h2.275L7.583 0 0 7h2.275v7z" fill="#888"/></svg></a></li>
					<li class="item"><a href="/news/" aria-label="Newsの一覧へ戻る">News</a></li>
					<li class="item"><strong>ページのタイトル</strong></li>
				</ul>
			</div>

			<main>
				<article>

					<header class="news-header">
						<div class="inner">
							<div class="headline">
								<h1 class="title">ここにはニュースのタイトルが入ります。ここにはニュースのタイトルが入ります。ここにはニュースのタイトルが入ります。</h1>
								<time datetime="2020-12-24" class="date"><span>2020.12.24</span></time>
							</div>
						</div>
					</header>

					<div class="news-body articleBox">
						<div class="inner">
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。<br>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<h2>ここには大見出しが入ります。ここには大見出しが入ります。ここには大見出しが入ります。ここには大見出しが入ります。</h2>
							<figure>
								<img src="../images/dummy_article_d02.jpg" alt="aaaaa">
								<figcaption>ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。</figcaption>
							</figure>
							<p>ここには本文が入ります。<a href="">ここには本文が入ります。</a> ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<h3>ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。</h3>
							<p>ここには本文が入ります。<em>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</em>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<div class="img-multi">
								<figure>
									<img src="../images/dummy_article_d02.jpg" alt="aaaaa">
									<figcaption>ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。</figcaption>
								</figure>
								<figure>
									<img src="../images/dummy_article_d02.jpg" alt="aaaaa">
									<figcaption>ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。ここには画像のキャプションが入ります。</figcaption>
								</figure>
							</div>
							<h4>ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。</h3>
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<ul>
								<li>ここにはリストが入ります。ここにはリストが入ります。ここにはリストが入ります。ここにはリストが入ります。ここにはリストが入ります。ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
							</ul>
							<h4>ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。</h3>
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<div class="article-table-wrapper">
							<table>
								<thead>
									<tr>
										<td>テキスト</td>
										<td>テキスト</td>
										<td>テキストテキストテキスト</td>
										<td>テキスト</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>テキストテキストテキスト</th>
										<td>テキストテキストテキスト</td>
										<td>テキスト</td>
										<td>テキスト</td>
									</tr>
									<tr>
										<th>テキスト</th>
										<td>テキストテキスト</td>
										<td>テキスト</td>
										<td>テキスト</td>
									</tr>
									<tr>
										<th>テキスト</th>
										<td>テキスト</td>
										<td>テキストテキスト</td>
										<td>テキスト</td>
									</tr>
								</tbody>
							</table>
						</div>
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
							<h3>ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。ここには中見出しが入ります。</h3>
							<ul>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
								<li>ここにはリストが入ります。</li>
							</ul>
							<p>ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。ここには本文が入ります。</p>
						</div>
						</div>

 				<footer class="news-footer">
						<div class="inner">
       <div class="btn">
        <a href="/news/" class="btn-mid-back" aria-label="記事の一覧へ">
		 <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.595"><path data-name="Icon awesome-arrow-right" d="M9.2 14.55l-.8.792a.854.854 0 01-1.211 0L.247 8.403a.854.854 0 010-1.211L7.194.252a.854.854 0 011.211 0l.795.79a.858.858 0 01-.014 1.225l-4.3 4.1h10.257a.855.855 0 01.857.859v1.143a.855.855 0 01-.857.857H4.88l4.3 4.1a.852.852 0 01.02 1.224z" fill="#222"/></svg></span>
         <span class="label">一覧に戻る</span>
        </a>
       </div>
      </div>
					</footer>


				</article>
			</main>
		
			
   <% include ../include/_bnr_01 %>
  </div>
  <% include ../include/_footer %>
</div>
<% include ../include/_modal %>
<% include ../include/_script.ejs %>
</body>
</html>