<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../", title: "事業分野・サービス | クリーク･アンド･リバー社｜C&Rグループ", description: "映像。事業分野・サービス。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="service" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">事業分野・サービス</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>映像</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="serviceMv">
        <div class="serviceMv__img">
          <img class="serviceMv__img-sp" src="../../images/services/video_mv_sp.png" alt="">
          <img class="serviceMv__img-pc" src="../../images/services/video_mv_pc.png" alt="">
          <h2 class="firstMv__heading">Our<br>Professionals<br>Innovate<br>Your<br>World.</h2>
          <!-- <div id="js-slideupItem" class="firstMv__bottom is-slideup">
            <div class="firstMv__bottomInner">
                <span class="firstMv__genre" id="js-genreText">TV &amp; Movies</span>
                <p>
                    <span class="firstMv__total" id="js-genreCount">85,650</span>
                    <span class="firstMv__text">Professionals</span>
                </p>
            </div>
            <p class="firstMv__addText" id="js-creativeText">クリエィティブ領域合計</p>
          </div> -->
        </div>
        <h1 class="serviceMv__ttl">
          
        </h1>
      </section>
      <div class="contentWrap">
        <section class="serviceTop">
          <h2 class="serviceTop__ttl">
            ソリューション
            <!-- <span class="serviceTop__ctgr">クリエイティブ</span> -->
          </h2>
          <p class="serviceTop__lead">
            プロフェッショナルの叡智を掛け合わせることで、まったく新しい価値を生み出すサービスやコンテンツ、製品や商品を提供するC&Rグループのソリューション事業。
          </p>
          <div class="serviceTop__hashTagListWrap">
            <div class="serviceTop__hashTagList contentWrap">
              <a href="#xr" class="serviceTop__hashTag">＃VR教育</a>
              <a href="#xr" class="serviceTop__hashTag">＃XRコンテンツ開発</a>
              <a href="#xr" class="serviceTop__hashTag">＃VR教育</a>
              <a href="#xr" class="serviceTop__hashTag">＃自社でVRコンテンツを簡単に制作「ファストVR」</a>
              <a href="#xr" class="serviceTop__hashTag">＃XR人材紹介</a>
              <a href="#xr" class="serviceTop__hashTag">＃VR遠隔同時講義</a>
              <a href="#xr" class="serviceTop__hashTag">＃VR遠隔医療・遠隔診断</a>
              <a href="#xr" class="serviceTop__hashTag">＃VR遠隔監視</a>
              <a href="#xr" class="serviceTop__hashTag">＃保守メンテナンス</a>
              <a href="#drone" class="serviceTop__hashTag">＃ドローン活用：空撮・運搬・測量・点検・農業</a>
              <a href="#drone" class="serviceTop__hashTag">＃ドローンパイロット派遣</a>
              <a href="#ai" class="serviceTop__hashTag">＃チャットボット</a>
              <a href="#ai" class="serviceTop__hashTag">＃AIマッチングシステム</a>
              <a href="#data" class="serviceTop__hashTag">＃データドリブンマーケティング</a>
              <a href="#data" class="serviceTop__hashTag">＃データ分析</a>
              <a href="#business" class="serviceTop__hashTag">＃事業創出</a>
              <a href="#business" class="serviceTop__hashTag">＃新規事業</a>
              <a href="#business" class="serviceTop__hashTag">＃中小ものづくり企業</a>
              <a href="#media" class="serviceTop__hashTag">＃WebやDX人材専門の求人サイトメディア</a>
              <a href="#develop" class="serviceTop__hashTag">＃ゲーム開発・企画</a>
              <a href="#develop" class="serviceTop__hashTag">＃インドネシアでのオフショア開発（Web・アプリ・VR・3D）</a>
              <a href="#promotion" class="serviceTop__hashTag">＃マーケティング・プロモーション</a>
              <a href="#promotion" class="serviceTop__hashTag">＃ファッション・・・「stura」</a>
              <a href="#sns" class="serviceTop__hashTag">＃世界中の弁護士をつなぐSNS</a>
              <a href="#language" class="serviceTop__hashTag">＃専門性に特化した語学研修・レッスン</a>
            </div>
          </div>
        </section>
        <!-- <section class="network">
          <h2 class="service__commonTtl">C&Rグループネットワーク</h2>
            <dl class="network__txtbox">
              <dt class="network__name">プロフェッショナル数</dt>
              <dd class="network__txtWrap">
                <span class="network__txt">約</span>
                <span class="network__txt-large">85,650</span>
                <span class="network__txt">人</span>
              </dd>
            </dl>
            <dl class="network__txtbox">
              <dt class="network__name">クライアント数</dt>
              <dd class="network__txtWrap">
                <span class="network__txt">約</span>
                <span class="network__txt-large">15,800</span>
                <span class="network__txt">社/施設</span>
              </dd>
            </dl>
          <div class="network__company">
            <p class="network__companyTtl">担当企業</p>
            <a class="network__companyName">> 株式会社クリーク・アンド・リバー社</a>
            <a class="network__companyName -icon" href="">> 株式会社ウイング</a>
            <a class="network__companyName -icon" href="">> 株式会社forGIFT</a>
            <a class="network__companyName -icon" href="">> CREEK & RIVER ENTERTAINMENT Co., Ltd.</a>
          </div>
        </section> -->
        <section class="serviceList">
          <h2 class="service__commonTtl">ソリューション一覧</h2>

          <h3 id="xr" class="common-heading--h3">XR</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li id="03" class="serviceList__hashTag">＃VR教育</li>
            <li id="04" class="serviceList__hashTag">＃XRコンテンツ開発</li>
            <li id="05" class="serviceList__hashTag">＃VR教育</li>
            <li id="06" class="serviceList__hashTag">＃自社でVRコンテンツを簡単に制作「ファストVR」</li>
            <li id="07" class="serviceList__hashTag">＃XR人材紹介</li>
            <li id="vr_01" class="serviceList__hashTag">＃VR遠隔同時講義</li>
            <li id="vr_02" class="serviceList__hashTag">＃VR遠隔医療・遠隔診断</li>
            <li id="vr_03" class="serviceList__hashTag">＃VR遠隔監視</li>
            <li id="vr_04" class="serviceList__hashTag">＃保守メンテナンス</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://xr-creek.jp">クリーク･アンド･リバー社</a></dd>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://www.vr-japan.co.jp/wp/">VR Japan</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li>
              <a class="serviceList__offerLink icon-black commonBanner" target="_blank" href="">
                <img src="../../images/services/solution_service_img_01.png" alt="">
                <div class="commonBanner__onText">
                  クリーク･アンド･リバー社の事業やサービス、ニュースおよびC&Rグループ情報
                </div>
              </a>
              <p class="commonBanner__name">C&R XR</p>
              <div class="commonBanner__tagWrap">
                <p class="commonBanner__tag">求人掲載</p>
                <p class="commonBanner__tag">人材紹介</p>
                <p class="commonBanner__tag">人材紹介</p>
              </div>
            </li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_VRL.png" alt=""></a></li>
          </ul>

          <h3 id="drone" class="common-heading--h3">ドローン</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃ドローン活用：空撮・運搬・測量・点検・農業</li>
            <li class="serviceList__hashTag">＃ドローンパイロット派遣</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://creek-drone.com/">クリーク･アンド･リバー社</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_03.png" alt=""></a></li>
          </ul>

          <h3 id="ai" class="common-heading--h3">AI活用</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃チャットボット</li>
            <li class="serviceList__hashTag">＃AIマッチングシステム</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://idrasys.co.jp/">Idrasys</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_idrasys.png" alt=""></a></li>
          </ul>

          <h3 id="data" class="common-heading--h3">データ活用</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃データドリブンマーケティング</li>
            <li class="serviceList__hashTag">＃データ分析</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://www.jeki-ddl.co.jp/">jeki Data-Driven Lab</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_jekiDataDriven.png" alt=""></a></li>
          </ul>

          <h3 id="business" class="common-heading--h3">事業・サービス開発</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃事業創出</li>
            <li class="serviceList__hashTag">＃新規事業</li>
            <li class="serviceList__hashTag">＃中小ものづくり企業</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://kidukiarchitect.jp/">きづきアーキテクト</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_KidukiArchitect.png" alt=""></a></li>
          </ul>

          <h3 id="media" class="common-heading--h3">求人メディア</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃WebやDX人材専門の求人サイトメディア</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://www.koukokutenshoku.com/">プロフェッショナルメディア</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_04.png" alt=""></a></li>
          </ul>

          <h3 id="develop" class="common-heading--h3">サービス・コンテンツ開発</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃ゲーム開発・企画</li>
            <li class="serviceList__hashTag">＃インドネシアでのオフショア開発（Web・アプリ・VR・3D）</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://claytechworks.co.jp/">クレイテックワークス</a></dd>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://grune.co.jp/">Grune</a></dd>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://wing-pro.com/">ウイング</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_claytechworks.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_grune.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_wing_pro.png" alt=""></a></li>
          </ul>

          <h3 id="promotion" class="common-heading--h3">プロモーション</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃マーケティング・プロモーション</li>
            <li class="serviceList__hashTag">＃ファッション・・・「stura」</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://forgift.co.jp/">forGIFT</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_forgift.png" alt=""></a></li>
          </ul>

          <h3 id="sns" class="common-heading--h3">SNS</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃世界中の弁護士をつなぐSNS</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://www.juristerra.net/">CREEK & RIVER Global</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/solution_service_img_05.png" alt=""></a></li>
          </ul>

          <h3 id="language" class="common-heading--h3">語学</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃専門性に特化した語学研修・レッスン</li>
          </ul>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">担当企業</dt>
              <dd class="serviceList__jobTxt"><a target="_blank" href="https://criprolang.jp/">クリーク･アンド･リバー社</a></dd>
            </dl>
          </div>
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-white" target="_blank" href=""><img src="../../images/services/solution_service_img_criprolang.png" alt=""></a></li>
          </ul>

          <!-- <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_01.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_05.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_06.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_07.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-white" target="_blank" href=""><img src="../../images/services/video_service_img_08.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_09.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_10.png" alt=""></a></li>
          </ul> -->

          <h4 class="common-heading--h4 mt">ソリューション分野の事例・実績</h4>
          <div class="service__listLink"><a href="#" class="common-link">ソリューション分野の事例・実績一覧へ</a></div>
          <div class="common-carouselArea">
            <div class="common-carouselArea__topWrap">
              <!-- <h4 class="common-heading--h4">関連事項</h4> -->
              <div class="common-carouselArea__arrowWrap">
                <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
              </div>
            </div>
            <div class="common-carousel js-carousel">
              <ul class="common-carouselWrap" id="js-carousel">
                <li class="js-carouselItem">
                  <img src="../../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    <div class="service__txtLink">
                      <a href="">
                        もっと見る
                      </a>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    <div class="service__txtLink">
                      <a href="">
                        もっと見る
                      </a>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    <div class="service__txtLink">
                      <a href="">
                        もっと見る
                      </a>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    <div class="service__txtLink">
                      <a href="">
                        もっと見る
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          <div class="btnWrapper">
            <div class="common-button--grayArrowBtn -back">
              <a href="#">事業分野・サービス一覧に戻る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
            </div>
          </div>
        </section>
      </div>
      <div class="common-mainBottom">
        <div class="common-mainBottom__btnWrap">
          <div class="common-button--whiteArrowBtn">
            <a href="#">強み・特徴<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
          <div class="common-button--whiteArrowBtn">
            <a href="#">実績・事例<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
        </div>
      </div>
    </main>
    <%- include('../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      
      $('a[href^="#"]').click(function () {
        var headerHeight = $('#js-header').height();
        var speed = 500;
        var offset = 40;
        var href = $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top - headerHeight - offset;
        $("html, body").animate({ scrollTop: position }, speed, "swing");
        return false;
      });
    </script>
    <script src="../../js/main.js"></script>
    <script src="../../js/vendor.js"></script>
    
  </body>
</html>