<div class="c-subPage__brotherLinkArea">
  <p>他の[]のメニューを見る</p>
  <div class="c-subPage__brotherLinkWrap">
    <div class="c-subPage__brotherLink">
      <a href="<%= dataSet.srcpath %>">
       <img src="<%= dataSet.srcpath %>images/" alt="">
       <div class="c-subPage__brotherLinkText">
         <h3>[]</h3>
         <div class="c-subPage__brotherLinkBottom">
           <p>[]</p>
           <div class="c-circleBtn">
             <span class="c-circleBtn__circle">
               <span class="c-circleBtn__arrow"></span>
             </span>
           </div>
         </div>
       </div>
      </a>
    </div>
    <div class="c-subPage__brotherLink">
      <a href="<%= dataSet.srcpath %>recruit/message/">
       <img src="<%= dataSet.srcpath %>images/" alt="">
       <div class="c-subPage__brotherLinkText">
         <h3>[]</h3>
         <div class="c-subPage__brotherLinkBottom">
           <p>[]</p>
           <div class="c-circleBtn">
             <span class="c-circleBtn__circle">
               <span class="c-circleBtn__arrow"></span>
             </span>
           </div>
         </div>
       </div>
      </a>
    </div>
  </div>
</div>