<div class="c-circleBtn">
  <a href="<%= dataSet.srcpath %>/">
    <span class="c-circleBtn__circle">
      <span class="c-circleBtn__arrow"></span>
    </span>
    <span class="c-circleBtn__text">詳しく見る</span>
  </a>
</div>