<div class="c-subPage__firstVisual">
  <img src="<%= dataSet.srcpath %>images/" alt="">
  <div class="c-subPage__textWrap">
    <div class="c-subPage__textInner">
      <div class="c-subPage__headingWrap">
        <div class="c-subPage__headingInner js-subpage-titleAnimation">
          <h2 class="c-subPage__heading"></h2>
          <p class="c-subPage__subText"></p>
        </div>
      </div>
      <p class="c-subPage__detailText"></p>
    </div>
  </div>
</div>