<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "個人投資家の皆さまへ | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "個人投資家の皆さまへ。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="individual" class="subpage">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">IR情報 /</a>
          </li>
          <li>
            <a href="#">個人投資家の皆さまへ</a>
          </li>
        </ul>
      </div>
      <div class="common-mainVisual common-mb">
        <img src="../../images/ir/main.jpg" alt="個人投資家の皆さまへ">
        <h1 class="common-heading--h1">個人投資家の皆さまへ<br><span></span></h1>
      </div>
      <!-- <section class="imgKv">
        <h1 class="imgKv__ttl">個人投資家の皆さまへ</h1>
        <span class="imgKv__line"></span>
      </section> -->

      <section class="common-section creative">
        <div class="common-container common-container--top">
          <div class="common-secondHeading common-mb">
            <h2 class="common-heading--h2">プロフェッショナル･エージェンシー<br>そして、事業クリエイティブカンパニーへ</h2>
          </div>
          <div class="individual__main">
            <div class="individual__main__img">
              <img src="../../images/ir/individual_img_01.jpg" alt="ダミー">
            </div>
            <div class="individual__main__text">
              <p class="common-mb--title individual-common-text">
                日ごろより格別のご高配を賜り、厚くお礼申し上げます。<br>
                クリーク･アンド･リバー社は、プロフェッショナルの可能性を最大限に引き出し、社会を豊かにすることをめざして1990年に創業いたしました。馴染みのない業態で、社名もご存じない方がほとんどかもしれません。<br>
                しかし、実は皆さまの日常に密接に結びついています。ご覧になられているテレビ番組の約45％には当社が関わっていますし、全国の臨床研修指定病院の約90％と契約を結んでいます。その他にも建築士や弁護士、ファッションや飲食分野など、C&Rグループのプロフェッショナルが多数活躍しています。<br>
                皆さまの生活を支えているという使命感と、創業から変わらぬフロンティアスピリットで、社会の変化に柔軟に対応し、新しいサービスや事業を生み出し続けてまいります。挑戦を続けるC&Rグループを、どうぞご支援ください。<br>
              </p>
              <p class="common-mb--title common-text--right individual-common-text">
                株式会社クリーク･アンド･リバー社<br>
                代表取締役社長　井川 幸広
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="common-section">
        <div class="common-container">
          <h2 class="individual__title">早わかりC&Rグループ</h2>
          <!-- <div class="individual__image individual__image--top">
            <a target="_blank" href="https://youtu.be/LU_DrQsYhhs"><img src="../../images/ir/individual_movie_tumb.jpeg" alt="ダミー"></a>
          </div> -->
          <div class="movie__youtubeBox">
            <a class="movie__tumb" target="_blank">
              <img class="movie__tumb" src="../../images/ir/individual_movie_tumb.jpeg" alt="">
              <!-- <span class="movie__playBtn">
                <img src="../../images/creative_studios_movie_arrow.png" alt="">
              </span> -->
            </a>
            <iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/iojvE0hjqmQ?enablejsapi=1&rel=0&loop=0&playlist=iojvE0hjqmQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loop></iframe>
          </div>
          <div class="linkBlk -col">
            <div class="common-button--grayArrowBtn">
              <a href="#">C&Rグループについて<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
            </div>
          </div>
        </div>
      </section>
      <section class="common-section">
        <div class="common-container">
          <h2 class="individual__title">C&Rグループの事業</h2>
          <p class="common-mb individual-common-text">プロフェッショナルに対して仕事を提供する「エージェンシー（派遣･紹介）」、プロジェクト組成により付加価値の高い成果を実現する「プロデュース（請負・アウトソーシング）」、知的財産の収益機会拡⼤をはかる「ライツマネジメント」。<br>
            この３つの柱で事業を展開する、唯一無二のプロフェッショナル･エージェンシーです。</p>
          <div class="individual__image">
            <img src="../../images/ir/nidividual_img_05.png" alt="ダミー">
          </div>


          <div class="common-secondHeading common-mb">
            <h3 class="common-heading--h3">事業割合</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>
          <div class="individual__image__row">
            <img src="../../images/ir/nidividual_img_06.png" alt="ダミー">
            <img src="../../images/ir/nidividual_img_07.png" alt="ダミー">
          </div>
          <div class="linkBlk -col">
            <div class="common-button--grayArrowBtn">
              <a href="#">C&Rグループのビジネスモデル<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
            </div>
          </div>
        </div>
      </section>
      <section class="common-section">
        <div class="common-container">
          <h2 class="individual__title">C&Rグループの業績</h2>
          <p class="common-mb individual-common-text">時代の変化を読み取り、事業領域を拡⼤・深化。安定と挑戦の両⽴を実現しながら成長し続けています。</p>
          <div class="individual__image individual__image--fit">
            <img src="../../images/ir/nidividual_img_08.png" alt="ダミー">
          </div>
          <div class="linkBlk -col">
            <div class="common-button--grayArrowBtn">
              <a href="#">業績・財務情報<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
            </div>
          </div>
        </div>
      </section>
      <section class="common-section">
        <div class="common-container">
          <h2 class="individual__title">C&Rグループの事業領域</h2>
          <p class="common-mb individual-common-text">18の専門分野でプロフェッショナルの⼒を最⼤限に発揮できる環境を提供。またその叡智を集結し、新たな事業やサービスを生み出しています。</p>
          <!-- <div class="individual__image">
            <img src="../../images/ir/nidividual_img_09.png" alt="ダミー">
          </div> -->

          <!-- <div class="common-section__GN">
            <div class="common-container">
              <div class="businessField__GN">
                <h2 class="businessField__GN__title">C&amp;R Group Network</h2>
                <div class="businessField__num">
                  <div class="businessField__num__item">
                    <p class="businessField__num__heading">Fields</p>
                    <p class="businessField__num__text" style="min-width: 83.6094px; display: inline-block;"><span class="businessField__num__count" data-num="18" data-islaunched="true">18</span></p>
                  </div>
                  <div class="businessField__num__item">
                    <p class="businessField__num__heading">Professionals</p>
                    <p class="businessField__num__text" style="min-width: 304.812px; display: inline-block;"><span class="businessField__num__count" data-num="333400" data-islaunched="true">333,400</span><span class="businessField__num__unit">名</span></p>
                  </div>
                  <div class="businessField__num__item">
                    <p class="businessField__num__heading">Clients</p>
                    <p class="businessField__num__text" style="min-width: 263px; display: inline-block;"><span class="businessField__num__count" data-num="43520" data-islaunched="true">43,520</span><span class="businessField__num__unit">社</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="features__mainWrap">
            <p class="features__main__label">C&amp;R Group Network</p>
            <div class="features__achievement">
              <div class="features__achievement__col">
                <p class="features__achievement__text">Fields</p>
                <p class="features__achievement__number">18<span><span style="font-size: 60%;">分野</span></span></p>
              </div>
              <div class="features__achievement__col">
                <p class="features__achievement__text">Professionals</p>
                <p class="features__achievement__number">345,000<span><span style="font-size: 60%;">名</span></span></p>
              </div>
              <div class="features__achievement__col">
                <p class="features__achievement__text">Clients</p>
                <p class="features__achievement__number">45,000<span><span style="font-size: 60%;">社</span></span></p>
              </div>
            </div>
          </div>


          <div class="common-secondHeading common-mb">
            <h3 class="common-heading--h3">連結構成</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>
          <div class="individual__image__scroll individual__image--fit">
            <img src="../../images/ir/individual_img_10.png" alt="ダミー">
          </div>
          <div class="linkBlk -col">
            <div class="common-button--grayArrowBtn">
              <a href="#">ビジネスフィールド<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
            </div>
          </div>
        </div>
      </section>
      <section class="common-section">
        <div class="common-container">
          <div class="individual__links">
            <a href="#" class="individual__links__item">
              <img src="../../images/ir/individual_img_01.jpeg" alt="ダミー">
              <p>株主還元方針・<br>配当情報</p>
              <span></span>
            </a>
            <a href="#" class="individual__links__item">
              <img src="../../images/ir/individual_img_02.jpeg" alt="ダミー">
              <p>中期経営計画</p>
              <span></span>
            </a>
            <a href="#" class="individual__links__item">
              <img src="../../images/ir/individual_img_03.jpeg" alt="ダミー">
              <p>事業報告書</p>
              <span></span>
            </a>
            <a href="#" class="individual__links__item">
              <img src="../../images/ir/individual_img_04.jpeg" alt="ダミー">
              <p>個人投資家向け<br>説明会・資料</p>
              <span></span>
            </a>
          </div>
        </div>
      </section>
      <section class="common-section" id="creative">
        <div class="common-container">
          <h2 class="individual__title">C&Rグループの50分野構想</h2>
          <div class="movie__youtubeBox">
            <a class="movie__tumb" target="_blank">
              <img class="movie__tumb" src="../../images/ir/challenge50_10.png" alt="">
            <span class="movie__playBtn">
              <!-- <img src="../../images/creative_studios_movie_arrow.png" alt=""> -->
            </span>
          </a>
          <iframe width="560" height="315" id="youtube" src="https://www.youtube.com/embed/FRp6ASEA-64?enablejsapi=1&rel=0&loop=1&playlist=FRp6ASEA-64" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
      </section>
      <section class="common-section">
        <div class="common-container">
          <section class="linkBlk mt">
            <p class="linkBlk__ttl">経営情報</p>
            <ul class="linkBlk__list">
              <li>
                <a class="arrow__icon" href="../../ir/message/">トップメッセージ
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/officers/">役員一覧
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/strategy/">経営戦略
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/calendar/">IRカレンダー
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/risk/">リスク情報
                </a>
              </li>
            </ul>
          </section>
          <!-- /.linkBlk -->
          <section class="linkBlk -col">
            <p class="linkBlk__ttl">業績・財務情報</p>
            <ul class="linkBlk__list">
              <li>
                <a class="arrow__icon" href="">財政状況
                </a>
              </li>
            </ul>
          </section>
          <!-- /.linkBlk -->
          <section class="linkBlk -col">
            <p class="linkBlk__ttl">IRライブラリ</p>
            <ul class="linkBlk__list">
              <li>
                <a class="arrow__icon" href="../../ir/library/result/">決算短信
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/library/presentation/">決算説明会資料・動画
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/library/report/">有価証券報告書／四半期報告書
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/library/stockholders_meeting">株主総会
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/library/business_report/">事業報告書
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/library/factsheet/">ファクトシート
                </a>
              </li>
            </ul>
          </section>
          <!-- /.linkBlk -->
          <section class="linkBlk -col">
            <p class="linkBlk__ttl">株式について</p>
            <ul class="linkBlk__list">
              <li>
                <a class="arrow__icon" href="">株式情報
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="">株主還元方針・配当情報
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="">株価情報
                </a>
              </li>
            </ul>
          </section>
          <!-- /.linkBlk -->
          <section class="linkBlk -col">
            <p class="linkBlk__ttl">その他</p>
            <ul class="linkBlk__list">
              <li>
                <a class="arrow__icon" href="../../ir/policy/">IRポリシー
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/disclaimers/">免責事項
                </a>
              </li>
              <li>
                <a class="arrow__icon" href="../../ir/public_notice/">電子公告
                </a>
              </li>
            </ul>
          </section>
          <!-- /.linkBlk -->

          <%- include('../../include/subpages/_irBnrBlk.ejs',); %>
        </div>
      </section>
      <div class="contentWrap">
        <!-- <section class="libraryLinkBlk -col">
          <ul class="libraryLinkBlk__list">
            <li>
              <a href="" class="arrow__icon">スペシャルインタビュー</a>
            </li>
            <li>
              <a href="" class="arrow__icon">躍進するC&Rグループの事業</a>
            </li>
            <li>
              <a href="" class="arrow__icon">C&R社変革の歩み</a>
            </li>
            <li>
              <a href="" class="arrow__icon">C&Rグループ3つの強み</a>
            </li>
            <li>
              <a href="" class="arrow__icon">業績ハイライト</a>
            </li>
            <li>
              <a href="" class="arrow__icon">個人投資家向け説明会資料・動画</a>
            </li>
          </ul>
        </section> -->
        <!-- /.linkBlk -->
      </div>
      <!-- /.bnrBlk -->
    </main>
    <%- include('../../include/_footer.ejs'); %>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

      $(function() {
      var mobile = false;
      var ua = navigator.userAgent;
      if (
        ua.indexOf("iPhone") > 0 ||
        ua.indexOf("iPod") > 0 ||
        ua.indexOf("iPad") > 0 ||
        (ua.indexOf("Android") > 0 && ua.indexOf("Mobile") > 0)
      ) {
        mobile = true;
      }
      if (mobile) {
        $("iframe").each(function() {
          $(this).attr("muted", "");
        });
      }
      var tumb = $(".movie__tumb");
      $(tumb).on("click", function(){
        var player = $(this).next("iframe")[0].contentWindow;
        player.postMessage('{"event":"command","func":"playVideo","args":""}', "*");
        $(this).hide();
      });
     });
  </script>
  </body>
</html>
