// -------------------------------------------------------------------
// 	faq.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;
@use "../helpers/mediaquery" as *;

@include media(sm) {}
@include media(md) {}
@include media(lg) {}
@include media(xl) {}

.Faq {
  @at-root {
    & {

    }

    .Faq__inner {
      padding: 80px 0 100px;
      @include media(md) {
        padding: 180px 0;
      }
    }

    .Faq__list {
      border-bottom: 1px solid #818A9B;
      margin-top: 50px;
      @include media(md) {
        margin-top: 100px;
      }
    }
  }
}