// -------------------------------------------------------------------
// 	topics.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;
@use "../helpers/mediaquery" as *;

@include media(sm) {}
@include media(md) {}
@include media(lg) {}
@include media(xl) {}

.Topics {
  @at-root {
    & {
      background-color: $color_tertiary;
      padding-top: 80px;
      @include media(md) {
        padding-top: 180px;
      }
    }

    .Updates__list {
      @include media(md) {
        display: flex;
        flex-wrap: wrap;
      }

      [data-page="top"] & {
        margin-top: 60px;
        @include media(md) {
          margin-top: 100px;
        }
      }
    }

    .Updates__item {
      margin-top: 60px;

      &:first-child {
        margin-top: 0;
      }
      @include media(md) {
        width: calc(600 / 1280 * 100%);
        margin-left: calc(80 / 1280 * 100%);
        margin-top: calc(80 / 1280 * 100%);

        &:nth-child(2n-1) {
          margin-left: 0;
        }

        &:nth-child(-n+2) {
            margin-top: 0;
        }
      }
    }

    .Updates__itemInner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .Updates__itemHeading {
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
      line-height: 1.62;
      @include media(md) {
        font-size: 20px;
        margin-top: 16px;
        line-height: 1.5;
      }

      @include jp {
        font-size: 14px;
        line-height: 1.8;
        @include media(md) {
          font-size: 18px;
        }
      }
    }


    .Updates__itemImage {
      border: 1px solid #d7d7d7;
      padding-top: calc(190 / 335 * 100%);
      position: relative;
      order: -1;
      overflow: hidden;
      @include media(md) {
        padding-top: calc(340 / 600 * 100%);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .Updates__itemMovie {
      padding-top: calc(190 / 335 * 100%);
      order: -1;
      position: relative;
      @include media(md) {
        padding-top: calc(340 / 600 * 100%);
      }

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .Updates__itemDate {
      font-size: 12px;
      font-weight: 500;
      margin-top: 17px;
      line-height: 1.26;
      order: -1;
      @include media(md) {
        font-size: 14px;
        margin-top: 25px;
      }

      @include jp {
        font-family: $font-family_base;
      }

      time {

      }
    }

    .Updates__itemFooter {
      margin-top: auto;
      padding-top: 30px;
      text-align: right;
      @include media(md) {
        padding-top: 20px;
      }
    }

    .Update__footer {
      margin-top: 40px;
      text-align: center;
      @include media(md) {
        margin-top: 80px;
      }
    }

    .Updates__pageContent {
      padding-bottom: 80px;
      @include media(md) {
        padding-bottom: 180px;
      }
    }

    .Updates__pagination {
      margin-top: 40px;
      @include media(md) {
        margin-top: 80px;
      }
    }

    .Updates__pageFooter {
      padding-bottom: 80px;
      @include media(md) {
        padding-bottom: 180px;
      }
    }

    .Updates__social {
      margin-top: 60px;
      @include media(md) {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
      }
    }

    .Updates__socialYouTube {
      width: 100%;
      @include media(md) {
        flex-basis: calc(600 / 1280 * 100%);
      }
    }

    .Updates__socialYouTubeContent {
      margin-top: 30px;
      padding-top: calc(190 / 335 * 100%);
      position: relative;
      @include media(md) {
        margin-top: 50px;
        padding-top: calc(340 / 600 * 100%);
      }

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .Updates__socialFacebook {
      width: 100%;
      margin-top: 60px;
      @include media(md) {
        margin-top: 0;
        flex-basis: calc(600 / 1280 * 100%);
      }
    }

    .Updates__socialFacebookContent {
      margin-top: 30px;
      @include media(md) {
        margin-top: 50px;
      }

      .fb-page,
      .fb-page span,
      iframe {
        width: 100% !important;
        height: 700px !important;
      }
    }
  }
}