<!DOCTYPE html>
<html lang="ja">
<%- include('../include/_headNewsRelease.ejs'); %>

<body>
  <div class="container" id="js-container">
    <%- include('../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">サイトポリシー</a>
          </li>
        </ul>
      </div>
      <div class="common-mainVisual common-mainVisual--policy common-mb">
        <img src="../images/policy.jpg" alt="サイトポリシー" class="common-mainVisual--pc">
        <img src="../images/policy_sp.jpg" alt="サイトポリシー" class="common-mainVisual--sp">
        <h1 class="common-heading--h1">サイトポリシー<br><span></span></h1>
      </div>

      <div class="common-container">

        <div class="common-secondHeading common-mb--subTitle">
          <h3 class="common-heading--h3">免責事項</h3>
          <div class="common-heading--h3__underLine"></div>
        </div>

        <p class="common-mb">当社及び情報提供元は、当サイト上において以下の事由に基づく障害等に関してはその責任を負わないものといたします。</p>

        <p>1. コンテンツ情報の正確性、信頼性に問題があった場合</p>
        <p>2. 当サイトの提供の遅延または中断の場合</p>
        <p>3. 当サイトのリンク先から得られる情報に基づく一切の問題(その内容の正確性・信頼性に問題がある場合等)</p>
        <p class="common-mb">4. 当サイトへのアクセスや各種ファイル・ソフト・プラグイン等のダウンロード等に起因する問題</p>

        <p>※当サイトに掲載されている、当社の現在の計画、見通し、戦略などのうち、歴史的事実でないものは、将来の業績に関係する見通しであり、これらは、現在入手可能な情報から得られた当社の判断に基づいております。従って、これらの見通しのみに全面的に依拠することは控えて頂きますよう、お願いいたします。</p>

        <p class="common-mb">実際の業績は、外部環境及び内部環境の変化によるさまざまな重要な要素により、これらの見通しとは大きく異なる結果となりうることを、ご承知おきください。</p>

        <div class="common-secondHeading common-mb--subTitle">
          <h3 class="common-heading--h3">コピーライト</h3>
          <div class="common-heading--h3__underLine"></div>
        </div>

        <p class="common-mb">当サイト上のコンテンツについては、株式会社クリーク･アンド･リバー社（C&R社）が著作権を所有しております。</p>
        <p class="common-mb">当社からの事前の承諾なしに、営利、非営利、社内利用、社外利用等の目的の如何を問わず、コンテンツを閲覧すること以外の複製、改変、送信、領布等の一切の利用を禁止します。</p>


        <div class="common-secondHeading common-mb--subTitle">
          <h3 class="common-heading--h3">推奨環境</h3>
          <div class="common-heading--h3__underLine"></div>
        </div>

        <h4 class="common-heading--h4 common-mb">ブラウザ</h4>

        <p>当サイトをご覧になるために、下記のブラウザを推奨いたします。</p>
        <p class="common-mb">※パソコンの設定、一部のブラウザでは正しく表示されない場合がございますのでご了承ください。</p>

        <div class="common-tableWrap common-mb">
          <div class="common-table">
            <dl class="common-table__list">
              <dt></dt>
              <dd>
                <div class="common-table__inner">
                  <div class="common-table__item threeItem">Internet Explorer</div>
                  <div class="common-table__item threeItem">Firefox</div>
                  <div class="common-table__item threeItem">Chrome</div>
                </div>
              </dd>
            </dl>
            <dl class="common-table__list">
              <dt>Windows</dt>
              <dd>
                <div class="common-table__inner">
                  <div class="common-table__item threeItem">8.0以上</div>
                  <div class="common-table__item threeItem">最新バージョン</div>
                  <div class="common-table__item threeItem">最新バージョン</div>
                </div>
              </dd>
            </dl>
          </div>
          <div class="common-table">
            <dl class="common-table__list">
              <dt></dt>
              <dd>
                <div class="common-table__inner">
                  <div class="common-table__item threeItem">Safari</div>
                  <div class="common-table__item threeItem">Firefox</div>
                  <div class="common-table__item threeItem">Chrome</div>
                </div>
              </dd>
            </dl>
            <dl class="common-table__list">
              <dt>Macintosh</dt>
              <dd>
                <div class="common-table__inner">
                  <div class="common-table__item threeItem">最新バージョン</div>
                  <div class="common-table__item threeItem">最新バージョン</div>
                  <div class="common-table__item threeItem">最新バージョン</div>
                </div>
              </dd>
            </dl>
          </div>
        </div>

        <h4 class="common-heading--h4 common-mb">プラグイン</h4>

        <p class="common-mb">当サイトは、一部コンテンツにおいて下記プラグインを使用しております。<br>最新バージョンをインストールの上、ご利用ください。</p>

        <div class="boxAdobe">
          <div class="boxAdobe__img">
            <a href="http://get.adobe.com/jp/reader/" target="_blank"><img src="../images/get_adobe_reader.png" alt="adobe"></a>
          </div>
          <div class="boxAdobe__text">
            <p class="common-mb">PDFファイルを閲覧するには、 Adobe Reader ®が必要です。<br>Adobe Reader はアドビシステムズ社より無料で配布されています。</p>
            <p class="common-mb">※Adobe® FlashTM および Adobe® ReaderTM は、Adobe Systems, Inc. の米国およびその他の国における登録商標または商標です。</p>
          </div>
        </div>

        <div class="common-secondHeading common-mb--subTitle">
          <h3 class="common-heading--h3">リンク</h3>
          <div class="common-heading--h3__underLine"></div>
        </div>

        <h4 class="common-heading--h4 common-mb">当サイトへのリンク</h4>

        <p class="common-mb">当サイトへリンクされる場合は、リンク元のサイトの運営主体、リンクの目的およびリンク元のページのURLなどを、事前に当社へご連絡ください。リンク元サイトの内容等によりリンクをお断りすることがあります。リンク先は特別な理由がない限り、原則として当社ホームページのトップページにお願いいたします。</p>
        <p class="common-mb">当社ホームページにリンクをされる場合の当社名表記は「株式会社クリーク・アンド・リバー社」もしくは「CREEK & RIVER Co., Ltd.」のいずれかを用いてください。</p>

        <h4 class="common-heading--h4 common-mb">当サイトから社外サイトのリンク</h4>

        <p class="common-mb">当社ホームページは、複数のサイトへ外部リンクを設置しております。外部リンク先サイトを利用する場合には、その利用上のルールを遵守してご利用ください。</p>

      </div>


      <%- include('../include/_footer.ejs'); %>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/vendor.js"></script>
</body>

</html>
