RewriteEngine on
Redirect permanent /news/208/ https://toyotamobilityfoundation.jp/news/release/0001.html
Redirect permanent /news/210/ https://toyotamobilityfoundation.jp/news/release/0002.html
Redirect permanent /news/225/ https://toyotamobilityfoundation.jp/news/release/0003.html
Redirect permanent /news/227/ https://toyotamobilityfoundation.jp/news/release/0004.html
Redirect permanent /news/24/ https://toyotamobilityfoundation.jp/news/release/0005.html
Redirect permanent /news/242/ https://toyotamobilityfoundation.jp/news/release/0006.html
Redirect permanent /news/289/ https://toyotamobilityfoundation.jp/news/release/0007.html
Redirect permanent /news/302/ https://toyotamobilityfoundation.jp/news/release/0008.html
Redirect permanent /news/309/ https://toyotamobilityfoundation.jp/news/release/0009.html
Redirect permanent /news/325/ https://toyotamobilityfoundation.jp/news/release/0010.html
Redirect permanent /news/331/ https://toyotamobilityfoundation.jp/news/release/0011.html
Redirect permanent /news/336/ https://toyotamobilityfoundation.jp/news/release/0012.html
Redirect permanent /news/341/ https://toyotamobilityfoundation.jp/news/release/0013.html
Redirect permanent /news/342/ https://toyotamobilityfoundation.jp/news/release/0014.html
Redirect permanent /news/343/ https://toyotamobilityfoundation.jp/news/release/0015.html
Redirect permanent /news/346/ https://toyotamobilityfoundation.jp/news/release/0016.html
Redirect permanent /news/348/ https://toyotamobilityfoundation.jp/news/release/0017.html
Redirect permanent /news/352/ https://toyotamobilityfoundation.jp/news/release/0018.html
Redirect permanent /news/353/ https://toyotamobilityfoundation.jp/news/release/0019.html
Redirect permanent /news/354/ https://toyotamobilityfoundation.jp/news/release/0020.html
Redirect permanent /news/359/ https://toyotamobilityfoundation.jp/news/release/0021.html
Redirect permanent /news/385/ https://toyotamobilityfoundation.jp/news/release/0022.html
Redirect permanent /news/393/ https://toyotamobilityfoundation.jp/news/release/0023.html
Redirect permanent /news/398/ https://toyotamobilityfoundation.jp/news/release/0024.html
Redirect permanent /news/400/ https://toyotamobilityfoundation.jp/news/release/0025.html
Redirect permanent /news/402/ https://toyotamobilityfoundation.jp/news/release/0026.html
Redirect permanent /news/406/ https://toyotamobilityfoundation.jp/news/release/0027.html
Redirect permanent /news/409/ https://toyotamobilityfoundation.jp/news/release/0028.html
Redirect permanent /news/413/ https://toyotamobilityfoundation.jp/news/release/0029.html
Redirect permanent /news/417/ https://toyotamobilityfoundation.jp/news/release/0030.html
Redirect permanent /news/420/ https://toyotamobilityfoundation.jp/news/release/0031.html
Redirect permanent /news/422/ https://toyotamobilityfoundation.jp/news/release/0032.html
Redirect permanent /news/424/ https://toyotamobilityfoundation.jp/news/release/0033.html
Redirect permanent /news/426/ https://toyotamobilityfoundation.jp/news/release/0034.html
Redirect permanent /news/428/ https://toyotamobilityfoundation.jp/news/release/0035.html
Redirect permanent /news/431/ https://toyotamobilityfoundation.jp/news/release/0036.html
Redirect permanent /news/433/ https://toyotamobilityfoundation.jp/news/release/0037.html
Redirect permanent /news/435/ https://toyotamobilityfoundation.jp/news/release/0038.html
Redirect permanent /news/437/ https://toyotamobilityfoundation.jp/news/release/0039.html
Redirect permanent /news/440/ https://toyotamobilityfoundation.jp/news/release/0040.html
Redirect permanent /news/442/ https://toyotamobilityfoundation.jp/news/release/0041.html
Redirect permanent /news/445/ https://toyotamobilityfoundation.jp/news/release/0042.html
Redirect permanent /news/448/ https://toyotamobilityfoundation.jp/news/release/0043.html
Redirect permanent /news/450/ https://toyotamobilityfoundation.jp/news/release/0044.html
Redirect permanent /news/454/ https://toyotamobilityfoundation.jp/news/release/0045.html
Redirect permanent /news/458/ https://toyotamobilityfoundation.jp/news/release/0046.html
Redirect permanent /news/460/ https://toyotamobilityfoundation.jp/news/release/0047.html
Redirect permanent /news/462/ https://toyotamobilityfoundation.jp/news/release/0048.html
Redirect permanent /news/464/ https://toyotamobilityfoundation.jp/news/release/0049.html
Redirect permanent /news/468/ https://toyotamobilityfoundation.jp/news/release/0050.html
Redirect permanent /news/470/ https://toyotamobilityfoundation.jp/news/release/0051.html
Redirect permanent /news/472/ https://toyotamobilityfoundation.jp/news/release/0052.html
Redirect permanent /news/476/ https://toyotamobilityfoundation.jp/news/release/0053.html
Redirect permanent /news/512/ https://toyotamobilityfoundation.jp/news/release/0054.html
Redirect permanent /news/521/ https://toyotamobilityfoundation.jp/news/release/0055.html
Redirect permanent /news/556/ https://toyotamobilityfoundation.jp/news/release/0056.html
Redirect permanent /news/565/ https://toyotamobilityfoundation.jp/news/release/0057.html
Redirect permanent /news/575/ https://toyotamobilityfoundation.jp/news/release/0058.html
Redirect permanent /news/584/ https://toyotamobilityfoundation.jp/news/release/0059.html
Redirect permanent /news/594/ https://toyotamobilityfoundation.jp/news/release/0060.html
Redirect permanent /news/602/ https://toyotamobilityfoundation.jp/news/release/0061.html
Redirect permanent /news/606/ https://toyotamobilityfoundation.jp/news/release/0062.html
Redirect permanent /news/617/ https://toyotamobilityfoundation.jp/news/release/0063.html
Redirect permanent /news/627/ https://toyotamobilityfoundation.jp/news/release/0064.html
Redirect permanent /news/631/ https://toyotamobilityfoundation.jp/news/release/0065.html
Redirect permanent /announcement/ https://toyotamobilityfoundation.jp/announcement.html
Redirect permanent /privacy_policy/ https://toyotamobilityfoundation.jp/privacy_policy.html
Redirect permanent /legal_terms/ https://toyotamobilityfoundation.jp/legal_terms.html