<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "ごあいさつ | 企業・グループ情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "ごあいさつ。企業・グループ情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="message" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="/">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">企業・グループ情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>ごあいさつ</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="common-mainVisual">
        <img src="../../images/1000_F_296643772_CWHxtgGGuoeopFjb7RMBMbFFbVe14zj6.jpg" alt="ダミー">
        <h1 class="common-heading--h1">ごあいさつ<br><span></span></h1>
      </div>
      <div class="contentWrap">
        <section class="message aboutUs">
          <div class="message__imgBlk">
            <figure>
              <img class="pc" src="../../images/about_us/message_img_01.jpg" alt="">
              <img class="sp" src="../../images/about_us/message_img_01_pc.jpg" alt="">
            </figure>
          </div>
          <div class="message__txtBlk">
            <p>
              フリーランスの映像ディレクターだった私が、クリーク･アンド･リバー社を設立したのは、1990年3月のことでした。バブル経済崩壊の始まりの年だったと言われています。<br>
              創業時、何もない小さなオフィスに社員の溢れんばかりの情熱が満ちていました。日々皆で議論し、クリエイターの方に、クライアントの方に、当社の目指す社会を熱く説いて回ったのがつい昨日のことのようです。<br><br>
              私は23歳でフリーとして独立し、テレビを中心にドキュメンタリー作品を数多く手がけていました。あるとき、アフリカの村落を取材した際に、映像の力で未来の多くの命を救うよりも目の前の人を救いたい、という気持ちに駆られ、ドキュメンタリストとして生きていくことに迷いが生じました<span class="-bold">（この出来事は、クリーク･アンド･リバー社の社名の由来にもなっています）</span>。またあるとき、日本とアメリカの合作によるドキュメンタリー番組に参加した際、フリーランスクリエイターが所属するユニオンやエージェントの存在を知り、日本とアメリカのクリエイターの仕事環境や社会的ポジションの違いに、愕然とさせられました。こういった経験を通じて、クリエイターとしての自己実現よりも社会に役立つ事業を起こすことを考え始めました。そして、クリエイターの人たちをバックアップするための事業を立ち上げようと決意し、クリーク･アンド･リバー社を設立するに至りました。当初は7名の映画監督、ＴＶディレクターのネットワークからはじまり、今では国内で放送されているテレビ番組の約45％に当社のディレクターが関わるまでに事業が成長しています。<br><br><br>
              その後、Web、ゲーム、広告･出版･･･と徐々にクリエイティブ分野での事業を拡大していくのに伴い、他の分野でもプロフェッショナル･エージェントのビジネスモデルが必要とされていることに気付きました。医師、ＩＴエンジニア、弁護士、会計士･･･世の中を見渡すと、サポートすべきプロフェッショナル分野はあまた存在し、私たちの使命に終わりはありません。<br><br>
              映画や映像作品では、見終わった後にお客さんから拍手がいただけます。事業経営においては、この拍手にあたるものは、多くの人を幸せにし、たくさんの「ありがとう」を勝ち取ることだと私は思います。日本をもっとクリエイティブに、世界をもっとクリエイティブにしていくことで、関わる多くの人を幸せにし、私たちは成長を続けていきます。
            </p>
            <h2>
              <span>代表取締役社長</span>
              井川 幸広
            </h2>
          </div>
        </section>
      </div>
    </main>
    <%- include('../../include/_footer.ejs'); %>
  </body>
</html>