<!DOCTYPE html>
<html lang="ja">
<%- include('../include/_headNewsRelease.ejs'); %>

<body>
  <div class="container" id="js-container">
    <%- include('../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">プロフェッショナルの皆さまへ</a>
          </li>
        </ul>
      </div>
      <div class="common-mainVisual">
        <img src="../images/professionals/main.jpg" alt="ダミー">
        <div class="common-mainVisual__professional">
          <h1>一生、<span>プロフェッショナル</span>懸命。</h1>
          <p class="common-mainVisual__professional--read">プロフェッショナルの皆さまへ</p>
        </div>
      </div>

      <section class="common-section">
        <div class="common-container common-container--top">
          <div class="common-textBlock">
            <p class="professionals__top__title common-text--center">私たちが提案するのは、プロフェッショナルとしての価値を高める仕事だけです。</p>
            <p class="common-textBlock__textDetail common-text--center">
              プロフェッショナル･エージェンシーのパイオニアであるC&Rグループは、 「プロフェッショナルの生涯価値の向上」をミッションに掲げ、 1990年の創業以来、専門分野や技術を持つ皆さまが持てる力を最大限に発揮できる環境を提供し続けています。 映像、ゲーム、Web、広告・出版、作家、医療、IT、法曹、会計、建築、ファッション、食、コンピュータサイエンス、舞台芸術、 ライフサイエンス、アスリート、CXO、アグリの18分野において、これまで多くの方々のキャリアをサポートしてきました。 私たちの専門性・サポート・成果に対し、多くのプロフェッショナルの皆さまにご満足をいただいています。
            </p>
          </div>

          <a href="https://youtu.be/Ou9re1DZAkM" target="_blank" class="professionals__banner">
            <img src="../images/professionals/bnr_PC_2.png" alt="" class="professionals__banner--pc">
            <img src="../images/professionals/bnr_SP_2.png" alt="" class="professionals__banner--sp">
          </a>

          <div class="professionals__point">
            <div class="professionals__point__title">
              <p>選ばれる理由<span>1</span></p>
              <h2>業界に精通した専門エージェント</h2>
            </div>
            <div class="professionals__point__row">
              <div class="professionals__point__image">
                <img src="../images/professionals/point1.JPG" alt="">
              </div>
              <div class="professionals__point__text">
                <p>新規プロジェクトの重要ポジションや非公開の求人など、プロフェッショナルの皆さまが活躍できる求人情報を多数そろえています。<br>業界に精通するエージェントが、あなたの希望やキャリアプランにあったポジションを厳選してご紹介します。</p>
                <div class="professionals__point__buttons">
                  <div class="common-introduction__btnWrap common-m-none">
                    <a href="#professionals01" class="common-button--black multiLine">ご希望の業界のエージェントサ-ビスを探す<div class="common-button__bottomArrow"><span class="arrow"><img src="../images/right_arrow_white.svg" alt="↓"></span></div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="professionals__point">
            <div class="professionals__point__title">
              <p>選ばれる理由<span>2</span></p>
              <h2>ただの人材会社じゃない！クライアントとの深い信頼関係</h2>
            </div>
            <div class="professionals__point__row">
              <a class="professionals__point__image">
                <img src="../images/professionals/point2.png" alt="">
              </a>
              <div class="professionals__point__text">
                <p>日本最大級の開発スタジオ「C&Rクリエイティブスタジオ」では、テレビ番組制作、Web・ゲーム開発、漫画制作などの受託開発を行っています。開発スタジオへの就業はもちろん、フリーランスの方であればビジネスパートナーとして一緒に開発に携わることも可能です。</p>
                <div class="professionals__point__buttons">
                  <div class="common-button--grayArrowBtn common-m-none">
                    <a href="#">スタジオについて詳しく見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="professionals__point">
            <div class="professionals__point__title">
              <p>選ばれる理由<span>3</span></p>
              <h2>業界に精通した専門エージェント</h2>
            </div>
            <div class="professionals__point__row">
              <div class="professionals__point__image">
                <img src="../images/professionals/point3.png" alt="">
              </div>
              <div class="professionals__point__text">
                <p>新規プロジェクトの重要ポジションや非公開の求人など、プロフェッショナルの皆さまが活躍できる求人情報を多数そろえています。 業界に精通するエージェントが、あなたの希望やキャリアプランにあったポジションを厳選してご紹介します。</p>
                <div class="professionals__point__buttons">
                  <div class="common-button--grayArrowBtn common-m-none">
                    <a href="#">プロフェッショナルキャリアプラットフォ-ムについて詳しく見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section common-section__grayBox">
        <div class="common-container">
          <div class="professionals__grayGrid">
            <div class="professionals__grayGrid__title">
              <h2 class="professionals__common__title">フリーランス、事業者の皆さま<br>C&Rグループのビジネスパートナーになりませんか？</h2>
            </div>
            <div class="professionals__grayGrid__image">
              <img src="../images/professionals/partner.jpeg" alt="">
            </div>
            <div class="professionals__grayGrid__text">
              <p>C&Rグループでは、各分野において、一緒にクライアントの課題解決に取り組んでいただく、ビジネスパートナーを募集しています。</p>
              <div class="professionals__grayGrid__buttons">
                <div class="common-button--whiteArrowBtn common-m-none">
                  <a href="#">C&Rグル-プの実績を見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
                </div>
                <div class="common-button--whiteArrowBtn common-m-none">
                  <a href="#">お問い合わせ<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section">
        <div class="common-container">
          <h2 class="professionals__common__title" id="professionals01">希望の業界に登録して求人を探そう</h2>

          <div class="professionals__recruit">
            <div class="group__accordion professionals__recruit--01 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>映像</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://www.creativevillage.ne.jp/member" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--02 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>ゲーム</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://www.creativevillage.ne.jp/member" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--03 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>Web</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://www.creativevillage.ne.jp/member" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--04 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>広告・出版</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://www.creativevillage.ne.jp/member" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--05 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>作家・漫画家</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="http://www.crmangalabo.com/editor.html" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--08 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>コンピュータサイエンス</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://www.criprof.com/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--06 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>医療</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://www.doctor-agent.com/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--07 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>建築</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://www.arc-agency.jp/for_architect" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--13 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>アスリート</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://athlete-agency.jp/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--09 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>IT</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://leadinge.co.jp/interview/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--10 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>ライフサイエンス</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://laboshigoto-cri.jp/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--16 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>ハイクラス</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://c-suitecareer.jp/lp/cxo/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--11 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>ファッション</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="http://sow-fca.tokyo/job/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--12 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>食</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://chefz.jp/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--14 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>会計</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://career.jusnet.co.jp/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
            <div class="group__accordion professionals__recruit--15 js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>法曹</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <p class="common-text--normal common-mb--title">プロデューサー／ディレクター／シナリオライター／デバッガー</p>

                  <a href="https://www.bengoshitenshoku.jp/" class="professionals__recruit__button">求人情報を探す<span></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section">
        <div class="common-container">
          <div class="common-secondHeading common-mb">
            <h3 class="common-heading--h3">その他のプロフェッショナル向けサービス</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <h4 class="common-heading--h4">クリエイティブ全般</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">世界中の弁護士が個人単位でエントリーできる、ビジネス法務領域に特化したオンライン上のコミュニケ―ションツール</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                CREATIVE VILLAGE</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
                <p>YouTuber支援</p>
                <p>求人情報・フリーランス支援</p>
                <p>業界情報</p>
              </div>
            </div>
            <!-- <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                CREATIVE VILLAGE</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div> -->
            <div class="professionals__link">
              <a href="https://high-five.careers" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                HIGHーFIVE</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">映像</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://eizoshigoto.com" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                映像しごと.com</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://onlinecreators.jp/kaikien/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                OC KAIKIEN</h3>
                <div class="professionals__link__tag">
                <p>YouTuber支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://onlinecreators.jp/games/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Online Creator GAMES</h3>
                <div class="professionals__link__tag">
                <p>YouTuber支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://onlinecreators.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                The Online Creators</h3>
                <div class="professionals__link__tag">
                <p>YouTuber支援</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">ゲーム</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://www.famitsu.com/career" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                ファミキャリ！</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://crdg.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                C&R社 ゲーム開発スタジオ</h3>
                <div class="professionals__link__tag">
                <p>求人情報・フリーランス支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp/lp/coyote/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                COYOTE 3DCG STUDIO・Technical Team</h3>
                <div class="professionals__link__tag">
                <p>求人情報・フリーランス支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://2d-studio.crdg.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                2DCG STUDIO</h3>
                <div class="professionals__link__tag">
                <p>求人情報・フリーランス支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp/lp/vfx_studio/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                VFX STUDIO</h3>
                <div class="professionals__link__tag">
                <p>求人情報・フリーランス支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp/85015" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Studio WRITE Savers</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp/lp/dd3/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Amusement Creative Studio</h3>
                <div class="professionals__link__tag">
                <p>求人情報・フリーランス支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://crdg.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Game Produce Studio</h3>
                <div class="professionals__link__tag">
                <p>求人情報・フリーランス支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.cri-ox.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                OX ENGINEER STUDIO</h3>
                <div class="professionals__link__tag">
                <p>求人情報・フリーランス支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://cri-synapse.com/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                シナプス通信</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp/84370" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                ハッシーのゲーム業界研究所</h3>
                <div class="professionals__link__tag">
                <p>業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp/lp/GameMeets/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Game Meets</h3>
                <div class="professionals__link__tag">
                <p>業界情報・イベント情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://creative-academy.creativevillage.ne.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                クリエイティブアカデミー</h3>
                <div class="professionals__link__tag">
                <p>スキルアップ支援</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">Web</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://webist-cri.com/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Webist</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.koukokutenshoku.com/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                DX career</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">作家・漫画家</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="http://www.crmangalabo.com" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                漫画LABO</h3>
                <div class="professionals__link__tag">
                <p>求人情報</p>
              </div>
            </div>
          </div>

          <!-- <h4 class="common-heading--h4">舞台芸術</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://www.creativevillage.ne.jp/lp/butai/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                舞台芸術エージェンシー</h3>
                <div class="professionals__link__tag">
                <p>スキルアップ支援</p>
              </div>
            </div>
          </div> -->

          <h4 class="common-heading--h4">医療</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://www.doctor-agent.com/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                民間医局</h3>
                <div class="professionals__link__tag">
                <p>求人情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.residentnavi.com/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                レジナビ</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.residentnavi.com/rnfair" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                レジナビFair／レジナビFairオンライン</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.doctor-agent.com/service/doctors-magazine/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                DOCTOR'S MAGAZINE</h3>
                <div class="professionals__link__tag">
                <p>業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://connect.doctor-agent.com/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                民間医局コネクト</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.nurse-partners.com/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Nurse Partners</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">IT</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://startlab.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Start Lab</h3>
                <div class="professionals__link__tag">
                <p>スキルアップ支援</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">会計</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://career.jusnet.co.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                ジャスネットキャリア</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://staff.jusnet.co.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                ジャスネットスタッフ</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="http://edu.jusnet.co.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                経理実務の学校</h3>
                <div class="professionals__link__tag">
                <p>業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://library.jusnet.co.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Accountant’s Library</h3>
                <div class="professionals__link__tag">
                <p>業界情報・スキルアップ支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.jusnet.co.jp/kusuri/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                経理の薬</h3>
                <div class="professionals__link__tag">
                <p>業界情報・技術情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://career.jusnet.co.jp/partners/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                PERTNERS</h3>
                <div class="professionals__link__tag">
                <p>業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://career.jusnet.co.jp/entry/magazine/magazine_index.php" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Accountant's magazine</h3>
                <div class="professionals__link__tag">
                <p>業界情報・スキルアップ支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://career.jusnet.co.jp/business/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                ビジネス文書の森</h3>
                <div class="professionals__link__tag">
                <p>技術情報</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">法曹</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://legal-agent.jp/attorneys/magazine/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Attoney's MAGAZINE Online</h3>
                <div class="professionals__link__tag">
                <p>業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.bengoshitenshoku.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                弁護士転職.jp</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.houmukyujin.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                法務求人.jp</h3>
                <div class="professionals__link__tag">
                <p>求人情報・転職事例</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://legal-agent.jp/marketingservice" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Business Lawyer’s Marketing Service（BMS）</h3>
                <div class="professionals__link__tag">
                <p>フリーランス支援支援・営業支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.juristerra.net/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                JURISTERRA</h3>
                <div class="professionals__link__tag">
                <p>業界情報</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">建築</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://www.arc-agency.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                アーキテクト･エージェンシー</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.arc-agency.jp/magazine" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Architect's magazine</h3>
                <div class="professionals__link__tag">
                <p>業界情報・イベント情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.arc-agency.jp/bimnoba/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                BIMnoba</h3>
                <div class="professionals__link__tag">
                <p>業界情報・イベント情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://xr-expo.co.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                XR EXPO</h3>
                <div class="professionals__link__tag">
                <p>フリーランス支援・営業支援</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">コンピュータサイエンス</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://www.criprof.com" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
                </a>
              <h3 class="professionals__link__info">
                Computer Science Agency</h3>
                <div class="professionals__link__tag">
                <p>求人情報・イベント情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.criprof.com/magazine" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Technologist's magazine</h3>
                <div class="professionals__link__tag">
                <p>業界情報・イベント情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://symbiorise.com" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Symbiorise</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://freelance.symbiorise.com/lp/DMG07" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                フリーランス支援登録</h3>
                <div class="professionals__link__tag">
                <p>フリーランス支援</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">ライフサイエンス</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://laboshigoto-cri.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                Laboしごと</h3>
                <div class="professionals__link__tag">
                <p>求人情報</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">ファッション</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="http://sow-fca.tokyo" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                SOW.TOKYO</h3>
                <div class="professionals__link__tag">
                <p>求人情報・業界情報</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">食</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://chefz.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                CHEF AGENCY</h3>
                <div class="professionals__link__tag">
                <p>求人情報</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">アスリート</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://athlete-agency.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                アスリート･エージェンシー</h3>
                <div class="professionals__link__tag">
                <p>業界情報</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">CXO</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://c-suitecareer.jp/lp/cxo" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                CXOエージェンシー</h3>
                <div class="professionals__link__tag">
                <p>求人情報</p>
              </div>
            </div>
          </div>

          <h4 class="common-heading--h4">ソリューション</h4>

          <div class="professionals__link__wrapper">
            <div class="professionals__link">
              <a href="https://xr-creek.jp/" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                C&R XR</h3>
                <div class="professionals__link__tag">
                <p>求人情報・フリーランス支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://www.c-place.ne.jp/pec/html/index.html" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                プロフェッショナルエデュケーションセンター（PEC）</h3>
                <div class="professionals__link__tag">
                <p>スキルアップ支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://tlp.edulio.com/pec/cart" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                CR_PEC：講座＆書籍</h3>
                <div class="professionals__link__tag">
                <p>スキルアップ支援</p>
              </div>
            </div>
            <div class="professionals__link">
              <a href="https://criprolang.jp" target="_blank" class="professionals__link__image">
                <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="">
                <p class="professionals__link__hover">概要</p>
                <span class="professionals__link__icon"></span>
              </a>
              <h3 class="professionals__link__info">
                プロフェッショナル語学</h3>
                <div class="professionals__link__tag">
                <p>スキルアップ支援</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="common-mainBottom">
        <div class="common-mainBottom__btnWrap">
          <div class="common-button--whiteArrowBtn">
            <a href="#">事業分野・サ-ビス<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
          <div class="common-button--whiteArrowBtn">
            <a href="#">強み・特徴<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
          <div class="common-button--whiteArrowBtn">
            <a href="#">IR情報<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
          <div class="common-button--whiteArrowBtn">
            <a href="#">サスティナビリティ<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
        </div>
      </div>

      <%- include('../include/_footer.ejs'); %>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/vendor.js"></script>
</body>

</html>
