<ol class="breadcrumb">
	<li>
		<a href="" class="breadcrumb_top">TOP</a>
		<span class="breadcrumb_line">/</span>
	</li>
	<li>
		<a href="">IR情報</a>
		<span class="breadcrumb_line">/</span>
	</li>
	<li>
		<a href=""> IRライブラリ</a>
		<span class="breadcrumb_line">/</span>
	</li>
	<li>
		<a href="">決算説明会資料・動画</a>
	</li>
</ol><!-- /.breadcrumb -->