<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/subpages/_subpageHead.ejs', {path: "../", title: "実績・実例 | クリーク･アンド･リバー社｜C&Rグループ", description: "実績・実例。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../include/_header.ejs'); %>

    <main id="case_studies" class="subpage">
      <div class="sidebar__button" id="js-sidebar__button">
          <div class="sidebar__button__item--open">
            <img src="../../images/case_studies/case_studies_search.svg" alt="絞り込む">
          </div>
          <div class="sidebar__button__close sidebar__button__item--close">
            <span class="sidebar__button__close__span sidebar__button__close__span--top"></span>
            <span class="sidebar__button__close__span sidebar__button__close__span--bottom"></span>
          </div>
          <p class="sidebar__button__text"><span class="sidebar__button__item--open">絞り込む</span><span class="sidebar__button__item--close">閉じる</span></p>
      </div>
      <a id="backBtn" class="backBtn" href="">
        <img src="../images/case_studies/top_back_arrow.svg" alt="">
      </a>
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>実績・実例</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
        <h1 class="imgKv__ttl">実績・実例</h1>
        <span class="imgKv__line"></span>
      </section>
      <div class="contentWrap">
        <div class="contentwrapper">
          <section class="caseStudies">
            <h2 class="common-heading--h2 caseStudies__result" id="categoryClicked">コンピュータサイエンス分野 / プレスリリース</h2>
            <div class="caseStudies__numbers">
              <h2 class="caseStudies__ttl">事例一覧</h2>
              <span class="caseStudies__number">1-10件 / 100件</span>
            </div>
            <ul class="caseStudies__list">
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="../../images/case_studies/case_studies_img_02.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="https://placehold.jp/150x300.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="https://placehold.jp/300x300.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="../../images/case_studies/case_studies_img_01.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="../../images/case_studies/case_studies_img_01.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="../../images/case_studies/case_studies_img_01.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="../../images/case_studies/case_studies_img_01.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="../../images/case_studies/case_studies_img_01.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="../../images/case_studies/case_studies_img_01.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
              <li class="caseStudies__card">
                <div class="caseStudies__tumb"><img src="../../images/case_studies/case_studies_img_01.png" alt=""></div>
                <h3 class="common-heading--h3 caseStudies__tumbTtl">事例タイトルが入ります。</h3>
                <div class="common-heading--h3__underLine"></div>
                <ul class="caseStudies__categoryLabel">
                  <li>映像</li>
                  <li>映像制作</li>
                  <li>VR</li>
                </ul>
                <span class="caseStudies__entryDate -published">Release Date&nbsp;&nbsp;Mar 31, 2022</span>
              </li>
            </ul>
            <!-- <div class="caseStudies__pageList">
              <li class="caseStudies__btn-arrow">
                <a href=""><span class="-arrow"><img src="../../images/case_studies/case_studies_arrow_back.svg" alt=""></span></a>
              </li>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li class="caseStudies__btn-dots"><a href="">…</a></li>
              <li><a href="">8</a></li>
              <li class="caseStudies__btn-arrow">
                <a href=""><span class="-arrow"><img src="../../images/case_studies/case_studies_arrow_next.svg" alt=""></span></a>
              </li>
            </div> -->
            <ul class="archiveList" id="pagination-wrapper">
              <li value="1" class="archiveList__button archiveList__button--prev archiveList__button--invalid"></li>
              <li class="archiveList__button archiveList__button--active" value="1">1</li>
              <li class="archiveList__button " value="2">2</li>
              <li class="archiveList__button " value="3">3</li>
              <li class="archiveList__button " value="4">4</li>
              <li class="archiveList__button " value="5">5</li>
              <li value="2" class="archiveList__button archiveList__button--next"></li>
            </ul>
          </section>
          <div class="sidebar" id="js-sidebar">
            <button class="sidebar__resetButton">絞り込みリセット</button>
            <!-- <h3 class="sidebar__heading">発表年</h3>
                      <ul class="sidebar__list ul_year">
                              <li class="sidebar__list__li sidebar__list__year" onclick="btnYear(this,'2022')"><a href="javascript:void(0)" class="sidebar__link">2022年</a></li>
                              <li class="sidebar__list__li sidebar__list__year" onclick="btnYear(this,'2021')"><a href="javascript:void(0)" class="sidebar__link">2021年</a></li>
                              <li class="sidebar__list__li sidebar__list__year" onclick="btnYear(this,'2020')"><a href="javascript:void(0)" class="sidebar__link">2020年</a></li>
                              <li class="sidebar__list__li sidebar__list__year active" onclick="btnYear(this,'2019')"><a href="javascript:void(0)" class="sidebar__link">2019年</a></li>
                              <li class="sidebar__list__li sidebar__list__year" onclick="btnYear(this,'2018')"><a href="javascript:void(0)" class="sidebar__link">2018年</a></li>
                              <li class="sidebar__list__li sidebar__list__year" onclick="btnYear(this,'2017')"><a href="javascript:void(0)" class="sidebar__link">2017年</a></li>
                              <li class="sidebar__list__li sidebar__list__year" onclick="btnYear(this,'2016')"><a href="javascript:void(0)" class="sidebar__link">2016年</a></li>
                      </ul> -->
            <h3 class="sidebar__heading">領域・分野</h3>
            <div class="sidebar__subHeading">
              <h4 class="sidebar__subHeading__text">クリエイティブ</h4>
            </div>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'映像')"><a href="javascript:void(0)"
                  class="sidebar__link">映像</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'Web')"><a href="javascript:void(0)"
                  class="sidebar__link">Web</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'ゲーム')"><a href="javascript:void(0)"
                  class="sidebar__link">ゲーム</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'広告・出版')"><a href="javascript:void(0)"
                  class="sidebar__link">広告・出版</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'作家')"><a href="javascript:void(0)"
                  class="sidebar__link">作家</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'舞台芸術')"><a href="javascript:void(0)"
                  class="sidebar__link">舞台芸術</a></li>
            </ul>
          
            <div class="sidebar__subHeading">
              <h4 class="sidebar__subHeading__text">メディカルヘルスケア</h4>
            </div>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'医療')"><a href="javascript:void(0)"
                  class="sidebar__link">医療</a></li>
            </ul>
          
            <div class="sidebar__subHeading">
              <h4 class="sidebar__subHeading__text">コンストラクション</h4>
            </div>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'建築')"><a href="javascript:void(0)"
                  class="sidebar__link">建築</a></li>
            </ul>
            
            <div class="sidebar__subHeading">
              <h4 class="sidebar__subHeading__text">コンピューターサイエンス</h4>
            </div>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'コンピュータサイエンス')"><a href="javascript:void(0)"
                  class="sidebar__link">コンピュータサイエンス</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'IT')"><a href="javascript:void(0)"
                  class="sidebar__link">IT</a></li>
            </ul>

            <div class="sidebar__subHeading">
              <h4 class="sidebar__subHeading__text">ライフサイエンス</h4>
            </div>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'ライフサイエンス')"><a href="javascript:void(0)"
                  class="sidebar__link">ライフサイエンス</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'アグリ')"><a href="javascript:void(0)"
                  class="sidebar__link">アグリ</a></li>
            </ul>
          
            <div class="sidebar__subHeading">
              <h4 class="sidebar__subHeading__text">Quality of life</h4>
            </div>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'ファッション')"><a href="javascript:void(0)"
                  class="sidebar__link">ファッション</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'食')"><a href="javascript:void(0)"
                  class="sidebar__link">食</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'アスリート')"><a href="javascript:void(0)"
                  class="sidebar__link">アスリート</a></li>
            </ul>
            
            <div class="sidebar__subHeading">
              <h4 class="sidebar__subHeading__text">経営支援</h4>
            </div>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'会計')"><a href="javascript:void(0)"
                  class="sidebar__link">会計</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'法曹')"><a href="javascript:void(0)"
                  class="sidebar__link">法曹</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'CXO')"><a href="javascript:void(0)"
                  class="sidebar__link">CXO</a></li>
            </ul>
            <!-- <div class="sidebar__subHeading">
              <h4 class="sidebar__subHeading__text">その他</h4>
            </div>
            <ul class="sidebar__list">
                <li class="sidebar__list__li sidebar__list__cat" onclick="btnCat2(this,'ソリューション')"><a href="javascript:void(0)" class="sidebar__link">ソリューション</a></li>
            </ul> -->

            <h3 class="sidebar__heading">ビジネスモデル</h3>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat -borderLi" onclick=""><a href="javascript:void(0)"
                  class="sidebar__link">ライツマネジメント<br><span>知的財産の収益化</span></a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat -borderLi" onclick=""><a href="javascript:void(0)"
                  class="sidebar__link">プロデュース<br><span>請負・アウトソーシング</span></a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat -borderLi" onclick=""><a href="javascript:void(0)"
                  class="sidebar__link">エージェンシー<br><span>紹介・派遣</span></a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat -borderLi" onclick=""><a href="javascript:void(0)"
                  class="sidebar__link">各種ソリューション事業</a></li>
            </ul>

            <h3 class="sidebar__heading">その他</h3>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat -borderLi" onclick=""><a href="javascript:void(0)"
                  class="sidebar__link">自社開発事例</a></li>
            </ul>
            <ul class="sidebar__list">
              <li class="sidebar__list__li sidebar__list__cat -borderLi" onclick=""><a href="javascript:void(0)"
                  class="sidebar__link">C&R Creative Studios実績</a></li>
            </ul>




            <!-- <h3 class="sidebar__heading">サービスで絞り込む</h3>
            <div class="sidebar__serviceList searchMenu">
              <div class="common-button--whiteArrowBtn">
                <a href="">ライツマネジメント<span class="desc">知的財産の収益化</span><div class="arrow--grayBtn"><span class="arrow"></span></div></a>
               </div>
               <div class="common-button--whiteArrowBtn">
                <a href="">プロデュース<span class="desc">請負・アウトソーシング</span><div class="arrow--grayBtn"><span class="arrow"></span></div></a>
               </div>
               <div class="common-button--whiteArrowBtn">
                <a href="">エージェンシー<span class="desc">紹介・派遣</span><div class="arrow--grayBtn"><span class="arrow"></span></div></a>
               </div>
               <div class="common-button--whiteArrowBtn">
                <a href="">周辺サービス<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
               </div>
            </div> -->
          </div>
        </div>
      </div>

    </main>
    <%- include('../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.js"></script>
    <script> objectFitImages(); </script>
    <script>
         var scrBtn = $("#backBtn");
         scrBtn.click(function(){
          var speed = 500;
          var offset = 0;
          var href= $(this).attr("href");
          var target = $(href == "#" || href == "" ? 'html' : href);
          var position = target.offset().top - offset;
          $("html, body").animate({scrollTop:position}, speed, "swing");
          return false;
        });
        $(window).on('load scroll', function(){
          if($(this).scrollTop() > 1 ) {
            scrBtn.fadeIn(0);
          }else{
            scrBtn.fadeOut(0);
          }
        });

        var $sidebar = document.getElementById('js-sidebar');
        var $sidebarButton = document.getElementById('js-sidebar__button');
        $sidebarButton.addEventListener('click', function(){
          this.classList.toggle('is-open');
          $sidebar.classList.toggle('is-open');
        }, false);
    </script>
    <script>
      //truncate title
      const truncate = (input) => input.length > 45 ? `${input.substring(0, 45)}...` : input;

const default_avatar="/cr_thumbnail.jpg";
let category=new RegExp("プレスリリース", 'g');
let category2=new RegExp("", 'g');
let categoryText = "プレスリリース";
let category2Text = "";
let yearText = "";
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const catQuery = urlParams.get('catQuery');
let src_img = new RegExp('http?s?:\\S*(?:png|jpg)');

if(catQuery=="プレスリリース"){
 category=new RegExp("プレスリリース", 'g');
 $(".categoryMenu__button").removeClass("categoryMenu__button--active");
 $("#cat_1").addClass("categoryMenu__button--active");
 $("#categoryClicked").text(catQuery);
}else if(catQuery=="グループ企業"){
 category=new RegExp("グループ企業", 'g');
 $(".categoryMenu__button").removeClass("categoryMenu__button--active");
 $("#cat_2").addClass("categoryMenu__button--active");
 $("#categoryClicked").text(catQuery);
}else if(catQuery=="IR"){
 category=new RegExp("IR", 'g');
 $(".categoryMenu__button").removeClass("categoryMenu__button--active");
 $("#cat_3").addClass("categoryMenu__button--active");
 $("#categoryClicked").text(catQuery);
}else if(catQuery=="セミナー"){
 category=new RegExp("セミナー", 'g');
 $(".categoryMenu__button").removeClass("categoryMenu__button--active");
 $("#cat_4").addClass("categoryMenu__button--active");
 $("#categoryClicked").text(catQuery);
}else if(catQuery=="イベント"){
 category=new RegExp("イベント", 'g');
 $(".categoryMenu__button").removeClass("categoryMenu__button--active");
 $("#cat_5").addClass("categoryMenu__button--active");
 $("#categoryClicked").text(catQuery);
}else if(catQuery=="トピックス"){
 category=new RegExp("トピックス", 'g');
 $(".categoryMenu__button").removeClass("categoryMenu__button--active");
 $("#cat_6").addClass("categoryMenu__button--active");
 $("#categoryClicked").text(catQuery);
}else if(catQuery=="すべて"){
 category=new RegExp("", 'g');
 $(".categoryMenu__button").removeClass("categoryMenu__button--active");
 $("#cat_7").addClass("categoryMenu__button--active");
 $("#categoryClicked").text(catQuery);
}

let year=new RegExp("", 'g');
let state = {
           'page': 1,
           'rows': 8,
           'window': 5,
       }

 function btnCat(e,val){
     category=new RegExp(val, 'g');
     state.page=1;
     $(".categoryMenu__button").removeClass("categoryMenu__button--active")
     $(e).addClass("categoryMenu__button--active");
     if(val=="IR"){
       resultIR();
     }else{
       resultMain();
     }
     if(val==""){
        categoryText = "すべて";
        //$("#categoryClicked").text("すべて");
     }else{
       categoryText = val;
       //$("#categoryClicked").text(val);
     }
     changeHeaderText();
   }

   function btnCat2(e,val){
     category2=new RegExp(val, 'g');
     $('.sidebar__resetButton').removeClass("is-hide");
     state.page=1;
     $(".sidebar__list__cat").removeClass("active");
     $(e).addClass("active");

     
       resultMain();
       category2Text = val;
       changeHeaderText();
       $('.sidebar__button__text .sidebar__button__item--close').html("結果を見る");
       $("#js-sidebar__button").addClass("spFilter")
       $(".sidebar__button__text .sidebar__button__item--close").addClass("spFilterText")
       $("div.sidebar__button__close").addClass("is-hide")
       
   }

   function btnYear(e,val){
     year=new RegExp(val, 'g');
     yearText = val;
     $('.sidebar__resetButton').removeClass("is-hide");
     state.page=1;
     $(".sidebar__list__year").removeClass("active");
     $(e).addClass("active");
     if(category=="/IR/g" && category2=="/(?:)/g"){
       resultIR();
     }else{
       resultMain();
     }

     changeHeaderText();

     $('.sidebar__button__text .sidebar__button__item--close').text("結果を見る");
     $("#js-sidebar__button").addClass("spFilter")
     $(".sidebar__button__text .sidebar__button__item--close").addClass("spFilterText")
     $("div.sidebar__button__close").addClass("is-hide")
   }

   //Reset Button
   $('.sidebar__resetButton').click(function(){
     $(".categoryMenu__button").removeClass("categoryMenu__button--active");
     $(this).addClass("is-hide");
     state.page=1;
     $(".sidebar__list__cat").removeClass("active");
     $(".sidebar__list__year").removeClass("active");
     $(".categoryMenu__button").first().addClass("categoryMenu__button--active");
     category=new RegExp("プレスリリース", 'g');
     category2=new RegExp("", 'g');
     year=new RegExp("", 'g');
     resultMain();
     categoryText="プレスリリース";
     category2Text="";
     yearText="";
     changeHeaderText();

     
   });
   
   //open menu on sp
   $("#js-sidebar__button").click(function(){
     $('.sidebar__button__text .sidebar__button__item--close').html("閉じる");
     $(this).removeClass("spFilter")
     $(".sidebar__button__text .sidebar__button__item--close").removeClass("spFilterText")
     $("div.sidebar__button__close").removeClass("is-hide")
   });
 
   const getArticles = () =>{
      const request = new Request("/news/data.json",{
          "method" : "GET"
      });

      const response = fetch(request);

      return response.then((response) => response.json());
   }

   const getArticle = async () =>{
       try{
           const response = await getArticles();
           // console.log(response);
           return response.news;
       }catch{
           return "product not found";
       }
   }
   const pinToTop = (data) =>{
       let rImg="";
       let html_pinToTop;
       data = $.grep(data, function (n, i) {
           return n.pin.match(1);
       });
       data = data.slice(0,1);

       if(data[0].img!=""){
           rImg =data[0].img ;
         }else{
           rImg = data[0].img2.match(src_img);
           // rImg="/mt-static/static_HTML/images/dummy_common/dummy_common_mv4.png"
         }

         let title = truncate(data[0].title);
         let primary = data[0].main_cat;
         let appenMainCat = mainCategoriesSort(primary);
         let secondary = data[0].second_cat.replaceAll(',', ' / ');
         
         if (primary.charAt(primary.length - 1) == ','){
             primary = primary.slice(0,-1);
         }else{
             primary = primary.replaceAll(',', ' / ');
         }
       html_pinToTop = `
       <a href="${data[0].url}" class="newsRelease__item">
               <div class="newsRelease__sp">
               <p class="newsRelease__date">${data[0].date}</p>
               <div class="newsRelease__labelArea">
                   ${appenMainCat}
               </div>
               </div>
               <img id="tesimg" src="${rImg}" alt="ダミー">
               <div class="newsRelease__content">
               <div class="newsRelease__pc">
                   <p class="newsRelease__date">${data[0].date}</p>
                   <div class="newsRelease__labelArea">
                     ${appenMainCat}
                   </div>
                   <p class="newsRelease__tag">${primary+' / '+secondary}</p>
               </div>
               <h3 class="newsRelease__title">${title}</h3>
               </div>
           </a>
       `
       $('#PinToTop').append(html_pinToTop);
       $('#PinToTop img').each(function(){
           
           $("img").bind("error",function(){
               // Replacing image source
               $(this).attr("src",default_avatar);
               });
       });
       if(window.location.origin=="https://admin.cri.co.jp"){
       $(".newsRelease__img img").each(function(){
           $('img').prop('src', function () { return this.src.replace('www.cri.co.jp','admin.cri.co.jp'); })
           }) 
       } 
   }
   const resultTop = () => {
    getArticle()
       .then((article)=> {        
           pinToTop(article);
       });
   }
   
   resultTop();

   const filterArticle = (data) =>{
       data = $.grep(data, function (n, i) {
           return n.main_cat.match(category);
       });
       data = $.grep(data, function (n, i) {
           return n.format_date.match(year);
       });
       data = $.grep(data, function (n, i) {
           return n.second_cat.match(category2);
       });
       return data;
   }

   const catSplit= (cat) =>{
       
           let textCat = cat.split(",");
           let resultCat="";
           if(textCat.length!=0){
               textCat.forEach(element =>{
                   resultCat+=`<span class="newsLabel newsLabel--else">${element} </span>`;
               })
           }
           
       return resultCat;
   }
   ///mainCategories colo and sorting
   const mainCategoriesSort = (mainCate) =>{
           
   let categories = ["プレスリリース","グループ企業","IR","セミナー","イベント","トピックス"];
   let newCategories=[];
   let appenCategories="";
   
     categories.forEach(el=>{
       if(mainCate.includes(el)){
         newCategories.push(el)
       }
     })
           
     newCategories.forEach(el=>{
       if(el!=""){
         let css_cat=catColor(el);
       appenCategories+=`<span class="newsLabel ${css_cat}">${el}</span>`
       }
     })
   return appenCategories;
   }

   const sliceMainArticle = (data) =>{
       return data.slice(0,10)
   }

   function pagination(querySet, page, rows) {

   let trimStart = (page - 1) * rows
   let trimEnd = trimStart + rows

   let trimmedData = querySet.slice(trimStart, trimEnd)

   let pages = Math.ceil(querySet.length / rows);

   return {
       'querySet': trimmedData,
       'pages': pages,
       'trimEnd': trimEnd,
   }
   }
   function pageButtons(pages,state,data) {
       let wrapper = document.getElementById('pagination-wrapper')

       wrapper.innerHTML = ``

       let maxLeft = (state.page - Math.floor(state.window / 2))
       let maxRight = (state.page + Math.floor(state.window / 2))

       if (maxLeft < 1) {
           maxLeft = 1
           maxRight = state.window
       }

       if (maxRight > pages) {
           maxLeft = pages - (state.window - 1)
           
           if (maxLeft < 1){
             maxLeft = 1
           }
           maxRight = pages
       }
       if(data.length!=0){
         let ative_button="";
       for (let page = maxLeft; page <= maxRight; page++) {
         if(page==state.page){
           ative_button = "archiveList__button--active";
         }else{
           ative_button="";
         }
         wrapper.innerHTML += `<li class="archiveList__button ${ative_button}" value=${page}>${page}</li>`
       }
       if (state.page != 1) {
           wrapper.innerHTML = `<li value=${state.page-1} class="archiveList__button archiveList__button--prev"></li>` + wrapper.innerHTML
       }else{
         wrapper.innerHTML = `<li value=${state.page} class="archiveList__button archiveList__button--prev archiveList__button--invalid"></li>` + wrapper.innerHTML
       }

       if (state.page != pages) {
           wrapper.innerHTML += `<li value=${state.page+1} class="archiveList__button archiveList__button--next"></li>`
       }else{
         wrapper.innerHTML += `<li value=${state.page} class="archiveList__button archiveList__button--next archiveList__button--invalid"></li>`
       }
     }
       $('.archiveList__button').on('click', function() {
           $('#table-body').empty()

           state.page = Number($(this).val())
           // console.log(state.page);
           if(category=="/IR/g"){
               resultIR();
           }else{
               resultMain();
           }
           $('html,body').animate({scrollTop: $("#categoryClicked").offset().top - 100 });
       })

   }
   const catColor = (cat) =>{
       let css_cat="";
       if(cat=="プレスリリース"){
           css_cat= "newsLabel--pressRelease";
       }else if(cat=="グループ企業"){
           css_cat= "newsLabel--グループ企業";
       }else if(cat=="IR"){
           css_cat= "newsLabel--IR";
       }else if(cat=="セミナー"){
           css_cat= "newsLabel--セミナー";
       }else if(cat=="イベント"){
           css_cat= "newsLabel--イベント";
       }else if(cat=="トピックス"){
           css_cat= "newsLabel--トピックス";
       }else{
           css_cat= "newsLabel--トピックス";
       }
       return css_cat;
   }
   const counterArticle = (dataLength,page) =>{
     let total_data = dataLength;
     let first_count = 1+8*(page-1);
     let second_count = 8*page;
     if(first_count>total_data){
       first_count = total_data;
     }
     if(second_count>total_data){
       second_count = total_data;
     }

     return {
       'total':total_data,
       'first':first_count,
       'second':second_count,
     }
   }
   const mainArticle = (data) =>{
       let html_main_article="";
       let secondCat="";
       let rImg="";
       data=filterArticle(data);
       // data=sliceMainArticle(data);
       // console.log(data);
       
       let pagi = pagination(data, state.page, state.rows);
       let myList = pagi.querySet; 

       let countEr = counterArticle(data.length,state.page);
       $('.archiveList__number__parts').text(`${countEr.first}-${countEr.second}件 / ${countEr.total}件`);

       if(data.length==0){
           html_main_article +=`<span style="text-align: center;display: block;font-weight: bold;font-size: 28px;">検索結果はありません</span>`;
           }else{
             // console.log(myList);
       myList.forEach(element => {
         
         let appenMainCat = mainCategoriesSort(element.main_cat);
       
         if(element.second_cat!=""){
           secondCat = catSplit(element.second_cat);
         }else{
           secondCat="";
         }
         if(element.img!=""){
           rImg =element.img ;
         }else{
           rImg = element.img2.match(src_img);
           // rImg="/mt-static/static_HTML/images/dummy_common/dummy_common_mv4.png";
         }
         let primary = element.main_cat;
         let secondary = element.second_cat.replaceAll(',', ' / ');
         if (primary.charAt(primary.length - 1) == ','){
             primary = primary.slice(0,-1);
         }else{
             primary = primary.replaceAll(',', ' / ');
         }
         let title = truncate(element.title);
             html_main_article +=`
               <a href="${element.url}" class="newsRelease__item">
               <div class="newsRelease__sp">
                 <p class="newsRelease__date">${element.format_date}</p>
                 <div class="newsRelease__labelArea">
                   ${appenMainCat}
                 </div>
               </div>
               <div class="newsRelease__img">
                 <img src="${rImg}" alt="ダミー">
               </div>
               <div class="newsRelease__content">
                 <div class="newsRelease__pc">
                   <p class="newsRelease__date">${element.format_date}</p>
                   <div class="newsRelease__labelArea">
                     ${appenMainCat}
                     </div>
                   <p class="newsRelease__tag">${primary+' / '+secondary}</p>
                 </div>
                 <h3 class="newsRelease__title">${title}</h3>
               </div>
               </a>
             `;
       });
     }
       pageButtons(pagi.pages,state,data);
       $('#main_article').html(html_main_article);

       $('#main_article img').each(function(){
           
           $("img").bind("error",function(){
               // Replacing image source
               $(this).attr("src",default_avatar);
               });
       });
       if(window.location.origin=="https://admin.cri.co.jp"){
       $(".newsRelease__img img").each(function(){
           $('img').prop('src', function () { return this.src.replace('www.cri.co.jp','admin.cri.co.jp'); })
           }) 
       }
       
   }
   
   let ul_year = "2022年";
   let c_ul_year =`<li class="sidebar__list__li sidebar__list__year" onclick="btnYear(this,'2022')"><a href="javascript:void(0)" class="sidebar__link">2022年</a></li>`;
   let temp_ulYear = [];
   $('.sidebar__list__year .sidebar__link').each(function(){
       temp_ulYear.push($(this).text());
   });

   if(temp_ulYear.includes(ul_year)==false){
       $('.ul_year').prepend(`<li class="sidebar__list__li sidebar__list__year" onclick="btnYear(this,'2022')"><a href="javascript:void(0)" class="sidebar__link">2022年</a></li>`);
   }

   const irSection = (data) =>{
       let newData=[];
       let html_IR="";
       let irSearch = new RegExp("IR", 'g');
       let urlIR="javascript:void(0)";
       objret = $.grep(data, function (n, i) {
           return n.main_cat.match(irSearch);
       });
       newData.push(objret);
       $.each(result, function(i, item2) {
           newData[0].push(item2);
       });
       newData[0].sort((a, b) => {
           return new Date(b.date) - new Date(a.date); // ascending
       });
       
       // console.log(newData);
       objret = $.grep(newData[0], function (n, i) {
           return n.format_date.match(year);
       });
       let pagi = pagination(objret, state.page, state.rows)
       let myList = pagi.querySet; 

       let countEr = counterArticle(objret.length,state.page);
       $('.archiveList__number__parts').text(`${countEr.first}-${countEr.second}件 / ${countEr.total}件`);

       if(data.length==0){
           html_main_article +=`<span style="text-align: center;display: block;font-weight: bold;font-size: 28px;">検索結果はありません</span>`;
           }else{

               myList.forEach(element=>{

                
         
                   let title = truncate(element.title);
               if(typeof element.guid==="undefined"){ 
                 if(element.img!=""){
           rImg =element.img ;
         }else{
           rImg = element.img2.match(src_img);
         }
                 let appenMainCat = mainCategoriesSort(element.main_cat);


                   if(element.text!=""){
                       urlIR = element.url;
                   }
                   html_IR +=`
               <a href="${urlIR}" class="newsRelease__item">
               <div class="newsRelease__sp">
                 <p class="newsRelease__date">${element.format_date}</p>
                 <div class="newsRelease__labelArea">
                  ${appenMainCat}
                 </div>
               </div>
               <div class="newsRelease__img">
                 <img src="${rImg}" alt="ダミー">
               </div>
               <div class="newsRelease__content">
                 <div class="newsRelease__pc">
                   <p class="newsRelease__date">${element.format_date}</p>
                   <div class="newsRelease__labelArea">
                     ${appenMainCat}
                     </div>
                   <p class="newsRelease__tag">${element.text}</p>
                 </div>
                 <h3 class="newsRelease__title">${title}</h3>
               </div>
               </a>
             `;
               }else{  
                   if(element.type=="url"){
                           itemType=`<img src="/url.png" width="25px" height="25px" style="object-fit: contain;">`;
                       }else{
                           itemType=`<img src="/pdf.png" width="25px" height="25px" style="object-fit: contain;">`;
                       }   
                   html_IR +=`
               <a href="${element.link}" class="newsRelease__item">
               <div class="newsRelease__sp">
                 <p class="newsRelease__date">${element.format_date}</p>
                 <div class="newsRelease__labelArea">
                   <span class="newsLabel newsLabel--IR">IR</span>
                 </div>
               </div>
               <div class="newsRelease__img">
                 <img src="/cr_thumbnail.jpg" alt="ダミー">
               </div>
               <div class="newsRelease__content">
                 <div class="newsRelease__pc">
                   <p class="newsRelease__date">${element.format_date}</p>
                   <div class="newsRelease__labelArea">
                     <span class="newsLabel  newsLabel--IR">IR</span>
                     </div>
                   <p class="newsRelease__tag"></p>
                 </div>
                 <h3 class="newsRelease__title">${title} ${itemType}</h3>
               </div>
               </a>
             `;
               }
           })
           // close forEach
       }
       pageButtons(pagi.pages,state,data);
       $('#main_article').html(html_IR);
       $('#main_article img').each(function(){
           
           $("img").bind("error",function(){
               // Replacing image source
               $(this).attr("src",default_avatar);
               });
       });
       if(window.location.origin=="https://admin.cri.co.jp"){
       $(".newsRelease__img img").each(function(){
           $('img').prop('src', function () { return this.src.replace('www.cri.co.jp','admin.cri.co.jp'); })
           }) 
       } 

   }

   const changeHeaderText = () => {
       let headerText = ""
       if (yearText != ''){
           headerText = yearText+'年 / ';
       }
       if (category2Text != ''){
           headerText = headerText + category2Text+"分野 / ";
       }
       headerText = headerText + categoryText;
       $('#categoryClicked').text(headerText);
   }

   const resultIR = () => {
    getArticle()
       .then((article)=> {        
           irSection(article);
       });
   }
   
   const resultMain = () => {
    getArticle()
       .then((article)=> {        
           mainArticle(article);
       });
   }
   
   resultMain();
        
    </script>
  </body>
</html>