<section class="p-top__mission">
  <div class="p-top__missionHeading">
    <div class="c-headingArea">
      <h2 class="c-heading --mission js-scrollFadeIn --heading">
        <img src="<%= data.commonImgPath %>/heading_mission.svg" alt="Mission" loading="lazy">
      </h2>
      <p class="c-headingSub --mission">
        <span>事業概要・社長メッセージ</span>
      </p>
    </div>
  </div>
  <div class="p-top__missionContents js-scrollFadeIn --block">
    <h3 class="p-top__missionSubTitle">テキストが入ります。テキストが入ります。</h3>
    <p class="p-top__missionText">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <div class="p-top__missionLink">
      <div class="c-button --whiteBack">
        <a href="<%= data.path %>/mission/">
          <span>社員メッセージを見る</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18.392" height="18.81" viewBox="0 0 18.392 18.81">
            <g transform="translate(1 1.398)">
              <line x2="8" transform="translate(0 8)" fill="none" stroke="#150578" stroke-linecap="round" stroke-width="2"/>
              <path d="M0,6.139,8.318,0S14.285,4.6,16,6.139" transform="translate(16.139) rotate(90)" fill="none" stroke="#150578" stroke-linecap="round" stroke-width="2"/>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="p-top__missionBgImg js-scrollFadeIn --block">
    <img src="<%= data.imgPath %>/top/mission_bg.webp" alt="Mission Bg" loading="lazy">
  </div>
</section>