<section class="p-top__news">
  <div class="p-top__newsInner">
    <h2 class="p-top__newsHeading">NEWS</h2>
    <div class="p-top__newsListArea">
      <ul class="p-top__newsList" id="js-news-list">
        <li class="p-top__newsItem is-link-hide">
          <div class="p-top__newsItemInner">
            <div class="p-top__newsItemSub">
              <span class="date">2023.01.31</span>
              <span class="label --information">お知らせ</span>
            </div>
            <p class="p-top__newsItemText">新卒採用サイトをオープンしました。</p>
          </div>
        </li>
        <li class="p-top__newsItem is-link-hide">
          <a href="#" class="p-top__newsItemInner">
            <div class="p-top__newsItemSub">
              <span class="date">2022.04.11</span>
              <span class="label --information">お知らせ</span>
            </div>
            <p class="p-top__newsItemText">新卒採用説明会の日程を更新しました。テキストが入ります。2行新卒採用説明会の日程を更新しました。テキストが入ります。2行</p>
          </a>
        </li>
        <li class="p-top__newsItem is-link-hide">
          <div class="p-top__newsItemInner">
            <div class="p-top__newsItemSub">
              <span class="date">2022.04.11</span>
              <span class="label --information">お知らせB</span>
            </div>
            <p class="p-top__newsItemText">リンクではない状態。新卒採用説明会の日程を更新しました。テキストが入ります。テキストが入ります。テキストが入…</p>
          </div>
        </li>
        <li class="p-top__newsItem is-link-hide">
          <a href="#" class="p-top__newsItemInner">
            <div class="p-top__newsItemSub">
              <span class="date">2022.04.11</span>
              <span class="label --information">お知らせ</span>
            </div>
            <p class="p-top__newsItemText">新卒採用説明会の日程を更新しました。テキストが入ります。2行新卒採用説明会の日程を更新しました。テキストが入ります。2行</p>
          </a>
        </li>
        <li class="p-top__newsItem is-link-hide">
          <div class="p-top__newsItemInner">
            <div class="p-top__newsItemSub">
              <span class="date">2022.04.11</span>
              <span class="label --information">お知らせB</span>
            </div>
            <p class="p-top__newsItemText">リンクではない状態。新卒採用説明会の日程を更新しました。テキストが入ります。テキストが入ります。テキストが入…</p>
          </div>
        </li>
        <li class="p-top__newsItem is-link-hide">
          <a href="#" class="p-top__newsItemInner">
            <div class="p-top__newsItemSub">
              <span class="date">2022.04.11</span>
              <span class="label --information">お知らせ</span>
            </div>
            <p class="p-top__newsItemText">新卒採用説明会の日程を更新しました。テキストが入ります。2行新卒採用説明会の日程を更新しました。テキストが入ります。2行</p>
          </a>
        </li>
        <li class="p-top__newsItem is-link-hide">
          <div class="p-top__newsItemInner">
            <div class="p-top__newsItemSub">
              <span class="date">2022.04.11</span>
              <span class="label --information">お知らせB</span>
            </div>
            <p class="p-top__newsItemText">リンクではない状態。新卒採用説明会の日程を更新しました。テキストが入ります。テキストが入ります。テキストが入…</p>
          </div>
        </li>
      </ul>
      <div class="p-top__newsBtnWrap">
        <button class="p-top__newsBtn" id="js-news-moreBtn">
          <span class="text">VIEW MORE</span>
          <span class="icon">
            <img src="<%= data.commonImgPath %>/icon_plus.svg" alt="+ プラスアイコン" loading="lazy">
          </span>
        </button>
      </div>
    </div>
  </div>
</section>