<section class="c-section">
  <h1 class="c-section__heading js-topLevel-heading">ACCESS</h1>
  <div class="c-section__contentsArea">
    <div class="c-section__contentWrap">
      <h2 class="c-heading--genreTitle">Pacifico Yokohama</h2>
      <div class="p-access__mapWrap">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=zqGayhRi0NSo.k5HRl_qkHdOI"></iframe>
      </div>
      <div class="c-section__textWrap">
        <p class="c-text mt"><b>Access from nearest station</b></p>
        <p class="c-text mt">3 minute walk from Minato <a href="#">Mirai Station (Minato Mirai Line)</a></p>
        <p class="c-text mt">Go out “Queen’s Square Exit” and walk leftward to take the long red escalator and the front escalator to the 2nd floor. Turn left and walk through Queen’s Square.</p>
        <p class="c-text mt">From Yokohama Station: 7 minutes by taxi</p>
        <p class="c-text mt">Take a taxi from Yokohama Station East Exit (PORTA B2F) or from YCAT (Yokohama City Air Terminal).</p>
      </div>
    </div>
    <div class="c-section__contentWrap bgBlue">
      <div class="c-section__contentInner">
        <h2 class="c-heading--genreTitle">Pacifico Yokohama</h2>
        <div class="c-section__textWrap">
          <p class="c-text mt"><b>Access from nearest station</b></p>
          <p class="c-text mt">3 minute walk from Minato <a href="#">Mirai Station (Minato Mirai Line)</a></p>
          <p class="c-text mt">Go out “Queen’s Square Exit” and walk leftward to take the long red escalator and the front escalator to the 2nd floor. Turn left and walk through Queen’s Square.</p>
          <p class="c-text mt">From Yokohama Station: 7 minutes by taxi</p>
          <p class="c-text mt">Take a taxi from Yokohama Station East Exit (PORTA B2F) or from YCAT (Yokohama City Air Terminal).</p>
        </div>
      </div>
    </div>
  </div>
</section>