<div class="p-top__fv js-fv-area">
  <div class="p-top__fvImg" id="js-top-fvImg">
    <img class="is-pc" src="<%= data.path %>/images/top_fv_pc.webp" alt="top fv pc">
    <img class="is-sp" src="<%= data.path %>/images/top_fv_sp.webp" alt="top fv sp">
  </div>
  <div class="p-top__fvLogo">
    <img src="<%= data.commonImgPath %>/logo.svg" alt="IETF116 YOKOHAMA LOGO">
  </div>
  <div class="p-top__scrollSign">
    <img src="<%= data.path %>/images/top_scroll_down.svg" alt="â— SCROLL DOWN ---">
  </div>
</div>