<section class="c-section">
  <h1 class="c-section__heading js-topLevel-heading">NEWS</h1>
  <div class="c-section__contentsArea">
    <div class="c-section__contentWrap">
      <ul class="c-section__newsList top">
        <li class="c-section__newsItem">
          <a href="#">
            <dl class="c-section__newsItemInner">
              <dt>July 30 2022</dt>
              <dd>
                <div class="c-section__newsItemText">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
                  <span class="c-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g transform="translate(-1015 -5276)">
                        <g transform="translate(1015 5276)" stroke-width="1">
                          <circle cx="12" cy="12" r="12" stroke="none" />
                          <circle cx="12" cy="12" r="11.5" fill="none" />
                        </g>
                        <path d="M-1975.62,1090.283l2.667,3-2.667,3" transform="translate(3001.12 4195.217)" fill="none"
                          stroke-linecap="round" stroke-width="1" />
                      </g>
                    </svg>
                  </span>
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="c-section__newsItem">
          <a href="#">
            <dl class="c-section__newsItemInner">
              <dt>Nov. 30 2022</dt>
              <dd>
                <div class="c-section__newsItemText">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
                  <span class="c-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g transform="translate(-1015 -5276)">
                        <g transform="translate(1015 5276)" stroke-width="1">
                          <circle cx="12" cy="12" r="12" stroke="none" />
                          <circle cx="12" cy="12" r="11.5" fill="none" />
                        </g>
                        <path d="M-1975.62,1090.283l2.667,3-2.667,3" transform="translate(3001.12 4195.217)" fill="none"
                          stroke-linecap="round" stroke-width="1" />
                      </g>
                    </svg>
                  </span>
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="c-section__newsItem">
          <a href="#">
            <dl class="c-section__newsItemInner">
              <dt>May. 30 2022</dt>
              <dd>
                <div class="c-section__newsItemText">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
                  <span class="c-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g transform="translate(-1015 -5276)">
                        <g transform="translate(1015 5276)" stroke-width="1">
                          <circle cx="12" cy="12" r="12" stroke="none" />
                          <circle cx="12" cy="12" r="11.5" fill="none" />
                        </g>
                        <path d="M-1975.62,1090.283l2.667,3-2.667,3" transform="translate(3001.12 4195.217)" fill="none"
                          stroke-linecap="round" stroke-width="1" />
                      </g>
                    </svg>
                  </span>
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="c-section__newsItem">
          <a href="#">
            <dl class="c-section__newsItemInner">
              <dt>May. 30 2022</dt>
              <dd>
                <div class="c-section__newsItemText">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
                  <span class="c-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g transform="translate(-1015 -5276)">
                        <g transform="translate(1015 5276)" stroke-width="1">
                          <circle cx="12" cy="12" r="12" stroke="none" />
                          <circle cx="12" cy="12" r="11.5" fill="none" />
                        </g>
                        <path d="M-1975.62,1090.283l2.667,3-2.667,3" transform="translate(3001.12 4195.217)" fill="none"
                          stroke-linecap="round" stroke-width="1" />
                      </g>
                    </svg>
                  </span>
                </div>
              </dd>
            </dl>
          </a>
        </li>
        <li class="c-section__newsItem">
          <a href="#">
            <dl class="c-section__newsItemInner">
              <dt>May. 30 2022</dt>
              <dd>
                <div class="c-section__newsItemText">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
                  <span class="c-link__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <g transform="translate(-1015 -5276)">
                        <g transform="translate(1015 5276)" stroke-width="1">
                          <circle cx="12" cy="12" r="12" stroke="none" />
                          <circle cx="12" cy="12" r="11.5" fill="none" />
                        </g>
                        <path d="M-1975.62,1090.283l2.667,3-2.667,3" transform="translate(3001.12 4195.217)" fill="none"
                          stroke-linecap="round" stroke-width="1" />
                      </g>
                    </svg>
                  </span>
                </div>
              </dd>
            </dl>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>