<div class="p-top__sponsor">
  <p class="p-top__sponsorText">Sponsored by</p>
  <ul class="p-top__sponsorList">
    <li>
      <img src="<%= data.path %>/images/dummy_sponsor_1.png" alt="dummy sponsor 1">
    </li>
    <li>
      <img src="<%= data.path %>/images/dummy_sponsor_2.png" alt="dummy sponsor 2">
    </li>
  </ul>
</div>