<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../", title: "事業分野・サービス | クリーク･アンド･リバー社｜C&Rグループ", description: "映像。事業分野・サービス。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="service" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">事業分野・サービス</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>映像</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="serviceMv">
        <div class="serviceMv__img">
          <img class="serviceMv__img-sp" src="../../images/services/video_mv_sp.png" alt="">
          <img class="serviceMv__img-pc" src="../../images/services/video_mv_pc.png" alt="">
          <h2 class="firstMv__heading">Our<br>Professionals<br>Innovate<br>Your<br>World.</h2>
          <div id="js-slideupItem" class="firstMv__bottom is-slideup">
            <div class="firstMv__bottomInner">
                <span class="firstMv__genre" id="js-genreText">TV &amp; Movies</span>
                <p>
                    <span class="firstMv__total" id="js-genreCount">85,650</span>
                    <span class="firstMv__text">Professionals</span>
                </p>
            </div>
            <p class="firstMv__addText" id="js-creativeText">クリエィティブ領域合計</p>
          </div>
        </div>
        <h1 class="serviceMv__ttl">
          
        </h1>
      </section>
      <div class="contentWrap">
        <section class="serviceTop">
          <h2 class="serviceTop__ttl">
            映像 <span class="serviceTop__ctgr">クリエイティブ</span>
          </h2>
          <p class="serviceTop__lead">
            テレビ番組、映画、配信動画の制作プロデュースとして、レギュラー番組や特番など多数。報道、バラエティ、ドラマなどへのエージェンシー（派遣・紹介）と合わせて地上波キー局の約45％の番組制作に関わる。YouTubeのMCNとしてチャンネルサポートやライツマネントを行う。
          </p>
          <div class="serviceTop__hashTagListWrap">
            <ul class="serviceTop__hashTagList contentWrap">
              <li class="serviceTop__hashTag">＃医師・看護師・医学生のキャリア支援</li>
              <li class="serviceTop__hashTag">＃医療機関への人材紹介</li>
              <li class="serviceTop__hashTag">＃医療業界向け</li>
              <li class="serviceTop__hashTag">＃医療業界向けメディア・サービス運営</li>
              <li class="serviceTop__hashTag">＃医療系広報・制作支援</li>
              <li class="serviceTop__hashTag">＃医師向け語学プログラム開発</li>
              <li class="serviceTop__hashTag">＃M&A・開業・経営支援</li>
              <li class="serviceTop__hashTag">＃医療×VR</li>
              <li class="serviceTop__hashTag">＃医療×ドローン</li>
              <li class="serviceTop__hashTag">＃医療×AI</li>
            </ul>
          </div>
        </section>
        <section class="network">
          <h2 class="service__commonTtl">C&Rグループネットワーク</h2>
          <!-- <div class="network__txtboxWrapper"> -->
            <dl class="network__txtbox">
              <dt class="network__name">プロフェッショナル数</dt>
              <dd class="network__txtWrap">
                <span class="network__txt">約</span>
                <span class="network__txt-large">85,650</span>
                <span class="network__txt">人</span>
              </dd>
              <dd class="network__cap">
                クリエイティブ領域合計
              </dd>
            </dl>
            <dl class="network__txtbox">
              <dt class="network__name">クライアント数</dt>
              <dd class="network__txtWrap">
                <span class="network__txt">約</span>
                <span class="network__txt-large">15,800</span>
                <span class="network__txt">施設</span>
              </dd>
              <dd class="network__cap">
                クリエイティブ領域合計
              </dd>
            </dl>
          <!-- </div> -->
          <div class="network__company">
            <p class="network__companyTtl">担当企業</p>
            <a class="network__companyName" href="">> クリーク･アンド･リバー社</a>
            <a class="network__companyName -icon" href="">> 株式会社ウイング</a>
            <a class="network__companyName -icon" href="">> 株式会社forGIFT</a>
            <a class="network__companyName -icon" href="">> CREEK & RIVER ENTERTAINMENT Co., Ltd.</a>
          </div>
          <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
                <dt class="serviceList__jobTtl">対象職種</dt>
                <dd class="serviceList__jobTxt">プロデューサー、ディレクター、映画監督、カメラマン、編集、MA</dd>
            </dl>
          </div>
        </section>
        <section class="serviceList">
          <h2 class="service__commonTtl">サービス一覧</h2>

          <h3 class="common-heading--h3">エージェンシー</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃医師・看護師・医学生のキャリア支援</li>
            <li class="serviceList__hashTag">＃医療機関への人材紹介</li>
          </ul>
          <!-- <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">対象職種</span>
              <dd class="serviceList__jobTxt">プロデューサー、ディレクター、映画監督、カメラマン、編集、MA</p>
            </dl>
          </div> -->
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li>
              <a class="serviceList__offerLink icon-black commonBanner" target="_blank" href="">
                <img src="../../images/services/video_service_img_01.png" alt="">
                <div class="commonBanner__onText">
                  クリーク･アンド･リバー社の事業やサービス、ニュースおよびC&Rグループ情報
                </div>
              </a>
              <div class="commonBanner__tagWrap">
                <p class="commonBanner__tag">求人掲載</p>
                <p class="commonBanner__tag">人材紹介</p>
                <p class="commonBanner__tag">人材紹介</p>
              </div>
            </li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_02.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_03.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_04.png" alt=""></a></li>
          </ul>

          <h3 class="common-heading--h3">プロデュース</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃医療業界向けメディア・サービス</li>
            <li class="serviceList__hashTag">＃医療系広報・制作支援</li>
          </ul>
          <!-- <div class="serviceList__jobListWrap">
            <dl class="serviceList__jobList contentWrap">
              <dt class="serviceList__jobTtl">対象職種</span>
              <dd class="serviceList__jobTxt">プロデューサー、ディレクター、映画監督、カメラマン、編集、MA</p>
            </dl>
          </div> -->
          <span class="serviceList__offerTtl">提供しているサービス</span>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_01.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_05.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_06.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_07.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_08.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_09.png" alt=""></a></li>
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_10.png" alt=""></a></li>
          </ul>

          <h3 class="common-heading--h3">ライツマネジメント</h3>
          <div class="common-heading--h3__underLine"></div>
          <ul class="serviceList__hashTagList">
            <li class="serviceList__hashTag">＃副見出し的なタグが入ります</li>
            <li class="serviceList__hashTag">＃副見出し的なタグが入ります</li>
          </ul>
          <ul class="serviceList__offerWrapper">
            <li><a class="serviceList__offerLink icon-black" target="_blank" href=""><img src="../../images/services/video_service_img_01.png" alt=""></a></li>
          </ul>

          <h4 class="common-heading--h4 mt">映像分野の事例・実績</h4>
          <div class="service__listLink"><a href="#" class="common-link">映像分野の事例・実績一覧へ</a></div>
          <div class="common-carouselArea">
            <div class="common-carouselArea__topWrap">
              <!-- <h4 class="common-heading--h4">関連事項</h4> -->
              <div class="common-carouselArea__arrowWrap">
                <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
              </div>
            </div>
            <div class="common-carousel js-carousel">
              <ul class="common-carouselWrap" id="js-carousel">
                <li class="js-carouselItem">
                  <img src="../../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="btnWrapper">
              <div class="common-button--grayArrowBtn -back">
                <a href="#">事業分野・サービス一覧に戻る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
              </div>
            </div>
          </div>

        </section>
      </div>
      <div class="common-mainBottom">
        <div class="common-mainBottom__btnWrap">
          <div class="common-button--whiteArrowBtn">
            <a href="#">強み・特徴<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
          <div class="common-button--whiteArrowBtn">
            <a href="#">実績・事例<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
        </div>
      </div>
    </main>
    <%- include('../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $('a[href^="#"]').click(function () {
        var headerHeight = $('#js-header').height();
        var speed = 500;
        var offset = 100;
        var href = $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top - headerHeight - offset;
        $("html, body").animate({ scrollTop: position }, speed, "swing");
        return false;
      });
    </script>
    <script src="../../js/main.js"></script>
    <script src="../../js/vendor.js"></script>
  </body>
</html>