<div class="common-introduction">
  <h2 class="common-heading--h2">C&Rグループ 事業の3つの柱</h2>
  <div class="common-introduction__btnArea">
    <div class="common-introduction__btnWrap">
      <a href="#" class="common-button--black multiLine">ライツマネジメント<br><span class="common-button__detailText">知的財産の収益機会拡大</span><div class="common-button__bottomArrow"><span class="arrow"><img src="../../images/right_arrow_white.svg" alt="↓"></span></div></a>
    </div>
    <div class="common-introduction__btnWrap">
      <a href="#" class="common-button--black multiLine">プロデュース<br><span class="common-button__detailText">請負・アウトソーシング</span><div class="common-button__bottomArrow"><span class="arrow"><img src="../../images/right_arrow_white.svg" alt="↓"></span></div></a>
    </div>
    <div class="common-introduction__btnWrap">
      <a href="#" class="common-button--black multiLine">エージェンシー<br><span class="common-button__detailText">派遣・紹介</span><div class="common-button__bottomArrow"><span class="arrow"><img src="../../images/right_arrow_white.svg" alt="↓"></span></div></a>
    </div>
  </div>
  <div class="common-introduction__complement">
    <div class="common-introduction__plus">
      <img src="../../images/plus_black.svg" alt="+">
    </div>
    <div class="common-introduction__btnWrap">
      <a href="#" class="common-button--black multiLine"><span>各種ソリューションビジネス</span><br><span class="common-button__detailText multiLine">プロフェッショナルのアイデアを組み合わせ、<br class="pc-none">新たな価値を創造するサービス</span></a>
    </div>
  </div>
  <p class="common-introduction__text">プロフェッショナルに対して、仕事を提供する「エージェンシー(派遣・紹介)」、プロジェクト組成により付加価値の高い成果を実現する「プロデュース（請負・アウトソーシング）」、知的財産の収益機会拡大をはかる「ライツマネジメント」、この3つを事業の柱としています。また、プロフェッショナルのアイデアを組み合わせることで、社会に新しい価値を生み出す、ソリューション事業を展開しています。</p>
</div>