<div class="common-secondVisual">
  <div class="common-secondHeading">
    <h3 class="common-heading--h3">C&Rグループが定義する<br class="pc-none"> "プロフェッショナル"</h3>
    <div class="common-heading--h3__underLine"></div>
  </div>
  <div class="common-secondVisual__img">
    <img src="../../images/business_professional.jpg" alt="プロフェッショナル">
  </div>
  <ol class="common-secondVisual__list">
    <li><span>1.</span>世界中で活躍できる職種</li>
    <li><span>2.</span>機械では代わることができない職種</li>
    <li><span>3.</span>知的財産が蓄積される職種</li>
  </ol>
</div>