<div class="common-textBlock">
  <p class="common-textBlock__textTop">プロデュース（請負・アウトソーシング）</p>
  <p class="common-textBlock__textDetail">プロフェッショナルによるプロジェクト組成で高付加価値を</p>
  <p class="common-textBlock__textDetail">番組・ゲーム・Web制作、建築デザイン、データ分析、事業開発など、クライアントの様々なニーズに対してC&Rグループの担当者とプロフェッショナルがチームを組成。最大の効果を生む企画提案や開発、スケジュール管理、品質管理など、すべての工程をワンストップで対応します。</p>
  <div class="businessModel__contentWrap">
    <div class="businessModel__img">
      <img src="../../images/produce.png" alt="プロデュース">
    </div>
  </div>
</div>

<div class="common-carouselArea">
  <div class="common-carouselArea__topWrap">
    <h4 class="common-heading--h4">関連事項</h4>
    <div class="common-carouselArea__arrowWrap">
      <div class="common-arrow__backBtn js-carouselBackBtn"></div>
      <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
    </div>
  </div>
  <div class="common-carousel js-carousel">
    <ul class="common-carouselWrap" id="js-carousel">
      <li class="js-carouselItem">
        <img src="../../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="../../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="../../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="../../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="common-button--grayArrowBtn">
    <a href="#">プロデュースの事業分野を見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
  </div>
</div>