// -------------------------------------------------------------------
//  structure.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mediaquery" as med;

html, body {
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  font-size: 14px;
  @include med.media(sp) {
    font-size: 12px;
  }
  font-family: var.$BASE_FONT_FAMILY;
  font-style: normal;
  color: var.$BASIC_TEXT_COLOR;
  background-color: var.$BASE_BG_COLOR;
}

@include med.media(sp) {
  body {
    overflow-x: hidden;
  }
}
