<div class="c-modal --pdfModal" id="js-pdf-modal">
  <div class="c-modal__inner">
    <div class="c-modal__downloadArea" id="js-pdf-contents">
       <h4>ダウンロード規約</h4>
       <p>本サイトで提供されるすべての文章、画像、写真、映像、音声及び動画等の情報(以下、著作物)は、個人的または非営利目的のみ使用いただけます。宣伝、マーケティングあるいはその他、いかなる商業目的での使用はできません。これらの著作物等をダウンロードする場合は、本規約を承諾する必要があります。</p>
       <div class="c-modal__checkArea c-checkBox">
         <label for="js-agreement">
           <input type="checkbox" id="js-agreement">
           <span>ダウンロード規約に同意します。</span>
         </label>
       </div>
       <div class="c-modal__exLink">
         <a href="#" target="_blank" class="c-button" id="js-pdf-link">PDFダウンロード</a>
       </div>
       <div class="c-modal__pdfClose">
         <button class="c-modal__pdfCloseBtn" id="js-pdf-closeBtn"><span>×</span>閉じる</button>
       </div>
    </div>
  </div>
</div>