<% if (page.name == 'top') {%>
<div class="WovenCity__header">
  <div data-animate class="WovenCity__summary">
    <h2 class="WovenCity__heading">Woven City</h2>
    <div class="WovenCity__description">
      <p>かつてトヨタ自動車東日本の東富士工場があった「ものづくり」の地に築く、未来の幸せの量産につなぐ「モビリティのためのテストコース」。2024年夏に第1期の建物が完成予定。その後は2025年の一部実証開始に向け準備を進めていきます。</p>
    </div>
  </div>
  <div data-animate class="WovenCity__movie">
    <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/CGEKM7QT_ww?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<% } else if (page.name == 'updates') { %>
<div class="WovenCity__header --updates">
  <div data-animate class="WovenCity__summary --updates">
    <p>July 21, 2023</p>
    <h2 class="WovenCity__heading --small">「Woven City Concept Video」を公開</h2>
    <div class="WovenCity__description">
      <p>「自分以外の誰かのために」<br>創業時から変わらないこの想いが、今、モビリティカンパニーへの変革を目指すトヨタを動かす原点です。</p>
      <p>私たちが進めているのは、ただの「街づくり」ではありません。<br>なぜWoven Cityというしくみ作りに挑戦しているのかを紹介しています。</p>
    </div>
  </div>
  <div data-animate class="WovenCity__movie">
    <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/3emWWgYbb3I?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<% } %>