<section class="Careers">
  <div class="Careers__inner">
    <div data-animate class="Careers__detail">
      <h2 class="Heading -medium">Careers</h2>
      <div class="Careers__description">
        <p>幸せを量産するために「テストコースの街で、未来の当たり前を発明する」という私たちのミッションに共感し、このプロジェクトに携わりたいと考える方々からの応募をお待ちしています。</p>
      </div>
      <div class="Careers__footer">
        <a href="<%= `${page.path}careers/` %>" class="Button -primary">Work with us</a>
      </div>
    </div>
    <figure class="Careers__image js-parallax">
      <img src="<%= `${page.jpAssetsPath}assets/images/top/careers.jpg` %>" decoding="async" loading="lazy" alt="">
    </figure>
  </div>
</section>