<div id="js-modal" class="Modal" aria-hidden="true">
  <div id="js-modalOverlay" class="Modal__overlay" tabindex="-1">
    <div class="Modal__inner" role="dialog" aria-modal="true">
      <div class="Modal__content">
        <div class="Download">
          <div class="Download__inner">
            <em class="Heading -medium">ダウンロード規約</em>
            <div class="Download__content">
              <div class="Download__description">
                <p>本サイトで提供されるすべての文章、画像、写真、映像、音声及び動画等の情報(以下、著作物)は、個人的または非営利目的のみ使用いただけます。宣伝、マーケティングあるいはその他、いかなる商業目的での使用はできません。これらの著作物等をダウンロードする場合は、本規約を承諾する必要があります。</p>
              </div>
              <p class="Download__accept">
                <label class="Checkbox" for="js-agreement">
                  <input class="Checkbox__input _visuallyHidden" type="checkbox" id="js-agreement">
                  <span class="Checkbox__icon"></span>
                  <span class="Checkbox__text">ダウンロード規約に同意します。</span>
                </label>
              </p>
            </div>
            <div class="Download__footer">
              <a id="js-download" href="#" class="Button -primary -disabled" download>Download</a>
            </div>
          </div>
        </div>
      </div>
      <button type="button" id="js-modalClose" class="Modal__closeButton" aria-label="ウィンドウを閉じる"></button>
    </div>
  </div>
</div>