<section class="Faq">
  <div class="Faq__inner">
    <div class="Inner">
      <h2 data-animate class="Heading">FAQ</h2>
      <dl data-animate class="Faq__list">
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-1" id="label-1" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">Woven Cityとは何ですか？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-1" aria-labelledby="label-1" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven Cityは、「幸せの量産 / Well-being for All」を実現するために、未来の当たり前を発明する「テストコースの街」です。実際に人々が暮らす街で、人々が幸せに生きていくための新たな仕組みやサービスを発明し、試し、改善を繰り返し、未来の当たり前にしていくプロジェクトです。</p>
              <p class="Accordion__definitionText">まずは、静岡県裾野市にあるトヨタ自動車東日本の東富士工場跡地を舞台にします。そこに集まる人々とともに、トヨタが培ってきた「モビリティ」がヒトのためにできることを拡げていきます。</p>
              <p class="Accordion__definitionText">そして裾野で生まれる仕組みやサービスを世界に展開し、未来で当たり前のように多くの人々に使っていただけるものにしていきます。</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-2" id="label-2" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">Woven Cityをつくる目的は？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-2" aria-labelledby="label-2" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven Cityの目的は「幸せの量産 / Well-being for All」です。Woven Cityでは、画一的な幸せ（Happiness）ではなく、ヒトそれぞれによって異なる幸せ（Well-Being）に寄り添っていきます。</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-3" id="label-3" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">Woven Cityでは何を実現するのですか？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-3" aria-labelledby="label-3" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">トヨタは2018年に幸せの量産を目指し「真のモビリティカンパニー」になると発表しました。モビリティには、ヒト・モノ・情報のA地点からB地点への移動に加えて、感動で心を動かすというモビリティの意味も含まれています。</p>
              <p class="Accordion__definitionText">Woven Cityでは真のモビリティカンパニーとなり、幸せを量産するために、トヨタで培ってきた自動車の技術を起点として、モビリティの意義や価値を拡大させていくことを考えています。</p>
              <p class="Accordion__definitionText">モビリティとヘルスケア、食と農業、エネルギー、ファイナンス、教育などを融合させてその定義を拡張し、ヒトにできること、ヒトの可能性を高めていきます。<br>それらはきっとモノだけではなく、心を動かす瞬間と感動をもたらすはずです。</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-4" id="label-4" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">Woven Cityはいつ完成するのですか？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-4" aria-labelledby="label-4" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven Cityのコンセプトは、「ヒト中心の街」「実証実験の街」「未完成の街」です。</p>
              <p class="Accordion__definitionText">そしてWoven Cityは「テストコースの街」です。ヒトそれぞれに異なった幸せを生み出すために、常に改善を続けます。そのため永遠に未完成なのです。</p>
              <p class="Accordion__definitionText">なお、居住に必要なインフラが整う第一期オープン時期は2024年から2025年を予定しています。</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-5" id="label-5" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">イメージ写真のような街ができるのですか？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-5" aria-labelledby="label-5" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">街のインフラやデザインは現在検討中であり、実際のものとは異なる可能性があります。なお、実際の建設状況は<a href="https://youtu.be/KzrGTkVviz4" target="_blank" rel="noopener noreferrer">こちら</a>をご覧ください。</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-6" id="label-6" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">どうしたら住めますか？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-6" aria-labelledby="label-6" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven Cityは住民を含むWoven Cityに関わるすべての人々と共創する街です。ヒト中心のこの街で、ともに社会課題を解決していけるよう、発明家、高齢者、子育て世代の方々などに居住していただくことを考えています。居住に関する情報は、決まり次第公表します。</p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-7" id="label-7" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">Woven Cityのプロジェクトにどうすれば関われますか？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-7" aria-labelledby="label-7" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven Cityは「テストコースの街」です。社会課題の解決に向け、一緒にまだ世の中に存在しない新しい仕組みやサービスを発明し、実際の街の中で試したいと考えている発明家の方、企業の方などのご提案をお受けしています。</p>
              <p class="Accordion__definitionLink">
                <a href="<%= `${page.path}partners/` %>" class="TextLink">問い合わせフォームはこちら</a>
              </p>
              <p class="Accordion__definitionText">また、私たちの想いに共感し、Woven City Managementの一員として一緒に働きたいという皆さまからの応募もお待ちしています。</p>
              <p class="Accordion__definitionLink">
                <a href="<%= `${page.path}careers/` %>" class="TextLink">キャリアページはこちら</a>
              </p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-8" id="label-8" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">どのような実証実験をするのですか？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-8" aria-labelledby="label-8" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">私たちは、モビリティカンパニーへの変革に寄与するあらゆる仕組みやサービスを試していきます。その分野は、自動車に限らず、エネルギー、物流、ヘルスケア、食と農業、ファイナンス、教育など多岐に渡ります。具体的な実証実験の内容は、決まり次第随時公表します。</p>
              <p class="Accordion__definitionLink">
                <a href="<%= `${page.path}updates/` %>" class="TextLink">最新のニュースはこちら</a>
                <a href="https://www.facebook.com/WovenCity.JP/" class="TextLink" target="_blank" rel="noopener noreferrer">Facebookはこちら</a>
              </p>
            </div>
          </dd>
        </div>
        <div class="Accordion js-accordion">
          <dt class="Accordion__term">
            <button class="Accordion__trigger js-accordionTrigger" aria-expanded="false" aria-controls="control-9" id="label-9" type="button">
              <abbr class="Accordion__marker" title="Question">Q.</abbr>
              <span class="Accordion__termText">Woven Cityの見学・視察はできますか？</span>
            </button>
          </dt>
          <dd class="Accordion__definition js-accordionDefinition" id="control-9" aria-labelledby="label-9" aria-hidden="true">
            <div class="Accordion__definitionInner">
              <p class="Accordion__definitionText">Woven Cityは現在建築工事中です。工事現場で安全に視察を受け入れる体制を整えることが困難な状況のため、お断りさせていただいております。</p>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>