<div id="js-hero" class="Hero is-before">
  <h1 class="_visuallyHidden">Toyota Woven City | トップページ</h1>
  <div class="Hero__videoContainer">
    <video muted autoplay loop playsinline>
      <source src="<%= `${page.jpAssetsPath}video/PC_1280x720.mp4` %>" type="video/mp4">
    </video>
  </div>
  <div class="Hero__content">
    <section class="Hero__vision">
      <%- include('vision-text.ejs'); %>
    </section>
    <section class="Hero__latestUpdates js-heroSlider">
      <div class="Hero__sliderList swiper-wrapper">
        <div class="Hero__sliderItem swiper-slide">
          <a href="<%= `${page.path}updates/` %>" class="Hero__latestUpdatesLink">
            <h2 class="Hero__latestUpdatesHeading">Pickup</h2>
            <h3 class="Hero__latestUpdatesTitle">「Woven City Concept Video」を公開</h3>
            <span class="Hero__latestUpdatesDate"><time datetime="2023-07-21">July 21, 2023</time></span>
          </a>
        </div>
        <div class="Hero__sliderItem swiper-slide">
          <a href="<%= `${page.path}updates/` %>" class="Hero__latestUpdatesLink" rel="noopener noreferrer">
            <h2 class="Hero__latestUpdatesHeading"><span class="_visuallyHidden">Latest </span>Updates</h2>
            <h3 class="Hero__latestUpdatesTitle">開発者インタビュー公開中。<br>Woven Cityでかなえたい思いとは</h3>
            <span class="Hero__latestUpdatesDate"><time datetime="2023-02-10">February 10 , 2023</time></span>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="Hero__scroll">
    <span class="Hero__scrollText">Scroll</span>
  </div>
</div>