<section class="HowWeWork">
  <div class="Inner">
    <h2 data-animate class="Heading">How We Work</h2>
    <div class="HowWeWork__content">
      <div data-animate class="HowWeWork__1">
        <div class="HowWeWork__detail">
          <em class="HowWeWork__read">We strive to achieve lifetime employability.</em>
          <div class="HowWeWork__description">
            <p>
              私たちは、一人ひとりのスキルや才能、経験や意見を尊重し、常に「誰かの為に」という視点からはじめ、世界に例をみない実証実験の街で「幸せの量産」の実現に向けてチャレンジしています。<br>
              変化にフレキシブルにそしてポジティブに対応し、失敗を恐れず失敗から学び、全てを成長に機会ととらえて絶えず進化していきます。<br>
              そしてチームで共に作り上げる姿勢を大切にしています。<br>
              そのために、従業員一人ひとりがチームと自らの成長を楽しむことができるような人事施策を提供しています。
            </p>  
          </div>
        </div>
        <figure class="HowWeWork__image js-parallax">
          <img src="<%= `${page.jpAssetsPath}assets/images/careers/how-we-work_1.jpg` %>" decoding="async" loading="lazy" alt="">
        </figure>
      </div>
      <div class="HowWeWork__mainImage">
        <div class="HowWeWork__mainImageInner">
          <img src="<%= `${page.jpAssetsPath}assets/images/careers/how-we-work_2.jpg` %>" decoding="async" loading="lazy" alt="">
        </div>
      </div>
      <div class="HowWeWork__2">
        <div class="Inner">
          <div data-animate class="HowWeWork__2Inner">
            <div class="HowWeWork__detail">
              <em class="HowWeWork__read">We Are Woven -<br>Many Threads,<br>One Woven</em>
              <div class="HowWeWork__description">
                <p>年齢、人種や国籍、性別や、宗教・信仰を問わず、すべての人々を尊重しています。多様な人々が持つ色とりどりの経験や知識という糸を、織り上げていくように、チームで共に成長していきます。</p>
              </div>
            </div>
            <div class="HowWeWork__footer">
              <a href="https://woven.toyota/jp/diversity-and-inclusion" class="Button -primary" target="_blank" rel="noopener noreferrer">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>