<div class="Message">
  <div class="Inner">
    <section class="Message__feature">
      <div data-animate class="Message__featureDetail">
        <h2 class="Heading">Akio's Message</h2>
        <div class="Message__featureDescription">
          <p>トヨタ自動車の豊田章男代表取締役会長は次のように話しています。</p>
          <p>「どんな形で、未来へのたすきを渡すべきか、悩み苦しんだ結果、たどり着いた結論は『ヒトが中心』で、未来のための『実証実験』ができるプラットフォームをつくるということでした。そして、そのプラットフォームに『今よりもっといいやり方がある』というトヨタのカイゼン手法を根付かせたいと考え、『未完成の街』とすることを決定いたしました。」</p>
        </div>
      </div>
      <div data-animate class="Message__featureMovie">
        <button class="Message__featureButton js-modalTrigger" type="button" data-video-id="vH1yP6CoZqg">
          <span class="_visuallyHidden">Watch the Message（トヨタ自動車の豊田章男代表取締役会長からのメッセージ）</span>
          <img src="<%= `${page.jpAssetsPath}assets/images/top/message_feature.jpg` %>" decoding="async" loading="lazy" alt="" aria-hidden="true">
        </button>
      </div>
    </section>
    <section class="Message__leadership">
      <h2 data-animate class="Heading">Leadership</h2>
      <ul class="Message__list">
        <li data-animate class="Message__item">
          <div class="Message__itemInner">
            <h3 class="Message__itemHeading">
              <span>CEO</span>
              <em>James Kuffner</em>
            </h3>
            <figure class="Message__itemImage">
              <img src="<%= `${page.jpAssetsPath}assets/images/top/message_1.jpg` %>" decoding="async" loading="lazy" alt="CEO James Kuffnerの写真">
            </figure>
            <div class="Message__itemDescription">
              <p>スタンフォード大学でロボティクスの博士号を取得。Googleでロボティクス部門長を務めた後、2016年にTRIのチーフテクノロジーオフィサーに就任、2020年から2023年にはトヨタ自動車のChief Digital OfficerとしてトヨタのDXを主導。ウーブン・バイ・トヨタではビジネスとテクノロジーをリードするとともに、トヨタが掲げる「すべての人が安全に移動できる世界」の実現を目指しています。</p>
            </div>
            <div class="Message__itemFooter">
              <button class="Button -primary js-modalTrigger" type="button" data-video-id="2wuipjIct_8">Watch the Message<span class="_visuallyHidden">（CEO James Kuffnerからのメッセージ）</span></button>
            </div>
          </div>
        </li>
        <li data-animate class="Message__item">
          <div class="Message__itemInner">
            <h3 class="Message__itemHeading">
              <span>Senior Vice President, Woven by Toyota</span>
              <span>Head of Woven City Management</span>
              <em>Daisuke Toyoda</em>
            </h3>
            <figure class="Message__itemImage">
              <img src="<%= `${page.jpAssetsPath}assets/images/top/message_2.jpg` %>" decoding="async" loading="lazy" alt="Head of Woven City Management Daisuke Toyodaの写真">
            </figure>
            <div class="Message__itemDescription">
              <p>ウーブン・バイ・トヨタの前身であるTRI-ADの創業メンバーとして従業員が生産性を最大化するイノベーティブな環境整備に取り組んできました。現在はHead of Woven City Managementとして、実証実験を行う街づくりに向けた挑戦を続けています。耐久レースなどにも出場し、モータースポーツを起点とした「もっといいクルマづくり」に取り組んでいます。</p>
            </div>
            <div class="Message__itemFooter">
              <button class="Button -primary js-modalTrigger" type="button" data-video-id="3Eo5VLNPfy8">Watch the Message<span class="_visuallyHidden">（Head of Woven City Management Daisuke Toyodaからのメッセージ）</span></button>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>