<section class="Mission">
  <div class="Inner">
    <div class="Mission__summary">
      <div data-animate class="Mission__detail">
        <h2 class="Heading -small">Our Mission</h2>
        <em class="Mission__lead">Building the Future Fabric of Life in a City as a Test Course for Mobility.</em>
        <em class="Mission__lead -jp">テストコースの街で、未来の当たり前を発明する。</em>
      </div>
      <figure class="Mission__image js-parallax">
        <img src="<%= `${page.jpAssetsPath}assets/images/top/mission.jpg` %>" decoding="async" loading="lazy" alt="Woven Cityの完成イメージ（街並み）">
      </figure>
    </div>
    <div class="Mission__statement">
      <div class="Mission__statementInner">
        <div data-animate class="Mission__statementParagraph">
          <p>Woven Cityは「幸せの量産」の実現を目指す、モビリティのためのテストコースであり実証実験の街です。</p>
          <p>富士山のふもと静岡県裾野市で、「モビリティの拡張」をビジョンとして掲げ、新たなしくみやサービスの実証を行い、ヒト中心の未来をつくります。</p>
          <p>私たちはこのWoven Cityで実証実験を行い、「未来の当たり前」を発明していきます。</p>
        </div>
        <div data-animate class="Leaflet__inner --MissionBlk">
          <div class="Leaflet__detail">
            <h2 class="Heading -medium">Woven City<br>Concept Video</h2>
          </div>
          <div class="Mission__movie">
            <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/3emWWgYbb3I?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>