<div id="js-modal" class="Modal" aria-hidden="true">
  <div id="js-modalOverlay" class="Modal__overlay" tabindex="-1">
    <div class="Modal__inner" role="dialog" aria-modal="true">
      <div class="Modal__content">
        <div class="Modal__movie">
          <div id="js-movie"></div>
        </div>
      </div>
      <button type="button" id="js-modalClose" class="Modal__closeButton" aria-label="ウィンドウを閉じる"></button>
    </div>
  </div>
</div>