<section class="Partners">
  <div class="Inner">
    <div data-animate class="Partners__detail">
      <h2 class="Heading -medium">Contact</h2>
      <div class="Partners__description">
        <p>Woven Cityは、社会との関わりを大切にしながら「未来の当たり前」をつくっていきます。世の中にまだない価値を共創したいと考え、またその価値を実際に住民が居住する場で実証したい多くの発明家や技術者の方々、企業の方々に、この取組に参加していただけることを願っています。</p>
      </div>
      <div class="Partners__footer">
        <a href="<%= `${page.path}partners/` %>" class="Button -primary">Contact Us</a>
      </div>
    </div>
  </div>
</section>