<section class="Services">
  <div class="Services__inner">
    <div data-animate class="Services__detail">
      <h2 class="Heading">Our Demonstrations</h2>
      <div class="Services__description">
        <p>私たちは、モビリティを日常生活における12の領域と組み合わせて、「モビリティ＝クルマや移動手段」という定義を飛び越え、モビリティがヒトのためにできることを増やしていきます。</p>
      </div>
      <div class="Services__footer">
        <a href="<%= `${page.path}services/` %>" class="Button -secondary">Learn More<span class="_visuallyHidden">（Our Servicesについて）</span></a>
      </div>
    </div>
    <figure data-animate class="Services__image">
      <img src="<%= `${page.jpAssetsPath}assets/images/services/services.png` %>" decoding="async" loading="lazy" alt="Mobility, Energy, Logistics, Agriculture Food, IoT, Healthcare, Education, Entertainment, Payment Finance, Safe Security, Smart Home, Housing Office">
    </figure>
  </div>
</section>