<section class="Team">
  <div class="Inner">
    <h2 data-animate class="Heading">Our Team</h2>
    <ul class="Team__list">
      <li data-animate class="Team__item">
        <div class="Team__itemInner">
          <h3 class="Team__itemHeading">Mobility</h3>
          <p class="Team__itemDescription">実証実験の街で、モビリティサービスの設計を行います。自動運転技術などの最先端技術を企画し、立ち上げ、将来に向けて実証実験や改善を繰り返します。</p>
          <button class="Team__itemButton js-modalTrigger" type="button" data-video-id="iJ56_zawVYo">
            <span class="_visuallyHidden">Woven City Mobilityチームからのメッセージを見る</span>
            <img src="<%= `${page.jpAssetsPath}assets/images/careers/team_1.jpg` %>" decoding="async" loading="lazy" alt="" aria-hidden="true">
          </button>
        </div>
      </li>
      <li data-animate class="Team__item">
        <div class="Team__itemInner">
          <h3 class="Team__itemHeading">Food & Agriculture</h3>
          <p class="Team__itemDescription">独自の研究環境を構築し、次世代の食や農業に関する技術と物流基盤や住民サービスなどとを統合する、新たな方法を探索します。</p>
          <button class="Team__itemButton js-modalTrigger" type="button" data-video-id="UZ_2JXxGYAM">
            <span class="_visuallyHidden">Woven City Food & Agricultureチームからのメッセージを見る</span>
            <img src="<%= `${page.jpAssetsPath}assets/images/careers/team_2.jpg` %>" decoding="async" loading="lazy" alt="" aria-hidden="true">
          </button>
        </div>
      </li>
      <li data-animate class="Team__item">
        <div class="Team__itemInner">
          <h3 class="Team__itemHeading">Woven City Experience</h3>
          <p class="Team__itemDescription">デジタルツインなどの先端技術を用いてアイデアを具現化し、人と技術、そして環境の新たな関係性を発見します。</p>
          <button class="Team__itemButton js-modalTrigger" type="button" data-video-id="EPLY8hRAHgA">
            <span class="_visuallyHidden">Woven City Experienceチームからのメッセージを見る</span>
            <img src="<%= `${page.jpAssetsPath}assets/images/careers/team_3.jpg` %>" decoding="async" loading="lazy" alt="" aria-hidden="true">
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>