<section class="Updates__pageFooter">
  <div class="Inner">
    <h2 data-animate class="Heading">Social Updates</h2>
    <div class="Updates__social">
      <section data-animate class="Updates__socialYouTube">
        <h3 class="Heading -medium">YouTube</h3>
        <div class="Updates__socialYouTubeContent">
          <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/85_6eMJofuY?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </section>
      <section data-animate class="Updates__socialFacebook">
        <h3 class="Heading -medium">Facebook</h3>
        <div class="Updates__socialFacebookContent">
          <div class="fb-page" data-href="https://www.facebook.com/WovenCity.JP" data-tabs="timeline" data-width="500" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/WovenCity.GL" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/WovenCity.GL">Woven City</a></blockquote></div>
        </div>
      </section>
    </div>
  </div>
</section>