<section id="js-values" class="Values">
  <div id="js-valuesInner" class="Values__inner">
    <div class="Inner">
      <h2 class="Values__heading">Our Values</h2>
      <div class="Values__content">
        <em class="Values__lead">We respect</em>
        <div class="Values__list">
          <div class="Values__group js-valuesGroup">
            <div class="Values__item">
              <span class="Values__itemNum">1</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Sharing<br>Our Goals</dt>
                <dd class="Values__itemDefinition">共通のゴールを理解、共感、浸透、実行し、実現しましょう</dd>
              </dl>
            </div>
            <div class="Values__item">
              <span class="Values__itemNum">2</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Giver Mind</dt>
                <dd class="Values__itemDefinition">自ら提案する、透明性を保つ、常に「誰かの為に」という視点から始めましょう</dd>
              </dl>
            </div>
          </div>
          <div class="Values__group js-valuesGroup">
            <div class="Values__item">
              <span class="Values__itemNum">3</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Diverse<br>Perspectives</dt>
                <dd class="Values__itemDefinition">多様な意見を受け入れ、先味・中味・後味を考え、もっと良い方法を見つけましょう</dd>
              </dl>
            </div>
            <div class="Values__item">
              <span class="Values__itemNum">4</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Flexibility</dt>
                <dd class="Values__itemDefinition">変化にフレキシブルにそしてポジティブに対応し、失敗から学びましょう</dd>
              </dl>
            </div>
          </div>
          <div class="Values__group js-valuesGroup">
            <div class="Values__item">
              <span class="Values__itemNum">5</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Ownership</dt>
                <dd class="Values__itemDefinition">全てが成長の機会と捉え、主体的に取り組み、絶えず進化しましょう</dd>
              </dl>
            </div>
            <div class="Values__item">
              <span class="Values__itemNum">6</span>
              <dl class="Values__itemDetail">
                <dt class="Values__itemTerm">Each other</dt>
                <dd class="Values__itemDefinition">自分の役割に縛られず、互いに支えあい、チームと自らの成長を楽しみましょう</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>