<section class="Vision">
  <div class="Inner">
    <div class="Vision__summary">
      <div data-animate class="Vision__detail">
        <%- include('vision-text.ejs'); %>
      </div>
      <figure class="Vision__image js-parallax">
        <img src="<%= `${page.jpAssetsPath}assets/images/top/vision.jpg` %>" decoding="async" loading="lazy" alt="Completion image of woven city (Susono city)">
      </figure>
    </div>
  </div>
</section>