<!DOCTYPE html>
<html lang="ja">
<%- include('../include/_headNewsRelease.ejs'); %>

<body>
  <div class="container" id="js-container">
    <%- include('../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">強み・特徴</a>
          </li>
        </ul>
      </div>
      <section class="common-section">
        <div class="common-container common-container--top">
          <div class="features__main features__main--02">
            <div class="features__main__col">
              <h2 class="features__main__heading02">プロフェッショナルに愛を。<br>世界に革新を。</h2>
              <p class="features__main__underbar">強み・特徴</p>
              <h2 class="features__text features__text">各産業界に広がるネットワークの、無限のシナジーをめざして。<br>C&Rグループは、変わる世界に知的創造で挑みます。</h2>
              <p>
                C&Rグループは、プロフェッショナルの能力を最大限に引き出し、多様な活躍をプロデュースするプロフェッショナル･エージェンシーのパイオニア。<br>
                1990年の設立以来、そのネットワークは世界へと広がり、 映像やゲーム、医療、法曹、ITなど18分野・約33万人まで拡大しています。
                プロフェッショナルが集結するこのネットワークとノウハウこそ、C&Rグループの最大の強み。
                分野や国境の枠を越えて、プロフェッショナルの叡智を融合し、これまでにない自由な発想で、変わる世界に新たな価値を創造します。</p>
            </div>
            <div class="features__main__col">
              <img src="../images/dummy_list.png" class="features__main__image">
              <div class="features__achievement">
                <div class="features__achievement__col">
                  <p class="features__achievement__text">Professional</p>
                  <p class="features__achievement__number">333,400<span>名</span></p>
                </div>
                <div class="features__achievement__col">
                  <p class="features__achievement__text">Client</p>
                  <p class="features__achievement__number">43,520<span>社</span></p>
                </div>
              </div>
            </div>
          </div>


          <div class="grayArrowBtn grayArrowBtn--features grayArrowBtn--features02">
            <a href="#">プロフェッショナルネットワークを<br>詳しく見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
        </div>
      </section>

      <section class="common-section">
        <div class="common-container">
          <div class="features__anchors">
            <a href="#features01" class="features__anchors__item">
              <p class="features__blackBox">特徴1</p>
              <p class="features__anchors__text">日本最大級のクリエイティブチーム<span class="features__orange">「C&R Creative Studios」が新たな価値を提供</span></p>
              <div class="features__anchors__arrow"></div>
            </a>
            <a href="#features02" class="features__anchors__item">
              <p class="features__blackBox">特徴2</p>
              <p class="features__anchors__text">プロフェッショナルと共に社会に新たな価値を創造する<span class="features__orange">「事業クリエイティブカンパニー」</span></p>
              <div class="features__anchors__arrow"></div>
            </a>
            <a href="#features03" class="features__anchors__item">
              <p class="features__blackBox">特徴3</p>
              <p class="features__anchors__text">プロフェッショナルが持つ知的財産を収益化する<span class="features__orange">「ライツマネジメント」/span></p>
              <div class="features__anchors__arrow"></div>
            </a>
            <a href="#features04" class="features__anchors__item">
              <p class="features__blackBox">特徴4</p>
              <p class="features__anchors__text">未経験育成や就業・独立まで、生涯キャリアを支援する<span class="features__orange">「プロフェッショナル･エージェンシー」</span></p>
              <div class="features__anchors__arrow"></div>
            </a>
            <a href="#features05" class="features__anchors__item">
              <p class="features__blackBox">特徴5</p>
              <p class="features__anchors__text">地域の文化・習慣に向き合いニーズに対応する<span class="features__orange">「グローカルなビジネス展開」</span></p>
              <div class="features__anchors__arrow"></div>
            </a>
          </div>
        </div>
      </section>

      <section class="common-section">
        <div class="common-container">
          <div class="features__heading">
            <p class="features__blackBox">特徴1</p>
            <h2 class="features__heading__text" id="features01">日本最大級のクリエイティブチーム<br><span class="features__orange">「C&R Creative Studios」が新たな価値を提供</span></h2>
          </div>

          <div class="features__row">
            <div class="features__col">
              <img src="../images/dummy_list.png">
            </div>
            <div class="features__col">
              <p class="common-mb--title">
                「C&R Creative Studios」は、ゲーム開発・Web制作・映像制作などを行う、日本最大級のクリエイティブチーム。
                コアとなるスタジオメンバーは850名、関与するクリエイター総数となると約3,000名のチームとなります。ゲームやWebサイト、映像など、年間6,000件以上のコンテンツを世に送り出しています。<br>
                クリエイティブの最前線で得た知識や経験は蓄積され、プロフェッショナルのスキルアップや新たなサービス開発にも活用。このスタジオを核にして、プロフェッショナルの創造力で社会に新しい価値を提供しています。
              </p>
              <div class="grayArrowBtn">
                <a href="#">CREATIVE STUDIOを詳しく見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section">
        <div class="common-container">
          <div class="features__heading">
            <p class="features__blackBox">特徴2</p>
            <h2 class="features__heading__text" id="features02">プロフェッショナルと共に社会に新たな価値を創造する<br><span class="features__orange">「事業クリエイティブカンパニー」</span></h2>
          </div>

          <div class="features__row common-mb-title">
            <div class="features__col">
              <img src="../images/dummy_list.png">
            </div>
            <div class="features__col">
              <p>
                8領域・18分野のフィールドでビジネスを展開するC&Rグループには、各分野の経験豊富なプロデューサーが多数在籍。各分野のプロフェッショナルの叡智とソリューションを組み合わせ、新たな事業やサービスを生み出しています。<br>
                また、事業クリエイティブ集団として、社会に新たな価値を創造すると同時に、プロフェッショナルに新たな活躍の機会を提供しています。
              </p>
            </div>
          </div>

          <div class="common-carouselArea">
            <div class="common-carouselArea__topWrap">
              <h3 class="features__text common-mb">関連事例</h3>
              <div class="common-carouselArea__arrowWrap">
                <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
              </div>
            </div>
            <div class="common-carousel js-carousel">
              <ul class="common-carouselWrap" id="js-carousel">
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section">
        <div class="common-container">
          <div class="features__heading">
            <p class="features__blackBox">特徴3</p>
            <h2 class="features__heading__text" id="features03">プロフェッショナルが持つ知的財産を収益化する<br><span class="features__orange">「ライツマネジメント」</span></h2>
          </div>

          <div class="features__row common-mb-title">
            <div class="features__col">
              <img src="../images/dummy_list.png">
            </div>
            <div class="features__col">
              <p>
                映像、ゲーム、漫画、書籍、デザイン、データ、NFTなど、プロフェッショナルが持つ知的財産を、新たな価値を生み出すプラットフォームに流通させ、その収益をプロフェッショナルへ還元します。<br>
                たとえば、ブロックチェーン技術を活用したデジタルコンテンツの収益化や、漫画や小説などの版権の電子化・海外展開など、C&Rグループは、プロフェッショナルの権利を守りながら、利益を最大化する取り組みを続けています。
              </p>
            </div>
          </div>

          <div class="common-carouselArea">
            <div class="common-carouselArea__topWrap">
              <h3 class="features__text common-mb">関連事例</h3>
              <div class="common-carouselArea__arrowWrap">
                <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
              </div>
            </div>
            <div class="common-carousel js-carousel">
              <ul class="common-carouselWrap" id="js-carousel">
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section">
        <div class="common-container">
          <div class="features__heading">
            <p class="features__blackBox">特徴4</p>
            <h2 class="features__heading__text" id="features04">未経験育成や就業・独立まで、生涯キャリアを支援する<br><span class="features__orange">「プロフェッショナル･エージェンシー」</span></h2>
          </div>

          <div class="features__row common-mb-title">
            <div class="features__col">
              <img src="../images/dummy_list.png">
            </div>
            <div class="features__col">
              <p class="common-mb">
                業界を熟知した経験豊富な専門エージェントが、プロフェッショナル一人ひとりの価値観に寄り添い、キャリアを支援します。新人発掘や未経験者の育成、キャリアアップ支援、開業支援、そして独立後はビジネスパートナーとして、ターニングポイントが訪れるたびに適切なサポートを行い、一生涯にわたりプロフェッショナルをサポートします。
              </p>
              <div class="features__achievement__images">
                <img src="../images/dummy_list.png">
                <img src="../images/dummy_list.png">
                <img src="../images/dummy_list.png">
                <p>調査機構：<br>日本マーケティングリサーチ機構調べ<br><br>調査概要：<br>2021年11月期 ブランドのイメージ調査</p>
              </div>
            </div>
          </div>

          <div class="common-carouselArea">
            <div class="common-carouselArea__topWrap">
              <h3 class="features__text common-mb">関連事例</h3>
              <div class="common-carouselArea__arrowWrap">
                <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
              </div>
            </div>
            <div class="common-carousel js-carousel">
              <ul class="common-carouselWrap" id="js-carousel">
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section">
        <div class="common-container">
          <div class="features__heading">
            <p class="features__blackBox">特徴5</p>
            <h2 class="features__heading__text" id="features05">地域の文化・習慣に向き合いニーズに対応する<br><span class="features__orange">グローカルなビジネス展開</span></h2>
          </div>

          <div class="features__row common-mb-title">
            <div class="features__col">
              <img src="../images/dummy_list.png">
            </div>
            <div class="features__col">
              <p>
                プロフェッショナル･エージェンシー事業を、日本の各地域や世界各国の特性や文化、社会環境、経済、産業に合わせてローカライズ（現地化）。<br>
                クリエイティブの力で地方創生を支援する事業や日本のコンテンツを中国・韓国などのアジア圏や欧州・米国へ流通させる版権ビジネス、韓国のほぼすべてのテレビ局へのプロフェッショナル紹介など、ライツマネジメント・プロデュース・エージェンシーの3つの事業を、国内はもとより世界の各地域で独自に発展させ、事業展開しています。
              </p>

            </div>
          </div>

          <div class="common-carouselArea">
            <div class="common-carouselArea__topWrap">
              <h3 class="features__text common-mb">関連事例</h3>
              <div class="common-carouselArea__arrowWrap">
                <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
              </div>
            </div>
            <div class="common-carousel js-carousel">
              <ul class="common-carouselWrap" id="js-carousel">
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <img src="../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                  <ul class="categoryLabel">
                    <li>映像</li>
                    <li>映像制作</li>
                    <li>VR</li>
                  </ul>
                  <div class="common-carouselTextArea">
                    <p class="common-carouselTitle">BSフジ</p>
                    <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>


      <%- include('../include/_footer.ejs'); %>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/vendor.js"></script>
</body>

</html>
