<div class="bnrBlk common">
  <ul class="bnrBlk__list">
    <li>
      <a href="/ir/individual/">
        <span class="bnrBlk__txt">個人投資家の皆さまへ</span>
      </a>
    </li>
    <li>
      <a href="https://reg31.smp.ne.jp/regist/is?SMPFORM=lird-ocnbp-b16f8f002659a96fdaa8e811687026c5">
        <span class="bnrBlk__txt">IRメール配信登録</span>
      </a>
    </li>
  </ul>
</div>