<section class="libraryBlock">
  <h2 class="libraryBlock__ttl commonTtl">最新IR資料</h2>
  <p class="libraryBlock__day">2021年7月8日発表</p>
  <ul class="libraryBlock__list">
    <li>
      <a href="">
        <p class="libraryBlock__txt pdf__icon">2022年2月期「第1四半期 決算短信」（PDF　337.5KB） </p>
      </a>
    </li>
    <li>
      <a href="">
        <p class="libraryBlock__txt pdf__icon">2022年2月期「第1四半期 決算説明会資料」（PDF　5.0MB）
        </p>
      </a>
    </li>
    <li>
      <a href="">
        <p class="newsBlock__txt pdf__icon">Summary of Consolidated Financial Results for the Three Months Ended May 31, 2021(Based on Japanese GAAP)（PDF 136.9KB） </p>
      </a>
    </li>
  </ul>
</section>