<div class="linkBlkWrap">
  <section class="linkBlk mt">
    <h4 class="linkBlk__ttl">経営情報</h4>
    <ul class="linkBlk__list">
      <li>
        <a class="" href="/ir/message/">トップメッセージ
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/officers/">役員一覧
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/strategy/">経営戦略
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/calendar/">IRカレンダー
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/risk/">リスク情報
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="">コーポレート･ガバナンス
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="">サステナビリティ
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.linkBlk -->
  <section class="linkBlk -col">
    <h4 class="linkBlk__ttl">業績・財務情報</h4>
    <ul class="linkBlk__list">
      <li>
        <a class="" href="/ir/highlight/">業績ハイライト
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="">財政状況
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="">キャッシュ・フロー
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="">四半期別業績推移
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.linkBlk -->
  <section class="linkBlk -col">
    <h4 class="linkBlk__ttl">IRライブラリ</h4>
    <ul class="linkBlk__list">
      <li>
        <a class="" href="/ir/library/result/">決算短信
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/library/presentation/">決算説明会資料・動画
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/library/report/">有価証券報告書／四半期報告書
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/library/stockholders_meeting">株主総会
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/library/business_report/">事業報告書
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/library/factsheet/">ファクトシート
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.linkBlk -->
  <section class="linkBlk -col">
    <h4 class="linkBlk__ttl">株式について</h4>
    <ul class="linkBlk__list">
      <li>
        <a class="" href="">株式情報
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="">株主還元方針・配当情報
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="">株価情報
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.linkBlk -->
  <section class="linkBlk -col">
    <h4 class="linkBlk__ttl">その他</h4>
    <ul class="linkBlk__list">
      <li>
        <a class="" href="/ir/policy/">IRポリシー
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/disclaimers/">免責事項
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="/ir/public_notice/">電子公告
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
    </ul>
  </section>
</div>
<!-- /.linkBlk -->