<div class="servicelinks">
  <ul class="servicelinks__list">
    <li>
      <a class="global__btn arrow__iconHover" target="_blank" href="">事業分野・サービス
        <div class="arrow-glay">
          <span class="arrow"></span>
        </div>
      </a>
    </li>
    <li>
      <a class="global__btn arrow__iconHover" target="_blank" href="">事業分野・サービス
        <div class="arrow-glay">
          <span class="arrow"></span>
        </div>
      </a>
    </li>
    <li>
      <a class="global__btn arrow__iconHover" target="_blank" href="">実績・実例
        <div class="arrow-glay">
          <span class="arrow"></span>
        </div>
      </a>
    </li>
  </ul>
</div>