<div class="contentWrap" id="sustainability-wrap">
  <section class="linkBlk">
    <p class="linkBlk__ttl">サステナビリティ</p>
    <ul class="linkBlk__list">
      <li>
        <a href="/sustainability/">サステナビリティトップ
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a href="/sustainability/management/">サステナビリティマネジメント
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a href="/sustainability/materialities/">マテリアリティ
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.linkBlk -->
  <section class="linkBlk -col">
    <p class="linkBlk__ttl">ESG活動</p>
    <ul class="linkBlk__list">
      <li>
        <a href="/sustainability/esg/environment/">環境
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a href="/sustainability/esg/social/">社会
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a href="/sustainability/esg/governance/">ガバナンス
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <li>
        <a href="/sustainability/esg/environment/tcfd/">TCFD提言への対応
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
      <!-- <li>
        <a href="/sustainability/esg/">ESG活動トップ
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li> -->
      <li>
        <a href="/sustainability/esg/data/">ESG活動データ
          <div class="arrow-glay">
            <span class="arrow"></span>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.linkBlk -->
</div>