<!DOCTYPE html>
<html lang="ja">
<head>
  <title>仮タイトル</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <!--DIN Condensed-->
  <link rel="stylesheet" href="https://use.typekit.net/plm5wws.css">
  <!--Barlow-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/commonparts.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/subpage.css">
</head>


<body>
  <div class="container" id="js-container">
    <%- include('../../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">企業・グループ情報 /</a>
          </li>
          <li>
            <a href="#">C&Rグループについて</a>
          </li>
        </ul>
      </div>
      <div class="common-mainVisual common-mainVisual--group common-mb">
        <img src="../../images/about_us/kv_img_pc_group.png" alt="C&Rグループについて" class="common-mainVisual--pc">
        <img src="../../images/about_us/kv_img_sp_group.png" alt="C&Rグループについて" class="common-mainVisual--sp">
        <h1 class="common-heading--h1">C&Rグループについて<br><span></span></h1>
      </div>

      <section class="common-section">
        <div class="common-container common-container--top">
          <div class="common-introduction__btnArea common-mb--title">
            <div class="common-introduction__btnWrap">
              <a href="#about" class="common-button--black multiLine">グループ概要<div class="common-button__bottomArrow"><span class="arrow"><img src="../../images/right_arrow_white.svg" alt="↓"></span></div></a>
            </div>
            <div class="common-introduction__btnWrap">
              <a href="#list" class="common-button--black multiLine">グループ一覧<div class="common-button__bottomArrow"><span class="arrow"><img src="../../images/right_arrow_white.svg" alt="↓"></span></div></a>
            </div>
            <div class="common-introduction__btnWrap">
              <a href="#history" class="common-button--black multiLine">歴史<div class="common-button__bottomArrow"><span class="arrow"><img src="../../images/right_arrow_white.svg" alt="↓"></span></div></a>
            </div>
          </div>

          <p class="common-textBlock__textTop common-mb--title" id="about">グループ概要</p>

          <p class="common-text--normal common-mb">C&Rグループは、映像、ゲーム、Web、広告・出版、作家、医療、IT、法曹、会計、建築、ファッション、食、コンピュータサイエンス、舞台芸術、ライフサイエンス、アスリート、CXO、アグリ18分野で活躍するプロフェッショナルを対象に、仕事の提供、プロジェクトの組成、著作権･知的財産の収益化、教育の機会等を通じて、プロフェッショナルの方々が持てる力を最大限に発揮できる環境を提供し、その能力を通じてクライアントの企業価値向上に貢献することを目指しています。</p>

        </div>
      </section>

      <section class="common-section">
        <div class="group__container">
          <div class="group__info">
            <div class="group__info__item">
              <div class="group__info__image">
                <img src="../../images/about_us/aboutUs_02.jpg" alt="">
              </div>
              <div class="group__info__heading">
                <p class="group__cat">Group companies</p>
                <h3 class="group__num"><span>20</span>社</h3>
                <p class="common-mb">C&Rグループのグループ会社数</p>
              </div>
              <div class="group__info__text">
                <p class="common-text--normal">クリーク・アンド・リバー社を中心にグループ経営を推進、事業を拡大。</p>
              </div>
            </div>
            <div class="group__info__item">
              <div class="group__info__image">
                <img src="../../images/about_us/business_growth.png" alt="">
              </div>
              <div class="group__info__heading">
                <p class="group__cat">Business growth</p>
                <h3 class="group__num"><span>373</span>億円</h3>
                <p class="common-mb">C&Rグループの売上高</p>
              </div>
              <div class="group__info__text">
                <p class="common-text--normal">時代の変化を読み取り、事業領域を拡大・深化。安定と挑戦の両立を実現し成長。</p>
              </div>
            </div>
            <div class="group__info__item">
              <div class="group__info__image">
                <img src="../../images/about_us/business_model.png" alt="">
              </div>
              <div class="group__info__heading">
                <p class="group__cat">Business model</p>
                <h3 class="group__num"><span>1</span>:<span>3.5</span>:<span>5.5</span></h3>
                <p class="common-mb">ライツマネジメント：プロデュース：エージェンシー 主要3事業の売上比</p>
              </div>
              <div class="group__info__text">
                <p class="common-text--normal">替えの効かない専門能力を3つの形で提供する、プロフェッショナルエージェンシー。</p>
              </div>
            </div>
            <div class="group__info__item">
              <div class="group__info__image">
                <img src="../../images/about_us/business_filed.jpg" alt="">
              </div>
              <div class="group__info__heading">
                <p class="group__cat">Business filed</p>
                <h3 class="group__num"><span>18</span>分野<span>32</span>万人</h3>
                <p class="common-mb">C&Rグループのプロフェッショナル領域</p>
              </div>
              <div class="group__info__text">
                <p class="common-text--normal">8領域・18分野でプロフェッショナルの力を最大限に発揮できる環境を提供、その叡智を集結。</p>
              </div>
            </div>
            <div class="group__info__item">
              <div class="group__info__image">
                <img src="../../images/about_us/Clients_01.png" alt="">
              </div>
              <div class="group__info__heading">
                <p class="group__cat">Client</p>
                <h3 class="group__num">約<span>4</span>万<span>1,000</span>社</h3>
                <p class="common-mb">C&Rグループの取引先企業数</p>
              </div>
              <div class="group__info__text">
                <p class="common-text--normal">各領域で、プロフェッショナルの能力を通じて顧客企業の価値創造に貢献。</p>
              </div>
            </div>
            <div class="group__info__item">
              <div class="group__info__image">
                <img src="../../images/about_us/member_composition.png" alt="">
              </div>
              <div class="group__info__heading">
                <p class="group__cat">Member composition</p>
                <h3 class="group__num"><span>1,692</span>人</h3>
                <p class="common-mb">C&Rグループの取従業員数</p>
              </div>
              <div class="group__info__text">
                <p class="common-text--normal">各種専門職、人材エージェント、プロデューサー。シナジーをもたらす多様な構成。</p>
              </div>
            </div>
            <div class="group__info__item">
              <div class="group__info__image">
                <img src="../../images/about_us/location.png" alt="">
              </div>
              <div class="group__info__heading">
                <p class="group__cat">Location</p>
                <h3 class="group__num"><span>23</span>都市<span>49</span>拠点</h3>
                <p class="common-mb">C&Rグループの拠点数</p>
              </div>
              <div class="group__info__text">
                <p class="common-text--normal">ネットワークするプロフェッショナルのニーズに合わせて、日本全国から海外へ。</p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="common-section">
        <div class="common-container">

          <h2 class="common-heading--h2 common-mb" id="list">グループ企業一覧</h2>

          <p class="common-text--normal common-mb--title">C&Rグループの拠点は、それぞれネットワークするプロフェッショナルのニーズにあわせて日本全国から、海外へと拡がっています。近年は、日本のクリエイティブコンテンツのアジア展開を目指し、アジア地域への拡大を進めています。</p>

          <div class="common-secondHeading common-mb">
            <h3 class="common-heading--h3">国内</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="group__image">
            <img src="../../images/about_us/japan.png" alt="" class="group__image--map">
          </div>

          <div class="group__accordion__container">
            <ul class="categoryLabel common-mb">
              <li>医療</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社メディカル･プリンシプル社</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <a href=""><p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p></a>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>IT</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社リーディング･エッジ社</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>法曹</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社C&Rリーガル･エージェンシー社</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>会計</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>ジャスネットコミュニケーションズ株式会社</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>ファッション</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社インター･ベル</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>クリエイティブ</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社プロフェッショナルメディア</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>VR</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社VR Japan</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>マーケティング</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社forGIFT</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>IT</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社Idrasys</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>ゲーム</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社クレイテックワークス</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>クリエイティブ</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社ウイング</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>クリエイティブ</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社Grune</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>コンサルティング</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>きづきアーキテクト株式会社</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>医療</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>株式会社コミュニティ･メディカル･イノベーション</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>
          </div>

          <div class="common-secondHeading common-mb">
            <h3 class="common-heading--h3">海外</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="group__image group__image--twocolumns">
            <div>
              <div class="newsDetail__margin">
              <h3 class="common-heading--h4">アジア</h3>
            </div>
              <img src="../../images/about_us/asia.png" alt="" class="group__image--map">
            </div>
            <div>
              <div class="newsDetail__margin">
                <h3 class="common-heading--h4">アメリカ</h3>
              </div>
              <img src="../../images/about_us/usa.png" alt="" class="group__image--map">
            </div>
          </div>

          <div class="group__accordion__container">
            <ul class="categoryLabel common-mb">
              <li>海外</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>CREEK & RIVER KOREA Co., Ltd.</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>海外</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>CREEK & RIVER SHANGHAI Co.,Ltd.</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>海外</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>CREEK & RIVER ENTERTAINMENT Co., Ltd.</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>

            <ul class="categoryLabel common-mb">
              <li>海外</li>
            </ul>

            <div class="group__accordion js-group-accordion">
              <div class="group__accordion__button js-group-accordion-button">
                <p>CREEK & RIVER Global, Inc.</p>
                <div class="group__accordion__icon"></div>
              </div>
              <div class="group__accordion__wrap">
                <div class="group__accordion__item">
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">設立</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">2000年7月</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">資本金</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">3,000万円</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">代表者</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">星野 直彦</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">本社</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">〒105-0004<br>東京都港区新橋四丁目1番1号 新虎通りCORE<br>TEL：03-4550-0020<br>FAX：03-4550-0024</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">事業内容</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">エージェンシー事業／教育・コミュニケーション事業</p>
                  <div class="common-secondHeading common-mb">
                    <h3 class="common-heading--h3">URL</h3>
                    <div class="common-heading--h3__underLine"></div>
                  </div>
                  <p class="common-text--normal common-mb--title">http://www.leadinge.co.jp/</p>
                </div>
              </div>
            </div>
          </div>

          <h2 class="common-heading--h2 common-mb" id="history">C&Rグループの歴史</h2>
          <div class="common-textBlock__contentWrap common-mb--title">
            <div class="common-textBlock__imgWrap">
              <img src="../../images/about_us/history.jpg" alt="ダミー">
            </div>
            <div class="common-textBlock__textWrap">
              <p></p>
              <p>バブル経済崩壊の始まりの年と言われる1990年3月に設立したクリーク・アンド・リバー。 その歴史を紹介します。</p>
            </div>
          </div>

          <div class="common-carouselArea">
            <div class="common-carouselArea__topWrap">
              <div></div>
              <div class="common-carouselArea__arrowWrap">
                <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
              </div>
            </div>
            <div class="common-carousel" id="js-carousel-group04">
              <ul class="common-carouselWrap">
                <li class="js-carouselItem">
                  <div class="group__chronology__wrap">
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3>1990</h3>
                        <p>3<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">株式会社クリーク･アンド･リバー社として東京都新宿区荒木町22番地に設立</p>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <div class="group__chronology__wrap">
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3>1991</h3>
                        <p>5<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">一般労働者派遣事業の許可を取得</p>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <div class="group__chronology__wrap">
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3>1992</h3>
                        <p>7<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始、映像クリエイター･エージェンシー事業を開始<映像クリエイター･エージェンシー事業を開始、映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3></h3>
                        <p>8<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <div class="group__chronology__wrap">
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3>1992</h3>
                        <p>7<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                    <div class="group__chronology group__chronology__textOnly">
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始映像クリエイター･エージェンシー事業を開始映像クリエイター･エージェンシー事業を開始映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <div class="group__chronology__wrap">
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3>1992</h3>
                        <p>7<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <div class="group__chronology__wrap">
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3>1992</h3>
                        <p>7<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                  </div>
                </li>
                <li class="js-carouselItem">
                  <div class="group__chronology__wrap">
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3>1992</h3>
                        <p>7<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                    <div class="group__chronology">
                      <div class="group__chronology__num">
                        <h3>1992</h3>
                        <p>8<span>月</span></p>
                      </div>
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                    <div class="group__chronology group__chronology__textOnly">
                      <p class="group__chronology__text">映像クリエイター･エージェンシー事業を開始映像クリエイター･エージェンシー事業を開始映像クリエイター･エージェンシー事業を開始映像クリエイター･エージェンシー事業を開始</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <ul class="ankerLinks ankerFixed" style="">
        <li><a href="#company">グループ概要</a></li>
        <li><a href="#origin">グループ一覧</a></li>
        <li><a href="#access">歴史</a></li>
      </ul>

    </main>
    <%- include('../../include/_footer.ejs'); %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="../../js/main.js"></script>
  <script src="../../js/vendor.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
            // $(window).on('scroll load', function(){
            //   var scrollTop = $(window).scrollTop();
            //   var windowHeight = $(window).height();
            //   var mvHeight = $('.kv').innerHeight();
            //   var breadHeight = $('.breadcrumb').innerHeight();
            //   var footerHeight = $("footer").height();
            //   var docHeight = $(document).height();
            //   var check = window.pageYOffset ;       //現在のスクロール地点
            //   if(scrollTop > mvHeight + breadHeight){
            //     if(check > docHeight - windowHeight - footerHeight){
            //       $('.ankerLinks').fadeOut();
            //     } else{
            //       $('.ankerLinks').fadeIn();
            //     }
            //   } else {
            //     $('.ankerLinks').fadeOut();
            //   };
            // });
            $('.ankerLinks').hide();
            var startPos = 0,winScrollTop = 0;
            $(window).on('scroll',function(){
              winScrollTop = $(this).scrollTop();
              if (winScrollTop >= startPos) {
                  $('.ankerLinks').fadeOut();
              } else {
                  $('.ankerLinks').fadeIn();
              }
              startPos = winScrollTop;
            });
          $(function () {
              const addElm = document.getElementById('addElm');
              $('#btn').click(function () {
              $(addElm).show(0);
              $(this).hide();
              // $(this).toggleClass("active");
              // const btnText = $(this).text();
              // if (btnText == "すべてを見る") {
              //   $(this).text("閉じる");
              // } else {
              // $(this).text("すべてを見る");
              // }
              });
          });


    </script>
</body>

</html>
