<footer class="l-footer">
  <div class="l-footer__logo">
    <img src="<%= data.commonImgPath %>/bg_logo.svg" alt="ietf116 LOGO">
  </div>
  <p class="l-footer__copyright">116th IETF Meeting Japan Organizing Committee</p>
</footer>