<header class="l-header">
  <div class="l-header__content" id="js-header">
    <ul class="l-header__menu" id="js-header-menu">
      <li class="l-header__menuItem">
        <a href="<%= data.path %>/">HOME</a>
      </li>
      <li class="l-header__menuItem">
        <a href="#">Outline</a>
      </li>
      <li class="l-header__menuItem">
        <a href="<%= data.path %>/sponsors/">Sponsors</a>
      </li>
      <li class="l-header__menuItem">
        <a href="<%= data.path %>/access/">Access</a>
      </li>
      <li class="l-header__menuItem">
        <a href="#">Social Event</a>
      </li>
      <li class="l-header__menuItem">
        <a href="#">About Yokohama</a>
      </li>
      <li class="l-header__menuItem">
        <a href="#">Visas</a>
      </li>
      <li class="l-header__menuItem">
        <a href="#">Essentials</a>
      </li>
      <li class="l-header__menuItem">
        <a href="#">Links</a>
      </li>
    </ul>
    <div class="l-header__menuBtnWrap">
      <button class="l-header__menuBtn" id="js-header-menuBtn">
        <span class="l-header__menuBtnLine first"></span>
        <span class="l-header__menuBtnLine second"></span>
        <span class="l-header__menuBtnText" id="js-header-menuBtn-text">MENU</span>
      </button>
    </div>
  </div>
  <div class="l-header__border"></div>
</header>