<div class="box-w box-funday">
  <h3>申し込み方法</h3>
  <p>開催日2ヶ月前より受付開始。各回ごとの受付期間は詳細ページを御覧ください。申し込み可能店舗各ショップへの申し込みとなります。店舗一覧より最寄りのショップへご連絡下さい。メールの際は下記の内容をご記載の上お送り下さい。<br>※キャンセルと返金については、参加申込受付期間中のキャンセルに限って返金を承ります。
  </p>
  <p>件名：【FTD参加申込み】</p>
  <p class="funDay__appItem">【氏名】<br>【参加希望クラス】<br>【ご連絡先】</p>
</div>