<div class="funDay__tableWrap">
  <table class="vertical-table">
    <thead class="pc-tablehead funDay__table--scheduleHead">
      <tr>
        <th>日程</th>
        <th>開催地</th>
        <th>クラス</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="funDay__tableBody">
      <tr>
        <th aria-label="日程"><div>4月9日(土)</div></th>
        <td aria-label="開催地" class="funDay__secondAdj"><div>鈴鹿ツインサーキット</div></td>
        <td aria-label="クラス" class="funDay__longContent">
          <div class="funDay__tableLongTxt">
            <p><span>・ミドル</span><span>受付中</span></p>
            <p><span>・ミドルファースト</span><span>受付中</span></p>
            <p><span>・ファースト</span><span>受付中</span></p>
            <p><span>・レッツ125/250</span><span>受付中</span></p>
            <p><span>・スポーツツーリング</span><span>受付中</span></p>
            <p><span>・Daigoro Lesson</span><span>受付中</span></p>
          </div>
        </td>
        <td aria-label="" class="label">
          <div class="btn funDay__tableCe">
            <a href="#" class="btn-mid funDay__btn-mid" aria-label="記事の一覧へ">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.595">
                  <path data-name="Icon awesome-arrow-right"
                    d="M6.8 1.045l.8-.792a.854.854 0 011.211 0l6.942 6.939a.854.854 0 010 1.211l-6.947 6.94a.854.854 0 01-1.211 0l-.795-.79a.858.858 0 01.014-1.225l4.3-4.1H.857A.855.855 0 010 8.369V7.226a.855.855 0 01.857-.857H11.12l-4.3-4.1a.852.852 0 01-.02-1.224z"
                    fill="#ffdd32" /></svg></span>
              <span class="label">詳細を見る</span>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <th aria-label="日程"><div>5月21日(土)</div></th>
        <td aria-label="開催地" class="funDay__secondAdj"><div>袖ヶ浦フォレストレースウェイ</div></td>
        <td aria-label="クラス" class="funDay__longContent">
          <div class="funDay__tableLongTxt">
            <p><span>・ミドル</span><span>受付期間外</span></p>
            <p><span>・ミドルファースト</span><span>受付期間外</span></p>
            <p><span>・ファースト</span><span>受付期間外</span></p>
            <p><span>・レッツ125/250</span><span>受付期間外</span></p>
            <p><span>・スポーツツーリング</span><span>受付期間外</span></p>
            <p><span>・Daigoro Lesson</span><span>受付期間外</span></p>
          </div>
        </td>
        <td aria-label="">
          <div class="btn funDay__tableCe">
            <a href="#" class="btn-mid funDay__btn-mid" aria-label="記事の一覧へ">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.595">
                  <path data-name="Icon awesome-arrow-right"
                    d="M6.8 1.045l.8-.792a.854.854 0 011.211 0l6.942 6.939a.854.854 0 010 1.211l-6.947 6.94a.854.854 0 01-1.211 0l-.795-.79a.858.858 0 01.014-1.225l4.3-4.1H.857A.855.855 0 010 8.369V7.226a.855.855 0 01.857-.857H11.12l-4.3-4.1a.852.852 0 01-.02-1.224z"
                    fill="#ffdd32" /></svg></span>
              <span class="label">詳細を見る</span>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <th aria-label="日程"><div>6月5日(日)</div></th>
        <td aria-label="開催地" class="funDay__secondAdj"><div>HSR九州</div></td>
        <td aria-label="クラス" class="funDay__longContent">
          <div class="funDay__tableLongTxt">
            <p><span>・ミドル</span><span>受付期間外</span></p>
            <p><span>・ミドルファースト</span><span>受付期間外</span></p>
            <p><span>・ファースト</span><span>受付期間外</span></p>
            <p><span>・レッツ125/250</span><span>受付期間外</span></p>
            <p><span>・スポーツツーリング</span><span>受付期間外</span></p>
            <p><span>・Daigoro Lesson</span><span>受付期間外</span></p>
          </div>
        </td>
        <td aria-label="">
          <div class="btn funDay__tableCe">
            <a href="#" class="btn-mid funDay__btn-mid" aria-label="記事の一覧へ">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.595">
                  <path data-name="Icon awesome-arrow-right"
                    d="M6.8 1.045l.8-.792a.854.854 0 011.211 0l6.942 6.939a.854.854 0 010 1.211l-6.947 6.94a.854.854 0 01-1.211 0l-.795-.79a.858.858 0 01.014-1.225l4.3-4.1H.857A.855.855 0 010 8.369V7.226a.855.855 0 01.857-.857H11.12l-4.3-4.1a.852.852 0 01-.02-1.224z"
                    fill="#ffdd32" /></svg></span>
              <span class="label">詳細を見る</span>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <th aria-label="日程"><div>9月24日(土)</div></th>
        <td aria-label="開催地" class="funDay__secondAdj"><div>鈴鹿ツインサーキット</div></td>
        <td aria-label="クラス" class="funDay__longContent">
          <div class="funDay__tableLongTxt">
            <p><span>・ミドル</span><span>受付期間外</span></p>
            <p><span>・ミドルファースト</span><span>受付期間外</span></p>
            <p><span>・ファースト</span><span>受付期間外</span></p>
            <p><span>・レッツ125/250</span><span>受付期間外</span></p>
            <p><span>・スポーツツーリング</span><span>受付期間外</span></p>
            <p><span>・Daigoro Lesson</span><span>受付期間外</span></p>
          </div>
        </td>
        <td aria-label="">
          <div class="btn funDay__tableCe">
            <a href="#" class="btn-mid funDay__btn-mid" aria-label="記事の一覧へ">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.595">
                  <path data-name="Icon awesome-arrow-right"
                    d="M6.8 1.045l.8-.792a.854.854 0 011.211 0l6.942 6.939a.854.854 0 010 1.211l-6.947 6.94a.854.854 0 01-1.211 0l-.795-.79a.858.858 0 01.014-1.225l4.3-4.1H.857A.855.855 0 010 8.369V7.226a.855.855 0 01.857-.857H11.12l-4.3-4.1a.852.852 0 01-.02-1.224z"
                    fill="#ffdd32" /></svg></span>
              <span class="label">詳細を見る</span>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <th aria-label="日程"><div>10月16日(日)</div></th>
        <td aria-label="開催地" class="funDay__secondAdj"><div>HSR九州</div></td>
        <td aria-label="クラス" class="funDay__longContent">
          <div class="funDay__tableLongTxt">
            <p><span>・ミドル</span><span>受付期間外</span></p>
            <p><span>・ミドルファースト</span><span>受付期間外</span></p>
            <p><span>・ファースト</span><span>受付期間外</span></p>
            <p><span>・レッツ125/250</span><span>受付期間外</span></p>
            <p><span>・スポーツツーリング</span><span>受付期間外</span></p>
            <p><span>・Daigoro Lesson</span><span>受付期間外</span></p>
          </div>
        </td>
        <td aria-label="">
          <div class="btn funDay__tableCe">
            <a href="#" class="btn-mid funDay__btn-mid" aria-label="記事の一覧へ">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.595">
                  <path data-name="Icon awesome-arrow-right"
                    d="M6.8 1.045l.8-.792a.854.854 0 011.211 0l6.942 6.939a.854.854 0 010 1.211l-6.947 6.94a.854.854 0 01-1.211 0l-.795-.79a.858.858 0 01.014-1.225l4.3-4.1H.857A.855.855 0 010 8.369V7.226a.855.855 0 01.857-.857H11.12l-4.3-4.1a.852.852 0 01-.02-1.224z"
                    fill="#ffdd32" /></svg></span>
              <span class="label">詳細を見る</span>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <th aria-label="日程"><div>11月12日(土)</div></th>
        <td aria-label="開催地" class="funDay__secondAdj"><div>袖ヶ浦フォレストレースウェイ</div></td>
        <td aria-label="クラス" class="funDay__longContent">
          <div class="funDay__tableLongTxt">
            <p><span>・ミドル</span><span>受付期間外</span></p>
            <p><span>・ミドルファースト</span><span>受付期間外</span></p>
            <p><span>・ファースト</span><span>受付期間外</span></p>
            <p><span>・レッツ125/250</span><span>受付期間外</span></p>
            <p><span>・スポーツツーリング</span><span>受付期間外</span></p>
            <p><span>・Daigoro Lesson</span><span>受付期間外</span></p>
          </div>
        </td>
        <td aria-label="">
          <div class="btn funDay__tableCe">
            <a href="#" class="btn-mid funDay__btn-mid" aria-label="記事の一覧へ">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.595">
                  <path data-name="Icon awesome-arrow-right"
                    d="M6.8 1.045l.8-.792a.854.854 0 011.211 0l6.942 6.939a.854.854 0 010 1.211l-6.947 6.94a.854.854 0 01-1.211 0l-.795-.79a.858.858 0 01.014-1.225l4.3-4.1H.857A.855.855 0 010 8.369V7.226a.855.855 0 01.857-.857H11.12l-4.3-4.1a.852.852 0 01-.02-1.224z"
                    fill="#ffdd32" /></svg></span>
              <span class="label">詳細を見る</span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>