<div class="funDay__tableWrap">
  <table class="vertical-table vertical-table--funDay">
    <thead class="pc-tablehead funDay__table--shopHead">
      <tr>
        <th>ショップ名</th>
        <th>メールアドレス</th>
        <th>ショップ情報</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody class="funDay__tableBody">
      <tr>
        <th aria-label="ショップ名" class="funDay__itemShop">
          <div class="funDay__shopLink">
              <div class="funDay__shopLinkInner">
                <span class="funDay__shopText">Motorrad Tsukuba</span>
                <span class="funDay__iconWrap"><a href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M50,2.333L5.846,47.583H19v42.084c0,4.418,3.582,8,8,8h12.625V63.083h20.75v34.584H73c4.418,0,8-3.582,8-8V47.583h13.154   L50,2.333z"></path></g></svg></a></span>
              </div>
          </div>
        </th>
        <td aria-label="メールアドレス" class="funDay__secondAdj">
          <div>motorrad.tsukuba@tsukuba.bmw-motorrad.jp</div>
        </td>
        <td aria-label="ショップ情報">
          <div class="funDay__tableLongTxt funDay__tableLongTxt--shop">
            <p>
              <span>住所：</span>
              <span>茨城県土浦市永国町10-2土浦市永国町10-2</span>
            </p>
            <p>
              <span>TEL：</span>
              <span>029-822-3406</span>
            </p>
            <p>
              <span>定休日：</span>
              <span>火、第1/3水、第2土</span>
            </p>
          </div>
        </td>
        <td aria-label="備考">
          <div>DUCATI福岡で車両購入のお客様限定</div>
        </td>
      </tr>
      <tr>
        <th aria-label="ショップ名" class="funDay__itemShop">
          <div class="funDay__shopLink">
              <div class="funDay__shopLinkInner">
                <span class="funDay__shopText">Gun's Auto</span>
                <span class="funDay__iconWrap"><a href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M50,2.333L5.846,47.583H19v42.084c0,4.418,3.582,8,8,8h12.625V63.083h20.75v34.584H73c4.418,0,8-3.582,8-8V47.583h13.154   L50,2.333z"></path></g></svg></a></span>
              </div>
          </div>
        </th>
        <td aria-label="メールアドレス" class="funDay__secondAdj">
          <div>yzfr62009guns@yahoo.co.jp</div>
        </td>
        <td aria-label="ショップ情報">
          <div class="funDay__tableLongTxt funDay__tableLongTxt--shop">
            <p>
              <span>住所：</span>
              <span>長野県松本市大字島立堀米182-3</span>
            </p>
            <p>
              <span>TEL：</span>
              <span>0263-87-5227</span>
            </p>
            <p>
              <span>定休日：</span>
              <span>不定休</span>
            </p>
          </div>
        </td>
        <td aria-label="備考">
          <div></div>
        </td>
      </tr>
      <tr>
        <th aria-label="ショップ名" class="funDay__itemShop">
          <div class="funDay__shopLink">
              <div class="funDay__shopLinkInner">
                <span class="funDay__shopText">D.D.BOYS(レーシングデザイン)</span>
                <span class="funDay__iconWrap"><a href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M50,2.333L5.846,47.583H19v42.084c0,4.418,3.582,8,8,8h12.625V63.083h20.75v34.584H73c4.418,0,8-3.582,8-8V47.583h13.154   L50,2.333z"></path></g></svg></a></span>
              </div>
          </div>
        </th>
        <td aria-label="メールアドレス" class="funDay__secondAdj">
          <div>ddboys@racingdesign.co.jp</div>
        </td>
        <td aria-label="ショップ情報">
          <div class="funDay__tableLongTxt funDay__tableLongTxt--shop">
            <p>
              <span>住所：</span>
              <span>大阪府豊中市走井1-5-35</span>
            </p>
            <p>
              <span>TEL：</span>
              <span>06-6850-0078</span>
            </p>
            <p>
              <span>定休日：</span>
              <span>月</span>
            </p>
          </div>
        </td>
        <td aria-label="備考">
          <div></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>