// -------------------------------------------------------------------
//  sub.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mediaquery" as med;

.p-sub {
  &__message {
    position: relative;
    background-image: var.$BG_TEXTURE;
    background-size: contain;
    color: #fff;
    padding: 40px 0 30px;
    @include med.media(sp) {
      padding: 5.33vw 0 4vw;
    }
  }

  &__messageInner {
    width: 630px;
    margin: auto;
    position: relative;
    z-index: 3;
    @include med.media(sp) {
      width: 84%;
    }
  }

  &__genre {
    text-align: center;
    margin-top: 10px;

    @include med.media(sp) {
      margin-top: 1.34vw;
    }

    &.future {
      > img {
        width: 260px;
        @include med.media(sp) {
          width: 34vw;
        }
      }
    }

    &.thanks {
      > img {
        width: 315px;
        @include med.media(sp) {
          width: 42vw;
        }
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;

    @include med.media(sp) {
      margin-top: 3.34vw;
    }

    &.iep {
      @include med.media(sp) {
        > img {
          width: 60%;
        } 
      }
    }

    &.ict {
      @include med.media(sp) {
        > img {
          width: 70%;
        }
      }
    }

    &.pbl {
      @include med.media(sp) {
        > img {
          width: 60%;
        }
      }
    }
  }

  &__topPartWrap {
    text-align: center;
    margin-top: 60px;

    @include med.media(sp) {
      margin-top: 8.53vw;
    }

    > img {
      width: 105px;
      @include med.media(sp) {
        width: 14vw;
      }
    }
  }

  &__headingTop {
    margin:36px auto 0;

    &.iep {
      width: 578px;
      @include med.media(sp) {
        width: 77vw;
      }
    }

    &.heart {
      width: 90%;
    }

    &.remedial {
      width: 420px;
      @include med.media(sp) {
        width: 56vw;
      }
    }

    > img {
      width: 100%;
    }
  }

  &__partIcon {
    width: 105px;
    margin-right: 15px;
  }

  &__mainVisual {
    margin-top: 70px;
    @include med.media(sp) {
      margin-top: 9.33vw;
    }
  }

  &__mainVisualList {
    > li {
      margin-bottom: 60px;
      @include med.media(sp) {
        margin-bottom: 8vw;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__messageTextsWrap {
    font-family: var.$LIGHT_FONT_FAMILY; 
    margin-top: 80px;

    @include med.media(sp) {
      margin-top: 10.66vw;
    }

    > p {
      font-size: 32px;
      letter-spacing: 5px;
      line-height: 1.875;
      &:nth-child(2) {
        text-indent: 0.5em;
        margin-top: 150px;
        margin-bottom: 150px;
        @include med.media(sp) {
          margin-top: 21.33vw;
          margin-bottom: 21.33vw;
        }
      }

      @include med.media(sp) {
        font-size: 4.26vw;
        letter-spacing: 0.68vw;
      }
    }
  }

  &__guideArea {
    margin-top: 160px;
    @include med.media(sp) {
      margin-top: 21.33vw;
    }
  }

  &__guideText {
    font-size: 44px;
    text-align: center;
    letter-spacing: 2.2px;
    @include med.media(sp) {
      font-size: 5.865vw;
      letter-spacing: 0.293vw;
    }
  }

  &__detail {
    padding-top: 80px;
    padding-bottom: 160px;
    background-color: var.$BASE_BG_COLOR;
    position: relative;
    z-index: 2;

    @include med.media(sp) {
      padding-top: 16vw;
      padding-bottom: 21.33vw;
    }

    &Top {
      width: 570px;
      margin: auto;

      @include med.media(sp) {
        width: 76%;
      }
    }
  }

  &__detailHeading {
    width: 570px;

    @include med.media(sp) {
      width: 100%;
    }
    > img {
      width: 100%;
    }
  }

  &__detailText {
    margin-top: 60px;
    font-size: 32px;
    letter-spacing: 5.4px;
    line-height: 1.625;

    @include med.media(sp) {
      margin-top: 8vw;
      font-size: 4.27vw;
      letter-spacing: 0.933vw;
    }

    > span {
      font-size: 16px;
      vertical-align: top;

      @include med.media(sp) {
        font-size: 2.15vw;
      }
    }

    &--en {
      margin-top: 36px;
      font-size: 24px;
      font-family: var.$LIGHT_FONT_FAMILY;
      letter-spacing: 1.9px;

      &.multi {
        display: flex;
        justify-content: space-between;
        > span {
          display: inline-block;
          line-height: 1.15;
          &:first-child {
            width: 140px;
            @include med.media(sp) {
              width: 27.5%;
            }      
          }
        }
      }

      @include med.media(sp) {
        margin-top: 4.8vw;
        font-size: 3.2vw;
        letter-spacing: 0.266vw;
      }
    }
  }
}