@use "../../helpers/mediaquery" as med;

.common-mainVisual {
  position: relative;
  overflow: hidden;
  > img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    aspect-ratio: 1/1;
  }

  h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    span {
      background-color: #fff;
    }
  }
  &__professional {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    background: rgba(255, 255, 255, .8);
    padding: 5px 0;
    h1 {
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      color: #000 !important;
      position: static !important;
      width: auto !important;
      top: 0 !important;
      left: 0 !important;
      line-height: 1.2;
      transform: translate(0, 0) !important;
      @include med.media(sp) {
        font-size: 24px;
      }
    }
    span {
      color: #D28903;
      background-color: transparent !important;
    }
    &--read {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      @include med.media(sp) {
        font-size: 14px;
      }
    }
  }
  &--pc {
    @include med.media(sp) {
      display: none;
    }
  }
  &--sp {
    display: none;
    @include med.media(sp) {
      display: block;
    }
  }
  &--aboutUs {
    img {
      @include med.media(sp) {
        object-position: 100% 100%;
      }
    }
  }
  &--group {
    img {
      @include med.media(sp) {
        transform: scale(1.05) translate(-10px,10px);
      }
    }
  }
  &--policy {
    img {
      @include med.media(sp) {
        object-position: 100% 100%;
        transform: scale(1.5);
      }
    }
  }
  &--myNumber {
    img {
      object-position: 93% 62%;
      @include med.media(sp) {
        object-position: 87% 100%;
        transform: scale(1.1);
      }
    }
  }
  &--privacy {
    img {
      @include med.media(sp) {
        object-position: 83% 100%;
      }
    }
  }
}
