<!DOCTYPE html>
<html lang="ja">
<%- include('../../include/subpages/_subpageHead.ejs',
 {
   path: "../../",
   title: "ビジネスフィールド | 企業・グループ情報 | クリーク･アンド･リバー社｜C&Rグループ",
   description: "ビジネスフィールド。企業・グループ情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"
 }); %>


<body>
  <div class="container" id="js-container">
    <%- include('../../include/_header.ejs'); %>
    <main id="js-main" class="subpage">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">企業・グループ情報 /</a>
          </li>
          <li>
            <a href="#">ビジネスフィールド</a>
          </li>
        </ul>
      </div>
      <div class="common-mainVisual common-mb businessField--kv">
        <img src="../../images/about_us/kv_businessfield.jpg" alt="事業領域とネットワーク" class="common-mainVisual--pc">
        <img src="../../images/about_us/kv_businessfield.jpg" alt="事業領域とネットワーク" class="common-mainVisual--sp">
        <h1 class="common-heading--h1">事業領域とネットワーク<br><span></span></h1>
      </div>

      <section class="common-section">
        <div class="common-container common-container--top">
          <p class="common-text--normal common-mb--section">C&Rグループは、18分野、約33万人のプロフェッショナルと「4万社のクライアント」をネットワークする、日本最大級のうろフェッショナルエージェンシーです。</p>
        </div>
      </section>

      <section class="common-section common-section__GN">
        <div class="common-container">
          <div class="businessField__GN">
            <h2 class="businessField__GN__title">C&R Group Network</h2>
            <div class="businessField__num">
              <div class="businessField__num__item">
                <p class="businessField__num__heading">Fields</p>
                <p class="businessField__num__text"><span class="businessField__num__count" data-num="18">0</span></p>
              </div>
              <div class="businessField__num__item">
                <p class="businessField__num__heading">Professionals</p>
                <p class="businessField__num__text"><span class="businessField__num__count" data-num="333400">0</span><span class="businessField__num__unit">名</span></p>
              </div>
              <div class="businessField__num__item">
                <p class="businessField__num__heading">Clients</p>
                <p class="businessField__num__text"><span class="businessField__num__count" data-num="43520">0</span><span class="businessField__num__unit">社</span></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section common-section--creative">
        <div class="common-container">
          <div class="common-secondHeading common-mb--title">
            <h3 class="common-heading--h3">クリエイティブ</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="businessField__num">
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Professionals</p>
              <p class="businessField__num__text"><span class="businessField__num__count"data-num="85650">0</span><span class="businessField__num__unit">名</span></p>
            </div>
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Clients</p>
              <p class="businessField__num__text"><span class="businessField__num__count"data-num="16750">0</span><span class="businessField__num__unit">社</span></p>
            </div>
          </div>

          <div class="businessField__block businessField__block--creative">
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/映像.svg" alt="">
                    <p>映像<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">プロデューサー、ディレクター、映画監督、カメラマン、編集、MA</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                  <li>
                    <a href="#">CREEK & RIVER ENTERTAINMENT</a>
                  </li>
                  <li>
                    <a href="#">ウイング</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/ゲーム.svg" alt="">
                    <p>ゲーム<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">プロデューサー、ディレクター、映画監督、カメラマン、編集、MA</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                  <li>
                    <a href="#">クレイテックワークス</a>
                  </li>
                  <li>
                    <a href="#">CREEK & RIVER KOREA</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/Web.svg" alt="">
                    <p>Web<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">プロデューサー、プランナー、ディレクター、デザイナー、Webマスター、プログラマー、アクセス解析者</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/広告・出版.svg" alt="">
                    <p>広告・出版<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">クリエイティブディレクター、アートディレクター、デザイナー、カメラマン、エディター、ライター</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                  <li>
                    <a href="#">CREEK & RIVER SHANGHAI</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/作家.svg" alt="">
                    <p>作家<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">小説家、漫画家、エッセイスト、翻訳家</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/舞台芸術.svg" alt="">
                    <p>舞台芸術<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">役者、劇団、落語家、マジシャン、芸人</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section common-section--medical">
        <div class="common-container">
          <div class="common-secondHeading common-mb--title">
            <h3 class="common-heading--h3">メディカルヘルスケア</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="businessField__num">
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Professionals</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="143000">0</span><span class="businessField__num__unit">名</span></p>
            </div>
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Clients</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="143000">0</span><span class="businessField__num__unit">社</span></p>
            </div>
          </div>

          <div class="businessField__block businessField__block--medical">
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/医療.svg" alt="">
                    <p>医療<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">臨床医、研究医、産業医、メディカルドクター（MD）</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">メディカル･プリンシプル社</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section common-section--construction">
        <div class="common-container">
          <div class="common-secondHeading common-mb--title">
            <h3 class="common-heading--h3">コンストラクション</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="businessField__num">
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Professionals</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="4500">0</span><span class="businessField__num__unit"><span class="businessField__num__unit">名</span></p>
            </div>
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Clients</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="2500">0</span><span class="businessField__num__unit"><span class="businessField__num__unit">社</span></p>
            </div>
          </div>

          <div class="businessField__block businessField__block--construction">
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/建築.svg" alt="">
                    <p>建築<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">建築士、施工管理技士、インテリアプランナー、建築コンサルタント、BIMマネージャー、BIMオペレーター</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section common-section--cs">
        <div class="common-container">
          <div class="common-secondHeading common-mb--title">
            <h3 class="common-heading--h3">コンピュータサイエンス</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="businessField__num">
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Professionals</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="9200">0</span><span class="businessField__num__unit"><span class="businessField__num__unit">名</span></p>
            </div>
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Clients</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="950">0</span><span class="businessField__num__unit"><span class="businessField__num__unit">社</span></p>
            </div>
          </div>

          <div class="businessField__block businessField__block--cs">
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/コンピュータサイエンス.svg" alt="">
                    <p>コンピュータサイエンス<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">AIエンジニア、データサイエンティスト、研究者、開発者、エンジニア</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/IT.svg" alt="">
                    <p>IT<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">システムコンサルタント、システムエンジニア、プログラマー、ネットワークエンジニア、データサイエンティスト</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">リーディング･エッジ社</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section common-section--lc">
        <div class="common-container">
          <div class="common-secondHeading common-mb--title">
            <h3 class="common-heading--h3">ライフサイエンス</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="businessField__num">
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Professionals</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="1150">0</span><span class="businessField__num__unit">名</span></p>
            </div>
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Clients</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="190">0</span><span class="businessField__num__unit">社</span></p>
            </div>
          </div>

          <div class="businessField__block businessField__block--lc">
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/ライフサイエンス.svg" alt="">
                    <p>ライフサイエンス<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">研究支援者、研究員</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/アグリ.svg" alt="">
                    <p>アグリ<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">農業従事者、研究機関</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section common-section--qol">
        <div class="common-container">
          <div class="common-secondHeading common-mb--title">
            <h3 class="common-heading--h3">Quality of life</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="businessField__num">
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Professionals</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="9900">0</span><span class="businessField__num__unit">名</span></p>
            </div>
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Clients</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="9900">0</span><span class="businessField__num__unit">社</span></p>
            </div>
          </div>

          <div class="businessField__block businessField__block--qol">
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/ファッション.svg" alt="">
                    <p>ファッション<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">ファッションデザイナー、パタンナー、MD、VMD、バイヤー、EC運営、セールス</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">インター･ベル</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/食.svg" alt="">
                    <p>食<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">シェフ、パティシエ、ブーランジェ、管理栄養士、ソムリエ、商品開発、業態開発</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/アスリート.svg" alt="">
                    <p>アスリート<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">スポーツ選手、スポーツ指導者</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="common-section common-section--ms">
        <div class="common-container">
          <div class="common-secondHeading common-mb--title">
            <h3 class="common-heading--h3">経営支援</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>

          <div class="businessField__num">
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Professionals</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="76000">0</span><span class="businessField__num__unit">名</span></p>
            </div>
            <div class="businessField__num__item">
              <p class="businessField__num__heading">Clients</p>
              <p class="businessField__num__text"><span class="businessField__num__count" data-num="7000">0</span><span class="businessField__num__unit">社</span></p>
            </div>
          </div>

          <div class="businessField__block businessField__block--ms">
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/会計.svg" alt="">
                    <p>会計<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">公認会計士、税理士、財務、経理</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">ジャスネットコミュニケーションズ</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/法曹.svg" alt="">
                    <p>法曹<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">弁護士、司法書士、弁理士、行政書士</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">C&Rリーガル･エージェンシー社</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="businessField__block__col">
              <a href="#" class="businessField__block__title">
                <div class="businessField__block__title__row">
                  <div class="businessField__block__title__text">
                    <img src="../../images/about_us/icons/CXO.svg" alt="">
                    <p>CXO<p>
                    </div>
                    <div class="businessField__block__title__arrow"></div>
                </div>
              </a>
              <div class="businessField__block__item">
                <h4 class="common-heading--h4 common-mt-none common-mb">職種</h4>
                <p class="common-text--normal common-mb--title">CEO（最高経営責任者）、COO（最高執行責任者）、CFO（最高財務責任者）、CMO（最高マーケティング責任者）</p>

                <h4 class="common-heading--h4 common-mb">担当会社</h4>

                <ul class="businessField__block__list">
                  <li>
                    <a href="#">クリーク･アンド･リバー社</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <%- include('../../include/_footer.ejs'); %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../../js/main.js"></script>
  <script src="../../js/vendor.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
            // $(window).on('scroll load', function(){
            //   var scrollTop = $(window).scrollTop();
            //   var windowHeight = $(window).height();
            //   var mvHeight = $('.kv').innerHeight();
            //   var breadHeight = $('.breadcrumb').innerHeight();
            //   var footerHeight = $("footer").height();
            //   var docHeight = $(document).height();
            //   var check = window.pageYOffset ;       //現在のスクロール地点
            //   if(scrollTop > mvHeight + breadHeight){
            //     if(check > docHeight - windowHeight - footerHeight){
            //       $('.ankerLinks').fadeOut();
            //     } else{
            //       $('.ankerLinks').fadeIn();
            //     }
            //   } else {
            //     $('.ankerLinks').fadeOut();
            //   };
            // });
            $('.ankerLinks').hide();
            var startPos = 0,winScrollTop = 0;
            $(window).on('scroll',function(){
              winScrollTop = $(this).scrollTop();
              if (winScrollTop >= startPos) {
                  $('.ankerLinks').fadeOut();
              } else {
                  $('.ankerLinks').fadeIn();
              }
              startPos = winScrollTop;
            });
          $(function () {
              const addElm = document.getElementById('addElm');
              $('#btn').click(function () {
              $(addElm).show(0);
              $(this).hide();
              // $(this).toggleClass("active");
              // const btnText = $(this).text();
              // if (btnText == "すべてを見る") {
              //   $(this).text("閉じる");
              // } else {
              // $(this).text("すべてを見る");
              // }
              });
          });

    </script>
    <script>
    function launchCountUp($count){

      var countMax = Number($count.attr('data-num'));
      var thisCount = Number($count.text());
      var countTimer;

      var countSpeed = 80;
      var countTime = 15;
      var countTimeNow = 0;

      $count.text(countMax.toLocaleString());
      var spanWidth = $count.parents('.businessField__num__text').innerWidth();
      $count.parents('.businessField__num__text').css({
        'min-width': spanWidth + 'px',
        'display' : 'inline-block'
      });
      $count.text(0);

      function timer(){
        countTimer = setInterval(function(){
          if(countMax > 200) {
            var countInterval = Number(Math.floor(countMax / 200));
          } else {
            var countInterval = Number(Math.floor(countMax / countMax));
          }
          thisCount = thisCount + countInterval;
          var countNext = thisCount;
          var addZero = ('0' + countNext).slice(-2);
          countTimeNow++;
          var numLength = countMax.toString().length;

          // if (countMax > 10 && countNext < 10) {
          //   $count.text(addZero.toLocaleString());
          // } else {
          // }
          var random = Math.floor( Math.random() * countMax );
          numLength *= 2;
          if (numLength > countTime - countTimeNow){
            var rank = numLength - (countTime - countTimeNow);
            rank2 = Math.floor(rank / 2);
            rank -= rank2;
            var num = countMax.toString().substr( -1 * rank);
            random = "" + random + num;
            random = random.substr( -1 * numLength / 2);
            if (rank >= 3) {
              random = Number(random).toLocaleString();
              console.log(Number(random).toLocaleString());
            }
          }
          $count.text(random);


          // if (countNext >= countMax){
          //   $count.text(countMax.toLocaleString());
          //   clearInterval(countTimer);
          // }

          if (countTimeNow >= countTime){
            $count.text(countMax.toLocaleString());
            clearInterval(countTimer);
          }
        }, countSpeed);
      }

      timer();
    }

    function detectCountElement($counts){

      $.each($counts, function(i, countElement){
        var $count = $(countElement);

        //既にカウントアップが行われている場合、何もしない
        if($count.attr("data-isLaunched")){
          return;
        }

        //スクロール量・画面の高さを取得する
        var $window = $(window);
        var scrollTop = $window.scrollTop();
        var windowHeight = $window.innerHeight();

        //要素の座標を取得する
        var offset = $count.offset();

        //要素が画面内にあるか確認する
        if(scrollTop < offset.top && offset.top < scrollTop + windowHeight){
          //要素のカウントアップを開始する
          launchCountUp($count);
          //要素にデータを付与し、カウントアップが行われたことが分かるようにする
          $count.attr("data-isLaunched", true);
        }

      });

    }

    $(window).on("load", function() {
    $(".businessField__num__count").each(function(){
      $(window).scroll(detectCountElement.bind(window, $(this)));
      detectCountElement($(this));
    })
  });

    </script>
</body>

</html>
