<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/subpages/_subpageHead.ejs', {path: "../", title: "事業分野・サービス | クリーク･アンド･リバー社｜C&Rグループ", description: "事業分野・サービス。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../include/_header.ejs'); %>
    <main id="services-arch" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>事業分野・サービス</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
        <h1 class="imgKv__ttl">事業分野・サービス</h1>
        <span class="imgKv__line"></span>
      </section>
      <div class="tabListWrap">
        <ul class="tabList">
          <li class="tab active topBtn">分野から探す</li>
          <li class="tab topBtn">サービスから探す</li>
        </ul>
      </div>
      <div class="contentWrap">
        <section class="tabContents show">
          <!-- <p class="tabContents__lead">
            各領域/分野において、主に以下3つの事業を展開しています。
          </p>
          <figure class="tabContents__mainImg">
            <img src="../images/services/services_top_img_01.png" alt="">
          </figure> -->
          <div id="target" class="top">
            <p class="top__lead">8つの領域、18の分野でプロフェッショナルの生涯価値を高めることを通じ、社会への貢献を目指しています。</p>
            <a href="" class="top__links">> 事例から探す</a>
          </div>
          <section class="btnLinks">
            <h2 class="tabContents__ttl mt">クリエイティブ</h2>
            <ul class="btnLinks__list">
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_movie.svg" alt="">
                  映像
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_game.svg" alt="">
                  ゲーム
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div><div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_web.svg" alt="">
                  Web
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_ad.svg" alt="">
                  広告・出版
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_writer.svg" alt="">
                  作家
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_arts.svg" alt="">
                  舞台芸術
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
            </ul>
            <h2 class="tabContents__ttl">メディカルヘルスケア</h2>
            <ul class="btnLinks__list">
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_medical.svg" alt="">
                  医療
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
            </ul>
            <h2 class="tabContents__ttl">コンストラクション</h2>
            <ul class="btnLinks__list">
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_architecture.svg" alt="">
                  建築
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
            </ul>
            <h2 class="tabContents__ttl">コンピュータサイエンス</h2>
            <ul class="btnLinks__list">
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_computer.svg" alt="">
                  コンピュータサイエンス
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_it.svg" alt="">
                  IT
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
            </ul>
            <h2 class="tabContents__ttl">ライフ<br class="pc">サイエンス</h2>
            <ul class="btnLinks__list">
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_life_science.svg" alt="">
                  ライフ<br class="pc">サイエンス
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_agri.svg" alt="">
                  アグリ
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
            </ul>
            <h2 class="tabContents__ttl">Quality of life</h2>
            <ul class="btnLinks__list">
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_fashion.svg" alt="">
                  ファッション
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_food.svg" alt="">
                  食
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_athlete.svg" alt="">
                  アスリート
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
            </ul>
            <h2 class="tabContents__ttl">経営支援</h2>
            <ul class="btnLinks__list">
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_accountant.svg" alt="">
                  会計
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_legal_profession.svg" alt="">
                  法曹
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="arrow__iconHover-underLine" href="">
                  <img class="btnLinks__listIcon" src="../../images/services/services_link_icon_cxo.svg" alt="">
                  CXO
                  <div class="arrow-glay">
                    <span class="arrow"></span>
                  </div>
                </a>
              </li>
            </ul>
          </section>
        </section>

        <section class="tabContents">
          <div id="target" class="top">
            <p class="top__lead">各分野のプロフェッショナルネットワークとグループ各社の知見を活かし、様々なサービスやソリューション事業を生み出しています。</p>
            <a href="" class="top__links">> 事例から探す</a>
          </div>
          <ul class="tabContents__list">
            <li class="tabContents__box">
              <h2 class="tabContents__ttl mt">請負・アウトソーシング</h2>
              <div class="tabContents__btn js-accordion-title">
                各種クリエイティブ制作<br class="">C&R Creative studio
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    <div class="commonBanner__onText">
                      クリーク･アンド･リバー社の事業やサービス、ニュースおよびC&Rグループ情報
                    </div>
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">YouTube STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>YouTube</span>
                    </div>
                  </div>
                </div>
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">AMUSEMENT CREATIVE STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>ゲーム</span>
                      <span>遊技機</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabContents__btn js-accordion-title">
                イベント・グッズ関連<br class="">企画・運営
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabContents__btn js-accordion-title">
                インナーブランディング支援
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="tabContents__box">
              <h2 class="tabContents__ttl">人材紹介・人材派遣・人材育成</h2>
              <div class="tabContents__btn js-accordion-title">
                各種採用戦略・採用代行
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabContents__btn js-accordion-title">
                人材育成支援
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="tabContents__box">
              <h2 class="tabContents__ttl">知的財産の収益化</h2>
              <div class="tabContents__btn js-accordion-title">
                YouTuber支援
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="tabContents__box">
              <h2 class="tabContents__ttl">各種ソリューション</h2>
              <div class="tabContents__btn js-accordion-title">
                VR/AR/MR
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabContents__btn js-accordion-title">
                Drone
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabContents__btn js-accordion-title">
                ITコンサルティング <br>AI、システム開発
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabContents__btn js-accordion-title">
                データマーケティング <br>データ活用支援
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tabContents__btn js-accordion-title">
                メディア・プラットフォーム <br>開発・運営
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabContents__btn js-accordion-title">
                プロモーション
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabContents__btn js-accordion-title">
                新規事業・開発支援
              </div>
              <div class="tabContents__txtWrap">
                <div class="tabContents__linkBlk">
                  <a class="commonBanner" href="">
                    <img src="../images/services/services_img_01.png" alt="">
                    
                  </a>
                  <div class="-flxBox">
                    <span class="tabContents__ctgr">映像 STUDIO</span>
                    <div class="tabContents__tagWrap">
                      <span>映像</span>
                      <span>番組制作</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
      <div class="servicelinks">
        <ul class="servicelinks__list">
          <li><a class="global__btn arrow__iconHover" target="_blank" href="" rel="noopener">各種ソリューション事業<div class="arrow-glay"><span class="arrow"></span></div></a></li>
          <li><a class="global__btn arrow__iconHover" target="_blank" href="/case_studies/" rel="noopener">実績事例一覧<div class="arrow-glay"><span class="arrow"></span></div></a></li>
        </ul>
      </div>
      <div class="contentWrap">
        <div class="bannerLinks">
          <a href="#" class="aboutUs__link__item">
            <img src="../images/services/services_banner_link_01.jpg" alt="">
            <p class="aboutUs__link__title">事業領域とネットワーク<span></span></p>
          </a>
        </div>
      </div>

      
    </main>
    <%- include('../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
       document.addEventListener("DOMContentLoaded", () => {
          const title = document.querySelectorAll('.js-accordion-title');
          for (let i = 0; i < title.length; i++) {
            let titleEach = title[i];
            let content = titleEach.nextElementSibling;
            titleEach.addEventListener('click', () => {
              titleEach.classList.toggle('is-active');
              content.classList.toggle('is-open');
            });
          }
        });

      $(".tab.topBtn").on("click",function(){
        var $th = $(this).index();
        $(".tab").removeClass("active");
        $(this).addClass("active");
        $(".tab.bottomBtn").removeClass("active");
        $(".tab.bottomBtn").eq($th).addClass("active");
        $(".tabContents").removeClass("show");
        $(".tabContents").eq($th).addClass("show");
      });
      $(".tab.bottomBtn").on("click",function(){
        var $th = $(this).index();
        $(".tab").removeClass("active");
        $(this).addClass("active");
        $(".tab.topBtn").removeClass("active");
        $(".tab.topBtn").eq($th).addClass("active");
        $(".tabContents").removeClass("show");
        $(".tabContents").eq($th).addClass("show");
      });
      // トップに戻す場合使用
      //   var headerHeight = $('#js-header').height();
      //   var speed = 0;
      //   var offset = 60;
      //   var target = $(href == "#" || href == "" ? 'html' : href);
      //   var position = target.offset().top - headerHeight;
      //   var position = target.offset().top - headerHeight;
      //   $("html, body").animate({ scrollTop: position }, speed, "swing");
      //   return false;

    </script>
  </body>
</html>