<div class="c-modal --pickUpImg" id="js-pickup-modal">
  <div class="c-modal__inner">
    <div class="c-modal__contents" id="js-modal-contentsWrap">
      <div class="c-modal__img">
        <img src="<%= data.commonImgPath %>/modal_tentative.png" id="js-modal-img-open" alt="pickup img">
      </div>
      <p id="js-modal-text"></p>
    </div>
  </div>
  <div class="c-modal__closeBtnArea">
    <button class="c-modal__closeBtn js-modal-close-btn" type="button">
      <span></span>
      <span></span>
    </button>
  </div>
</div>