<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title segasammy_dev
    body
        a(href="japanese/ir/individual/index.html") 日本語版
        a(href="english/ir/individual/index.html") 英語版