<ul class="archiveList">
  <li class="archiveList__button archiveList__button--prev archiveList__button--invalid"></li>
  <li class="archiveList__button archiveList__button--active">1</li>
  <li class="archiveList__button"><a href"#">2</a></li>
  <li class="archiveList__button"><a href"#">3</a></li>
  <li class="archiveList__button"><a href"#">4</a></li>
  <li class="archiveList__threePoint">…</li>
  <li class="archiveList__button"><a href"#">8</a></li>
  <li class="archiveList__button archiveList__button--next"><a href"#"></a></li>
</ul>
