<div class="firstMv">
  <div class="firstMv__inner">
    <ul class="firstMv__img">
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_tv_movie.jpg" alt="TV & Movies" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_games.jpg" alt="Games" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_web.jpg" alt="Web" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_ad_publishing.jpg" alt="Ad & Publishing" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_artists_authors.jpg" alt="Artists & Authors" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_performing_arts.jpg" alt="Performing arts" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_architecture.jpg" alt="Architecture" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_fashion.jpg" alt="Fashion" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_food.jpg" alt="Food" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_athlete.jpg" alt="Athlete" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_life_science.jpg" alt="Life science" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_agriculture.jpg" alt="Agriculture" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_computer_science.jpg" alt="Computer science" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_it.jpg" alt="IT" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_cxo.jpg" alt="CXO" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_legal.jpg" alt="Legal" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_accouting.jpg" alt="Accouting" class="firstMv__img"></li>
      <li class="js-firstMvImg firstMv__img__item"><img src="images/firstmv/firstmv_medical.jpg" alt="Medical" class="firstMv__img"></li>
    </ul>
    <div id="js-firstMvCover" class="firstMv__cover">
      <div class="js-firstMvCoverItem firstMv__cover__item"><div></div></div>
      <div class="js-firstMvCoverItem firstMv__cover__item"><div></div></div>
      <div class="js-firstMvCoverItem firstMv__cover__item"><div></div></div>
      <div class="js-firstMvCoverItem firstMv__cover__item"><div></div></div>
      <div class="js-firstMvCoverItem firstMv__cover__item"><div></div></div>
      <div class="js-firstMvCoverItem firstMv__cover__item"><div></div></div>
      <div class="js-firstMvCoverItem firstMv__cover__item"><div></div></div>
      <div class="js-firstMvCoverItem firstMv__cover__item"><div></div></div>
    </div>
    <h1 class="firstMv__logo">
      <img src="images/logo_white.png" alt="CREEK & RIVER">
    </h1>
    <h2 class="firstMv__heading">Our<br>Professionals<br>Innovate<br>Your<br>World.</h2>
    <div class="firstMv__scrolldown"><span>Scroll</span></div>
    <div id="js-slideupItem" class="firstMv__bottom">
      <div class="firstMv__bottomInner">
        <span class="firstMv__genre" id="js-genreText">Game</span>
        <p>
          <span class="firstMv__total" id="js-genreCount">85,000</span>
          <span class="firstMv__text" id="js-genreUnit">Professionals</span>
        </p>
      </div>
      <p class="firstMv__addText" id="js-creativeText">クリエィティブ領域合計</p>
    </div>
  </div>
</div>
