<footer class="footer">
  <div class="footer__content">
    <div class="footer__contentInner">
      <nav class="footer__nav" aria-label="CREEK&RIVER Footer Navigation">
        <div class="footer__linkArea groupInfo">
          <div>
            <h3 class="footer__linkHeading"><a href="#">企業・グループ情報</a></h3>
            <ul class="footer__linkList groupInfo">
              <li><a href="#">企業理念</a></li>
              <li><a href="#">ごあいさつ</a></li>
              <li><a href="#">クリーク·アンド·リバー社について</a></li>
              <li><a href="#">C&Rグループについて</a></li>
              <li><a href="#">ビジネスモデル</a></li>
              <li><a href="#">事業領域とネットワーク</a></li>
              <li><a href="#">文化・オフィス紹介</a></li>
              <li><a href="#">C&R Creative Studio</a></li>
              <li><a href="#">コーポレートガバナンス</a></li>
              <li class="itemAdjust">
                <a href="#" target="_blank">
                  <span>Go Beyond the Limit</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 14.025 12.4">
                    <g id="icon" transform="translate(-343.559 -23.8)">
                      <path d="M325.825,342.275H314.8V332.5h2.155v1.4H316.2v6.975h8.225v-.5h1.4Z" transform="translate(28.759 -306.074)"/>
                      <path d="M-.7-.7H10.325V9.075H-.7ZM8.925.7H.7V7.675H8.925Z" transform="translate(347.259 24.5)"/>
                    </g>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__linkArea businessAndService">
          <div>
            <h3 class="footer__linkHeading"><a href="#">事業分野・サービス</a></h3>
            <ul class="footer__linkList businessAndService">
              <li><a href="#">映像</a></li>
              <li><a href="#">ゲーム</a></li>
              <li><a href="#">Web</a></li>
              <li><a href="#">広告・出版</a></li>
              <li><a href="#">作家</a></li>
              <li><a href="#">舞台芸術</a></li>
              <li><a href="#">医療</a></li>
              <li><a href="#">建築</a></li>
              <li class="oneColumn"><a href="#">コンピュータサイエンス</a></li>
              <li class="oneColumn"><a href="#">IT</a></li>
              <li><a href="#">ライフサイエンス</a></li>
              <li><a href="#">アグリ</a></li>
              <li><a href="#">ファッション</a></li>
              <li><a href="#">食</a></li>
              <li><a href="#">アスリート</a></li>
              <li><a href="#">会計</a></li>
              <li><a href="#">法曹</a></li>
              <li><a href="#">CXO</a></li>
              <li class="oneColumn"><a href="#">各種ソリューション事業</a></li>
              <li class="oneColumn fontAdjust"><a href="#">事例実績一覧</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__linkArea strongAndFeature">
          <div>
            <h3 class="footer__linkHeading">
              <a href="#">強み・特徴</a>
            </h3>
            <ul class="footer__linkList strongAndFeature">
              <li class="lhAdjust"><h4 class="footer__linkSubTitle">[特徴1]</h4><a href="#">C&R Creative Studiosが新たな価値を提供</a></li>
              <li><h4 class="footer__linkSubTitle">[特徴2]</h4><a href="#">事業クリエイティブカンパニー</a></li>
              <li><h4 class="footer__linkSubTitle">[特徴3]</h4><a href="#">ライツマネジメント</a></li>
              <li><h4 class="footer__linkSubTitle">[特徴4]</h4><a href="#">プロフェッショナル・エージェンシー</a></li>
              <li><h4 class="footer__linkSubTitle">[特徴5]</h4><a href="#">グローカルなビジネス展開</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__linkArea irInformation">
          <div>
            <h3 class="footer__linkHeading"><a href="#">IR情報</a></h3>
            <ul class="footer__linkList irInformation">
              <li><a href="#">トップメッセージ</a></li>
              <li><a href="#">役員一覧</a></li>
              <li><a href="#">経営戦略</a></li>
              <li><a href="#">IRニュース</a></li>
              <li><a href="#">業績・財務情報</a></li>
              <li><a href="#">IRライブラリ</a></li>
              <li><a href="#">IRカレンダー</a></li>
              <li><a href="#">株式について</a></li>
              <li class="oneColumn itemAdjust">
                <a href="#" target="_blank">
                  <span>IRニュースメール</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 14.025 12.4">
                    <g id="icon" transform="translate(-343.559 -23.8)">
                      <path data-name="" d="M325.825,342.275H314.8V332.5h2.155v1.4H316.2v6.975h8.225v-.5h1.4Z" transform="translate(28.759 -306.074)"/>
                      <path data-name="" d="M-.7-.7H10.325V9.075H-.7ZM8.925.7H.7V7.675H8.925Z" transform="translate(347.259 24.5)"/>
                    </g>
                  </svg>
                </a>
              </li>
              <li class="oneColumn">
                <a href="#">個人投資家の皆さまへ</a>
              </li>
              <li><a href="#">リスク情報</a></li>
              <li><a href="#">IRポリシー</a></li>
              <li><a href="#">免責事項</a></li>
              <li><a href="#">電子公告</a></li>
            </ul>
          </div>
          <div class="footer__linkWrap--sustainability">
            <h3 class="footer__linkHeading"><a href="#">サステナビリティ</a></h3>
            <ul class="footer__linkList">
              <li><a href="#">マテリアリティ</a></li>
              <li><a href="#">サステナビリティマネジメント</a></li>
              <li><a href="#">ESG活動</a></li>
              <li><a href="#">ESG活動データ</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="footer__bottom">
        <ul class="footer__bottomMain">
          <li>
            <ul class="footer__bottomUpper">
              <li>
                <a href="#">ニュースリリース</a>
              </li>
              <li>
                <a href="#">プロフェッショナルの皆さまへ</a>
              </li>
              <li>
                <a href="#">採用情報</a>
              </li>
              <li>
                <a href="#">よくあるご質問</a>
              </li>
              <li>
                <a href="#">お問い合わせ</a>
              </li>
              <li class="is-sp">
                <a href="#">
                  <span>Go Beyond the Limit</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 14.025 12.4">
                    <g id="icon" transform="translate(-343.559 -23.8)">
                      <path data-name="" d="M325.825,342.275H314.8V332.5h2.155v1.4H316.2v6.975h8.225v-.5h1.4Z" transform="translate(28.759 -306.074)"/>
                      <path data-name="" d="M-.7-.7H10.325V9.075H-.7ZM8.925.7H.7V7.675H8.925Z" transform="translate(347.259 24.5)"/>
                    </g>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="footer__bottomLower">
              <li>
                <a href="#">サイトポリシー</a>
              </li>
              <li>
                <a href="#">ウェブアクセシビリティ</a>
              </li>
              <li>
                <a href="#">個人情報の保護について</a>
              </li>
              <li>
                <a href="#">特定個人情報基本方針</a>
              </li>
              <li>
                <a href="#">サイトマップ</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="footer__bottomSns">
          <ul class="footer__snsIcon">
            <li>
              <a href="#" target="_blank"><img src="images/icon-twitter.svg" alt="twitter"></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="images/icon-facebook.svg" alt="facebook" class="facebookIcon"></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="images/icon-youtube.svg" alt="youtube"></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="images/icon-linkedin.svg" alt="linkedin"></a>
            </li>
          </ul>
          <p class="footer__snsListLink">
            <a href="#" target="_blank">公式サイト・SNS一覧</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <p>© CREEK & RIVER Co., Ltd.</p>
  </div>
</footer>