<header id="js-header" class="header is-slideUp">
  <div class="header__inner">
    <div class="header__logo">
      <a href="../../">
        <img src="images/top_logo.svg" alt="CREEK & RIVER">
      </a>
    </div>
    <div class="header__menuButton" id="js-menuTrigger">
      <div class="header__menuText"><span>Menu</span></div>
      <div class="header__menuTrigger">
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="header__menu">
      <div class="header__menuTop">
        <ul class="header__iconWrap">
          <li><a href="#"><img src="images/icon_access.svg" alt="access"><img src="images/icon_access_sp.svg" alt="access"></a></li>
          <li><a href="#"><img src="images/icon_mail.svg" alt="mail"><img src="images/icon_mail_sp.svg" alt="mail"></a></li>
          <li><a href="#"><img src="images/icon_question.svg" alt="question"></a></li>
          <li><a href="#"><img src="images/icon_language.svg" alt="language"></a></li>
        </ul>
        <ul class="header__langWrap">
          <li><a href="#"><img src="images/icon_language_sp.svg" alt="language"></a></li>
          <li><a href="#">En</a><span>/</span></li>
          <li>Jp</li>
        </ul>
      </div>
      <ul class="header__list" id="js-headerList">
        <li class="js-itemFirst" data-category="1">
          <span class="top-nav-link" data-url="/about_us/">企業・グループ情報</span>
          <span><img src="images/right_arrow_white.svg" alt="→"></span>
          <div class="header__itemSecond groupMenu js-itemSecond">
            <div class="header__itemHeading">
              <p>企業・グループ情報<br><span>About us</span></p>
              <div class="header__backBtn">
                <a href="javascript:void(0);" class="js-menuBackButton"><img src="images/left_arrow_black.svg" alt="←"><span>メニュートップ</span></a>
              </div>
              <a href="#">企業・グループ情報トップ</a>
            </div>
            <div class="header__itemList">
              <ul class="header__linkWrap mt-0">
                <li><a href="#">ごあいさつ</a></li>
                <li><a href="#">クリーク･アンド･リバー社について</a></li>
                <li><a href="#">C&Rグループについて</a></li>
              </ul>
              <ul class="header__linkWrap">
                <li><a href="#">理念とミッション</a></li>
                <li><a href="#">ビジネスモデル</a></li>
                <li><a href="#">ビジネスフィールド</a></li>
              </ul>
              <ul class="header__linkWrap">
                <li><a href="#">文化・オフィス紹介</a></li>
                <li><a href="#">50分野構想</a></li>
              </ul>
              <ul class="header__linkWrap banner">
                <li class="header__pcBanner--pro">
                  <a href="#">
                    <span>プロフェッショナルの皆さまへ</span>
                    <img src="images/dummy/dummy_pc_banner_pro.png" alt="プロフェッショナルの皆様へ">
                  </a>
                </li>
                <li class="header__pcBanner--recruit">
                  <a href="#">
                    <span>採用情報</span>
                    <img src="images/dummy/dummy_pc_banner_recruit.png" alt="採用情報">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="js-itemFirst" data-category="2">
          <span class="top-nav-link" data-url="/service/">事業分野・サービス</span>
          <span><img src="images/right_arrow_white.svg" alt="→"></span>
          <div class="header__itemSecond serviceMenu js-itemSecond">
            <div class="header__itemHeading">
              <p>事業分野・サービス<br><span>Services</span></p>
              <div class="header__backBtn">
                <a href="javascript:void(0);" class="js-menuBackButton"><img src="images/left_arrow_black.svg" alt="←"><span>メニュートップ</span></a>
              </div>
              <a href="#">事業分野・サービストップ</a>
            </div>
            <div class="header__itemList">
              <ul class="header__linkWrap mt-0">
                <li><a href="#">実績事例一覧</a></li>
                <li class="mt-adjust">
                  <span>クリエイティブ</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter">
                      <li><a href="#">映像</a></li>
                      <li><a href="#">ゲーム</a></li>
                      <li><a href="#">Web</a></li>
                    </ul>
                    <ul class="header__linkOuter mt-adjust">
                      <li><a href="#">広告・出版</a></li>
                      <li><a href="#">作家</a></li>
                      <li><a href="#">舞台芸術</a></li>
                    </ul>
                  </div>
                </li>
                <li class="mt-adjust">
                  <span>メディカルヘルスケア</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter">
                      <li><a href="#">医療</a></li>
                    </ul>
                  </div>
                </li>
                <li class="mt-adjust">
                  <span>コンストラクション</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter">
                      <li><a href="#">建築</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="header__linkWrap">
                <li class="mt-adjust">
                  <span>コンピューターサイエンス</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter pc-verticalStack">
                      <li>
                        <a href="#">コンピューターサイエンス</a>
                      </li>
                      <li>
                        <a href="#">IT</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="mt-adjust">
                  <span>ライフサイエンス</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter">
                      <li><a href="#">ライフサイエンス</a></li>
                      <li><a href="#">アグリ</a></li>
                    </ul>
                  </div>
                </li>
                <li class="mt-adjust">
                  <span>Quality of life</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter">
                      <li><a href="#">ファッション</a></li>
                      <li><a href="#">食</a></li>
                      <li><a href="#">アスリート</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="header__linkWrap">
                <li class="mt-adjust">
                  <span>経営支援</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter">
                      <li><a href="#">会計</a></li>
                      <li><a href="#">法曹</a></li>
                      <li><a href="#">CXO</a></li>
                    </ul>
                  </div>
                </li>
                <li class="mt-adjust">
                  <span>ソリューション</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter">
                      <li><a href="#">各種ソリューション</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="header__linkWrap banner">
                <li class="header__pcBanner--pro">
                  <a href="#">
                    <span>プロフェッショナルの皆さまへ</span>
                    <img src="images/dummy/dummy_pc_banner_pro.png" alt="プロフェッショナルの皆様へ">
                  </a>
                </li>
                <li class="header__pcBanner--recruit">
                  <a href="#">
                    <span>採用情報</span>
                    <img src="images/dummy/dummy_pc_banner_recruit.png" alt="採用情報">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li data-category="3">
          <a href="#">強み・特徴</a>
        </li>
        <li class="js-itemFirst" data-category="4">
          <span class="top-nav-link" data-url="/ir/">IR情報</span>
          <span><img src="images/right_arrow_white.svg" alt="→"></span>
          <div class="header__itemSecond irMenu js-itemSecond">
            <div class="header__itemHeading">
              <p>IR情報<br><span>Investor Relations</span></p>
              <div class="header__backBtn">
                <a href="javascript:void(0);" class="js-menuBackButton"><img src="images/left_arrow_black.svg" alt="←"><span>メニュートップ</span></a>
              </div>
              <a href="#">IR情報トップ</a>
            </div>
            <div class="header__itemList">
              <ul class="header__linkWrap mt-0">
                <li data-detail="1"><a href="#">トップメッセージ</a></li>
                <li data-detail="2"><a href="#">役員一覧</a></li>
                <li data-detail="3" class="header__thirdTrigger js-thirdTrigger">
                  <span>経営戦略<img src="images/right_arrow_black.svg" alt="→"></span>
                  <!--item third-->
                  <div class="header__borderPoint header__itemThird js-thirdTarget">
                    <ul class="header__linkOuter">
                      <li class="header__itemThirdHeading">
                        <p>経営戦略<br><span>Management Strategy</span></p>
                        <div class="header__backBtn">
                          <a href="javascript:void(0);" class="js-categoryBackButton"><img src="images/left_arrow_black.svg" alt="←"><span>IR情報トップ</span></a>
                        </div>
                      </li>
                      <li><a href="#">経営戦略トップ</a></li>
                      <li><a href="#">中期経営計画</a></li>
                    </ul>
                  </div>
                </li>
                <li data-detail="4"><a href="#">IRニュース</a></li>
              </ul>
              <ul class="header__linkWrap">
                <li data-detail="5"><a href="#">業績・財務情報</a></li>
                <li data-detail="6" class="header__thirdTrigger js-thirdTrigger">
                  <span>IRライブラリ<img src="images/right_arrow_black.svg" alt="→"></span>
                  <div class="header__borderPoint header__itemThird js-thirdTarget">
                    <ul class="header__linkOuter">
                      <li class="header__itemThirdHeading">
                        <p>IRライブラリ<br><span>IR Library</span></p>
                        <div class="header__backBtn">
                          <a href="javascript:void(0);" class="js-categoryBackButton"><img src="images/left_arrow_black.svg" alt="←"><span>IR情報トップ</span></a>
                        </div>
                      </li>
                      <li>
                        <a href="#">IRライブラリトップ</a>
                      </li>
                      <li>
                        <a href="#">決算短信</a>
                      </li>
                    </ul>
                    <ul class="header__linkOuter">
                      <li>
                        <a href="#">決算説明会資料・動画</a>
                      </li>
                    </ul>
                    <ul class="header__linkOuter">
                      <li>
                        <a href="#">有価証券報告書/四半期報告書株主総会</a>
                      </li>
                    </ul>
                    <ul class="header__linkOuter">
                      <li>
                        <a href="#">事業報告書</a>
                      </li>
                      <li>
                        <a href="#">個人投資家向け資料等</a>
                      </li>
                    </ul>
                    <ul class="header__linkOuter">
                      <li>
                        <a href="#">ファクトシート</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li data-detail="7"><a href="#">IRカレンダー</a></li>
                <li data-detail="8" class="header__thirdTrigger js-thirdTrigger">
                  <span>株式について<img src="images/right_arrow_black.svg" alt="→"></span>
                  <div class="header__borderPoint header__itemThird js-thirdTarget">
                    <ul class="header__linkOuter">
                      <li class="header__itemThirdHeading">
                        <p>株式について<br><span>Stock</span></p>
                        <div class="header__backBtn">
                          <a href="javascript:void(0);" class="js-categoryBackButton"><img src="images/left_arrow_black.svg" alt="←"><span>IR情報トップ</span></a>
                        </div>
                      </li>
                      <li><a href="#">株式情報</a></li>
                    </ul>
                    <ul class="header__linkOuter">
                      <li><a href="#">株主還元方針・配当情報</a></li>
                    </ul>
                    <ul class="header__linkOuter">
                      <li><a href="#">株価情報</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="header__linkWrap">
                <li data-detail="9">
                  <a href="#">IRニュースメール</a>
                </li>
                <li data-detail="10">
                  <a href="#">個人投資家の皆さまへ</a>
                </li>
                <li data-detail="11">
                  <a href="#">リスク情報</a>
                </li>
                <li data-detail="12">
                  <a href="#">IRポリシー</a>
                </li>
                <li data-detail="13">
                  <a href="#">免責事項</a>
                </li>
              </ul>
              <ul class="header__linkWrap">
                <li data-detail="14">
                  <a href="#">電子広告</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="js-itemFirst" data-category="5">
          <span class="top-nav-link" data-url="/sustainability/">サステナビリティ</span>
          <span><img src="images/right_arrow_white.svg" alt="→"></span>
          <div class="header__itemSecond sustainableMenu js-itemSecond">
            <div class="header__itemHeading">
              <p>サステナビリティ<br><span>Sustainability</span></p>
              <div class="header__backBtn">
                <a href="javascript:void(0);" class="js-menuBackButton"><img src="images/left_arrow_black.svg" alt="←"><span>メニュートップ</span></a>
              </div>
              <a href="#">サステナビリティトップ</a>
            </div>
            <div class="header__itemList">
              <ul class="header__linkWrap mt-0">
                <li><a href="#">社長メッセージ</a></li>
                <li><a href="#">サステナビリティの考え方と SDGs達成への貢献</a></li>
              </ul>
              <ul class="header__linkWrap">
                <li><a href="#">環境への取り組み｜活動報告</a></li>
                <li><a href="#">社会への取り組み｜活動報告</a></li>
              </ul>
              <ul class="header__linkWrap">
                <li><a href="#">コーポレートガバナンス｜活動報告</a></li>
                <li><a href="#">ESGデータ集</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="js-itemFirst" data-category="6">
          <span class="top-nav-link" data-url="/news/">ニュースリリース</span>
          <span><img src="images/right_arrow_white.svg" alt="→"></span>
          <div class="header__itemSecond newsMenu js-itemSecond">
            <div class="header__itemHeading">
              <p>ニュースリリース<br><span>News Release</span></p>
              <div class="header__backBtn">
                <a href="javascript:void(0);" class="js-menuBackButton"><img src="images/left_arrow_black.svg" alt="←"><span>メニュートップ</span></a>
              </div>
              <a href="#">ニュースリリーストップ</a>
            </div>
            <div class="header__itemList">
              <ul class="header__linkWrap mt-0">
                <li class="mt-adjust">
                  <span>記事カテゴリ別</span>
                  <div class="header__borderPoint">
                    <ul class="header__linkOuter">
                      <li>
                        <a href="#">プレスリリース</a>
                      </li>
                      <li>
                        <a href="#">グループ企業</a>
                      </li>
                      <li>
                        <a href="#">IR</a>
                      </li>
                    </ul>
                    <ul class="header__linkOuter mt-adjust">
                      <li>
                        <a href="#">セミナー</a>
                      </li>
                      <li>
                        <a href="#">イベント</a>
                      </li>
                      <li>
                        <a href="#">トピックス</a>
                      </li>
                    </ul>
                    <ul class="header__linkOuter mt-adjust">
                      <li>
                        <a href="#">すべて</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <ul class="header__listItemSp">
            <li>
              <ul class="header__linksSp">
                <li><a href="#">よくあるご質問</a></li>
                <li><a href="#">お問い合わせ</a></li>
              </ul>
            </li>
          </ul>
          <ul class="header__listItemSp--banner">
            <li class="header__toProfessionalImg"><a href="#"><img src="images/toprofessional_spmenu.png" alt="プロフェッショナルの皆様へ"><span>プロフェッショナルの皆さまへ</span></a></li>
            <li class="header__recruitImg"><a href="#"><img src="images/recruit_spmenu.png" alt="採用情報"><span>採用情報</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
