<div id="js-loading" class="loadingWrap">
  <div class="loadingWrap__inner">
    <picture><img src="images/top_logo.gif" alt="CREEK & RIVER"></picture>
    <div id="js-loader" class="loadingWrap__loader">Loading...</div>
  </div>
</div>
