          <div class="newsDetail__sp__grayBox">
            <div class="newsDetail__sp__grayBox__inner">
              <h2 class="newsDetail__sp__heading">この件に関するお問い合わせ</h2>

              <p class="newsDetail__text">株式会社クリーク・アンド・リバー社　<br class="newsDetail__pc__none">経営企画部</p>

              <div class="newsDetail__sp__buttons">
                <div class="newsDetail__sp__buttonCol">
                  <div class="common-button--whiteArrowBtn">
                    <a href="#">お問い合わせ<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
                  </div>
                </div>
                <div class="newsDetail__sp__buttonCol">
                  <div class="sustain__pdfLinkWrap">
                    <a href="https://www.cri.co.jp/sustainability/WomensAdvancementPromotionLaw_ActionPlan_2021%E3%83%BC2023.pdf" target="_blank">
                      <span class="sustain__pdfText">本ニュースのPDFはこちら</span>
                      <span class="sustain__pdfIcon"><img src="../images/icon_pdf_wh.svg" alt="pdf"></span>
                    </a>
                  </div>
                </div>
                <div class="newsDetail__sp__buttonCol">
                  <div class="sustain__pdfLinkWrap">
                    <a href="https://www.cri.co.jp/sustainability/WomensAdvancementPromotionLaw_ActionPlan_2021%E3%83%BC2023.pdf" target="_blank">
                      <span class="sustain__pdfText">その他の資料はこちら</span>
                      <span class="sustain__pdfIcon"><img src="../images/icon_pdf_wh.svg" alt="pdf"></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="common-adobe__wrapper">
                <div class="common-adobe__col">
                  <a href="#" class="common-adobe">
                    <img src="../images/adobe-img.png" alt="adobe">
                  </a>
                </div>
                <div class="common-adobe__col">
                  <a href="#" class="common-adobe__link">Adobe Acrobat Reader®のダウンロードはこちら</a>
                </div>
              </div>
            </div>
          </div>
          <div class="newsDetail__sp__grayBox">
            <div class="newsDetail__sp__grayBox__inner">
              <h2 class="newsDetail__sp__heading">この件に関するお問い合わせ</h2>

              <p class="newsDetail__text">株式会社クリーク・アンド・リバー社　<br class="newsDetail__pc__none">経営企画部</p>

              <div class="newsDetail__sp__buttons">
                <div class="newsDetail__sp__buttonCol">
                  <div class="common-button--whiteArrowBtn">
                    <a href="#">お問い合わせ<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
                  </div>
                </div>
                <div class="newsDetail__sp__buttonCol">
                  <div class="sustain__pdfLinkWrap">
                    <a href="https://www.cri.co.jp/sustainability/WomensAdvancementPromotionLaw_ActionPlan_2021%E3%83%BC2023.pdf" target="_blank">
                      <span class="sustain__pdfText">本ニュースのPDFはこちら</span>
                      <span class="sustain__pdfIcon"><img src="../images/icon_pdf_wh.svg" alt="pdf"></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="common-adobe__wrapper common-adobe__wrapper--left">
                <div class="common-adobe__col">
                  <a href="#" class="common-adobe">
                    <img src="../images/adobe-img.png" alt="adobe">
                  </a>
                </div>
                <div class="common-adobe__col">
                  <a href="#" class="common-adobe__link">Adobe Acrobat Reader®のダウンロードはこちら</a>
                </div>
              </div>
            </div>
          </div>
          <div class="newsDetail__sp__grayBox">
            <div class="newsDetail__sp__grayBox__inner">
              <h2 class="newsDetail__sp__heading">この件に関するお問い合わせ</h2>

              <p class="newsDetail__text">株式会社クリーク・アンド・リバー社　<br class="newsDetail__pc__none">経営企画部</p>

              <div class="newsDetail__sp__buttons">
                <div class="newsDetail__sp__buttonCol">
                  <div class="common-button--whiteArrowBtn">
                    <a href="#">お問い合わせ<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="newsDetail__sp__sns">
            <p class="newsDetail__note">シェアする</p>
            <!-- <div class="newsDetail__sp__sns__wrapper">
              <a href="#" class="newsDetail__sp__sns__icon"><img src="../images/icon-facebook-brands.svg" alt="facebook"></a>
              <a href="#" class="newsDetail__sp__sns__icon"><img src="../images/icon-twitter-square-brands.svg" alt="twitter"></a>
              <a href="#" class="newsDetail__sp__sns__icon"><img src="../images/icon-line.svg" alt="line"></a>
              <a href="#" class="newsDetail__sp__sns__icon"><img src="../images/icon-linkedin.svg" alt="linkedin"></a>
            </div> -->
            <div class="sharethis-inline-share-buttons"></div>
          </div>

          <div class="newsDetail__sp__connection">
            <div class="newsDetail__sp__connection__inner">
              <!-- <h3 class="newsDetail__sp__heading">関連情報</h3>
              <ul class="newsDetail__list">
                <li class="newsDetail__list__li"><a href="#" class="newsDetail__link">ゲーム｜クリエイティブ領域事業分野・サービス紹介</a></li>
                <li class="newsDetail__list__li"><a href="#" class="newsDetail__link">C＆Rグループのビジネスモデル</a></li>
                <li class="newsDetail__list__li"><a href="#" class="newsDetail__link">採用情報</a></li>
              </ul> -->
              <div class="newsDetail__sp__flex">
                <a href="#" class="newsDetail__prev"><span></span>戻る</a>
              </div>
            </div>
          </div>
