<div class="newsBottom">
  <div class="newsBottom__headingWrap">
    <h2 class="news__heading">News</h2>
    <p class="newsBottom__miniText">ニュースリリース</p>
  </div>
  <div>
    <ul class="newsBottom__list">
      <li>
        <div class="newsBottom__head">
          <span class="newsLabel">News</span>
          <span>2021年8月11日</span>
        </div>
        <p>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが</p>
      </li>
      <li>
        <div class="newsBottom__head">
          <span class="newsLabel newsLabel--pressRelease">Press Release</span>
          <span>2021年8月11日</span>
        </div>
        <p>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが</p>
      </li>
      <li>
        <div class="newsBottom__head">
          <span class="newsLabel newsLabel--seminar">Seminar</span>
          <span>2021年8月11日</span>
        </div>
        <p>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが</p>
      </li>
      <li>
        <div class="newsBottom__head">
          <span class="newsLabel newsLabel--seminar">Seminar</span>
          <span>2021年8月11日</span>
        </div>
        <p>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが</p>
      </li>
      <li>
        <div class="newsBottom__head">
          <span class="newsLabel newsLabel--seminar">Seminar</span>
          <span>2021年8月11日</span>
        </div>
        <p>ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが</p>
      </li>
    </ul>
    <div class="grayArrowBtn">
      <a href="#">ニュースリリース<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
    </div>
  </div>
</div>