<div class="newsDetail__topWrapper">
  <h2 class="newsDetail__heading">プリティーシリーズ10周年コラボ 第三弾！ 「プリティーリズム・レインボーライブ」が「アトフェス®」に登場！ <span class="newsDetail__heading__sub">～本日8/11（水）より受注予約開始！～</span></h2>

  <div class="newsDetail__lamp">
    <p class="newsDetail__date">2021.08.11</p>
    <!-- <div class="newsDetail__sns">
      <a href="#" class="newsDetail__sns__icon"><img src="../images/icon-facebook-brands.svg" alt="facebook"></a>
      <a href="#" class="newsDetail__sns__icon"><img src="../images/icon-twitter-square-brands.svg" alt="twitter"></a>
      <a href="#" class="newsDetail__sns__icon"><img src="../images/icon-line.svg" alt="line"></a>
      <a href="#" class="newsDetail__sns__icon"><img src="../images/icon-linkedin.svg" alt="linkedin"></a>
    </div> -->
    <div class="sharethis-inline-share-buttons"></div>
  </div>

  <h2 class="newsDetail__company">株式会社クリーク・アンド・リバー社</h2>

  <div class="newsDetail__labelArea">
    <span class="newsLabel newsLabel--pressRelease">プレスリリース</span>
    <span class="newsLabel">トピックス</span>
  </div>
</div>
