<div class="newsRelease__search">
  <div class="newsRelease__search__icon">
    <img src="../images/icon-search-solid.svg">
  </div>
  <div class="newsRelease__search__wrapper">
    <button class="newsRelease__search__button">すべて</button>
    <button class="newsRelease__search__button">領域/分野</button>
    <button class="newsRelease__search__button newsRelease__search__button--active">2018年度</button>
  </div>
</div>
