<div class="news">
  <div class="news__title">
    <h2 class="news__heading">News<span>ニュース</span></h2>
    <div class="news__control">
      <div class="news__listLink"><a href="#" class="common-link">ニュース一覧へ</a></div>
      <div class="news__arrow">
        <div class="news__backBtn" id="js-newsBackBtn"></div>
        <div class="news__nextBtn" id="js-newsNextBtn"></div>
      </div>
    </div>
  </div>
  <div class="news__detail">
    <p class="news__label"><span class="news__icon">News</span><span>2021年8月11日</span></p>
    <p class="mt-10">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。・・・</p>
    <p class="news__page u-fm-din"><span>1</span>/<span>5</span></p>
  </div>
</div>