<a href="#" class="newsRelease__item">
  <div class="newsRelease__sp">
    <p class="newsRelease__date">2021.10.06</p>
    <div class="newsRelease__labelArea">
      <span class="newsLabel newsLabel--pressRelease">プレスリリース</span>
      <span class="newsLabel">トピックス</span>
    </div>
  </div>
  <div class="newsRelease__img">
    <img src="../images/dummy_common/dummy_common_mv4.png" alt="ダミー">
  </div>
  <div class="newsRelease__content">
    <div class="newsRelease__pc">
      <p class="newsRelease__date">2021年8月11日</p>
      <div class="newsRelease__labelArea">
        <span class="newsLabel newsLabel--pressRelease">プレスリリース</span>
        <span class="newsLabel">トピックス</span>
      </div>
      <p class="newsRelease__tag">映像／ゲーム／Web／広告・出版／作家／建築／コンピュータサイエンス／IT／ファッション</p>
    </div>
    <h3 class="newsRelease__title">10/27（水）～11/30（火）「緑十字展2021 働く人の安心づくりフェア」オンライン出展 4,000件の取引実績の中から、安全教育のXR導入例等を紹介</h3>
  </div>
</a>
