<!-- <div class="pageList"> -->
<!--2枚画像カラム時はpageList--twoClmをマルチクラスに-->
<div class="pageList pageList--twoClm">
  <div class="pageList__item firstItem">
    <img src="images/company_bg.jpg" alt="企業・グループ情報">
    <div class="pageList__textWrap">
      <a href="#" class="pageList__headingLinkTop">
        <h3 class="pageList__heading">Company</h3>  
        <p class="pageList__category">企業・グループ情報</p>  
      </a>
      <div class="pageList__hr"></div>
      <p>プロフェッショナルの能力を最大限に引き出し、人と社会の幸せに貢献する</p>
      <div class="pageList__link">
        <div class="pageList__linkInner">
          <a href="#">企業・グループ情報<div class="arrow--pageList"><span class="arrow"></span></div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="pageList__item">
    <img src="images/businessmodel_bg.jpg" alt="ビジネスモデル">
    <div class="pageList__textWrap">
      <a href="#" class="pageList__headingLinkTop">
        <h3 class="pageList__heading">What we do</h3>
        <p class="pageList__category">ビジネスモデル</p>
      </a>
      <div class="pageList__hr"></div>
      <p>プロフェッショナルの生産価値を高める<br>3つの主力事業</p>
      <div class="pageList__link">
        <div class="pageList__linkInner">
          <a href="#">ビジネスモデル<div class="arrow--pageList"><span class="arrow"></span></div></a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="pageList__item">
    <img src="images/service_bg.png" alt="事業分野・サービス">
    <div class="pageList__textWrap">
      <a href="#" class="pageList__headingLinkTop">
        <h3 class="pageList__heading">Business field</h3>
        <p class="pageList__category">事業分野・サービス</p>
      </a>
      <div class="pageList__hr"></div>
      <p>C&Rグループのプロフェッショナル8領域</p>
      <div class="pageList__link">
        <div class="pageList__linkInner">
          <a href="#">事業分野・サービス<div class="arrow--pageList"><span class="arrow"></span></div></a>
        </div>
      </div>
    </div>
  </div> -->
</div>