<div class="secondMv" id="js-secondMv">
  <div class="secondMv__inner">
    <div class="secondMv__mainText">
      <h2 class="secondMv__heading" id="js-secondMvHeading">
        Our<br><span>Professionals</span><br>Innovate<br>Your<br>World.
        <div class="grayArrowBtn" id="js-howBottom">
          <a href="#">HOW?<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
        </div>
      </h2>
    </div>
    <div class="secondMv__detail" id="js-secondMvDetail">
      <h3>C&R Group Network</h3>
      <dl class="secondMv__detailList">
        <dt>Professionals</dt>
        <dd>
          <span class="secondMv__detailNumber">333,400</span>
          <span class="secondMv__detailText">名</span>
        </dd>
      </dl>
      <dl class="secondMv__detailList">
        <dt>Clients</dt>
        <dd>
          <span class="secondMv__detailNumber">41,520</span>
          <span class="secondMv__detailText">社</span>
        </dd>
      </dl>
      <h4>プロフェッショナルに愛を。<br>世界に革新を。</h4>
      <p class="secondMv__goalText">各産業界に広がるネットワークの、<br>無限のシナジーを目指して。<br>C&Rグループは、<br>変わる世界に知的創造で挑みます。</p>
      <p class="secondMv__cmBanner--sp">
        <a href="#" target="_blank">
          <img class="sp--banner" src="images/cmlp_banner_sp.png" alt="CMLPへのリンクバナー SP">
        </a>
      </p>
    </div>
  </div>
  <div class="secondMv__cmBanner--pc">
    <a href="#" target="_blank">
      <img src="images/cmlp_banner_pc.png" alt="CMLPへのリンクバナー PC">
    </a>
  </div>
</div>