<div class="sidebar" id="js-sidebar">
  <h3 class="sidebar__heading sidebar__heading--top">この件に関する<br>お問い合わせ</h3>
  <p class="sidebar__text">株式会社クリーク・アンド・リバー社 経営企画部</p>
  <div class="newsDetail__margin">
    <div class="common-button--whiteArrowBtn">
      <a href="#">お問い合わせ<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
    </div>
  </div>

  <p class="common-pdf"><img src="../images/icon-file-pdf-solid.svg" alt="pdf"><a href="#">本ニュースのPDFはこちら</a></p>
  <p class="common-pdf"><img src="../images/icon-file-pdf-solid.svg" alt="pdf"><a href="#">その他の資料はこちら</a></p>

  <p class="sidebar__note">Adobe Acrobat Readerのダウンロード</p>

  <div class="common-adobe__wrapper">
    <a href="#" class="common-adobe">
      <img src="../images/recruit_spmenu.png" alt="adobe">
    </a>
  </div>

  <h3 class="sidebar__heading">関連情報</h3>

  <ul class="sidebar__list">
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">ゲーム｜クリエイティブ領域事業分野・サービス紹介</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">C＆Rグループのビジネスモデル</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">採用情報</a></li>
  </ul>
</div>
