<div class="sidebar" id="js-sidebar">
  <button class="sidebar__resetButton">絞り込みリセット</button>
  <h3 class="sidebar__heading">年度</h3>
  <ul class="sidebar__list">
    <li class="sidebar__list__li active"><a href="#" class="sidebar__link">2021年度</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">2020年度</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">2019年度</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">2018年度</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">2017年度</a></li>
  </ul>
  <h3 class="sidebar__heading">領域・分野</h3>
  <div class="sidebar__subHeading">
    <h4 class="sidebar__subHeading__text">クリエイティブ</h4>
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">映像</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">Web</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">ゲーム</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">広告・出版</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">作家</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">舞台芸術</a></li>
  </ul>
  <div class="sidebar__subHeading">
    <h4 class="sidebar__subHeading__text">メディカルヘルスケア</h4>
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">医療</a></li>
  </ul>
  <div class="sidebar__subHeading">
    <h4 class="sidebar__subHeading__text">コンストラクション</h4>
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">建築</a></li>
  </ul>
  <div class="sidebar__subHeading">
    <h4 class="sidebar__subHeading__text">コンピュータサイエンス</h4>
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">コンピュータサイエンス</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">IT</a></li>
  </ul>
  <div class="sidebar__subHeading">
    <h4 class="sidebar__subHeading__text">ライフサイエンス</h4>
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">ライフサイエンス</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">アグリ</a></li>
  </ul>
  <div class="sidebar__subHeading">
    <h4 class="sidebar__subHeading__text">Quality of life</h4>
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">ファッション</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">食</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">アスリート</a></li>
  </ul>
  <div class="sidebar__subHeading">
    <h4 class="sidebar__subHeading__text">Quality of life</h4>
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">会計</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">法曹</a></li>
    <li class="sidebar__list__li"><a href="#" class="sidebar__link">CXO</a></li>
  </ul>
  <div class="sidebar__subHeading">
    <h4 class="sidebar__subHeading__text">その他</h4>
  </div>
</div>
<div class="sidebar__button" id="js-sidebar__button">
  <div class="sidebar__button__item--open">
    <img src="../images/icon-sliders-h-solid.svg" alt="絞り込む">
  </div>
  <div class="sidebar__button__close sidebar__button__item--close">
    <span class="sidebar__button__close__span sidebar__button__close__span--top"></span>
    <span class="sidebar__button__close__span sidebar__button__close__span--bottom"></span>
  </div>
  <p class="sidebar__button__text"><span class="sidebar__button__item--open">絞り込む</span><span class="sidebar__button__item--close">閉じる</span></p>
</div>
