<div class="toProfessional">
  <div class="toProfessional__topImg">
    <a href="#">
      <img src="images/professional_all.jpg" alt="プロフェッショナルの皆様へ">
      <p>プロフェッショナルの皆様へ</p>
    </a>
  </div>

  <div class="toProfessional__contents">
    <div class="toProfessional__headWrap">
      <h2 class="toProfessional__heading">Case study</h2>
      <p class="toProfessional__genre">実情・事例</p>
    </div>
    <div class="toProfessional__category">
      <h3 class="toProfessional__categoryHeading">Works</h3>
      <ul class="toProfessional__list">
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>テレビ朝日</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>テレビ朝日</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>テレビ朝日</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>テレビ朝日</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>テレビ朝日</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>テレビ朝日</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>テレビ朝日</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>テレビ朝日</p>
        </li>
      </ul>
      <div class="grayArrowBtn">
        <a href="#">実績・実例一覧<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
      </div>
    </div>
    <div class="toProfessional__category bottom">
      <h3 class="toProfessional__categoryHeading">Service</h3>
      <ul class="toProfessional__list">
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>ATFES</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>ATFES</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>ATFES</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>ATFES</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>ATFES</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>ATFES</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>ATFES</p>
        </li>
        <li>
          <div class="toProfessional__tumb"><img src="images/dummy_list.png" alt=""></div>
          <ul class="categoryLabel">
            <li>映像</li>
            <li>映像制作</li>
            <li>VR</li>
          </ul>
          <p>ATFES</p>
        </li>
      </ul>
      <div class="grayArrowBtn">
        <a href="#">実績・実例一覧<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
      </div>
    </div>
  </div>
</div>