<div class="sec-bnr-01 content_padding_foot">
	<div class="sec-inner">

		<% for (var i = 0; i < 4; i++) { %>
		<a href="aaaaaa" class="item">
			<picture>
				<source media="(min-width: 960px)" srcset="<%= path %>images/bnr_dummy.png">
				<img src="<%= path %>images/bnr_dummy.png" decoding="async" alt="aaaaaa">
			</picture>
		</a>
		<% } %>
	</div>
</div>
