<footer class="global-footer">
	<div class="inner content_padding_foot">
		<div class="btn-pagetop">
			<a id="data-page-top" aria-label="ページの上部へ戻ります"><span>Page Top</span></a>
		</div>

		<div class="footer-content" id="footer-ie-onlyAddID">
			<div class="logo">
				<a href="/">
					<img src="../..//images/common/logo_pirelli.svg" width="260" height="80" alt="Pirelli">
				</a>
			</div>
			<nav class="footer-nav footer-nav-01">
				<ul class="items">
					<li class="item"><a href="/news/">お知らせ</a></li>
					<li class="item"><a href="/about/">サイトについて</a></li>
					<li class="item"><a href="/article/">最新記事</a></li>
					<li class="item"><a href="/fun-track-day/">ファントラックデイ</a></li>
				</ul>
				<ul class="items list-multi">
					<li class="item">
						<a href="/tyres/">全てのタイヤ</a>
						<ul>
							<li class="item">
							<li class="item"><a href="aaaaa">レーシングタイヤ</a></li>
							<li class="item"><a href="aaaaa">オンロードタイヤ</a></li>
							<li class="item"><a href="aaaaa">オン/オフロードタイヤ</a></li>
							<li class="item"><a href="aaaaa">オフロードタイヤ</a></li>
							<li class="item"><a href="aaaaa">スクータータイヤ</a></li>
						</ul>
					</li>
				</ul>
			</nav>

			<ul class="box-sns">
				<li class="item">
					<a href="https://ja-jp.facebook.com/PirelliJapan/">
						<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="11.185" height="20.883" viewBox="0 0 11.185 20.883"><path id="Icon_awesome-facebook-f" data-name="Icon awesome-facebook-f" d="M12.061,11.747l.58-3.779H9.015V5.515a1.89,1.89,0,0,1,2.131-2.042h1.649V.255A20.1,20.1,0,0,0,9.868,0C6.881,0,4.929,1.81,4.929,5.087v2.88H1.609v3.779h3.32v9.136H9.015V11.747Z" transform="translate(-1.609)" fill="#fff"/></svg></span>
						<span class="label">facebook</span>
					</a>
				</li>
				<li class="item">
					<a href="https://twitter.com/pirellimoto">
						<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="20.883" height="16.961" viewBox="0 0 20.883 16.961"><path id="Icon_awesome-twitter" data-name="Icon awesome-twitter" d="M18.736,7.608c.013.186.013.371.013.557A12.094,12.094,0,0,1,6.572,20.342,12.1,12.1,0,0,1,0,18.42a8.854,8.854,0,0,0,1.034.053,8.571,8.571,0,0,0,5.314-1.829,4.288,4.288,0,0,1-4-2.968,5.4,5.4,0,0,0,.808.066A4.527,4.527,0,0,0,4.28,13.6,4.281,4.281,0,0,1,.848,9.4V9.344a4.31,4.31,0,0,0,1.935.543A4.286,4.286,0,0,1,1.458,4.163a12.166,12.166,0,0,0,8.825,4.479,4.832,4.832,0,0,1-.106-.981,4.284,4.284,0,0,1,7.407-2.928A8.426,8.426,0,0,0,20.3,3.7a4.268,4.268,0,0,1-1.882,2.359,8.58,8.58,0,0,0,2.465-.663,9.2,9.2,0,0,1-2.147,2.213Z" transform="translate(0 -3.381)" fill="#fff"/></svg></span>
						<span class="label">Twitter</span>
					</a>
				</li>
			</ul>

			<ul class="footer-nav footer-nav-02">
				<li class="item"><a href="https://www.pirelli.com/tyres/ja-jp/car/privacy-policy" target="_blank">個人情報の取扱について</a></li>
				<li class="item"><a href="https://www.pirelli.com/tyres/ja-jp/car/about-us/contact" target="_blank">お問い合わせ</a></li>
			</ul>

			<p class="copyRight"><small>Copyright © 2020 Pirelli &amp; C. S.p.A. - Pirelli Tyre S.p.A.</small></p>
		</div>
	</div>
</footer>