<div id="data-modal" class="modal">
  <div class="modal__inner">
    <div id="data-modalContents" class="modal__contents">
      <div id="data-modalContentsBlock" class="modal__contents__block">

      </div>
    </div>
    <button id="data-modalClose" class="modal__close"></button>
  </div>
</div>