// -------------------------------------------------------------------
// 	copyRight.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mediaquery" as med;

.c-copyRight {
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  
  @include med.media(sp) {
    font-size: 2.93vw;
    letter-spacing: 0.146vw;
  }

  &.top {
    margin-top: 100px;
    @include med.media(sp) {
      margin-top: 8vw;
    }
  }

  &.sub {
    padding-bottom: 30px;
    @include med.media(sp) {
      padding-bottom: 4vw;
    }
  }
}