<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "C&Rクリエイティブスタジオ | クリーク･アンド･リバー社｜C&Rグループ", description: "C&Rクリエイティブスタジオ。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="creative" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">企業・グループ情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>C&Rクリエイティブスタジオ</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
      </section>
      <div class="contentWrap md">
        <section class="creative">
          <div class="topSection">
            <h1 class="topSection__ttl">
              <img class="pc" src="../../images/creative_studios_ttl_sp.svg" alt="日本最大級のクリエイティブ開発スタジオ">
              <img class="sp" src="../../images/creative_studios_ttl_pc.svg" alt="日本最大級のクリエイティブ開発スタジオ">
            </h1>
            <p class="topSection__mainLead">
              <span class="-col">日本</span>をもっとクリエイティブに！ <br class="">
              <span class="-col">世界</span>をもっとクリエイティブに！
            </p>
            <p class="topSection__lead common-text--center">
              2002年、映像・映画やWebコンテンツの開発スタジオから始まり、年々その規模を拡大し、現在ではゲーム・CG・XR・Web・広告・映像・動画・漫画・小説・建築・ファッションなど16のスタジオを保有するまでに成長しました。<br> これらを包括したのが「C&R Creative Studios」です。<br> このスタジオを核にして、C&R社がネットワークするプロフェッショナルが各プロジェクトに様々な形で関わることを目指しています。<br>プロフェッショナルの力で社会に新しい価値を提供いたします。
            </p>
          </div>
          
          <div class="studioList">
            <h2 class="commonTtl">C&R Creative Studios</h2>
            <div class="professionals__link__wrapper">
              <div class="professionals__link">
                <a target="_blank" href="https://www.creativevillage.ne.jp/lp/coyote/" class="professionals__link__image commonBanner">
                        <img src="../../images/creative_studios_list_coyote.png"alt="">
                        <span class="professionals__link__icon"></span>
                        <div class="commonBanner__onText">
                          クリーク･アンド･リバー社の事業やサービス、ニュースおよびC&Rグループ情報
                        </div>
                </a>
                <div class="professionals__link__info">
                    <h3>COYOTE 3DCG STUDIO・Technical Team</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
                <div class="commonBanner__tagWrap">
                  <p class="commonBanner__tag">求人掲載</p>
                  <p class="commonBanner__tag">人材紹介</p>
                  <p class="commonBanner__tag">人材紹介</p>
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://2d-studio.crdg.jp/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_2dcg_studio.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>2DCG PlaNet Studio</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://www.creativevillage.ne.jp/lp/vfx_studio/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_vfx.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>VFX STUDIO</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://www.creativevillage.ne.jp/85015" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_write_savers.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>Studio WRITE Savers</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://www.creativevillage.ne.jp/lp/dd3/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_amusement.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>Amusement Creative Studio</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://crdg.jp/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_game.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>Game Produce Studio</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://www.cri-ox.jp/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_ox.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>OX ENGINEER STUDIO</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://xr-creek.jp/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_xr.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>C&R XR</h3>
                    <!-- <p>企画・設計・制作</p> -->
                    <!-- <p>採用戦略・採用代行</p> -->
                    <!-- <p>人材紹介</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://atfes.com/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_atfes.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>ATFES®</h3>
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://cri-synapse.com/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_synapse.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>SYNAPSE STUDIO（大阪）</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_game.png">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>Web STUDIO</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://www.creativevillage.ne.jp/lp/photography_services/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_camera.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>カメラマンSTUDIO</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://www.creativevillage.ne.jp/lp/writing_services/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_lighter.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>ライターSTUDIO</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_game.png">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>映像STUDIO</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://company-newsroom.com/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_company.png">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>カンパニー報道局</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://onlinecreators.jp/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_online.png">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>The Online Creators</h3>
                    <!-- <p>企画・設計・制作</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="http://www.crmangalabo.com/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_manga.png"alt="">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>漫画LABO</h3>
                    <!-- <p>企画・設計・制作</p>
                    <p>知的財産の収益化</p> -->
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://www.arc-agency.jp/bimnoba/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_bim.png">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>BIM STUDIO</h3>
                </div>
              </div>
              <div class="professionals__link">
                <a target="_blank" href="https://datasolution-cr.com/service/" class="professionals__link__image">
                        <img src="../../images/creative_studios_list_dx.png">
                        <span class="professionals__link__icon"></span>
                </a>
                <div class="professionals__link__info">
                    <h3>DX STUDIO</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="caseList">
            <h2 class="commonTtl">C&R Creative Studios 実績</h2>
            <div class="common-carouselArea">
              <h3 class="features__text common-mb">ゲーム分野</h3>
              <div class="features__listLink"><a href="#" class="common-link">関連事例一覧へ</a></div>
              <div class="common-carouselArea__topWrap features--right">
                <div class="common-carouselArea__arrowWrap">
                  <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                  <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
                </div>
              </div>
              <div class="common-carousel js-carousel">
                <ul class="common-carouselWrap" id="js-carousel">
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="common-carouselArea">
              <h3 class="features__text common-mb">Web分野</h3>
              <div class="features__listLink"><a href="#" class="common-link">関連事例一覧へ</a></div>
              <div class="common-carouselArea__topWrap features--right">
                <div class="common-carouselArea__arrowWrap">
                  <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                  <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
                </div>
              </div>
              <div class="common-carousel js-carousel">
                <ul class="common-carouselWrap" id="js-carousel">
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="common-carouselArea">
              <h3 class="features__text common-mb">映像分野</h3>
              <div class="features__listLink"><a href="#" class="common-link">関連事例一覧へ</a></div>
              <div class="common-carouselArea__topWrap features--right">
                <div class="common-carouselArea__arrowWrap">
                  <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                  <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
                </div>
              </div>
              <div class="common-carousel js-carousel">
                <ul class="common-carouselWrap" id="js-carousel">
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="common-carouselArea">
              <h3 class="features__text common-mb">その他</h3>
              <div class="features__listLink"><a href="#" class="common-link">関連事例一覧へ</a></div>
              <div class="common-carouselArea__topWrap features--right">
                <div class="common-carouselArea__arrowWrap">
                  <div class="common-arrow__backBtn js-carouselBackBtn"></div>
                  <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
                </div>
              </div>
              <div class="common-carousel js-carousel">
                <ul class="common-carouselWrap" id="js-carousel">
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                  <li class="js-carouselItem">
                    <img src="../../images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
                    <ul class="categoryLabel">
                      <li>映像</li>
                      <li>映像制作</li>
                      <li>VR</li>
                    </ul>
                    <div class="common-carouselTextArea">
                      <p class="common-carouselTitle">BSフジ</p>
                      <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <a class="global__btn mt30 arrow__iconHover" href="/case_studies/">
              実績・事例一覧を見る
              <div class="arrow-glay">
                <span class="arrow"></span>
              </div>
            </a>
          </div>

          <div class="movie">
            <div class="movie__ttlBlk">
              <h2 class="commonTtl">＼TV・WebにてCM放映中！／</h2>
            </div>
            <div class="movie__youtubeBox">
              <a class="movie__tumb" target="_blank">
                <img class="movie__tumb" src="../../images/creative_studios_movie.png" alt="">
                <span class="movie__playBtn">
                  <img src="../../images/creative_studios_movie_arrow.png" alt="">
                </span>
              </a>
              <iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/Ou9re1DZAkM?enablejsapi=1&rel=0&loop=1&playlist=Ou9re1DZAkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loop></iframe>
            </div>
            <p class="movie__lead">2022年2月に放映されたクリーク･アンド･リバー社のテレビCM。<br>C&R Creative Studiosの魅力が詰まったフルバージョンをぜひご覧ください。</p>
          </div>

          <div class="about">
            <h2 class="commonTtl">
              クリエイターキャリア <br class="pc">プラットフォームとしての<br>C&R Creative Studio
            </h2>
            <h3 class="about__subTtl">
              在籍クリエイター数850名
            </h3>
            <div class="about__mainImg">
              <img class="sp" src="../../images/creative_studios_about_img_pc.png" alt="">
              <img class="pc" src="../../images/creative_studios_about_img_sp.png" alt="">
            </div>
            <div class="about__blk">
              <div class="about__img">
                <img src="../../images/creative_studios_about_img_02.png" alt=""/>
              </div>
              <p class="about__lead">クリーク･アンド･リバー社では、派遣や転職支援に加え、選択肢の一つとして「C&Rクリエイティブスタジオ」メンバーとなり、スタジオ内での制作に携わるほか、取引先企業への出向などで経験を積むことができます。<br>C&Rクリエイティブスタジオで経験を積んだ後、独立して当社から開発・制作を受託している事例もあり、プロフェッショナルクリエイターの可能性を最大限に広げています。</p>
            </div>
            <div class="about__linkBlk">
              <a class="global__btn arrow__iconHover -glayBtn" target="_blank" href="">
                C&R Creative Studiosへの<br>お仕事のご依頼はこちら
                <div class="arrow-glay">
                  <span class="arrow"></span>
                </div>
              </a>
              <a class="global__btn arrow__iconHover -glayBtn" target="_blank" href="https://cri-professional.com/mypage/guest/registration/studios/edit.xhtml">
                C&R Creative StudiosにJOINしたい<br>プロフェッショナルの方はこちら
                <div class="arrow-glay">
                  <span class="arrow"></span>
                </div>
              </a>
            </div>
          </div>

        </section>
      </div>
      <!-- <%- include('../../include/subpages/_serviceLinks.ejs',); %> -->
      <div class="servicelinks">
        <ul class="servicelinks__list">
          <li>
            <a class="global__btn arrow__iconHover" target="_blank" href="">事業分野・サービス
              <div class="arrow-glay">
                <span class="arrow"></span>
              </div>
            </a>
          </li>
          <li>
            <a class="global__btn arrow__iconHover" target="_blank" href="">実績・実例
              <div class="arrow-glay">
                <span class="arrow"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </main>
    <%- include('../../include/_footer.ejs'); %>
  </body>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="../../js/main.js"></script>
  <script src="../../js/vendor.js"></script>
  <script>

      $(function() {
      var mobile = false;
      var ua = navigator.userAgent;
      if (
        ua.indexOf("iPhone") > 0 ||
        ua.indexOf("iPod") > 0 ||
        ua.indexOf("iPad") > 0 ||
        (ua.indexOf("Android") > 0 && ua.indexOf("Mobile") > 0)
      ) {
        mobile = true;
      }
      if (mobile) {
        $("iframe").each(function() {
          $(this).attr("muted", "");
        });
      }
      var tumb = $(".movie__tumb");
      $(tumb).on("click", function(){
        var player = $(this).next("iframe")[0].contentWindow;
        player.postMessage('{"event":"command","func":"playVideo","args":""}', "*");
        $(this).hide();
      });
     });
  </script>
</html>