<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/subpages/_subpageHead.ejs', {path: "../", title: "事業分野・サービス | クリーク･アンド･リバー社｜C&Rグループ", description: "事業分野・サービス。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../include/_header.ejs'); %>
    <main id="sustainability" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>サステナビリティ</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="common-mainVisual">
        <img src="../images/sustainability_main.jpg" alt="ダミー">
        <h1 class="common-heading--h1">サステナビリティ<br><span></span></h1>
      </div>
      <div class="contentWrap pc_only">
        <div class="common-textBlock">
          <h2 class="common-heading--h2">代表メッセージ</h2>
          <div class="common-textBlock__contentWrap">
            <div class="common-textBlock__textWrap sustain__message">
              <p>
                時代は今、変革の時を迎えています。バブル崩壊直後の1990年に創業したクリーク･アンド･リバー社（C&R社）は、テロや金融危機、自然災害などに何度も直面しながら成長してきました。そして今、新型コロナウイルスの世界的大流行に対峙しています。人類の歴史を紐解けば、様々な危機を乗り越えるたびに人は叡智を絞り出し文明を発展させてきました。人類を脅かす危機はこれから何度も訪れるでしょう。
              </p>
              <p>
                しかし、私たちはフロンティアスピリッツを忘れず、激変する社会に柔軟に対応し、サステナブルな社会の実現と新たなサービスを生み出し続けてまいります。C&Rグループは『プロフェショナルとともに事業を創造することにより、豊かな社会を創る』ことを掲げ、世界のどこにもない事業クリエイティブ・カンパニーへの成長をめざします。
              </p>
            </div>
            <div class="common-textBlock__imgWrap">
              <img src="../images/president.jpeg" alt="代表取締役社長 井川 幸広">
              <p class="sustain__president">株式会社クリーク･アンド･リバー社<br>代表取締役社長 井川 幸広</p>
            </div>
          </div>
        </div>
        <div class="common-textBlock">
          <h2 class="common-heading--h2">サステナビリティ基本方針</h2>
          <p class="common-textBlock__textDetail">
            C&Rグループの統括理念「人の能力は、無限の可能性を秘めています。私たちはその能力を最大限に引き出し、人と社会の幸せのために貢献します」に基づく当社グループの使命「すべてのステーク・ホルダーへの価値提供」の実現に向けて、様々な社会課題の解決や地球環境の保全について、プロフェッショナルを軸とした事業活動を当社グループ一丸となって取り組むことにより、社会全体の永続的な発展及び当社グループの永続的な成長の両立をめざしてまいります。
          </p>
        </div>
      </div>
      <div class="contentWrap">
        <div class="aboutUs">
          <div class="aboutUs__grid">
            <div class="aboutUs__col">
              <h2><a href="./management/" class="aboutUs__heading mb">サステナビリティマネジメント<span></span></a></h2>
              <img src="../images/sustainability01_management.jpg" alt="">
            </div>
            <div class="aboutUs__col">
              <h2><a href="./materialities/" class="aboutUs__heading">クリーク·アンド·リバー社のマテリアリティ<span></span></a></h2>
              <img src="../images/sustainability02_materiality.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="contentWrap">
        <section class="know">
          <section class="flex"> 
            <h2 class="common-heading--h2 pc">ESG活動</h2>
            <figure>
              <img src="../../images/sustainability03_esg.jpg" alt="">
            </figure>
            <div class="sectionWrap">
              <h2 class="common-heading--h2 sp">ESG活動</h2>
              <ul class="recruitLinkBlk__list">
                <li>
                  <a href="./esg/environment/" class="arrow__iconHover-underLine">
                    環境
                    <div class="arrow-glay">
                      <span class="arrow"></span>
                    </div>
                  </a>
                </li>
                <li>
                  <a  href="./esg/social/" class="arrow__iconHover-underLine">
                    社会
                    <div class="arrow-glay">
                      <span class="arrow"></span>
                    </div>
                  </a>
                </li>
                <li>
                  <a  href="./esg/governance/" class="arrow__iconHover-underLine">
                    ガバナンス
                    <div class="arrow-glay">
                      <span class="arrow"></span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </section>
      </div>
    <div class="contentWrap esgData">
      <!-- <div class="servicelinks">
        <ul class="servicelinks__list">
        <li><a class="global__btn arrow__iconHover" target="_blank" href="" rel="noopener">ESG活動データ<div class="arrow-glay"><span class="arrow"></span></div></a></li>
        </ul>
      </div> -->
      <div class="common-button--grayArrowBtn "><a href="./esg/data/">ESG活動データ
        <div class="arrow--grayBtn"><span class="arrow"></span></div>
      </a></div>
    </div>


    </main>
    <%- include('../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
    </script>
  </body>
</html>