<!DOCTYPE html>
<html lang="ja">
  <%- include('../../../../include/subpages/_subpageHead.ejs', {path: "../../../../", title: "TCFD提言への対応 | environment | ESG活動 | サステナビリティ| クリーク･アンド･リバー社 | C&Rグループ", description: "TCFD提言への対応。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../../../include/_header.ejs'); %>
    <main class="subpage esg" id="sustainability">
      <div class="scrollTop is-show" id="js-scrollTop"><a><img alt="↑"
            src="/mt-static/support/theme_static/cr//images/icon_arrow_top.svg"></a></div>
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li><a href="/">トップ</a> <span class="breadcrumb__line">/</span></li>
          <li><a href="/sustainability/">サステナビリティ</a><span class="breadcrumb__line">/</span></li>
          <li><a href="/sustainability/esg/">ESG活動</a> <span class="breadcrumb__line">/</span></li>
          <li><a href="/sustainability/esg/environment/">環境</a><span class="breadcrumb__line">/</span></li>
          <li><a href="/sustainability/esg/environment/tcfd">TCFD提言への対応</a></li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="common-mainVisual"><img alt=">TCFD提言への対応" src="../../../../images/sustainability_main.jpg">
        <h1 class="common-heading--h1">TCFD提言への対応<br><span></span></h1>
      </div>
      <div class="commonSustainability">
        <div class="contentWrap"><h2 class="common-textBlock__textTop commonSustainability__ttl">TCFD提言に基づく情報開示</h2></div>
        <div class="contentWrap">
          <h3 class="common-heading--h3">TCFD提言への賛同</h3>
          <div class="common-heading--h3__underLine"></div>
          <p class="commonSustainability__txt">
            世界では気候変動をはじめとする環境問題が深刻化しております。C&amp;Rグループは、気候変動問題をサステナビリティ経営上の最重要課題であると捉えるとともに、気候変動に伴うリスクや機会は、事業戦略に大きな影響を及ぼす可能性があると認識しております。そのような状況下、クリーク･アンド･リバー社は、2021年10月に、TCFD（気候関連財務情報開示タスクフォース）による提言への賛同を表明するとともに、同提言に賛同する企業や金融機関等からなるTCFDコンソーシアムに加入いたしました。当社はTCFD提言を気候変動対応の適切さを検証し、組織内外に開示する為のガイドラインとして活用し、TCFDによる提言（4つの開示推奨項目である「ガバナンス」「リスク管理」「戦略」「指標と目標」）に基づき、気候関連のリスクと事業機会について分析を進め、事業戦略への影響を把握し対策を検討するとともに、質と量の情報開示の充実に取り組んでまいります。
          </p>
          <h3 class="common-heading--h3">ガバナンス</h3>
          <div class="common-heading--h3__underLine"></div>
          <div class="sustain__list">
            <h4>（a）気候関連のリスクと機会に対する取締役会の監督体制</h4>
            <p>
              C&amp;Rグループでは、気候変動問題を含めた環境方針および関連する重要事項について、取締役会で審議・決議しています。取締役会では、気候変動に関するリスクと機会について少なくとも年1回以上サステナビリティ委員会より報告を受け、課題への取り組みを確認、監督します。サステナビリティ委員会は、代表取締役を委員長とした当社グループの気候変動を含むサステナビリティに関する議論を集約、課題を審議し、実行の質・スピードを高めることを目的とした委員会です。
            </p>
          </div>
          <div class="sustain__list">
            <h4>（b）気候関連のリスクと機会の評価と管理における経営陣の役割</h4>
            <p>
              サステナビリティ委員会は、代表取締役が委員長を担い、常勤取締役、執行役員によって構成されております。サステナビリティ委員会は、年に２回以上、気候変動問題を含めたサステナビリティ経営をグループ全社で横断的に協議・推進します。気候変動に関する協議、決定事項については、少なくとも年に1回取締役会への報告を行います。
            </p>
          </div>
          <div class="sustain__list"></div>
          <h3 class="common-heading--h3">リスク管理</h3>
          <div class="common-heading--h3__underLine"></div>
          <div class="sustain__list">
            <h4>（a）気候変動のリスクと機会を特定し評価する仕組み</h4>
            <p>
              サステナビリティ委員会では気候関連に係るリスクについて、社内の関係部署とグループ会社の情報をもとにリスクと機会を特定し、評価を行います。評価を行った上、影響度が大きい事項に関しては取り組みを実行計画に落とし込み、議論しながら実行計画の進捗確認、管理を行い、最終的に取締役会へ報告します。
            </p>
          </div>
          <div class="sustain__list">
            <h4>（b/c）気候変動のリスクを管理する仕組み</h4>
            <p>
              サステナビリティ委員会で特定した気候変動リスクについて、影響度が大きいものについては、「取締役会」へ報告・提言を行うことで、気候変動の影響を全社リスクに統合する役割を担っております。取締役会は、気候変動に関するリスク管理の状況と対応について報告を受け、監督を行います。
            </p>
          </div>
          <div class="sustain__list"></div>
          <h3 class="common-heading--h3">戦略</h3>
          <div class="common-heading--h3__underLine"></div>
          <div class="sustain__list">
            <h4>（a）気候関連のリスクと機会</h4>
            <p>
              C&amp;Rグループでは、「プロフェッショナルとともに事業を創造することにより、豊かな社会を創る」ことを目標に、経営の最重要マテリアリティである、「プロフェッショナルの叡智を活用した環境への取り組み」に向け、当グループの事業活動について、気候変動がもたらす、リスクと機会を抽出いたしました。
            </p>
          </div>
          <div class="sustain__list">
            <b>
              <p>▼リスク項目</p>
            </b>
            <p>
              TCFD類型による移行リスクと物理リスクに対して、気候変動がもたらす当社グループへの大きなリスク影響は受けない旨の判断をいたしました。ただし、将来的な省エネ規制を見据えた、省エネ対応を推進すること、気候変動に対する世評の高まりに適切な対応をしていくこと、気候変動を要因とする自然災害発生時の対応計画の策定を進めてまいります。
            </p>
            <a href="" target="_blank" class="pdfLink pdf__icon">PDFはこちら（PDF　〇〇KB）</a>
            <div class="txtBase__scrBlock mt">
              <table class="txtBase__table column4">
                <tbody>
                  <tr>
                    <th class="bg" style="text-align:center;width: 18%;">区分</th>
                    <th class="bg" style="text-align:center;width: 28%;">想定される事象</th>
                    <th class="bg" style="text-align:center;width: 28%;">当社へのリスク</th>
                    <th class="bg" style="text-align:center;width: 26%;">対策</th>
                  </tr>
                  <tr class="">
                    <th class="bg">現在の規制</th>
                    <td class="nowrap">1）カーボンプライシングメカニズム<br>2）排出量報告義務の強化<br>3）既存の製品およびサービスに対する命令および規制</td>
                    <td class="nowrap">事業形態及び現時点での法規制を勘案し、サステナビリティ委員会では、現在の規制に関する当社への影響は小さい旨の判断をいたしました。</td>
                    <td>－</td>
                  </tr>
                  <tr class="bg">
                    <th class="bg">新たな規制</th>
                    <td>1）カーボンプライシングメカニズム <br>2）排出量報告義務の強化 <br>3）既存の製品およびサービスに対する命令および規制</td>
                    <td>炭素税導入による税負担増と再エネシフトによる電力コストの増</td>
                    <td class="nowrap">将来的な省エネ規制を見据えて、省エネ対応を推進</td>
                  </tr>
                  <tr>
                    <th class="bg">法的リスク</th>
                    <td>訴訟リスク</td>
                    <td>プロフェッショナル･エージェンシーが当社の中心事業であり、気候変動に影響を及ぼす製品等の開発、製造、販売を行っていないことから、サステナビリティ委員会では訴訟リスクは少ないと判断いたしました。</td>
                    <td>－</td>
                  </tr>
                  <tr class="bg">
                    <th class="bg">技術リスク</th>
                    <td>1）既存の製品・サービスを排出量の少ないものに置換<br>2）新技術への投資失敗<br>3）低排出技術への移行</td>
                    <td>
                      プロフェッショナル･エージェンシーが当社の中心事業であり、気候変動に影響を及ぼす製品等の開発、製造、販売を行っていないことから、サステナビリティ委員会では低炭素やエネルギー効率に関わる技術リスクは少ないと判断いたしました。
                    </td>
                    <td>－</td>
                  </tr>
                  <tr>
                    <th class="bg">市場リスク</th>
                    <td>1）変化する顧客行動<br>2）市場動向の不確実性<br>3）原材料のコスト増</td>
                    <td>1）2）プロフェッショナル、クライアントの環境志向が高まってきており、環境に優しいものを選択するというリスク<br>3）電力市場の価格に関してのリスク</td>
                    <td>気候変動に対する世評の高まりに適切な対応</td>
                  </tr>
                  <tr class="bg">
                    <th class="bg">評判リスク</th>
                    <td>1）消費者の嗜好の移り変わり<br>2）セクターの非難<br>3）ステークホルダーの懸念または否定的なステークホルダーからのフィードバック</td>
                    <td>世の中全体がサステナビリティ（気候変動）に対して意識が向く中、対応が進んでいない企業と認識をされた場合、求人側募集のリスク</td>
                    <td>気候変動に対する世評の高まりに適切な対応</td>
                  </tr>
                  <tr>
                    <th class="bg">緊急性の物理リスク</th>
                    <td>1）台風や洪水などの異常気象の重大性と頻度の上昇<br>2）山火事の可能性と重大性の上昇</td>
                    <td>
                      1）当社の事業所立地場所の状況等から、事業所の浸水等のリスクは低いと考えられますが、一方で、台風や洪水により事業所・公共機関・従業員が影響を受け業務遂行に支障をきたした場合は、中～大規模のリスクが考えられます。<br>また保険料の上昇による当社へコスト増加の影響が考えられます。<br>2）当社のオフィス立地場所から、関連するリスクへの影響はない旨の判断をいたしました。
                    </td>
                    <td>災害発生時の対応計画の策定</td>
                  </tr>
                  <tr class="bg">
                    <th class="bg">慢性の物理リスク</th>
                    <td>1）降水パターンの変化や気象パターンの極端な変動<br>2）平均気温上昇<br>3）海面上昇</td>
                    <td>平均気温の上昇、酷暑日の増加による電力需要のひっ迫に伴う空調費用の上昇リスクが考えられます。<br>また、地球温暖化が原因となる異常気象に伴う災害リスクは中～大規模リスクが考えられます。</td>
                    <td>省エネ施策の実施。<br>災害発生時の対応計画策定、浸水対策<br>災害発生時のBCP対応計画策定</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="sustain__list">
            <p><b>▼機会項目</b></p>
            <p>
              気候変動の解決をめざす新たな市場が創出され、政府・自治体、企業などの団体が今までの枠組みを超える協業プロジェクトが増えると考えられます。『プロフェッショナルを軸とした事業活動を通じて、多くの社会課題や環境課題を解決していく』当社グループが目指す事業活動に基づき、戦略を抽出いたしました。
            </p>
            <div class="txtBase__scrBlock mt">
              <table class="txtBase__table">
                <tbody>
                  <tr>
                    <th class="bg" style="text-align:center;width: 22%;">区分</th>
                    <th class="bg" style="text-align:center;width: 30%;">想定される事象</th>
                    <th class="bg" style="text-align:center;width: 48%;">機会を取り込む戦略</th>
                  </tr>
                  <tr>
                    <th class="bg">資源の効率性/エネルギー源</th>
                    <td class="nowrap">省エネ・再生可能エネルギー技術の普及</td>
                    <td>省エネ・再生可能エネルギー産業のマーケット拡大に伴い、携わる研究職を中心としたプロフェッショナル人材の活躍</td>
                  </tr>
                  <tr class="bg">
                    <th class="bg">市場/サービス</th>
                    <td>・気候変動の解決を目的とする新たな分野の創出<br>・脱炭素社会に向けた政府・地方自治体・民間企業との共創機会の増加</td>
                    <td>・医療、建築、Quality of Lifeなど、サステナビリティに関連する分野の人材市場のマーケット拡大<br>
                      ・気候変動に関わる新たな事業分野に参入することによる収益の増加<br>
                      ・自治体・企業との協業を通じた収益機会の獲得<br>
                      ・C&amp;Rグループが出資する環境課題解決をテーマに掲げるスタートアップ企業の価値向上</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="sustain__list">
              <br><br>
              <h4>（b）気候変動に関するシナリオの策定</h4>
              <p>
                C&amp;Rグループの事業活動に甚大な影響を及ぼす可能性がある主要リスクについて、「2°C以下シナリオを含む、様々な気候変動関連シナリオに基づく検討」を行う為、IPCCやIEA等のシナリオを参考に、TCFDが推奨する典型的な気候関連リスクと機会を参考に分析いたしました。
                今後、サステナビリティ委員会が中心となり、より定量的な財務影響と目標、進捗管理を行い、全社的な活動を構築、推進してまいります。</p>
              <div class="sustain__list">
                <p><b>▼シナリオ分析範囲：　売上比率、気候変動への関係性等を軸に選定</b></p>
                <div class="txtBase__scrBlock mt">
                  <table class="txtBase__table">
                    <tbody>
                      <tr>
                        <th class="bg" style="text-align:center;width: 30%;">項目</th>
                        <th class="bg" style="text-align:center;width: 50%;">シナリオ分析対象範囲</th>
                      </tr>
                      <tr>
                        <th class="bg">地域</th>
                        <td>海外を含む全エリア</td>
                      </tr>
                      <tr>
                        <th class="bg">事業範囲</th>
                        <td>全事業</td>
                      </tr>
                      <tr>
                        <th class="bg">企業範囲</th>
                        <td>
                          連結子会社
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="sustain__list">
                <p><b>▼想定シナリオ：パリ協定の目標である「1.5°C 」とCO2排出量削減が不十分な「4°C」のシナリオを想定</b></p>
                <div class="txtBase__scrBlock mt">
                  <table class="txtBase__table">
                    <tbody>
                      <tr>
                        <th class="bg">1.5°Cシナリオ</th>
                        <td>
                          ・気候変動対応の厳しい法規制施行による事業運営コストの増加<br>・エネルギーコストの高騰に伴う、事業運営コストの増加<br>・社会の環境意識の高まりによる新たなマーケットの獲得<br>・脱炭素DX支援・CSV経営・CSVプロモーション需要の拡大
                        </td>
                      </tr>
                      <tr>
                        <th class="bg">4°Cシナリオ</th>
                        <td>・気候変動を理由とした従業員、プロフェッショナルの健康リスクの上昇<br>
                          ・自然災害の多発による事業所の被災と災害からの復旧コストの増大<br>・急激なエネルギーコストの高騰に伴う、事業運営コストの増加<br>・気候変動に伴う新たなニーズ、マーケットの拡大とビジネスの獲得
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="sustain__list">
                <p>＜参照した主な気候変動に関するシナリオ群＞</p>
              </div>
              <div class="sustain__list__commonTxt">・IEA,　NZE2050
                　　　　<p>IEAによる「World Energy Outlook 2020」にて示されたシナリオの1つ。パリ協定の目標を上回る1.5℃シナリオにあたり、2050年以前に排出量ゼロをめざすシナリオ。</p>
                <div class="sustain__list__commonTxt">・IPCC, RCP8.5
                  　　　　<p>IPCCによる「第5次評価報告書」にて示されたシナリオの1つ。高位参照シナリオで、2100年における温室効果ガス排出量の最大排出量に相当するシナリオ。</p>
                  <div class="sustain__list__commonTxt">・公益財団法人地球環境産業技術研究機構、2050年カーボンニュートラルのシナリオ分析（中間報告）
                    　　　　<p>2050年カーボンニュートラル実現のためのエネルギー供給目標などが記載されている政府資料。</p>
                  </div>
                  <div class="sustain__list"></div>
                  <h3 class="common-heading--h3">指標と目標</h3>
                  <div class="common-heading--h3__underLine"></div>
                  <div class="sustain__list">
                    <h4>（a）気候関連のリスクと機会を評価、及び管理する指標</h4>
                    <p>
                      気候変動をはじめとする環境問題は世界で大きな共通のテーマとして掲げられており、C&amp;Rグループはこのテーマの課題解決を行うことが、大きな変革とチャンスにつながると考えております。C&amp;Rグループでは、2021年に持続可能な社会の実現に向けた活動指針として、「サステナビリティ基本方針」を新たに策定するとともに、重点的に取り組むべき「マテリアリティ(重要課題)」を特定いたしました。特定した５項目のマテアリティ（重要課題）のうち、「プロフェッショナルの叡智を活用した環境への取り組み」は、「脱炭素社会への実現」、「循環型社会の実現」、「自然共生社会の実現」を目指しております。
                    </p>
                  </div>
                  <div class="sustain__list__commonTxt">当社グループでは、気候関連リスク・機会を管理するための指標として、温室効果ガス排出量を指標として定めています。</div>
                  <div class="sustain__list__commonTxt">
                    また、当社グループの事業形態は、製品等の開発、製造などを行う自社設備を保有していないため、自社で再生可能エネルギー導入を進めることは容易ではありませんが、あらゆる角度から検討し、Scope2の排出量の削減目標を立ててまいります。
                  </div>
                  <div class="common-button--grayArrowBtn "><a href="/sustainability/esg/data/">ESG活動データ </a>
                    <div class="arrow--grayBtn">
                      <span class="arrow"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../../../../include/subpages/_sustainabilityLink.ejs',); %>
    </main>
    <%- include('../../../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $('body').on('click', '.anchor-link', function(){
    		let link_id = $(this).attr('href');
            $('html,body').animate({scrollTop: $(link_id).offset().top - 100 },'slow');
    	
    })
    </script>
  </body>
</html>