<!DOCTYPE html>
<html lang="ja">
  <%- include('../../../include/subpages/_subpageHead.ejs', {path: "../../../", title: "社会 | ESG活動 | サステナビリティ | クリーク･アンド･リバー社｜C&Rグループ", description: "社会 ESG活動。 サステナビリティ。 クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../../include/_header.ejs'); %>
    <main id="sustainability" class="subpage esg">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="">サステナビリティ</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="">ESG活動</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="">社会</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="common-mainVisual">
        <img src="../../../images/sustainability_main.jpg" alt="ダミー">
        <h1 class="common-heading--h1">社会<br><span></span></h1>
      </div>

      <div class="commonSustainability">
        <div class="contentWrap">
            <ul class="ankerLinks__blk-glay commonSustainabilityLinks">
              <li>
                <a class="anchor-link" href="#section01">人権の尊重
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
              <li>
                <a class="anchor-link" href="#section02">
                  ダイバーシティ＆インクルージョン
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
              <li>
                <a class="anchor-link" href="#section03">
                  職場づくり
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
              <li>
                <a class="anchor-link" href="#section04">
                  人材育成
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
              <li>
                <a class="anchor-link" href="#section05">
                  労働安全衛生
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
              <li>
                <a class="anchor-link" href="#section06">
                  サプライチェーンマネジメント
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
            </ul>
        </div>

        <div class="contentWrap">
          <h2 id="section01" class="common-textBlock__textTop commonSustainability__ttl">
            人権の尊重
          </h2>
        </div>
        <div class="contentWrap">
          <h3 class="common-heading--h3">人権方針</h3>
          <div class="common-heading--h3__underLine"></div>
          <p class="commonSustainability__txt">
            C&Rグループは、グループ統括理念である「人の能力は、無限の可能性を秘めています。私たちはその能力を最大限に引き出し、人と社会の幸せのために貢献します。」に基づき、事業活動に関わる全ての人々の人権・個人の尊厳を尊重します。また、「世界人権宣言」「国連ビジネスと人権に関する指導原則」といった国際原則に従った人権尊重の取り組みを推進し、個々の個性や能力を最大限発揮できる労働環境を整える積極的な取り組みを行っています。
          </p>
          <div class="-border">
            <div class="sustain__list">
              <h4>１．人権尊重</h4>
              <p>C&Rグループの全役職員は、企業活動において個人の多様な価値観を認め、人権を尊重し多様性を積極的に活かすことを心掛け、持続可能な社会の発展に貢献します。</p>
            </div>
            <div class="sustain__list">
              <h4>２．対象範囲</h4>
              <p>本方針は、C&Rグループの全ての役職員を対象としています。またグループの事業活動に関わる全てのステークホルダーにおいて、本方針を理解いただき、人権侵害されないことを目指します。</p>
            </div>
            <div class="sustain__list">
              <h4>３．ハラスメント防止</h4>
              <p>性別、年齢、社会的地位、障がいの有無、思想、信条、宗教、人種・民族・出身・性自認、性的指向・疾病などによるあらゆる差別及びハラスメントを許容しません。</p>
            </div>
            <div class="sustain__list">
              <h4>４．強制労働・児童労働の禁止</h4>
              <p>あらゆる形態の強制労働や人身取引、及び児童労働を禁じ、人権を侵害する労働慣行の是正や根絶に取り組みます。</p>
            </div>
            <div class="sustain__list">
              <h4>５．福利厚生</h4>
              <p>賃金、労働時間、超過勤務時間及び福利厚生に関する適用法の遵守に取り組みます。また、法令遵守に留まらない過剰な労働時間の削減に取り組みます。</p>
            </div>
            <div class="sustain__list">
              <h4>６．従業員の健康の維持</h4>
              <p>健全な職場環境を提供すると共に、安全・衛生に関する法令、規制、規定を遵守し、健康リスクへの適切な対応の維持に取り組みます。</p>
            </div>
            <div class="sustain__list">
              <h4>７．個人情報の取り扱い</h4>
              <p>個人情報保護法など、関連法令及び個人情報保護基本方針「プライバシーポリシー」に従い、個人のプライバシー侵害をいたしません。また、顧客企業、ユーザー、ビジネスパートナー、従業員をはじめとした、事業に関わる全ての皆さまの個人情報の管理に十分注意し、業務上必要な目的以外に利用いたしません。</p>
            </div>
            <div class="sustain__list">
              <h4>８．人権尊重に向けた取り組み・体制</h4>
              <p>人権侵害の発生を防ぐための適切な対応窓口を設けることで、実効性のある対策の仕組みづくりを行います。C&Rグループの全役職員は、内部通報制度を利用し人権に関する相談や通報ができます。また、一般に公開されたコーポレートサイトの問い合わせ窓口には、あらゆるステークホルダーから人権に関する相談ができます。人権方針の推進は、最高経営責任者を含むサステナビリティ委員会によって所管され、全役職員や外部ステークホルダーに対し浸透を進め、人権啓発活動の積極的な推進を図ります。</p>
            </div>
          </div>
        </div>

        <div class="sustain__genreWrap">
          <div class="sustain__social">
            <div class="sustain__list">
              <div class="contentWrap">
                <h2 id="section02" class="common-textBlock__textTop commonSustainability__ttl">ダイバーシティ＆インクルージョン</h2>
              </div>
              <div class="contentWrap ">
                <h3 class="common-heading--h3">多様性確保についての考え方</h3>
                <div class="common-heading--h3__underLine"></div>
                <p class="common-textBlock__textDetail">
                  役員をはじめ管理職に女性を積極登用している他、多様性の観点から外国籍社員の採用に力を入れています。性別・年齢・国籍を問わず、また個人の価値観やライフスタイルを尊重し、時短勤務やリモート勤務体制を整備するだけでなく、障がいを持たれている方にも活躍いただいてます。
                </p>
                <h3 class="common-heading--h3">女性活躍推進</h3>
                <div class="common-heading--h3__underLine"></div>
                <p class="common-textBlock__textDetail">
                  様々な視点を経営に反映するために、女性役員をはじめ営業部門・管理部門問わず女性の管理職を多数登用しています。また、育児休暇や産後休暇の取得、復職を推進していることをはじめ、時短勤務制度も整備し仕事と家庭を両立できる体制を構築しています。
                </p>
                <div class="sustain__pdfLinkWrap"><a href="/sustainability/9fa397b8b7a4d2aec881379fcd2ea95d0a1a45ba.pdf" target="_blank" rel="noopener"> 
                  <span class="sustain__pdfText">女性活躍推進法に関する行動規範</span> 
                  <span class="sustain__pdfIcon"><img src="/images/icon_pdf_wh.svg" alt="pdf"></span> </a>
                </div>
                <div class="sustain__list">
                  <h3 class="common-heading--h3">社員</h3>
                  <div class="common-heading--h3__underLine"></div>
                  <div class="sustain-table">
                    <dl class="sustain-table__list itemHead">
                      <dt></dt>
                      <dd>男性</dd>
                      <dd>女性</dd>
                      <dd>合計</dd>
                    </dl>
                    <dl class="sustain-table__list">
                      <dt>社員数（人）</dt>
                      <dd>498</dd>
                      <dd>428</dd>
                      <dd>926</dd>
                    </dl>
                    <dl class="sustain-table__list bg">
                      <dt>比率（％）</dt>
                      <dd>53.8</dd>
                      <dd>46.2</dd>
                      <dd>100</dd>
                    </dl>
                    <p class="sustain-table__cap">※2021年2月末日時点、C&amp;R社実績</p>
                  </div>
                  <div class="sustain-table">
                    <dl class="sustain-table__list itemHead">
                      <dt></dt>
                      <dd>男性</dd>
                      <dd>女性</dd>
                      <dd>合計</dd>
                    </dl>
                    <dl class="sustain-table__list">
                      <dt>新卒採用数（人）</dt>
                      <dd>7</dd>
                      <dd>18</dd>
                      <dd>25</dd>
                    </dl>
                    <dl class="sustain-table__list bg">
                      <dt>比率（％）</dt>
                      <dd>28.0</dd>
                      <dd>72.0</dd>
                      <dd>100</dd>
                    </dl>
                    <p class="sustain-table__cap">※2021年2月末日時点、C&amp;R社実績</p>
                  </div>
                </div>
                <div class="sustain__list">
                  <h3 class="common-heading--h3">管理職</h3>
                  <div class="common-heading--h3__underLine"></div>
                  <div class="sustain-table">
                    <dl class="sustain-table__list itemHead">
                      <dt></dt>
                      <dd>男性</dd>
                      <dd>女性</dd>
                      <dd>合計</dd>
                    </dl>
                    <dl class="sustain-table__list">
                      <dt>管理職数（人）</dt>
                      <dd>94</dd>
                      <dd>39</dd>
                      <dd>133</dd>
                    </dl>
                    <dl class="sustain-table__list bg">
                      <dt>比率（％）</dt>
                      <dd>70.7</dd>
                      <dd>29.3</dd>
                      <dd>100</dd>
                    </dl>
                    <p class="sustain-table__cap">※2021年2月末日時点、C&amp;R社実績</p>
                  </div>
                </div>
                <div class="sustain__list">
                  <h3 class="common-heading--h3">役員（取締役・執行役員）</h3>
                  <div class="common-heading--h3__underLine"></div>
                  <div class="sustain-table">
                    <dl class="sustain-table__list itemHead">
                      <dt></dt>
                      <dd>男性</dd>
                      <dd>女性</dd>
                      <dd>合計</dd>
                    </dl>
                    <dl class="sustain-table__list">
                      <dt>役員数（人）</dt>
                      <dd>11</dd>
                      <dd>2</dd>
                      <dd>13</dd>
                    </dl>
                    <dl class="sustain-table__list bg">
                      <dt>比率（％）</dt>
                      <dd>84.6</dd>
                      <dd>15.4</dd>
                      <dd>100</dd>
                    </dl>
                    <p class="sustain-table__cap">※2021年2月末日時点、C&amp;R社実績</p>
                  </div>
                </div>
                <div class="sustain__list">
                  <h3 class="common-heading--h3">障がい者雇用</h3>
                  <div class="common-heading--h3__underLine"></div>
                  <p class="common-textBlock__textDetail">障がい者がそれぞれの強みや特性を活かし活躍できるように、サテライトオフィスやリモート勤務などを活用し、データ入力業務や本社における総務サポート業務など幅広い業務を各自の能力に合わせて担っています。</p>
                  <div class="sustain-table">
                    <dl class="sustain-table__list itemHead">
                      <dt></dt>
                      <dd>合計</dd>
                    </dl>
                    <dl class="sustain-table__list">
                      <dt>障がい者雇用数（人）</dt>
                      <dd>48</dd>
                    </dl>
                    <p class="sustain-table__cap">※2021年2月末日時点、C&amp;R社実績</p>
                  </div>
                </div>
              </div>
            </div>


            <div class="sustain__list">
              <div class="contentWrap">
                <h2 id="section03" class="common-textBlock__textTop commonSustainability__ttl">職場づくり</h2>
              </div>
              <div class="contentWrap ">
                <div class="sustain__pdfLinkWrap mt"><a href="https://www.cri.co.jp/sustainability/7f750c73b92f6a09781b1f49d5c34dddee9454d6.pdf" target="_blank" rel="noopener"> 
                  <span class="sustain__pdfText">次世代育成支援推進法に関する行動計画</span> 
                  <span class="sustain__pdfIcon"><img src="/images/icon_pdf_wh.svg" alt="pdf"></span> </a>
                </div>
                <h3 class="common-heading--h3 -mt">リモートワークの推進</h3>
                <div class="common-heading--h3__underLine"></div>
                <p class="common-textBlock__textDetail">災害や緊急事態の発生への備え、また個人の価値観やライフスタイルを尊重し、時短勤務やリモート勤務体制を整備しています。</p>
                <div class="sustain-table">
                  <!-- <dl class="sustain-table__list itemHead">
                    <dt></dt>
                    <dd>2021年度 第3四半期平均</dd>
                    <dd>2021年度 第4四半期平均</dd>
                    <dd>2022年度 第1四半期平均</dd>
                  </dl>
                  <dl class="sustain-table__list">
                    <dt>リモートワーク率（％）</dt>
                    <dd>58.2</dd>
                    <dd>61.6</dd>
                    <dd>67.0</dd>
                  </dl> -->
                  <dl class="sustain-table__list itemHead">
                    <dt></dt>
                    <dd>合計</dd>
                  </dl>
                  <dl class="sustain-table__list">
                    <dt>リモートワーク率（％）</dt>
                    <dd>42.9</dd>
                  </dl>
                  <p class="sustain-table__cap">※2021年2月末日時点、C&R社実績</p>
                </div>
                <h3 class="common-heading--h3">ワークライフバランス</h3>
                <div class="common-heading--h3__underLine"></div>
                <p class="common-textBlock__textDetail">
                  社員の健康に配慮するために、残業時間を月次で徹底管理して減少を図るとともに、長時間労働をした者への産業医面談を実施しています。また、育児休業や産後休暇の取得も男女問わず推奨し、復職する際にも働きやすい職場環境の整備を行っています。
                </p>
                <div class="sustain__list">
                  <h3 class="common-heading--h3">育児休暇取得</h3>
                  <div class="common-heading--h3__underLine"></div>
                  <div class="sustain-table">
                    <dl class="sustain-table__list itemHead">
                      <dt></dt>
                      <dd>合計</dd>
                    </dl>
                    <dl class="sustain-table__list">
                      <dt>取得数（人）</dt>
                      <dd>22</dd>
                    </dl>
                    <dl class="sustain-table__list">
                      <dt>復職率（％）</dt>
                      <dd>100</dd>
                    </dl>
                    <p class="sustain-table__cap">※2021年2月末日時点、C&amp;R社実績</p>
                  </div>
                </div>
              </div>
            </div>

           

            <div class="sustain__list">
              <div class="contentWrap">
                <h2 id="section04" class="common-textBlock__textTop commonSustainability__ttl">人材育成</h2>
              </div>
              <div class="contentWrap ">
                <h3 class="common-heading--h3">人材育成方針</h3>
                <div class="common-heading--h3__underLine"></div>
                <p class="common-textBlock__textDetail">
                  C&Rグループは、グループ統括理念である「人の能力は、無限の可能性を秘めています。私たちは、その能力を最大限に引き出し、人と社会の幸せのために貢献します」に基づき、この理念を具現化できる人材を育成することを基本方針としています。<br>C&Rグループでは、人材こそが最大の資産という考え方のもと、多様な働き方の多様な人材が数多く活躍しており、多様な人材が、自らの無限の可能性を、自律的に最大限引き出せるよう、人材育成投資をはじめとした、社内環境整備を推進してまいります。
                </p>
                <h3 class="common-heading--h3">人材育成体系</h3>
                <div class="common-heading--h3__underLine"></div>
                <p class="common-textBlock__textDetail">
                  人材育成体系は、組織開発と人材開発の両軸で体系化しています。
                </p>
                <div class="sustain__list">
                  <h4>Ⅰ 組織開発</h4>
                  <p>理念の浸透 、多様な働き方におけるエンゲージメントの向上、ハラスメント研修による多様性の確保に向けた社内環境の整備、多様な人材の多様な働き方におけるキャリア開発に取り組んでいます。</p>
                </div>
                <div class="sustain__list">
                  <h4>Ⅱ 人材開発</h4>
                  <p>集合研修（Off-JT）、OJT 、自己啓発により、総合職、専門職それぞれに多様な人材育成に取り組んでいます。</p>
                </div>
                <div class="sustain__list">
                  <h4>１．集合研修（Off-JT）</h4>
                  <p>（1）階層別研修として、総合職、専門職の階層別に「役割軸」の研修プログラムを展開しています。</p>
                  <p>（2）職能別研修として、専門職ナレッジシェアミーティングと専門技術研修を開催しています。</p>
                  <p>（3）職能別研修として、労働関連法規に関する知識研修を展開しています。</p>
                  <p>（4）課題別研修として、事業組織単位で、ワークプレイスラーニング（※a）を展開しています。</p>
                </div>
                <div class="sustain__list">
                  <h4>２．OJT</h4>
                  <p>（1）多様なキャリア開発支援を目的とした、経験学習モデル理論（※b）に基づく1on1ミーティングリーダー研修を展開しています。</p>
                  <p>（2）多様なキャリア開発支援を目的として、専門職キャリアマップを作成し、専門職のキャリアパスの見える化を図っています。</p>
                </div>
                <div class="sustain__list">
                  <h4>３．自己啓発</h4>
                  <p>自己啓発支援制度により、多様なキャリア開発につながる学習支援をしています。</p>
                </div>
                <p class="commonSustainability__cap mt">※a　個人や組織のパフォーマンスの向上を目的として実施される学習やその他介入のこと</p>
                <p class="commonSustainability__cap">※b　経験したことを振り返り、経験から学ぶ理論のこと</p>
                <div class="commonSustainability__img mb">
                  <img src="/images/human_resource_development_01.png" alt="">
                  <img class="mg" src="/images/human_resource_development_02.png" alt="">
                  <img src="/images/human_resource_development_03.png" alt="">
                </div>
                <div class="sustain__list">
                  <div class="sustain__mainImg graphWrap"><img src="/images/sustain_employee.jpeg" alt="人材開発 企業史演劇"></div>
                </div>
              </div>
            </div>

            <div class="sustain__list">
              <div class="contentWrap">
                <h2 id="section05" class="common-textBlock__textTop commonSustainability__ttl">労働安全衛生</h2>
              </div>
              <div class="contentWrap ">
                <h3 class="common-heading--h3">労働環境改善への取り組み</h3>
                <div class="common-heading--h3__underLine"></div>
                <p class="common-textBlock__textDetail">衛生委員会を設置し、社員の健康と働きやすい環境を整備することを目的に、社員の健康相談、長時間労働面談、職場巡視などを実施しています。</p>
                <h3 class="common-heading--h3">健康経営の推進</h3>
                <div class="common-heading--h3__underLine"></div>
                <p class="common-textBlock__textDetail">C&amp;Rグループでは従業員の健康に配慮することで、経営に大きな成果が生み出されるという考えのもと、独自の健康保険組合を設立運営するほか、社員の健康支援のための専門部署を設置し、随時連絡可能な健康相談を行っています。併せて、社員が自由に参加できるスポーツなどの部活動の促進、強力な感染症の流行に対応するための対策本部の設置など、社員の健康を図りつつ事業の継続のために機動的に対応しています。
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="contentWrap">
          <h2 id="section06" class="common-textBlock__textTop commonSustainability__ttl">
            サプライチェーンマネジメント
          </h2>
        </div>
        <div class="contentWrap">
          <h3 class="common-heading--h3">購買方針</h3>
          <div class="common-heading--h3__underLine"></div>
          <p class="commonSustainability__txt">
            C&Rグループは、グループ統括理念である「人の能力は、無限の可能性を秘めています。私たちは、その能力を最大限に引き出し、人と社会の幸せのために貢献します。」に基づき、人と社会の豊かさ創生をめざします。この実現に向けて、私たちは、以下に掲げる方針に基づいた購買活動を行っています。
          </p>
          <div class="-border">
            <div class="sustain__list">
              <h4>１．パートナーシップ</h4>
              <p>国内・国外を問わず、全ての取引先やパートナープロダクションの皆さまと、理解と信頼を大切にし、強いパートナーシップを築きます。</p>
            </div>
            <div class="sustain__list">
              <h4>２．取引先の選定</h4>
              <p>自由な競争の原則に立ち、提案・見積書を取得し、品質・価格・納期・供給安定性・信頼性など合理的な基準に基づいて取引先の選定を行います。</p>
            </div>
            <div class="sustain__list">
              <h4>３．法令の遵守</h4>
              <p>下請法や独占禁止法等の関連法規を遵守します。また、反社会的勢力の排除活動に取り組みます。</p>
            </div>
            <div class="sustain__list">
              <h4>４．情報の管理</h4>
              <p>取引先の皆さまから提供された機密情報は、厳格に管理し、機密の保持に努めます。</p>
            </div>
            <div class="sustain__list">
              <h4>５．取引におけるコンプライアンス</h4>
              <p>事業活動に関わる全ての人々の人権・個人の尊厳を尊重します。また、取引先の皆さまとの間で私的な関係や個人的な利害関係を持ちません。</p>
            </div>
            <div class="sustain__list">
              <h4>６．環境への配慮</h4>
              <p>環境への負荷が少ない物品やサービスの調達を積極的に行うことにより、環境保全に努めます。</p>
            </div>
          </div>
        </div>
      </div>

      <%- include('../../../include/subpages/_sustainabilityLink.ejs',); %>

    </main>
    <%- include('../../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $('body').on('click', '.anchor-link', function(){
    		let link_id = $(this).attr('href');
            $('html,body').animate({scrollTop: $(link_id).offset().top - 100 },'slow');
    	
    })
    </script>
  </body>
</html>