<% if(data.category === "future") { %>
<p class="p-sub__genre future">
  <img class="js-delay" src="<%= data.commonImgPath %>/heading_future.svg" alt="せんせいの未来編" loading="eager">
</p>
<% } else { %>
<p class="p-sub__genre thanks">
  <img class="js-delay" src="<%= data.commonImgPath %>/heading_thanks.svg" alt="せんせいっていいな編" loading="eager">
</p>
<% } %>