<% if(data.part === "1")  { %>
<div class="p-sub__topPartWrap">
  <img class="js-delay" src="<%= data.commonImgPath %>/pelo_part_1.png" alt="その1" loading="eager">
</div>
<% } else if(data.part === "2")  { %>
<div class="p-sub__topPartWrap">
  <img class="js-delay" src="<%= data.commonImgPath %>/pelo_part_2.png" alt="その2" loading="eager">
</div>
<% } else if(data.part === "3")  { %>
<div class="p-sub__topPartWrap">
  <img class="js-delay" src="<%= data.commonImgPath %>/pelo_part_3.png" alt="その3" loading="eager">
</div>
<% } %>