<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= data.title %></title>
  <meta name="description" content="description">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="robots" content="noindex">
  <meta property="og:title" content="<%= data.title %>">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:type" content="">
  <meta property="og:image" content="">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="<%= data.path %>/css/style.css">
</head>