<div class="p-sub__fv js-fv-area">
  <div class="p-sub__fvImg">
    <img class="is-pc" src="<%= data.path %>/images/sub_fv_pc.webp" alt="sub fv pc">
    <img class="is-sp" src="<%= data.path %>/images/sub_fv_sp.webp" alt="sub fv sp">
  </div>
  <div class="p-sub__fvLogo">
    <img src="<%= data.commonImgPath %>/logo.svg" alt="IETF116 YOKOHAMA LOGO">
  </div>
</div>