<section class="c-productItem__chart">
  <h3 class="c-heading--middle">三ツ星のおいしさ</h3>
  <p class="c-heading--middleEn">Deliciousness</p>
  <div class="c-productItem__chartDetail">
    <div class="c-productItem__graphWrap">
      <img src="<%= meta.path %>/images/amberjack_deli_graph.svg" alt="三ツ星の美味しさ グラフ">
    </div>
    <div class="c-productItem__textInfo">
      <h4>甘みと旨味、ここに極まる</h4>
      <p>通常の3倍の手間ひまをかけ育てることで、一般的なかんぱちの数倍から十数倍の甘みと旨味を持つ極上のかんぱちとなります。</p>
      <p>その味わい深さが認められ、国内のミシュラン三ツ星のレストランなどでお取り扱いいただいています。</p>
    </div>
  </div>
</section>