<!--c-heading--middle 利用例-->
<!--brush利用-->
<h3 class="c-heading--middle">柿内水産の歴史</h3>
<p class="c-heading--middle__brush">
  <img src="<%= meta.path%>/images/heading_brush.svg" alt="ブラシ">
</p>
<!--brush利用 pattern2 (SP時ショートサイズ)-->
<h3 class="c-heading--middle">お知らせ</h3>
<p class="c-heading--middle__brush shortSize">
  <img src="<%= meta.path%>/images/heading_brush.svg" alt="ブラシ">
</p>
<!--c-heading--middle 単体利用-->
<h3 class="c-heading--middle">三代目柿内水産 柿内三兄弟</h3>
<!--c-heading--middleEn テキスト併用-->
<h3 class="c-heading--middle">三ツ星のおいしさ</h3>
<p class="c-heading--middleEn">Deliciousness</p>