<!--label-->
<span class="c-label all">全て表示</span>
<span class="c-label news">ニュース</span>
<span class="c-label products">商品</span>
<span class="c-label events">イベント</span>
<span class="c-label media">メディア</span>
<span class="c-label others">その他</span>