<% if(meta.pageName === '柿内水産の歴史') { %>
<div class="c-headingWrap--subPage history">
<% } else { %>
<div class="c-headingWrap--subPage">
<% } %>
  <h2 class="c-heading--subPageTop"><%= meta.pageName %></h2>
  <p class="c-heading--subPageTopEn"><%= meta.pageNameEn %></p>
</div>