<div class="common-breadCrumbWrapper">
  <ul class="common-breadCrumb">
    <li>
      <a href="#">トップ /</a>
    </li>
    <li>
      <a href="#">企業・グループ情報 /</a>
    </li>
    <li>
      <a href="#">ビジネスモデル</a>
    </li>
  </ul>
</div>