<div class="common-mainBottom">
  <div class="common-mainBottom__btnWrap">
    <div class="common-button--whiteArrowBtn">
      <a href="#">事業分野・サービス<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
    </div>
    <div class="common-button--whiteArrowBtn">
      <a href="#">事業分野・サービス<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
    </div>
    <div class="common-button--whiteArrowBtn">
      <a href="#">実績・実例<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
    </div>
  </div>
</div>