<div class="common-tableArea">
  <div class="common-tableArea__text">
    <p>8つの領域、18の分野</p>
    <h2 class="common-heading--h2">C&Rグループ事業マトリクス</h2>
    <div class="common-tableArea__rank">
      <p>◎主力事業として取り組んでいる</p>
      <p>〇新規事業として取り組んでいる</p>
      <p>×法律上事業展開できない</p>
    </div>
  </div>

  <div class="common-tableWrap">
    <div class="common-table">
      <h3 class="common-table__heading">クリエイティブ</h3>
      <dl class="common-table__list">
        <dt></dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item doubleLine">ライツ<br>マネジメント</div>
            <div class="common-table__item">プロデュース</div>
            <div class="common-table__item multiItem">
              <div class="common-table__headTop">エージェンシー</div>
              <div class="common-table__headBottom">
                <div class="common-table__bottomLeft">派遣</div>
                <div class="common-table__bottomRight">紹介</div>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>映像</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>ゲーム</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>Web</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>広告・出版</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>作家</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"></div>
            <div class="common-table__item"></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>舞台芸術</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"></div>
            <div class="common-table__item"></div>
          </div>
        </dd>
      </dl>
    </div>

    <div class="common-table">
      <h3 class="common-table__heading">メディカルヘルスケア</h3>
      <dl class="common-table__list">
        <dt></dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item doubleLine">ライツ<br>マネジメント</div>
            <div class="common-table__item">プロデュース</div>
            <div class="common-table__item multiItem">
              <div class="common-table__headTop">エージェンシー</div>
              <div class="common-table__headBottom">
                <div class="common-table__bottomLeft">派遣</div>
                <div class="common-table__bottomRight">紹介</div>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>医療</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><span>×</span></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
    </div>

    <div class="common-table">
      <h3 class="common-table__heading">コンストラクション</h3>
      <dl class="common-table__list">
        <dt></dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item doubleLine">ライツ<br>マネジメント</div>
            <div class="common-table__item">プロデュース</div>
            <div class="common-table__item multiItem">
              <div class="common-table__headTop">エージェンシー</div>
              <div class="common-table__headBottom">
                <div class="common-table__bottomLeft">派遣</div>
                <div class="common-table__bottomRight">紹介</div>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>建築</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
    </div>

    <div class="common-table">
      <h3 class="common-table__heading">コンピュータサイエンス</h3>
      <dl class="common-table__list">
        <dt></dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item doubleLine">ライツ<br>マネジメント</div>
            <div class="common-table__item">プロデュース</div>
            <div class="common-table__item multiItem">
              <div class="common-table__headTop">エージェンシー</div>
              <div class="common-table__headBottom">
                <div class="common-table__bottomLeft">派遣</div>
                <div class="common-table__bottomRight">紹介</div>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt class="newLine">コンピュータ<br>サイエンス</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>IT</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
          </div>
        </dd>
      </dl>
    </div>

    <div class="common-table">
      <h3 class="common-table__heading">ライフサイエンス</h3>
      <dl class="common-table__list">
        <dt></dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item doubleLine">ライツ<br>マネジメント</div>
            <div class="common-table__item">プロデュース</div>
            <div class="common-table__item multiItem">
              <div class="common-table__headTop">エージェンシー</div>
              <div class="common-table__headBottom">
                <div class="common-table__bottomLeft">派遣</div>
                <div class="common-table__bottomRight">紹介</div>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>ライフサイエンス</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>アグリ</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"></div>
            <div class="common-table__item"></div>
          </div>
        </dd>
      </dl>
    </div>

    <div class="common-table">
      <h3 class="common-table__heading">Quality life</h3>
      <dl class="common-table__list">
        <dt></dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item doubleLine">ライツ<br>マネジメント</div>
            <div class="common-table__item">プロデュース</div>
            <div class="common-table__item multiItem">
              <div class="common-table__headTop">エージェンシー</div>
              <div class="common-table__headBottom">
                <div class="common-table__bottomLeft">派遣</div>
                <div class="common-table__bottomRight">紹介</div>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>ファッション</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>食</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>アスリート</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"></div>
            <div class="common-table__item"></div>
          </div>
        </dd>
      </dl>
    </div>

    <div class="common-table">
      <h3 class="common-table__heading">経営理念</h3>
      <dl class="common-table__list">
        <dt></dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item doubleLine">ライツ<br>マネジメント</div>
            <div class="common-table__item">プロデュース</div>
            <div class="common-table__item multiItem">
              <div class="common-table__headTop">エージェンシー</div>
              <div class="common-table__headBottom">
                <div class="common-table__bottomLeft">派遣</div>
                <div class="common-table__bottomRight">紹介</div>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>会計</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>法曹</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><span>×</span></div>
            <div class="common-table__item"><span>×</span></div>
            <div class="common-table__item"><a href="#">◎</a></div>
          </div>
        </dd>
      </dl>
      <dl class="common-table__list">
        <dt>CXO</dt>
        <dd>
          <div class="common-table__inner">
            <div class="common-table__item"></div>
            <div class="common-table__item"></div>
            <div class="common-table__item"><a href="#">○</a></div>
            <div class="common-table__item"><a href="#">○</a></div>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</div>