<div class="common-textBlock">
  <p class="common-textBlock__textTop">各種ソリューションビジネス</p>
  <p class="common-textBlock__textDetail">プロフェッショナルのアイデアや能力を組み合わせて新たな価値創造を</p>
  <div class="common-textBlock__contentWrap">
    <div class="common-textBlock__imgWrap">
      <img src="images/dummy_common/dummy_common_mv3.png" alt="ダミー">
    </div>
    <div class="common-textBlock__textWrap">
      <p>各種ソリューションビジネス</p>
      <p>AI、XR、ドローンなどの最先端技術とプロフェッショナルのアイデアを組み合わせ、社会に新しい価値を生み出すソリューションを開発・提供しています。 <br>この他、プロフェッショナルの能力と生涯価値の向上をはかる教育事業にも取り組んでいます</p>
    </div>
  </div>
</div>

<div class="common-carouselArea">
  <div class="common-carouselArea__topWrap">
    <h4 class="common-heading--h4">関連事項</h4>
    <div class="common-carouselArea__arrowWrap">
      <div class="common-arrow__backBtn js-carouselBackBtn"></div>
      <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
    </div>
  </div>
  <div class="common-carousel js-carousel">
    <ul class="common-carouselWrap" id="js-carousel">
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="common-button--grayArrowBtn">
    <a href="#">各種ソリューション一覧を見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
  </div>
</div>
