<div class="common-textBlock">
  <p class="common-textBlock__textTop">エージェンシー（派遣・紹介）</p>
  <p class="common-textBlock__textDetail">クライアントのニーズとプロフェッショナルのスキルをつなぐ</p>
  <div class="common-textBlock__contentWrap">
    <div class="common-textBlock__imgWrap">
      <img src="images/dummy_common/dummy_common_mv3.png" alt="ダミー">
    </div>
    <div class="common-textBlock__textWrap">
      <p>エージェンシー（派遣・紹介）</p>
      <p>クライアントのニーズとプロフェッショナルの意向を把握し、双方にとって効果が最大となる雇用形態（派遣・紹介など）で提案します。制作や開発条件に合わせたチーム構築や守秘義務・雇用に関する契約方法など、様々な相談にC&Rグループの担当者が対応します。</p>
    </div>
  </div>
</div>

<div class="common-carouselArea">
  <div class="common-carouselArea__topWrap">
    <h4 class="common-heading--h4">関連事項</h4>
    <div class="common-carouselArea__arrowWrap">
      <div class="common-arrow__backBtn js-carouselBackBtn"></div>
      <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
    </div>
  </div>
  <div class="common-carousel js-carousel">
    <ul class="common-carouselWrap" id="js-carousel">
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="common-button--grayArrowBtn">
    <a href="#">エージェンシーの事業分野を見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
  </div>
</div>
