<div class="common-textBlock">
  <p class="common-textBlock__textTop">ライツマネジメント</p>
  <p class="common-textBlock__textDetail">プロフェッショナルの知的財産に新たな価値を</p>
  <div class="common-textBlock__contentWrap">
    <div class="common-textBlock__imgWrap">
      <img src="images/dummy_common/dummy_common_mv3.png" alt="ダミー">
    </div>
    <div class="common-textBlock__textWrap">
      <p>ライツマネジメント（知的財産の収益機会拡大）</p>
      <p>プロフェッショナルの優れたアイデアやコンテンツなどの知的財産を、映像、ゲーム、漫画、書籍、デザイン、データ、NFTなどの作品やサービスとして、新たな価値を生み出す市場（プラットフォーム）に流通させ、その収益をプロフェッショナルへ還元します。</p>
    </div>
  </div>
</div>

<div class="common-carouselArea">
  <div class="common-carouselArea__topWrap">
    <h4 class="common-heading--h4">関連事項</h4>
    <div class="common-carouselArea__arrowWrap">
      <div class="common-arrow__backBtn js-carouselBackBtn"></div>
      <div class="common-arrow__nextBtn js-carouselNextBtn"></div>
    </div>
  </div>
  <div class="common-carousel js-carousel">
    <ul class="common-carouselWrap" id="js-carousel">
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_01.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_02.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_03.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
      <li class="js-carouselItem">
        <img src="images/dummy_common/dummy_common_carousel_04.png" alt="ダミー">
        <ul class="categoryLabel">
          <li>映像</li>
          <li>映像制作</li>
          <li>VR</li>
        </ul>
        <div class="common-carouselTextArea">
          <p class="common-carouselTitle">BSフジ</p>
          <p class="common-carouselText">ドキュメンタリー紀行番組「酒旅～そのSAKEに逢いに行く」</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="common-button--grayArrowBtn">
    <a href="#">ライツマネジメントの事業分野を見る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
  </div>
</div>
