// -------------------------------------------------------------------
// 	floatFadeIn.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mixin" as mix;
@use "../helpers/mediaquery" as med;

.js-scrollFloatFadeIn {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
  &.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.js-loadFloatFadeIn {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, transform 1s;
  &.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}