<!DOCTYPE html>
<html lang="ja">
<%- include('../../../include/subpages/_subpageHead.ejs', {path: "../../../" ,
  title: "ガバナンス | ESG活動 | サステナビリティ | クリーク･アンド･リバー社｜C&Rグループ" ,
  description: "ガバナンス ESG活動。 サステナビリティ。 クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"
  }); %>

  <body>
    <%- include('../../../include/_header.ejs'); %>
      <main id="sustainability" class="subpage esg">
        <div class="breadcrumb">
          <ol class="breadcrumb__list">
            <li>
              <a href="">TOP</a>
              <span class="breadcrumb__line">/</span>
            </li>
            <li>
              <a href="">サステナビリティ</a>
              <span class="breadcrumb__line">/</span>
            </li>
            <li>
              <a href="">ESG活動</a>
              <span class="breadcrumb__line">/</span>
            </li>
            <li>
              <a href="">ガバナンス</a>
            </li>
          </ol>
          <!-- /.breadcrumb -->
        </div>
        <div class="common-mainVisual">
          <img src="../../../images/sustainability_main.jpg" alt="ダミー">
          <h1 class="common-heading--h1">ガバナンス<br><span></span></h1>
        </div>

        <div class="commonSustainability">
          <div class="contentWrap">
            <ul class="ankerLinks__blk-glay commonSustainabilityLinks">
              <li>
                <a class="anchor-link" href="#section01">コーポレートガバナンス
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
              <li>
                <a class="anchor-link" href="#section02">
                  リスクマネジメント
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
              <li>
                <a class="anchor-link" href="#section03">
                  情報セキュリティ
                  <div class="arrow--grayBtn"><span class="arrow"></span></div>
                </a>
              </li>
            </ul>
          </div>

          <div class="contentWrap"><h2 id="section01" class="common-textBlock__textTop commonSustainability__ttl">コーポレートガバナンス</h2></div>
          <div class="contentWrap">
            <div class="sustain__list">
              <p>経営機構における監督機能を強化するとともに、透明性の確保、迅速な職務執行体制、リスク管理体制の確立を図っています。</p>
            </div>
            <div class="common-button--grayArrowBtn"><a href="/about_us/corporate_governance/">コーポレートガバナンス
                <div class="arrow--grayBtn"><span class="arrow"></span></div>
              </a></div>
            <div class="common-button--grayArrowBtn"><a href="/about_us/business_model/#professional">内部統制
                <div class="arrow--grayBtn"><span class="arrow"></span></div>
              </a></div>
          </div>
          <div class="contentWrap">
            <h2 id="section02" class="common-textBlock__textTop commonSustainability__ttl">
              リスクマネジメント
            </h2>
          </div>
          <div class="contentWrap">
            <h3 class="common-heading--h3">内部通報制度</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="commonSustainability__txt">
              C&Rグループは、法令や企業倫理、マナーやモラル、人権侵害などコンプライアンス違反行為などによる不正の芽を早期に発見し、法令違反と不正行為を未然に防ぎ、コンプライアンス意識の向上を図ることを目的として、内部通報規程を制定し、通報窓口を設けております。通報窓口は、クリーク･アンド･リバー社　内部監査室が窓口となり通報に対応します。通報窓口への情報提供者の匿名性の保護及び不利益が生じないよう配慮し、通報を受け付けた後、内部監査室が通報内容を検討の上、調査チームを編成し、調査を行い、対処方法を検討します。内部通報制度は、コンプライアンス経営の強化を目的としております。
            </p>
          </div>
          <div class="contentWrap">
            <h2 id="section03" class="common-textBlock__textTop commonSustainability__ttl">
              情報セキュリティ
            </h2>
          </div>
          <div class="contentWrap">
              <h3 class="common-heading--h3">情報セキュリティ基本方針</h3>
              <div class="common-heading--h3__underLine"></div>
              <p class="commonSustainability__txt">
                C&Rグループは、グループ統括理念である「人の能力は、無限の可能性を秘めています。私たちはその能力を最大限に引き出し、人と社会の幸せのために貢献します。」に基づき、C&Rグループがたずさわる情報および情報資産を過失、事故、災害、犯罪などの脅威から守る対策を講じます。プロフェッショナル、クライアント、社会に対する継続的、かつ安定的なサービスの提供を確保するため、情報セキュリティポリシーを策定し、適切な情報セキュリティ対策を実施し推進いたします。
              </p>
              <div class="-border">
                <div class="sustain__list">
                  <h4>1. 適用範囲</h4>
                  <p>本基本方針は、C&Rグループが事業活動内で取り扱う「情報資産」全てを対象とします。「情報資産」とは、有形・無形に関わらず、保有または管理するデータ・情報、システム・ネットワーク・設備を対象とします。</p>
                </div>
                <div class="sustain__list">
                  <h4>2. 情報セキュリティ管理体制</h4>
                  <p>C&R社は情報セキュリティ体制を構築し、その実効性の確保と維持・向上の為に管理部門取締役が情報セキュリティ責任者となります。</p>
                </div>
                <div class="sustain__list">
                  <h4>3. 内部規定の整備と遵守</h4>
                  <p>情報セキュリティポリシーに基づいた内部規程を整備し、個人情報を含む情報資産全般の取り扱いについて明確な方針を示すとともに、遵守するよう周知徹底いたします。</p>
                </div>
                <div class="sustain__list">
                  <h4>4. 情報資産の保護</h4>
                  <p>保有する全ての情報資産を機密性、完全性、可用性の視点から重要性を認識し、情報セキュリティ体制のもと適切な情報資産の保護に努めます。</p>
                </div>
                <div class="sustain__list">
                  <h4>5. 監査体制の整備</h4>
                  <p>情報セキュリティポリシーの遵守状況を点検し・評価し、定期的に監査を実施することで、セキュリティの確保及び保護対策に努めます。</p>
                </div>
                <div class="sustain__list">
                  <h4>6. 法令遵守</h4>
                  <p>情報セキュリティに関連する法令やガイドラインを遵守いたします。</p>
                </div>
                <div class="sustain__list">
                  <h4>7. 情報セキュリティ教育の実施</h4>
                  <p>役員・従業員・登録スタッフ・協力会社社員等に対して本基本方針ならびに関連諸規程などの説明や教育を実施いたします。</p>
                </div>
                <div class="sustain__list">
                  <h4>8. 事故への対応</h4>
                  <p>不正アクセス・情報資産の紛失・漏洩・改ざん・破壊などの予防ならびに是正に適切な処置を講じ、万一の問題発生に対しては迅速に対応いたします。</p>
                </div>
                <div class="sustain__list">
                  <h4>9. 見直しと改善</h4>
                  <p>社内外の情報セキュリティを取り巻く変化を考慮し、情報セキュリティマネジメントシステムを継続的に改善してまいります。</p>
                </div>
              </div>
          </div>
        </div>

        <%- include('../../../include/subpages/_sustainabilityLink.ejs',); %>

      </main>
      <%- include('../../../include/_footer.ejs'); %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
          $('body').on('click', '.anchor-link', function(){
    		let link_id = $(this).attr('href');
            $('html,body').animate({scrollTop: $(link_id).offset().top - 100 },'slow');
    	
    })
        </script>
  </body>

</html>