<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/subpages/_subpageHead.ejs', {path: "../",title: "採用情報", description: "採用情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../include/_header.ejs'); %>
    <main id="recruit" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>採用情報</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
        <h1 class="imgKv__ttl">
          採用情報
        </h1>
        <span class="imgKv__line"></span>
      </section>
      <div class="contentWrap md">
        <section class="recruit">
          <section>
            <h2 class="commonTtl">クリーク·アンド·リバー社の採用情報</h2>
            <figure class="recruit__mainLogo pc">
              <img src="../../images/recruit/recruit_corp_logo.png" alt="CREEK & RIVER Co.,Ltd">
            </figure>
            <ul class="recruit__linkWrap recruitLinkBlk">
             <li>
                <h3 class="recruit__subttl common-heading--h3 -uLine">新卒採用</h3>
                <ul class="recruitLinkBlk__list">
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      総合職（エージェント）
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      映像専門職
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      ゲーム専門職
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      Web専門職
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                </ul>
             </li>
             <li>
                <h3 class="recruit__subttl common-heading--h3 -uLine">中途採用</h3>
                <ul class="recruitLinkBlk__list">
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      募集職種を見る
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                </ul>
             </li>
            </ul>
          </section>
          <section class="recruit__section recruit__group">
            <h2 class="commonTtl">グループ会社の採用情報</h2>
            <ul>
              <li>
                <a href="">
                  <img src="../../images/recruit/recruit_img_01.png" alt="">
                </a>
                <p>
                  <span>株式会社メディカル･プリンシプル社</span>
                  <span class="-cate">医療</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_02.png" alt="">
                </a>
                <p>
                  <span>株式会社リーディング･エッジ社</span>
                  <span class="-cate">IT</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_03.png" alt="">
                </a>
                <p>
                  <span>株式会社C&Rリーガル･エージェンシー社</span>
                  <span class="-cate">法曹</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_04.png" alt="">
                </a>
                <p class="">
                  <span>ジャスネットコミュニケーションズ株式会社</span>
                  <span class="-cate">会計</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_05.png" alt="">
                </a>
                <p>
                  <span>株式会社インター･ベル</span>
                  <span class="-cate">ファッション</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_06.png" alt="">
                </a>
                <p class="">
                  <span>株式会社プロフェッショナルメディア</span>
                  <span class="-cate">メディア開発運営</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_07.png" alt="">
                </a>
                <p>
                  <span>株式会社VR Japan</span>
                  <span class="-cate">VR</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_08.png" alt="">
                </a>
                <p>
                  <span>株式会社forGIFT</span>
                  <span class="-cate">プロモーション</span>
                </p>
              </li>

              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_09.png" alt="">
                </a>
                <p>
                  <span>株式会社Idrasys</span>
                  <span class="-cate">AI</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_10.png" alt="">
                </a>
                <p>
                  <span>株式会社クレイテックワークス</span>
                  <span class="-cate">ゲーム開発</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_11.png" alt="">
                </a>
                <p>
                  <span>株式会社ウイング</span>
                  <span class="-cate">番組制作</span>
                </p>
              </li>
              <li> 
                <a href="">
                  <img src="../../images/recruit/recruit_img_12.png" alt="">
                </a>
                <p>
                  <span>株式会社Grune</span>
                  <span class="-cate">Web・システム・VR開発</span>
                </p>
              </li>
            </ul>
          </section>
          <section class="know">
            <section class="flex"> 
              <h2 class="commonTtl pc">会社を知る</h2>
              <figure>
                <img src="../../images/recruit/recruit_know_img_01.jpg" alt="">
              </figure>
              <div class="sectionWrap">
                <h2 class="commonTtl sp">会社を知る</h2>
                <ul class="recruitLinkBlk__list">
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      理念とミッション
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      ビジネスモデル
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      事業領域とグループネットワーク
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      50分野構想
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </section>
            <section class="fdrr">
              <h2 class="commonTtl pc">事業・サービス内容を知る</h2>
              <figure>
                <img src="../../images/recruit/recruit_know_img_02.jpg" alt="">
              </figure>
              <div class="sectionWrap">
                <h2 class="commonTtl sp">事業・サービス内容を知る</h2>
                <ul class="recruitLinkBlk__list">
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      事業分野・サービス
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      強み・特徴
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      実績・事例
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </section>
            <section class="flex">
              <h2 class="commonTtl pc">働く環境を知る</h2>
              <figure>
                <img src="../../images/recruit/recruit_know_img_03.jpg" alt="">
              </figure>
              <div class="sectionWrap">
                <h2 class="commonTtl sp">働く環境を知る</h2>
                <ul class="recruitLinkBlk__list">
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      オフィス
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      文化
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a  href="" class="arrow__iconHover-underLine">
                      サステナビリティ
                      <div class="arrow-glay">
                        <span class="arrow"></span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </section>
            <section class="movieLink">
              <h2 class="commonTtl">公式YouTubeチャンネル</h2>
              <figure>
                <img src="../../images/recruit/recruit_know_img_04.jpg" alt="">
              </figure>
              <a class="global__btn--gray arrow__iconHover" target="_blank" href="">
                公式YouTubeチャンネルもチェック！
                <div class="arrow-glay">
                  <span class="arrow"></span>
                </div>
              </a>
            </section>
          </section>
        </section>
      </div>
      <%- include('../include/subpages/_serviceLinks.ejs',); %>
    </main>
    <%- include('../include/_footer.ejs'); %>
  </body>
</html>