<div class="c-loading" id="js-loading">
  <div class="c-loading__inner">
    <p class="c-loading__textWrap">
      <span class="c-loading__firstText">KELだからこそ、</span><br>
      <span class="c-loading__secondText">できることがある。</span>
    </p>
  </div>
</div>