<div class="p-mainMessage js-scrollFloatFadeIn">
  <div class="p-mainMessage__inner">
    <div class="p-mainMessage__headWrap">
      <h2 class="c-heading--pageTitle">Message</h2>
      <p class="p-mainMessage__titleSub">採用担当より</p>
    </div>
    <div class="p-mainMessage__textWrap">
      <div class="p-mainMessage__catch">
        <img src="<%= data.srcpath %>images/message_catch.svg" alt="「可能性、キミシダイ」">
      </div>
      <p class="p-mainMessage__text">働いている中で、KELの魅力だと感じるのは、お客様のため、お客様が求めることに応えるためであれば、自分の仕事に「カタやワクがなく」個人に裁量が任せられるところだと思います。厳しいけれど、自分の可能性を誰か（お客様）のために生かせる場所、若いうちから成長出来るチャンスがあります。 KELには、会社も仕事もこんなことをやってみたい！と思う自分次第で、無限の可能性があります。</p>
      <div class="c-circleBtn p-mainMessage__link">
        <a href="<%= data.srcpath %>recruit/message/">
          <span class="c-circleBtn__circle">
            <span class="c-circleBtn__arrow"></span>
          </span>
          <span class="c-circleBtn__text">READ MORE</span>
        </a>
      </div>
    </div>
  </div>
</div>