<div class="p-mainMission js-scrollFloatFadeIn">
  <div class="p-mainMission__content">
    <h2 class="p-mainMission__title c-heading--pageTitle">Our MISSION</h2>
    <div class="p-mainMission__imgWrap">
      <img src="<%= data.srcpath %>images/mission_img.png" alt="mission img">
    </div>
    <div class="p-mainMission__textWrap">
      <h3 class="p-mainMission__lead">顧客第一主義</h3>
      <p class="p-mainMission__detail">KEL Spirit -お客様のために一生懸命！-<br>KELは「仕事は楽しく」をモットーに、常にお客様の満足度を意識し信頼と価値を想像する企業集団を目指します。</p>
      <div class="c-circleBtn p-mainMission__link">
        <a href="<%= data.srcpath %>mission/">
          <span class="c-circleBtn__circle">
            <span class="c-circleBtn__arrow"></span>
          </span>
          <span class="c-circleBtn__text">詳しく見る</span>
        </a>
      </div>
    </div>
  </div>
</div>