<div class="c-movieModal" id="js-modalWrap">
  <div class="c-movieModal__inner">
    <div class="c-movieModal__contentWrap" id="js-videoWrap">
      <div class="c-movieModal__content js-modalContent">
        <button class="js-modalCloseBtn">
          <img src="<%= data.srcpath %>images/icon_cross_mark.svg" alt="×">
        </button>
        <iframe class="js-iframe" src="https://www.youtube.com/embed/bjmBJ1Fl0cs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="c-movieModal__content js-modalContent">
        <button class="js-modalCloseBtn">
          <img src="<%= data.srcpath %>images/icon_cross_mark.svg" alt="×">
        </button>
        <iframe class="js-iframe" src="https://www.youtube.com/embed/t3OouYgmjNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>