<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "文化・オフィス紹介 | 企業・グループ情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "文化・オフィス紹介。企業・グループ情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="culture" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="/">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">企業・グループ情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>文化・オフィス紹介</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <!-- <div class="kv">
        <h1 class="kv__ttl">文化・オフィス紹介</h1>
        <span class="kv__line"></span>
      </div> -->
      <div class="common-mainVisual">
        <img class="sp" src="../../images/about_us/culture_mv_01.jpg" alt="ダミー">
        <img class="pc" class="pc" src="../../images/about_us/culture_mv_01_sp.jpg" alt="ダミー">
        <h1 class="common-heading--h1">文化・オフィス紹介<br><span></span></h1>
      </div>
      <div class="contentWrap md">
        <ul class="ankerLinks__blk-glay">
          <li>
            <a href="#office">オフィス紹介</a>
          </li>
          <li>
            <a href="#event">イベント・研修</a>
          </li>
          <li>
            <a href="#club">クラブ活動</a>
          </li>
        </ul>
        <section class="section" id="office">
          <div class="section__mainimg">
            <img class="sp" src="../../images/about_us/culture_mv_02.jpg" alt=""/>
            <img class="pc" src="../../images/about_us/culture_mv_02_sp.jpg" alt="">
            <h2 class="section__ttl">オフィス</h2>
          </div>
          <p class="section__lead">
            国内にあるC&Rグループ企業が東京本社ビルに集結。850名が在籍する日本最大級の開発スタジオ「C&R Creative Studios」もあります。プロフェッショナルやクライアントの皆さまの期待に応えるために、会社の枠を越えてコミュニケーションを図り、様々なアイデアを具現化できる環境が整っています。
          </p>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_01.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_01_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">外観</h3>
            <div class="common-heading--h3__underLine"></div>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_02.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_02_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">受付</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">大型壁面プロジェクションマッピングを設置し、四季折々の映像や当社に関連するトピックス、プロモーション映像などを投影。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_03.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_03_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">商談室</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">全部で26部屋の会議室があり、各部屋にモニターを完備。クライアントとの打ち合わせやプロフェッショナルとの面談を実施。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_04.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_04_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">コミュニケーションスペース</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">カフェテリアのような雰囲気で、ランチや仕事の合間の休憩、時にはイベントスペースとしても活用可能です。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_05.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_05_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">ホール</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">業界セミナーや、社内外の様々なイベント等を開催。最大300名程の人数が収容可能。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_06.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_06_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">ライブラリ</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">たくさんの書籍があり、打ち合わせやテレビ番組の撮影や、イベントの配信にも活用可能。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_07.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_07_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">スタジオ</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">ゲームやWebなどの16の開発スタジオからなる「C&R Creative Studios」。 <br>エージェントとプロフェッショナルがひとつのチームとなり、クライアントの課題を解決。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_08.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_08_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">執務室</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">フリーアドレスでどのエリアでも仕事可能。部署や部門間を超え、社内コミュニケーションの活性化に。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_09.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_09_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">屋上</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">朝ヨガやバーベキューを楽しむことができる屋上。東京タワーもよく見え、夜には東京の夜景も。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec01_img_10.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec01_img_10_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">大阪支社</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">映像・Web・ゲームの制作スタジオもある大阪支社のオフィス。</p>
          </div>
        </section>
        <section class="section" id="event">
          <div class="section__mainimg">
            <img class="sp" src="../../images/about_us/culture_mv_03.jpg" alt=""/>
            <img class="pc" src="../../images/about_us/culture_mv_03_sp.jpg" alt="">
            <h2 class="section__ttl">イベント・研修</h2>
          </div>
          <p class="section__lead">
            新入社員研修や社会人として働くうえで必要な知識やスキルアップのための研修、舞台芸術を活用した理念研修を実施しています。また、全社員で開催するキックオフミーティングをはじめ、社員同士がコミュニケーションをとり、親睦を深めることができるイベントも多数開催しています。
          </p>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec02_img_01.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec02_img_01_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">キックオフミーティング</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">年2回開催。会社の方向性や各事業部の実績、戦略などを全社員で共有します。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec02_img_02.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec02_img_02_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">入社式</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">C&Rグループ全体で行われる入社式です。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec02_img_03.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec02_img_03_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">新卒歓迎会</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">毎年4月に入社した新卒社員を全社員で歓迎するイベントです。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec02_img_04.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec02_img_04_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">納会</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">毎年12月の最終営業日に開催。お酒や軽食を楽しみながら社員同士が交流できる全社イベントです。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec02_img_05.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec02_img_05_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">バースデーパーティー</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">月1回、誕生月の社員を集めたパーティーを開催。ケーキやプレゼントもあり社員同士の交流が深まり、コミュニケーションも活性化されています。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec02_img_06.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec02_img_06_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">マインド研修</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">会社の理念やミッションを理解し、事業や組織の成長に貢献できる人材となるための研修です。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec02_img_07.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec02_img_07_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">情報セキュリティ研修</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">情報漏洩などの自己を未然に防ぐ方法や情報を守る方法、事故を起こしてしまったときの対処法などを学びます。</p>
          </div>
          <div class="section__blk">
            <div class="section__imgBlk">
              <img class="sp" src="../../images/about_us/culture_sec02_img_08.jpg" alt=""/>
              <img class="pc" src="../../images/about_us/culture_sec02_img_08_sp.jpg" alt=""/>
            </div>
            <h3 class="common-heading--h3">ハラスメント研修</h3>
            <div class="common-heading--h3__underLine"></div>
            <p class="section__txt">ハラスメントを正しく理解し、起こさないための注意点や環境作りなどを学びます。</p>
          </div>
        </section>
        <section class="section" id="club">
          <div class="section__mainimg">
            <img class="sp" src="../../images/about_us/culture_mv_04.jpg" alt=""/>
            <img class="pc" src="../../images/about_us/culture_mv_04_sp.jpg" alt="">
            <h2 class="section__ttl">クラブ活動</h2>
          </div>
          <p class="section__lead">
            C&Rグループでは、クラブ活動を積極的に推奨しており、野球やサッカー、ゲーム、アウトドアなどの様々なクラブがあります。クラブ活動を通じて、グループの枠を越えた交流や情報交換が行われ、コミュニケーションの活性化につながっています。
          </p>
          <div class="section__wrapper">
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_01.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_01_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">アウトドア部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_02.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_02_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">演劇部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_03.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_03_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">ゲーム部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_04.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_04_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">ゴルフ部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_05.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_05_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">サーフィン部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_06.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_06_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">サガン鳥栖応援部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_07.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_07_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">サッカー部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_08.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_08_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">野球部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="section__blk">
              <div class="section__imgBlk">
                <img class="sp" src="../../images/about_us/culture_sec03_img_09.jpg" alt=""/>
                <img class="pc" src="../../images/about_us/culture_sec03_img_09_sp.jpg" alt=""/>
              </div>
              <h3 class="common-heading--h3">ヨガ部</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
          </div>
        </section>
        <a class="recruitLink" href="/recruit/">
          <img class="pc" src="../../images/about_us/culture_recruit_sp.jpg" alt="">
          <img class="sp" src="../../images/about_us/culture_recruit.jpg" alt="">
          <span>採⽤ページへ</span>
        </a>
      </div>
      <ul class="ankerLinks ankerFixed">
        <li><a href="#office">オフィス紹介</a></li>
        <li><a href="#event">イベント・研修</a></li>
        <li><a href="#club">クラブ活動</a></li>
      </ul>
    </main>
    <%- include('../../include/_footer.ejs'); %>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
          $('.ankerLinks').hide();
          var startPos = 0,winScrollTop = 0;
          $(window).on('scroll',function(){
            winScrollTop = $(this).scrollTop();
            if (winScrollTop >= startPos) {
                $('.ankerLinks').fadeOut();
            } else {
                $('.ankerLinks').fadeIn();
            }
            startPos = winScrollTop;
          });
        $(function () {
            const addElm = document.getElementById('addElm'); 
            $('#btn').click(function () {
            $(addElm).show(0);
            $(this).hide();
            // $(this).toggleClass("active");
            // const btnText = $(this).text();
            // if (btnText == "すべてを見る") {
            //   $(this).text("閉じる");
            // } else {
            // $(this).text("すべてを見る");
            // }
            });
        });


  </script>
</html>