<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../", title: "実績事例 | 映像 | 事業分野・サービス | クリーク･アンド･リバー社｜C&Rグループ", description: "実績事例。映像。事業分野・サービス。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="case_studies_detail" class="subpage case_studies_detail_p">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">実績事例一覧</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>実績事例</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="contentWrap">
        <section class="detailTop">
          <div class="newsDetail__topLink"><a href="#" class="common-link">事例・実績一覧</a></div>
          <h2 class="detailTop__ttl">プロジェクト名プロジェクト名プロジェクト名</h2>
          <ul class="detailTop__tags">
            <li class="detailTop__tag">映像</li>
            <li class="detailTop__tag">映像制作</li>
            <li class="detailTop__tag">AR</li>
            <li class="detailTop__tag">VR</li>
            <li class="detailTop__tag">プロデュース</li>
          </ul>
          <div class="detailTop__flxBlk">
            <div class="detailTop__flxLeftBox">
              <img src="../../images/case_studies/detailtop_sample.jpg" alt="">
            </div>
            <div class="detailTop__flxRightBox">
              <p class="detailTop__heading">DATA</p>
              <div class="detailTop__dataDetail">
                <p>仮名：Aさん 24歳 男性</p>
                <p>職種：ゲームプランナー</p>
                <p>活動拠点：東京</p>
                <!-- <p>代表作：ー</p>
                <p>主な受賞歴：ー</p>
                <p>その他：ー</p> -->
              </div>
              <dl class="detailTop__skillBlk">
                <dt class="-glay">転職前</dt>
                <dd>ゲーム制作会社にてアルバイト（アルバイト）</dd>
              </dl>
              <dl class="detailTop__skillBlk">
                <dt class="-color">転職後</dt>
                <dd class="-bold">ゲームプランナー（正社員）</dd>
              </dl>
              <dl class="detailTop__skillBlk -annualIncome">
                <dt>年収</dt>
                <dd>210万円<span class="-arrow">→</span><span class="-after">260万円</span></dd>
              </dl>
            </div>
          </div>
        </section>
        <section class="projectDetail">
          <p>プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。プロジェクト概要文が入ります。</p>
          <div class="singleColumnImg">
            <img src="../../images/case_studies/detailtop_sample_big.jpg" alt="">
          </div>
          <div class="multipleColumnImg-wrap">
            <div class="multipleColumnImg">
              <img src="../../images/case_studies/detailtop_sample.jpg" alt="">
            </div>
            <div class="multipleColumnImg">
              <img src="../../images/case_studies/detailtop_sample.jpg" alt="">
            </div>
          </div>
        </section>
        <section class="story">
          <article class="story__article">
            <h4>Story｜課題（見出し）</h4>
            <p >プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。プロジェクト着手前の課題が入ります。</p>
          </article>
          <article class="story__article">
            <h4>Story｜解決策（見出し）</h4>
            <p >解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。解決手法が入ります。</p>
          </article>
          <article class="story__article">
            <h4>Story｜効果（見出し）</h4>
            <p >プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
          </article>
        </section>
        <section class="interview">
          <div class="contentWrap">
            <h3>顧客担当者インタビュー</h3>
            <div class="common-heading--h3__underLine"></div>
            <div class="singleColumnImg">
              <img src="../../images/case_studies/detailtop_sample_big.jpg" alt="">
            </div>
            <article>
              <h4>インタビューキャッチテキスト1</h4>
              <p>プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
              <div class="interview__peopleWrap">
                <span>担当者氏名◯◯ ◯◯◯</span>
                <span>部署名 ◯◯株式会社 △△部 □□課</span>
              </div>
            </article>
            <article>
              <h4>インタビューキャッチテキスト1</h4>
              <p>プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。プロジェクト完了後の効果が入ります。</p>
              <span>担当者氏名◯◯ ◯◯◯</span>
              <span>部署名 ◯◯株式会社 △△部 □□課</span>
            </article>
          </div>
        </section>
        <div class="bottomLinks">
          <div class="common-button--grayArrowBtn -back">
            <a href="#">事業分野・サービス一覧に戻る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
          <div class="common-button--grayArrowBtn -back -mt">
            <a href="#">事例一覧に戻る<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
          </div>
        </div>
      </div>

    </main>
    <%- include('../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
    </script>
  </body>
</html>