.categoryLabel {
  font-size:0;
  margin-top: 10px;
  li {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    background-color: #83807A;
    padding:2px;
    margin-right:4px;
  }
}