@use "../helpers/mediaquery" as med;

.multiField {
  padding:80px 5.3% 120px;
  position: relative;

  > a {
    position: relative;
    color: #222427;
    text-decoration: none;
    display: block;
    width:100%;
    margin: 0 auto;
    @include med.media(pc) {
      max-width: 1346px;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  img {
    box-shadow: 3px 3px 6px #e8e9ea;
    width:100%;
    @include med.media(pc) {
      height: 340px;
      object-fit: cover;
    }

  }

  p {
    font-size: 8.53vw;
    font-weight: bold;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include med.media(tb) {
      font-size: 6.2vw;
    }

    @include med.media(pc) {
      font-size: 32px; 
    }
  }

  @include med.media(pc) {
    padding:100px 10px;
    margin:0 auto;
    max-width: 2000px;
  }
}
