// -------------------------------------------------------------------
//  footer.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mediaquery" as med;
@use "../helpers/mixin" as mix;

.l-footer {
  background-color: var.$DARK_GRAY;
  color: #FFF;
  padding: 5.85vw 0 1.54vw;
  position: relative;
  z-index: 2;
  @include med.media(sp) {
    padding: 16vw 0 7.2vw;
  }

  &__main {
    width: 82.05vw;
    margin: auto;
    display: flex;

    @include med.media(sp) {
      display: block;
    }
  }

  &__logo {
    width: 14vw;
    margin-right: 8.06vw;
    > a {
      display: block;
      @include mix.defaultHover;

      > img {
        width: 100%;
      }
    }

    @include med.media(sp) {
      width: 40vw;
      margin: 0 auto;
    }
  }

  &__pageListWrap {
    display: flex;
    > li {
      margin-right: 6.8vw;
      @include med.media(sp) {
        margin-right: 0;
        width: 50%;
      }

      // &:last-child {
      //   margin-right: 0;
      //   @include med.media(sp) {
      //     margin-top: 5.3vw;
      //     width: 100%;
      //   }
      // }
    }

    @include med.media(sp) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 13.33vw;
    }
  }

  &__pageList {
    > li {
      margin-bottom: 1.83vw;

      @include med.media(sp) {
        margin-bottom: 5.3vw;
      }

      &:last-child {
        margin-bottom: 0;
      }

      > a {
        transition: opacity 0.3s, border-bottom 0.3s;
        border-bottom: 1px solid transparent;
        font-size: 1.1vw;
        &:hover {
          opacity: 0.7;
          border-bottom: 1px solid #FFF;
        }

        @include med.media(sp) {
          font-size: 3.2vw;
        }
      }
    }
  }

  &__sub {
    width: 82.05vw;
    margin: 2.2vw auto 0;

    @include med.media(sp) {
      margin-top: 17.6vw;
    }
  }

  &__snsList {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include med.media(sp) {
      justify-content: center;
    }

    > li {
      margin-right: 1.2vw;

      @include med.media(sp) {
        margin-right: 4.27vw;
      }

      &:last-child {
        margin-right: 0;
      }

      > a {
        display: block;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.7;

          span {
            text-decoration: underline;
          }
        }

        img {
          display: inline-block;
          vertical-align: middle;
          width: 2vw;
          margin-right: 0.2vw;
          @include med.media(sp) {
            width: 8vw;
            margin-right: 2vw;

          }
        }

        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.1vw;
          @include med.media(sp) {
            font-size: 3.6vw;
          }
        }
      }
    }
  }

  &__copy {
    font-size: 0.806vw;
    margin-top: 2.2vw;
    text-align: right;
    @include med.media(sp) {
      font-size: 2.66vw;
      text-align: center;
      margin-top: 10vw;
    }
  }
}