<div class="c-contactLead">
  <div class="c-contactLead__inner">
    <p class="c-contactLead__text">機械の選び方がわからない場合でもご安心ください。<br>お客さまの利用目的に合った機種をプロがご提案します！<br class="is-sp">お気軽にお問合せください。</p>
    <div class="c-contactLead__linkArea">
      <div class="c-contactLead__linkBlock">
        <a class="c-contactLead__link" href="<%= data.contactURL %>">
          <span class="--icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="79.997" viewBox="0 0 80 79.997">
              <defs>
                <clipPath id="clip-path-mail">
                  <rect width="80" height="79.997" fill="none"/>
                </clipPath>
              </defs>
              <g clip-path="url(#clip-path-mail)">
                <path d="M40,45.1a1.55,1.55,0,0,1-.717-.175L22.874,36.4V53.51H57.127V36.4L40.718,44.927A1.546,1.546,0,0,1,40,45.1ZM22.874,32.892,40,41.79l17.126-8.9v-6.4H22.873ZM54.922,2.877A40.029,40.029,0,0,0,.306,35.029,40,40,0,1,0,54.923,2.876Zm5.319,52.191a1.558,1.558,0,0,1-1.557,1.557H21.316a1.558,1.558,0,0,1-1.557-1.557V24.935a1.558,1.558,0,0,1,1.557-1.557H58.684a1.558,1.558,0,0,1,1.557,1.557Z" transform="translate(0 0)" fill="#f57a1b"/>
              </g>
            </svg>
          </span>
          <span class="--text">メールでのお問い合わせはこちらから</span>
        </a>
      </div>
      <div class="c-contactLead__linkBlock">
        <a class="c-contactLead__link" href="https://www.taiyokenki.co.jp/tenpo/index.html">
          <span class="--icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80" viewBox="0 0 80 80">
              <defs>
                <clipPath id="clip-path-search">
                  <rect width="80" height="80" fill="#f57a1b"/>
                </clipPath>
              </defs>
              <g transform="translate(-703 -342)">
                <g transform="translate(703 342)" clip-path="url(#clip-path-search)">
                  <path d="M306.719,281a14.719,14.719,0,1,0,14.719,14.719A14.762,14.762,0,0,0,306.719,281" transform="translate(-266.719 -256.671)" fill="#f57a1b"/>
                  <path d="M40,0A40,40,0,1,0,80,40,40,40,0,0,0,40,0M61.126,60.173a1.71,1.71,0,0,1-1.212.519,1.887,1.887,0,0,1-1.255-.519l-7.1-7.1a18.2,18.2,0,1,1,2.468-2.468l7.1,7.1a1.725,1.725,0,0,1,0,2.467" fill="#f57a1b"/>
                </g>
              </g>
            </svg>
          </span>
          <span class="--text">お近くの店舗へのお問合せはこちらから</span>
        </a>
      </div>
    </div>
  </div>
  <div class="c-contactLead__img --left">
    <img src="<%= data.commonImgPath %>/contact_lead_people_left.png" alt="お問い合わせ 人物 左">
  </div>
  <div class="c-contactLead__img --right">
    <img src="<%= data.commonImgPath %>/contact_lead_people_right.png" alt="お問い合わせ 人物 右">
  </div>
</div>