<div class="c-note">
  <dl class="c-note__line">
    <dt class="c-note__title">※注意書き</dt>
    <dd>
      <ul class="c-note__list">
        <li>・レンタル料金、管理検査料は、地域や時期により変動することがあります。また、仕様によっても変わりますので最寄り支店にお問合せ下さい。</li>
        <li>・AT、MTの指定、ETC、ナビについては最寄りの支店にお問合せください。</li>
        <li>・車両の種類は豊富に取扱いございますので、ご相談ください。</li>
      </ul>
    </dd>
  </dl>
  <p class="c-note__text">※金額は全て税別表示になります。</p>
</div>