@charset "UTF-8";

/* Reboot
---------------------------------- */
*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}[tabindex="-1"]:focus:not(:focus-visible){outline:0!important}hr{box-sizing:content-box;height:0;overflow:visible}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}abbr[data-original-title],abbr[title]{text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;border-bottom:0;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}address{margin-bottom:1rem;font-style:normal;line-height:inherit}dl,ol,ul{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}dt{font-weight:700}dd{margin-bottom:.5rem;margin-left:0}blockquote{margin:0 0 1rem}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}a{color:#007bff;text-decoration:none;background-color:transparent}a:hover{color:#0056b3;text-decoration:underline}a:not([href]){color:inherit;text-decoration:none}a:not([href]):hover{color:inherit;text-decoration:none}code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em}pre{margin-top:0;margin-bottom:1rem;overflow:auto}figure{margin:0 0 1rem}img{vertical-align:middle;border-style:none}svg{overflow:hidden;vertical-align:middle}table{border-collapse:collapse}caption{padding-top:.75rem;padding-bottom:.75rem;color:#6c757d;text-align:left;caption-side:bottom}th{text-align:inherit}label{display:inline-block;margin-bottom:.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}select{word-wrap:normal}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}textarea{overflow:auto;resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:none}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}summary{display:list-item;cursor:pointer}template{display:none}[hidden]{display:none!important}

/* 基本要素
---------------------------------- */
html[lang="ja"] {
	font-family: Arial, Verdana, Lucida Grande, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
	font-size: 62.5%;
}
body {
	font-family: Arial, Verdana, Lucida Grande, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", sans-serif;
	position: relative;
	color: #000;
	background: #fff;
	font-size: 1.6rem;
	line-height: 1.6;
}
p, ul, ol, dl, dt, dd, table, h1, h2, h3, h4, h5, h6, blockquote, form {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style-type: none;
}
a {
	color: #000;
	text-decoration: none;
	transition: .2s;
}
a:hover {
	color: #000;
	text-decoration: underline;
	opacity: 0.7;
}
img {
	max-width: 100%;
	height: auto;
}

.btn-group {
	margin-top: 24px;
	display: flex;
}

input:focus,
button:focus {
	outline: none;
}

main {
	padding-top: 101px;
}
@media only screen and (max-width: 1000px) {
	main {
		padding-top: 71px;
	}
}

section {
	width: 100%;
}
section .section-inner {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 60px;
}
@media only screen and (max-width: 1280px) {
	section .section-inner {
		padding: 60px 20px;
	}
}

/* モーダルウインドウ Movie 
---------------------------------- */
.modal{
	display: none;/* 毎回ムービーを表示する場合はコメントアウトする */
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 99999;
}
.modal .modal-bg{
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.9);
}
.modal .modal-content{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 840px;
	padding: 0 10px 30px;
	transform: translate(-50%,-50%);
}
.modal .modal-video {
	height: auto;
	width: 100%;
}
.modal button.js-modal-close {
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	background: none;
	border: none;
	color: #fff;
	padding-right: 40px;
}
.modal button.js-modal-close::before {
	position: absolute;
	top: 50%;
	right: 20px;
	display: block;
	width: 2px;
	height: 23px;
	margin-top: -12px;
	background: #fff;
	content: "";
	transform: rotate(-45deg);
}
.modal button.js-modal-close::after {
	position: absolute;
	top: 50%;
	right: 20px;
	display: block;
	width: 2px;
	height: 23px;
	margin-top: -12px;
	background: #fff;
	content: "";
	transform: rotate(45deg);
}


/* ヘッダー
---------------------------------- */
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
	border-bottom: 1px solid #e7eff1;
	z-index: 10000;
}
#header-content {
	background: rgba(255,255,255,.1);
	position: relative;
	width: 100%;
}
#header-column {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#corporate-logo {
	padding: 0 10px 0 60px;
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 1280px) {
	#corporate-logo {
		padding: 0 10px 0 20px;
	}
}
#header-group-nav {
	display: flex;
	justify-content: flex-end;
}
#header-group-nav ul {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 1000px) {
	#header-group-nav ul {
		display: none;
	}
}

#header-group-nav ul li {
}
#header-group-nav ul li:not(:first-child) {
	margin-left: 30px;
}
#header-group-nav ul li span {
	font-size: 1.4rem;
	margin-left: 10px;
}
#header-group-nav .search {
	position: relative;
}
#header-group-nav .dd-hook {
	position: relative;
	margin-left: 0;
}
#header-group-nav .dd-hook img:hover {
	cursor: pointer;
}
#header-group-nav .dd-content {
	display: none;
	position: absolute;
	width: 524px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	margin-top: 20px;
	right: -30px;
	z-index: 1;
}
#header-group-nav .dd-content-inner {
	padding: 20px 48px 20px 20px;
	margin: 0 auto;
	max-width: 1180px;
}
#header-group-nav .search-wrapper {
	display: flex;
	max-width: 700px;
	margin: 0 auto;
}
#header-group-nav .search-input {
	background: #fff;
	border: 1px solid #afaea8;
	padding: 5px 10px 4px;
	font-size: 1.4rem;
	width: 100%;
	min-height: 43px;
}
#header-group-nav .search-input:placeholder-shown {
	color: #666;
}
#header-group-nav .search-btn {
	position: relative;
	padding: 5px 14px 4px;
	background: #191815;
	color: #fff;
	min-width: 100px;
	border: none;
	font-size: 1.4rem;
	transition: background .2s;
}


/* ハンバーガーメニュー */
#header-group-nav .button {
	position: relative;
	margin-left: 30px;
	background: #e7eff1;
	width: 100px;
	height: 100px;
	display: flex;
	transition-duration: 0.5s;
}
@media only screen and (max-width: 1000px) {
	#header-group-nav .button {
		width: 70px;
		height: 70px;
	}
}
#header-group-nav .button a {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#header-group-nav .button a:hover {
	text-decoration: none;
	opacity: 1;
}
#header-group-nav .button a span {
	margin-top: 10px;
	font-size: 1.2rem;
	order: 3;
	z-index: 100;
}
#header-group-nav .btn-open {
	z-index: 100;
}
#header-group-nav .btn-open::before {
	transition-duration: 0.5s;
	width: 30px;
	height: 3px;
	background-color: #000;
	content: "";
	order: 1;
}
#header-group-nav .btn-open::after {
	margin-top: 10px;
	transition-duration: 0.5s;
	width: 30px;
	height: 3px;
	background-color: #000;
	content: "";
	order: 2;
}
#header-group-nav .btn-close {
	z-index: 100;
}
#header-group-nav .btn-close::before {
	transition-duration: 0.5s;
	width: 30px;
	height: 3px;
	background-color: #000;
	content: "";
	order: 1;
	transform: rotateZ(135deg) scaleX(1.25) translate(4px, -4px);
}
#header-group-nav .btn-close::after {
	margin-top: 10px;
	transition-duration: 0.5s;
	width: 30px;
	height: 3px;
	background-color: #000;
	content: "";
	order: 2;
	transform: rotateZ(-135deg) scaleX(1.25) translate(4px, 4px);
}


/* オーバレイ */
header .overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#e7eff1;
	overflow:auto;
	z-index:99;
}
header .overlay-inner {
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
header .overlay-inner .global-nav {
	padding:150px 0px 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
header .overlay-inner .global-nav li {
	font-size: 1.5rem;
}
header .overlay-inner .global-nav li:not(:first-child) {
	margin-top: 50px;
}
header .overlay-inner .global-nav li a:hover {
	text-decoration: none;
}
header .overlay-inner .global-nav li span {
	display: block;
	color: #f67e00;
}
header .overlay-inner .global-nav li strong {
	font-size: 3rem;
}
header .overlay-inner .global-nav li > .nav {
	margin-top: 40px;
}
header .overlay-inner .global-nav li > .nav li:not(:first-child) {
	margin-top: 40px;
}
header .overlay-inner .global-nav li > .nav li a:not(:first-child) {
	margin-left: 20px;
}
header .overlay-inner .global-nav li > .social {
	display: flex;
	justify-content: center;
	align-items: center;
}
header .overlay-inner .global-nav li > .social li:not(:first-child) {
	margin: 0 0 0 70px;
}


/* ページの先頭へ戻るボタン
---------------------------------- */
#page-top {
	font-size: 0;
	position: fixed;
	bottom: 10%;
	right: 0;
	opacity: 0;
	z-index: 1000;
}
#page-top.fade-in {
	display: block;
	width: 60px;
	height: 60px;
	text-decoration: none;
	cursor: pointer;
	background: #12120d;
	opacity: .5;
	transition: .2s;
	opacity: 0.6;
	transition: opacity 1s;
}
#page-top::before {
	position: absolute;
	top: 6px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
	width: 12px;
	height: 12px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(-45deg);
}
#page-top:hover {
	opacity: 1;
	text-decoration: none;
}


/* フッター
---------------------------------- */
#footer {
	padding: 40px 0 0;
	background: #e7eff1;
}
#footer-group-nav {
	background: #191815;
}
#footer-group-nav .footer-group-nav-inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px 20px;
}
#footer-group-nav .footer-group-nav-inner ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#footer-group-nav .footer-group-nav-inner ul > li {
	position: relative;
	margin-top: 20px;
	font-size: 1.4rem;
	line-height: 1.2;
}
#footer-group-nav .footer-group-nav-inner ul > li:not(:last-child) {
	padding-right: 28px;
}
#footer-group-nav .footer-group-nav-inner ul > li:not(:last-child)::before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 14px;
	height: 14px;
	margin-top: -7px;
	border-right: 1px solid #fff;
}
#footer-group-nav .footer-group-nav-inner ul > li a {
	color: #fff;
}
#footer-group {
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 20px 30px;
}
#footer-group .nav {
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#footer-group .nav > li {
	margin-top: 10px;
	font-size: 1.2rem;
	line-height: 1.2;
}
#footer-group .nav > li:not(:first-child) {
	margin-left: 18px;
}
#footer-group .social {
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer-group .social > li:not(:first-child) {
	margin-left: 24px;
}
#footer-group .copyright {
	text-align: center;
}
#footer-group .copyright small{
	font-size: 1rem;
}



/* メインビジュアル 
---------------------------------- */
.hero-area {
	position: relative;
	min-height: 586px;
}
@media only screen and (min-width: 1280px) {
	.hero-area {
		overflow: hidden;
	}
}
@media only screen and (max-width: 1000px) {
	.hero-area {
		min-height: inherit;
	}
}
.hero-area .content {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 60px;
}
.hero-area .content-inner {
	width: 34.42%;
	padding-top: 80px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}
@media only screen and (max-width: 1000px) {
	.hero-area .content {
		padding-left: 20px;
	}
	.hero-area .content-inner {
		padding-top: 20px;
		padding-bottom: 0;
	}
}
@media only screen and (max-width: 767px) {
	.hero-area .content {
		position: relative;
		display: block;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding-left: 60px;
	}
	.hero-area .content-inner {
		width: 100%;
		padding-top: 80px;
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (max-width: 767px) {
	.hero-area .content {
		padding: 0 20px;
	}
	.hero-area .content-inner {
		padding-top: 0;
	}
}

.hero-area .content-inner .title {
	margin-left: 54px;
}
@media only screen and (max-width: 1000px) {
	.hero-area .content-inner .title {
		padding-right: 10px;
		margin-left: 0;
	}
}
@media only screen and (max-width: 767px) {
	.hero-area .content-inner .title {
		padding-right: 0;
		height: calc(260vw*100/320);
		display: flex;
		align-items: center;
	}
}
.hero-area .content-inner .subtext {
	padding-right: 40px;
	margin-top: auto;
	line-height: 2;
}
@media only screen and (max-width: 1280px) {
	.hero-area .content-inner .subtext {
		padding-right: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.hero-area .content-inner .subtext {
		padding-right: 0;
		margin-top: 20px;
	}
}

.hero-area .visual {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 416px;
	background: url(/images-top/key-visual.png) no-repeat center top /cover;
	z-index: -1;
}

@media only screen and (max-width: 1280px) {
	.hero-area .visual {
		height: calc(416vw*100/1280);
	}
}
@media only screen and (max-width: 767px) {
	.hero-area .visual {
		height: calc(260vw*100/320);
		background: url(/images-top/sp_brandimage.png) no-repeat center top /cover;
	}
}



.hero-area .btn {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	padding: 8px 24px 8px 12px;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.4;
	text-decoration: none!important;
	color: #fff !important;
	background: #12120d;
	border: 1px solid #12120d;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.18);
	transition: background .2s;
}
.hero-area .btn::before {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	border-color: #e43745;
	border-top: 2px solid #f67e00;
	border-right: 2px solid #f67e00;
	content: "";
	transform: rotate(45deg);
}

/* スライダー */
.hero-area .slider-container {
	position: relative;
	width: 65.58%;
	padding-top: 80px;
}
.hero-area .slider-wrapper {
	width: 83.25%;
	margin-left: auto;
}
@media only screen and (max-width: 767px) {
	.hero-area .slider-container {
		width: 100%;
		padding-top: 40px;
	}
	.hero-area .slider-wrapper {
		width: 100%;
	}
}
.hero-area .slider {
	opacity: 0;
	transition: 3s;
}
.hero-area .slider.slick-initialized{
	opacity: 1
}
@media only screen and (min-width: 1281px) {
	.hero-area .slider .slick-list {
		padding-right: 140px;
		margin-right: -146px;
	}
}
.hero-area .slider-text-wrapper {
	width: 62.5%;
	margin-top: -138px;
}
@media only screen and (max-width: 1000px) {
	.hero-area .slider-text-wrapper {
		margin-top: -160px;
	}
}
@media only screen and (max-width: 767px) {
	.hero-area .slider-text-wrapper {
		width: 250px;
		margin-top: -60px;
	}
}
@media only screen and (max-width: 374px) {
	.hero-area .slider-text-wrapper {
		width: 220px;
		margin-top: -60px;
	}
}



.hero-area .slider .img-box {
	margin-bottom: 60px;
}
.hero-area .slider .img-box img {
	margin-left: auto;
}
.hero-area .text-box {
	display: flex;
	background: rgba(232, 241, 243, 0.7);
	max-width: 460px;
}
.hero-area .text-box > a {
	padding: 24px;
}
.hero-area .text-box > a:hover {
	text-decoration: none;
}
.hero-area .text-box > a:focus {
	outline: none;
}
.hero-area .text-box .title {
	font-size: 2.4rem;
}
.hero-area .text-box .desc {
	font-size: 1.4rem;
}
.hero-area .text-box .title,
.hero-area .text-box .desc {
	text-shadow: 
	rgba(255, 255, 255, 0.9) 2px 0px 1px, rgba(255, 255, 255, 0.9) -2px 0px 1px,
	rgba(255, 255, 255, 0.9) 0px -2px 1px, rgba(255, 255, 255, 0.9) -2px 0px 1px,
	rgba(255, 255, 255, 0.9) 2px 2px 1px, rgba(255, 255, 255, 0.9) -2px 2px 1px,
	rgba(255, 255, 255, 0.9) 2px -2px 1px, rgba(255, 255, 255, 0.9) -2px -2px 1px,
	rgba(255, 255, 255, 0.9) 1px 2px 1px, rgba(255, 255, 255, 0.9) -1px 2px 1px,
	rgba(255, 255, 255, 0.9) 1px -2px 1px, rgba(255, 255, 255, 0.9) -1px -2px 1px,
	rgba(255, 255, 255, 0.9) 2px 1px 1px, rgba(255, 255, 255, 0.9) -2px 1px 1px,
	rgba(255, 255, 255, 0.9) 2px -1px 1px, rgba(255, 255, 255, 0.9) -2px -1px 1px,
	rgba(255, 255, 255, 0.9) 1px 1px 1px, rgba(255, 255, 255, 0.9) -1px 1px 1px,
	rgba(255, 255, 255, 0.9) 1px -1px 1px, rgba(255, 255, 255, 0.9) -1px -1px 2px;
}
.hero-area .slider .slick-arrow {
	position: absolute;
	bottom: -60px;
	right: 0;
	cursor: pointer;
	width: 60px;
	height: 60px;
	background: #12120d;
	color: #000;
	vertical-align: middle;
	text-decoration: none;
}
.hero-area .slider .prev.slick-arrow {
	right: 68px;
	z-index: 1;
}
.hero-area .slider .slick-arrow::before {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
	left: 3px;
	width: 8px;
	height: 8px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}
.hero-area .slider .prev.slick-arrow::before {
	transform: rotate(-135deg);
	margin-left: 24px;
}
.hero-area .slider .next.slick-arrow::before {
	margin-left: 22px;
}
@media only screen and (max-width: 767px) {
	.hero-area .slider .prev.slick-arrow {
		left: 250px;
		bottom: -70px;
	}
	.hero-area .slider .next.slick-arrow {
		left: 250px;
		bottom: -140px;
	}
}
@media only screen and (max-width: 374px) {
	.hero-area .slider .prev.slick-arrow {
		left: 220px;
		bottom: -70px;
	}
	.hero-area .slider .next.slick-arrow {
		left: 220px;
		bottom: -140px;
	}
}


/* 検索セクション 
---------------------------------- */
section.search {
	background: linear-gradient(0deg, #e7eff1 0%, #e7eff1 70%, #fff 70%, #fff 100%);
}
section.search .section-inner {
	padding: 60px 60px;
}
@media only screen and (max-width: 1000px) {
	section.search .section-inner {
		padding: 60px 20px;
	}
}
@media only screen and (max-width: 767px) {
	section.search .section-inner {
		padding: 60px 0;
	}
}
section.search .search-group {
	color: #fff;
	display: flex;
	justify-content: space-between;
}
section.search .search-group > .item {
	width: 47.41%;
	padding: 50px 40px 30px;
	background: #f67e00;
}
@media only screen and (max-width: 1000px) {
	section.search .search-group {
		display: block;
	}
	section.search .search-group > .item {
		width: 100%;
	}
	section.search .search-group > .item:not(:first-child) {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 767px) {
	section.search .search-group > .item {
		width: 100%;
		padding: 50px 20px 30px;
	}
}
section.search .search-group .title-wrapper {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 767px) {
	section.search .search-group .title-wrapper {
		display: block;
	}
}
section.search .search-group .title-wrapper h2 {
	width: 5em;
	font-size: 2.8rem;
	flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
	section.search .search-group .title-wrapper h2 {
		margin-bottom: 40px;
	}
}
section.search .search-group .title-wrapper form {
	width: 100%;
}
section.search .search-group .search-wrapper {
	position: relative;
	display: flex;
	width: 100%;
}
section.search .search-group .search-input {
	background: #fff;
	border: none;
	padding: 20px 10px 19px 30px;
	font-size: 1.4rem;
	width: 100%;
	min-height: 60px;
	border-radius: 50px 0px 0px 50px;
}
section.search .search-group .search-btn {
	padding: 20px 10px 19px;
	background: #191815;
	color: #191815;
	min-width: 60px;
	border: none;
	font-size: 1.4rem;
	border-radius: 0 50px 50px 0px;
	transition: background .2s;
}
section.search .search-group .search-btn::before{
	display: block;
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	right: 20px;
	margin: auto;
	width: 24px;
	height: 24px;
	background-image: url(/images-top/serch_icon_w.png);
	background-size: cover;
	z-index: 1;
}

section.search .btn-group-a {
	margin-top: 34px;
	display: flex;
	justify-content: space-between;
}
section.search .btn-group-a li {
	width: 47%;
	display: flex;
	align-items: center;
}
section.search .btn-group-a a {
	position: relative;
	width: 100%;
	padding: 28px 10px 27px 70px;
	background: #fff;
	border-radius: 4px;
}
@media only screen and (max-width: 1000px) {
	section.search .btn-group-a a {
		text-align: center;
		padding: 28px 70px 27px 70px;
	}
}
@media only screen and (max-width: 767px) {
	section.search .btn-group-a a {
		padding: 70px 20px 10px;
		text-align: center;
	}
}
section.search .btn-group-a a::before {
	display: block;
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 16px;
	margin: auto;
	width: 44px;
	height: 44px;
	background-size: cover;
}
@media only screen and (max-width: 767px) {
	section.search .btn-group-a a::before {
		top: 16px;
		bottom: auto;
		left: 0;
		right: 0
	}
}


section.search .btn-group-a a.location::before {
	background-image: url(/images-top/searchicon01.png);
}
section.search .btn-group-a a.day::before {
	background-image: url(/images-top/searchicon02.png);
}
section.search .btn-group-a a.use::before {
	background-image: url(/images-top/searchicon03.png);
}
section.search .btn-group-a a.model::before {
	background-image: url(/images-top/searchicon04.png);
}
section.search .icon {
	margin-top: 34px;
	display: block;
	text-align: center;
}
section.search .icon h3 {
	position: relative;
	display: inline-block;
}
section.search .item.tenpo h3::before {
	display: block;
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: -70px;
	margin: auto;
	width: 52px;
	height: 52px;
	background-image: url(/images-top/japan.png);
	background-size: cover;
}
section.search .item.product h3::before {
	display: block;
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: -70px;
	margin: auto;
	width: 52px;
	height: 52px;
	background-image: url(/images-top/type_big.png);
	background-size: cover;
}

section.search .btn-group-b {
	margin-top: 14px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
section.search .btn-group-b li {
	width: 32%;
	display: flex;
	align-items: center;
}
section.search .btn-group-b li {
	margin-top: 20px;
}
@media only screen and (max-width: 767px) {
	section.search .btn-group-b li {
		width: 46%;
	}
	section.search .btn-group-b li {
		margin-top: 10px;
	}
}
section.search .btn-group-b li a {
	position: relative;
	width: 100%;
	padding: 16px 10px 15px;
	text-align: center;
	background: #191815;
	color: #fff;
	border-radius: 50px;
}
section.search .btn-group-b li a::before {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
	right: 20px;
	width: 8px;
	height: 8px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}



/* お勧め情報 セクション 
---------------------------------- */
section.recommendation {
	background: url(/images-top/recommendation_bg_top.png) no-repeat left top 190px /auto,
	url(/images-top/recommendation_bg_bottom.png) no-repeat right bottom /auto;
}
@media only screen and (max-width: 1280px) {
	section.recommendation {
		background: url(/images-top/recommendation_bg_top.png) no-repeat left -200px top 190px /auto,
		url(/images-top/recommendation_bg_bottom.png) no-repeat right -200px bottom /auto;
	}
}
@media only screen and (max-width: 800px) {
	section.recommendation {
		background: url(/images-top/recommendation_bg_top.png) no-repeat left -400px top 190px /auto,
		url(/images-top/recommendation_bg_bottom.png) no-repeat right -400px bottom /auto;
	}
}
@media only screen and (max-width: 767px) {
	section.recommendation {
		background: url(/images-top/sp_recommendation_bg_top.png) no-repeat left -20px top 160px /contain,
		url(/images-top/sp_recommendation_bg_bottom.png) no-repeat right -75px bottom /contain;
	}
}
ection.recommendation .section-inner {
	padding-top: 60px;
}
section.recommendation h2.center {
	margin-bottom: 20px;
	text-align: center;
	font-size: 3.6rem;
	font-weight: 400;
}
@media only screen and (max-width: 767px) {
	section.recommendation h2.center {
		margin-bottom: 60px;
	}
}
section.recommendation h2.center small {
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	color: #f67e00;
}
section.recommendation .item-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -83px;
}
section.recommendation .item {
	position: relative;
	width: 33.33%;
	margin-top: 60px;
}
@media only screen and (max-width: 1000px) {
	section.recommendation .item {
		width: 40%;
	}
}
@media only screen and (max-width: 767px) {
	section.recommendation .item-group {
		display: block;
	}
	section.recommendation .item {
		width: 100%;
		margin: 20px auto 0;
	}
}
section.recommendation .item {
	padding-left: 83px;
}
section.recommendation .item a:hover {
	text-decoration: none;
	opacity: 1;
}
section.recommendation .item .text-box {
/*
	position: absolute;
	top: -30px;
	left: -30px;
*/
	position: relative;
	padding: 20px;
	background: rgba(0, 0, 0, 0.85);
	color: #fff;
	width: 216px;
	height: 136px;
	z-index: 2;
}
section.recommendation .item .text-box h3 {
	text-align: center;
	font-size: 1.8rem;
}
section.recommendation .item .text-box h3 small {
	display: block;
	margin-bottom: 10px;
	font-size: 1rem;
	color: #b1b1ac;
}

section.recommendation .item .img-box {
	margin: -100px 0 0 30px;
	overflow: hidden;
	z-index: 1;
}
section.recommendation .item .img-box img {
	transition-duration: 0.3s;
}
section.recommendation .item .img-box img:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}
section.recommendation .btn-group {
	justify-content: center;
	padding: 60px 20px;
	background: #fff;
}
section.recommendation .btn {
    display: inline-block;
    padding: 30px 10px;
    min-width: 410px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.4;
    text-decoration: none !important;
    color: #000 !important;
    background: #fff;
    border: 1px solid #3b3b36;
    border-radius: 4px;
    transition: background .2s;
}
@media only screen and (max-width: 767px) {
    section.recommendation .btn-group li {
        width: 100%;
    }
    section.recommendation .btn {
        min-width: inherit;
        width: 100%;
    }
}



/* ピックアップ セクション 
---------------------------------- */
section.pickup {
	padding: 60px 0;
	background: url(/images-top/section_bg03.jpg) no-repeat center center /cover fixed;
}
section.pickup .section-inner-wrapper {
	padding: 60px 0 50px;
	background: #fff;
}
section.pickup .section-inner {
	background: #fff;
	padding: 0 60px;
}
@media only screen and (max-width: 1000px) {
	section.pickup .section-inner {
		padding: 0 20px;
	}
}
section.pickup h2.center {
	margin-bottom: 20px;
	text-align: center;
	font-size: 3.6rem;
	font-weight: 400;
}
section.pickup h2.center small {
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	color: #f67e00;
}

section.pickup .item-group {
	display: flex;
	flex-wrap: wrap;
}
section.pickup .item {
	position: relative;
	width: 16.552%;
	padding: 18px 0;
	margin: 19px;
}
@media only screen and (max-width: 1000px) {
	section.pickup .item-group {
		justify-content: space-between;
	}
	section.pickup .item {
		width: 20%;
	}
}
@media only screen and (max-width: 767px) {
	section.pickup .item-group {
		justify-content: space-between;
	}
	section.pickup .item {
		width: 47%;
		margin: 10px 0;
	}
}
section.pickup .item .box-border {
	position: absolute;
	width: 20px;
	height: 20px;
}
section.pickup .item .box-border.box-border-leftTop {
	border-top: 1px solid #59564e;
	border-left: 1px solid #59564e;
	top: -1px;
	left: -1px;
}
section.pickup .item .box-border.box-border-leftBottom {
	border-left: 1px solid #59564e;
	border-bottom: 1px solid #59564e;
	bottom: -1px;
	left: -1px;
}
section.pickup .item .box-border.box-border-rightTop {
	border-top: 1px solid #59564e;
	border-right: 1px solid #59564e;
	top: -1px;
	right: -1px;
}
section.pickup .item .box-border.box-border-rightBottom {
	border-right: 1px solid #59564e;
	border-bottom: 1px solid #59564e;
	right: -1px;
	bottom: -1px;
}
section.pickup .item span {
	display: block;
}
section.pickup .item a {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section.pickup .item span {
	display: block;
}
section.pickup .item a {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* お知らせ セクション 
---------------------------------- */
section.information h2.center {
	margin-bottom: 20px;
	text-align: center;
	font-size: 3.6rem;
	font-weight: 400;
}
section.information h2.center small {
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	color: #f67e00;
}
section.information .list-information {
	margin-bottom: 40px;
}
section.information .list-information > li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 767px) {
	section.information .list-information > li {
		align-items: flex-start;
	}
}
section.information .list-information .date {
	position: relative;
	width: 10em;
	font-size: 1.2rem;
	white-space: nowrap;
	flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
	section.information .list-information .date {
		width: 8em;
		margin-top: 2px;
	}
}
section.information .list-information .date::before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	right: 28px;
	height: 18px;
	margin-top: -9px;
	border-right: 1px solid #59564e;
}
@media only screen and (max-width: 767px) {
	section.information .list-information .date::before {
		right: 16px;
	}
}
section.information .btn-group {
	justify-content: center;
}
@media only screen and (max-width: 767px) {
	section.information .btn-group li {
		width: 100%;
	}
}
section.information .btn {
	display: inline-block;
	padding: 30px 10px;
	min-width: 410px;
	font-size: 1.6rem;
	text-align: center;
	line-height: 1.4;
	text-decoration: none !important;
	color: #000 !important;
	background: #fff;
	border: 1px solid #3b3b36;
	border-radius: 4px;
	transition: background .2s;
}
@media only screen and (max-width: 767px) {
	section.information .btn {
		min-width: inherit;
		width: 100%;
	}
}
section.information .btn:hover {
	background: #ccc;
}



/* リンクリスト セクション 
---------------------------------- */
section.link-list {
	background: linear-gradient(0deg, #e7eff1 0%, #e7eff1 70%, #fff 70%, #fff 100%);
}
@media only screen and (max-width: 767px) {
	section.link-list {
		background: linear-gradient(0deg, #e7eff1 0%, #e7eff1 90%, #fff 90%, #fff 100%);
	}
}
section.link-list .section-inner {
	padding: 60px 0 30px;
}
@media only screen and (max-width: 1280px) {
	section.link-list .section-inner {
		padding: 60px 20px 30px;
	}
}
section.link-list a:hover {
	text-decoration: none;
}
section.link-list .item-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -38px;
}
section.link-list .item-group .item {
	position: relative;
	width: 25%;
    padding-left: 38px;
}
@media only screen and (max-width: 767px) {
	section.link-list .item-group .item {
		width: 100%;
	}
	section.link-list .item-group .item:not(:first-child) {
		margin-top: 30px;
	}
}

section.link-list .item .img-box {
	position: relative;
	margin: 0 0 -30px 38px;
	overflow: hidden;
}
section.link-list .item .img-box img {
	transition-duration: 0.3s;
}
section.link-list .item .img-box img:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}
section.link-list .item .text-box {
	position: relative;
	width: calc(226 / 294 * 100%);
	min-height: 100px;
	background: #fff;
	padding: 30px 23px 24px;
}
section.link-list .item .text-box h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
	line-height: 1.4;
}
section.link-list .item .text-box h3 small{
	display: block;
	font-weight: normal;
	font-size: 1.2rem;
}
section.link-list .item .text-box p {
	font-size: 1.4rem;
}
@media only screen and (max-width: 767px) {
	section.link-list .item .img-box {
		margin: 0 0 -16px 50px;
	}
	section.link-list .item .img-box img {
		width: 100%;
	}
	section.link-list .item .text-box {
		width: calc(100% - 34px);
		padding: 15px 20px 16px;
	}
	section.link-list .item .text-box h3 {
		font-size: 2.0rem;
	}
	section.link-list .item .text-box h3 small{
		font-size: 1.2rem;
	}
	section.link-list .item .text-box p {
		font-size: 1.6rem;
	}
}

