<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../", title: "マテリアリティ | サステナビリティ | クリーク･アンド･リバー社｜C&Rグループ", description: "マテリアリティ。 サステナビリティ。 クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="sustainability" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="">サステナビリティ</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>マテリアリティ</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <div class="common-mainVisual">
        <img src="../../images/sustainability_main.jpg" alt="ダミー">
        <h1 class="common-heading--h1">マテリアリティ<br><span></span></h1>
      </div>

      <div class="contentWrap commonSustainability materialities">
        <ul class="ankerLinks__blk-glay commonSustainabilityLinks">
          <li>
            <a class="anchor-link" href="#section01">マテリアリティ特定のプロセス
              <div class="arrow--grayBtn"><span class="arrow"></span></div>
            </a>
          </li>
          <li>
            <a class="anchor-link" href="#section02">
              重要性評価マップ
              <div class="arrow--grayBtn"><span class="arrow"></span></div>
            </a>
          </li>
          <li>
            <a class="anchor-link" href="#section03">
              特定したマテリアリティ
              <div class="arrow--grayBtn"><span class="arrow"></span></div>
            </a>
          </li>
          <li>
            <a class="anchor-link" href="#section04">
              関連するSDGs
              <div class="arrow--grayBtn"><span class="arrow"></span></div>
            </a>
          </li>
        </ul>
        <h2 id="section01" class="common-textBlock__textTop commonSustainability__ttl">
          マテリアリティ特定のプロセス
        </h2>
        <p class="commonSustainability__txt">
          C＆Rグループがめざす経営と、社会、環境に与える影響に焦点をあて、その課題と機会について検討し、マテリアリティを特定しました。
        </p>
        <table class="txtBase__table column6 step__table">
          <tbody>
            <tr>
              <th class="bg">STEP1</th>
              <td>
                <span class="step__ttl">ステークホルダーとの対話</span>
                <p class="step__txt">C＆Rグループに対する期待と優先的に取り組む課題について、投資家、サステナビリティの有識者などのステークホルダーとの対話、ヒアリングを実施しました。</p>
              </td>
            </tr>
            <tr>
              <th class="bg">STEP2</th>
              <td>
                <span class="step__ttl">課題の把握と特定</span>
                <p class="step__txt">C＆Rグループがめざす経営と、社会・環境に与える影響、中期経営計画に焦点をあて、ESG評価期間、GRI、SASB、など内外のガイドラインも参考にして、社会課題を把握、整理。</p>
              </td>
            </tr>
            <tr>
              <th class="bg">STEP3</th>
              <td>
                <span class="step__ttl">自社による議論と特定</span>
                <p class="step__txt">代表取締役がリーダーを務める会議で、関係役員、関係部署が議論をかさねた重点テーマを5つに決定。</p>
              </td>
            </tr>
            <tr>
              <th class="bg">STEP4</th>
              <td>
                <span class="step__ttl">活動の検証と今後の予定</span>
                <p class="step__txt">重点テーマを特定した後も、社会情勢の変化を踏まえ、定期的なステークホルダーとの対話を継続的に実施します。また2021年12月に取締役会の諮問機関として設置したサステナビリティ委員会を中心に、具体的な取り組みを推進します。今後重要指標（KPI）のさらなる開示にむけて検討を行ってまいります。</p>
              </td>
            </tr>
          </tbody>
        </table>


        <h2 id="section02" class="common-textBlock__textTop commonSustainability__ttl">
          重要性評価マップ
        </h2>
        <div class="commonSustainability__img">
          <img src="../../images/sustainability_materiality_figure.png" alt="">
        </div>


        <h2 id="section03" class="common-textBlock__textTop commonSustainability__ttl">
          特定したマテリアリティ
        </h2>
        <div class="materiality__img">
          <img src="../../images/materialities_figure.png" alt="">
        </div>
        <div class="txtBase__scrBlock">
          <table class="txtBase__table column6 materiality__table">
            <tbody>
              <tr>
                <th class="bg"></th>
                <th class="bg -line2">マテリアリティ</th>
                <th class="bg">主な重要課題</th>
                <th class="bg img">関連するSDGs</th>
              </tr>
              <tr>
                <th class="bg">1</th>
                <td class="-line2">
                  <span class="materiality__tableTtl">様々なプロフェッショナルが活躍できる機会と環境を創出</span>
                </td>
                <td>
                  <span class="materiality__tableTxt">・プロフェッショナル50分野構想の進展<br>・社会の変化に対応できる教育の提供<br>・雇用問題/所得格差への取り組み</span>
                </td>
                <td class="img">
                  <div class="-imgWrap">
                    <img src="../../images/sdg_icon_04_materiality.png" alt="">
                  </div>
                  <div class="-imgWrap">
                    <img src="../../images/sdg_icon_08_materiality.png" alt="">
                  </div>
                </td>
              </tr>
              <tr class="bg">
                <th class="bg">2</th>
                <td class="-line2">
                  <span class="materiality__tableTtl">プロフェッショナルネットワークによる新規ビジネスの創出</span>
                </td>
                <td>
                  <span class="materiality__tableTxt">・プロフェッショナルの能力を活かす新たな価値の創造<br>・グローバル展開<br>・地方創生<br></span>
                </td>
                <td class="img">
                  <div class="-imgWrap">
                    <img src="../../images/sdg_icon_03_materiality.png" alt="">
                  </div>
                  <div class="-imgWrap">
                    <img src="../../images/sdg_icon_10_materiality.png" alt="">
                  </div>
                </td>
              </tr>
              <tr>
                <th class="bg">3</th>
                <td class="-line2">
                  <span class="materiality__tableTtl">プロフェッショナルの叡智を活用した環境への取り組み</span>
                </td>
                <td>
                  <span class="materiality__tableTxt">・脱炭素社会への実現<br>・循環型社会の実現<br>・自然共生社会の実現</span>
                </td>
                <td class="img">
                  <div class="-imgWrap">
                    <img src="../../images/sdg_icon_13_materiality.png" alt="">
                  </div>
                </td>
              </tr>
              <tr class="bg">
                <th class="bg">4</th>
                <td class="-line2">
                  <span class="materiality__tableTtl">多様な人材の育成と働く環境の整備</span>
                </td>
                <td>
                  <span class="materiality__tableTxt">・経営人材の創出<br>・ダイバーシティ＆インクルージョンの取り組み<br>・専門職が力を発揮するための教育</span>
                </td>
                <td class="img">
                  <div class="-imgWrap">
                    <img src="../../images/sdg_icon_03_materiality.png" alt="">
                  </div>
                  <div class="-imgWrap">
                    <img src="../../images/sdg_icon_04_materiality.png" alt="">
                  </div>
                  <div class="-imgWrap">
                    <img src="../../images/sdg_icon_05_materiality.png" alt="">
                  </div>
                </td>
              </tr>
              <tr class="">
                <th class="bg">5</th>
                <td class="-line2">
                  <span class="materiality__tableTtl">責任ある企業と経営基盤の確立</span>
                </td>
                <td>
                  <span class="materiality__tableTxt">・コーポレート・ガバナンスの強化<br>・法令遵守/社会的規範<br>・情報セキュリティ/プライバシー保護</span>
                </td>
                <td class="img">
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h2 id="section04" class="common-textBlock__textTop commonSustainability__ttl">
          関連するSDGs
        </h2>
        <div class="common-textBlock mt top">
          <div class="common-textBlock__contentWrap">
            <div class="common-textBlock__imgWrap"><img src="../../images/sdg_icon_03.png"
                alt="3 すべての人に健康と福祉を"></div>
            <div class="common-textBlock__textWrap">
              <p>３．すべての人に健康と福祉を</p>
              <div class="sustain__list">
                <h4>・医師のエージェンシー事業を通じた医療業界への貢献</h4>
                <p>
                  C&amp;Rグループの医療分野で医師の紹介事業を行う株式会社メディカル・プリンシプル社が、全国各地の慢性的な医師不足及び地域偏在という医療業界の課題に対し、全国に拠点を設け、地域医療にいち早く対応できる体制を築いています。さらに、医学生・研修医と医療機関の出会いの場となる業界最大規模の合同説明会・オンラインイベントの実施や医師のスキルアップを図るセミナーを開催して、医療による社会環境の向上に尽力しています。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="common-textBlock mt">
          <div class="common-textBlock__contentWrap">
            <div class="common-textBlock__imgWrap"><img src="../../images/sdg_icon_04.png" alt="4 質の高い教育をみんなに">
            </div>
            <div class="common-textBlock__textWrap">
              <p>４．質の高い教育をみんなに</p>
              <div class="sustain__list">
                <h4>・プロフェッショナル向けの教育機関を運営</h4>
                <p>
                  C&amp;Rグループのミッションである「プロフェッショナルの生涯価値の向上」を図るため、各分野での教育や各種セミナーを実施しています。特にクリエイティブ分野では「プロフェッショナルエデュケーションセンター（PEC）」を設置し、クリエイターが能力を伸ばせるよう支援しています。
                </p>
              </div>
              <div class="sustain__list">
                <h4>・未経験者の育成による就業支援</h4>
                <p>これからプロフェッショナルになることをめざす方を対象に、教育から就業までをフォローする体制を構築しています。未経験者に実践に基づいた研修を行い、多くの優秀なクリエイターやITエンジニアなどを輩出しています。</p>
              </div>
              <div class="sustain__list">
                <h4>・プロフェッショナル向けの情報提供</h4>
                <p>プロフェッショナルがその能力を高めるための情報を自社メディアにて提供するほか、先人の活躍の軌跡を知るための出版物の発行、先端技術に関するセミナーの実施など、様々な情報提供を行っています。</p>
              </div>
              <div class="sustain__list">
                <h4>・外国籍のプロフェッショナル向けの語学研修</h4>
                <p>
                  多様な人材による活動が日本の産業力を高めるとの考えのもと、外国籍の社員及びプロフェッショナルに向けて日本語教育を実施しています。さらに、日本での活躍をめざして世界中から集まる様々な人々に対して、各分野ですぐに活かせる英語や日本語教育の体制も構築しています。<br><a
                    href="https://criprolang.jp/" target="_blank" title="Opens in a new window">プロフェッショナル語学</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="common-textBlock mt">
          <div class="common-textBlock__contentWrap">
            <div class="common-textBlock__imgWrap"><img src="../../images/sdg_icon_05.png"
                alt="5 ジェンダー平等を実現しよう"></div>
            <div class="common-textBlock__textWrap">
              <p>５．ジェンダー平等を実現しよう</p>
              <div class="sustain__list">
                <h4>・女性が活躍できる環境整備</h4>
                <p>
                  当社では、女性が活躍する環境整備の一環として、管理職・経営層への女性社員の登用にも積極採用に取り組んでいます。また産前産後休暇・育児休暇や時短勤務制度の導入、取得促進に取り組んでおり、復職する際にも働きやすい職場環境の整備を行っています。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="common-textBlock mt">
          <div class="common-textBlock__contentWrap">
            <div class="common-textBlock__imgWrap"><img src="../../images/sdg_icon_08.png"
                alt="8 ジェンダー平等を実現しよう"></div>
            <div class="common-textBlock__textWrap">
              <p>８．働きがいも経済成長も</p>
              <div class="sustain__list">
                <h4>・プロフェッショナルへの様々な雇用機会の提供</h4>
                <p>
                  派遣・正社員紹介（エージェンシー事業）、請負（プロデュース事業）、知的財産の収益化（ライツマネジメント）事業を通じて、プロフェッショナルの方々が持てる力を最大限に発揮できる環境を提供し、その能力を通じてクライアントの企業価値向上に貢献しています。<br><a
                    href="https://www.cri.co.jp/companies/service_menu/">サービスメニュー</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="common-textBlock mt">
          <div class="common-textBlock__contentWrap">
            <div class="common-textBlock__imgWrap"><img src="../../images/sdg_icon_10.png"
                alt="10 人や国の不平等をなくそう"></div>
            <div class="common-textBlock__textWrap">
              <p>１０．人や国の不平等をなくそう</p>
              <div class="sustain__list">
                <h4>・地方自治体と連携した地方活性化施策</h4>
                <p>全国各地に拠点を設置し、プロフェッショナルの能力を活かした人材育成や人材支援による雇用の創出、商品やアイデアがありながら市場開拓に課題を持っている自治体や地元企業と連携した地域経済の活性化支援などを実施しています。
                </p>
              </div>
              <div class="sustain__list">
                <h4>・国を超えた就業支援</h4>
                <p>
                  日本で働きたい海外在住のプロフェッショナルに対して日本企業の紹介などを積極的に展開するほか、現地のプロフェッショナル人材ネットワークを活用した事業展開を行っています。ニューノーマルの時代、国境も働き方も変化する中で、リモートを活用した人材サービスやプロジェクトを今後ますます拡大させ、世界中のプロフェッショナルが活躍できる場の創出をめざしていきます。
                </p>
              </div>
              <div class="sustain__list">
                <h4>・地方自治体と連携した地方活性化施策の「事例」</h4>
                <div class="sustain__exampleLink">
                  <p>起業・創業支援事業「Fukushima Tech Create」を委託<br>福島であなたの発想が動き出す<br><a
                      href="https://www.cri.co.jp/news/003024">https://www.cri.co.jp/news/003024</a></p>
                  <p>大阪府とコロナ禍における転職・再就職支援で連携<br><a
                      href="https://www.cri.co.jp/news/002992">https://www.cri.co.jp/news/002992</a></p>
                  <p>鳥取県・観光庁「誘客多角化等のための魅力的な滞在コンテンツ造成」実証事業<br>月面都市を体験するARコンテンツ制作に協力<br><a
                      href="https://www.cri.co.jp/news/002986">https://www.cri.co.jp/news/002986</a></p>
                  <p>東京都「5G技術活用型開発等促進事業」に採択、都内のスタートアップを支援<br><a
                      href="https://www.cri.co.jp/news/002973">https://www.cri.co.jp/news/002973</a></p>
                  <p>福島県企業の特許活用に、クリエイターのアイデア活かす「川崎モデル」の事例を基に、全国に知財活用を広める<br><a
                      href="https://www.cri.co.jp/news/002832">https://www.cri.co.jp/news/002832</a></p>
                </div>
              </div>
              <div class="sustain__list">
                <h4>・国を超えた就業支援の「事例」</h4>
                <div class="sustain__exampleLink">
                  <p>在本邦インドネシア共和国大使館との協力覚書を締結<br>～クリエイティブ分野の日本・インドネシア協業連携支援を確認～<br><a
                      href="https://www.cri.co.jp/news/003019">https://www.cri.co.jp/news/003019</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="common-textBlock mt">
          <div class="common-textBlock__contentWrap">
            <div class="common-textBlock__imgWrap"><img src="../../images/sdg_icon_13_materiality.png"
                alt="13．気候変動に具体的な対策を"></div>
            <div class="common-textBlock__textWrap">
              <p>13．気候変動に具体的な対策を</p>
              <div class="sustain__list">
                <h4>・脱炭素社会や循環型社会の実現をめざす研究や研究者への支援</h4>
                <p>
                  CO2と水素で有機成分を作るUCDI®水素菌を活用した脱石油100%素材「UCDI®プラスティック」の開発や、輸送燃料「UCDI®フューエル」などの研究・開発・製造を行うバイオベンチャー企業である株式会社CO2資源化研究所に出資し、研究開発と製造を促進するためのマーケティング活動を行っています。<br><a
                    href="https://www.co2.co.jp/jp/top">https://www.co2.co.jp/jp/top</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('../../include/subpages/_sustainabilityLink.ejs',); %>

    </main>
    <%- include('../../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $('body').on('click', '.anchor-link', function(){
    		let link_id = $(this).attr('href');
            $('html,body').animate({scrollTop: $(link_id).offset().top - 100 },'slow');
    	
    })
    </script>
  </body>
</html>