<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "クリーク･アンド･リバー社について", description: "クリーク･アンド･リバー社について。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="overview" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="/">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">企業・グループ情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>クリーク･アンド･リバー社について</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <!-- <div class="kv">
        <h1 class="kv__ttl">クリーク･アンド･リバー社について</h1>
        <span class="kv__line"></span>
      </div> -->
      <div class="common-mainVisual">
        <img src="../../images/1000_F_296643772_CWHxtgGGuoeopFjb7RMBMbFFbVe14zj6.jpg" alt="ダミー">
        <h1 class="common-heading--h1">クリーク･アンド･リバー社について<br><span></span></h1>
      </div>
      <div class="contentWrap md">
        <section id="company" class="company">
          <h2 class="commonTtl">会社概要</h2>
          <div class="bgcBlc">
            <h3 class="company__subttl -uLine">社名</h3>
            <p class="company__txt -mt">株式会社クリーク･アンド･リバー社<br>CREEK & RIVER Co., Ltd.</p>
          </div>
          <div class="bgcBlc -gray">
            <h3 class="company__subttl -uLine">所在地</h3>
            <ul class="company__list">
              <li>
                <h4 class="company__dt -lLine">本社</h4>
                <p class="company__txt w60">〒105-0004<br>
                  東京都港区新橋四丁目1番1号<br>新虎通りCORE<br>
                </p>
                <p class="company__txt">
                  （交通機関）<br>
                  都営地下鉄三⽥線 内幸町駅 A1出⼝／東京メトロ日比谷線 虎ノ門ヒルズ駅 A1出口　徒歩5分<br>
                  JR⼭⼿線 他 新橋駅 烏森口　徒歩6分<br>
                  東京メトロ銀座線 新橋駅日比谷口　徒歩7分
                </p>
                <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://cocokarago.com/?id=c25ecfde0c2a27338e49"><span>道案内はこちら</span></a>
                  <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/5bxF5BL2EDETq29u9"><span>Googleマップを見る</span></a>
                <a class="company__qrLink">
                  <img src="../../images/about_us/overview_qr.png" alt="">
                </a>
              </li>
              <li>
                <h4 class="company__dt -lLine">大阪支社</h4>
                <p class="company__txt">〒542-0081<br>
                  大阪府大阪市中央区南船場3丁目5番8号<br>オーク心斎橋ビル8階<br>
                </p>
                <p class="company__txt">
                  （交通機関）<br>
                  地下鉄御堂筋線・長堀鶴見緑地線「心斎橋駅」 クリスタ長堀北10番出口　徒歩3分／北7番出口すぐ<br>
                  地下鉄四つ橋線「四ツ橋駅」 1-A番出口　徒歩5分<br>
                  地下鉄堺筋・長堀鶴見緑地線「長堀橋駅」　クリスタ長堀北1番出口　徒歩6分
                </p>
                <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/VUGpeiPJvchFViM79"><span>Googleマップを見る</span></a>
              </li>
            </ul>
            <!-- <a class="commonBtn-arrow company__accessLinks" href="#access">他の事業拠点・アクセスマップはこちら</a> -->
            <ul class="ankerLinks__blk-glay company__ankerLinks ankerLinks__blk-hover">
              <li>
                <a href="#access">他の事業拠点・アクセスマップはこちら<span class="arrow"></span></a>
              </li>
            </ul>
          </div>
          <ul class="company__list">
            <li class="bgcBlc ">
              <h3 class="company__subttl -uLine">設立年月日</h3>
              <p class="company__txt mt">
                1990年3月20日
              </p>
            </li>
            <li class="bgcBlc -gray">
              <h3 class="company__subttl -uLine">株式公開市場</h3>
              <p class="company__txt mt">
                東京証券取引所市場第一部<br>株式コード：4763
              </p>
            </li>
          </ul>
          <ul class="company__list">
            <li class="bgcBlc">
              <h3 class="company__subttl -uLine">代表者</h3>
              <p class="company__txt mt">
                代表取締役社長　井川 幸広
              </p>
            </li>
            <li class="bgcBlc -gray">
              <h3 class="company__subttl -uLine">資本金</h3>
              <p class="company__txt mt">
                117,719万円
              </p>
            </li>
          </ul>
          <ul class="company__list">
            <li class="bgcBlc">
              <h3 class="company__subttl -uLine">役員一覧</h3>
              <p class="company__txt mt">
                取締役　　　　　黒崎 淳<br>
                取締役　　　　　青木 克仁<br>
                取締役　　　　　後藤 野人<br>
                取締役　　　　　澤田 秀雄＊<br>
                取締役　　　　　藤沢 久美＊<br>
                取締役　　　　　藤延 直道＊<br>
                常勤監査役　　　喜多村 裕<br>
                監査役　　　　　安部 陽一郎＊<br>
                監査役　　　　　塩谷 仁<br>
                監査役　　　　　野村 雅行＊<br>
                執行役員　　　　黒﨑 充彦<br>
                執行役員　　　　松本 研二<br>
                執行役員　　　　渡辺 和宏<br>
                執行役員　　　　杤尾 有紀<br>
                執行役員　　　　日髙 浩一<br>
                執行役員　　　　長谷川 大幾<br>
                執行役員　　　　岩崎 昭夫<br><br>
                ＊社外役員
              </p>
            </li>
            <li class="bgcBlc -gray">
              <h3 class="company__subttl -uLine">事業内容</h3>
              <p class="company__txt mt">
                エージェンシー事業（派遣･紹介）<br>
                プロデュース事業（請負･アウトソーシング)<br>
                ライツマネジメント事業（知的財産の収益機会拡大）<br>
                教育事業 
              </p>
            </li>
          </ul>
          <ul class="company__list">
            <li class="bgcBlc">
              <h3 class="company__subttl -uLine">事業分野</h3>
              <p class="company__txt mt">
                <a href="" class="company__serviceLink">映像</a><br>
                <a href="" class="company__serviceLink">ゲーム</a> <br>
                <a href="" class="company__serviceLink">Web</a><br>
                <a href="" class="company__serviceLink">広告・出版</a><br>
                <a href="" class="company__serviceLink">作家</a><br>
                <a href="" class="company__serviceLink">舞台芸術</a><br>
                <a href="" class="company__serviceLink">建築</a><br>
                <a href="" class="company__serviceLink">コンピュータサイエンス</a><br>
                <a href="" class="company__serviceLink">ライフサイエンス</a><br>
                <a href="" class="company__serviceLink">ファッション</a><br>
                <a href="" class="company__serviceLink">食</a><br>
                <a href="" class="company__serviceLink">アスリート</a><br>
                <a href="" class="company__serviceLink">CXO</a><br>
                <a href="" class="company__serviceLink">アグリ</a>
                <span class="company__line"></span>
                <a href="" class="company__serviceLink">XR（VR／AR／MR）</a><br>
                <a href="" class="company__serviceLink">データ分析</a><br>
                <a href="" class="company__serviceLink">ドローン</a><br>
                <a href="" class="company__serviceLink">プロフェッショナル語学</a>
              </p>
            </li>
            <li class="bgcBlc -gray">
              <h3 class="company__subttl -uLine">顧問</h3>
              <p class="company__txt mt">
                法律顧問　さくら共同法律事務所<br>
                　　　　　弁護士法人キャスト<br>
                監査法人　太陽有限責任監査法人<br>
                会計顧問　加藤公認会計士事務所<br>
              </p>
            </li>
          </ul>
          <ul class="company__list">
            <li class="bgcBlc">
              <h3 class="company__subttl -uLine">グループ企業一覧</h3>
              <a class="global__btn mt30 arrow__iconHover" href="/about_us/group/">
                C&Rグループについて
                <div class="arrow-glay">
                  <span class="arrow"></span>
                </div>
              </a>
            </li>
            <li class="bgcBlc -gray">
              <h3 class="company__subttl -uLine">認定</h3>
              <p class="company__txt mt">
                一般労働派遣許可番号【派 13-040423】<br>
                有料職業紹介許可番号【紹 13-ユ-040294】
              </p>
              <div class="company__privacy">
                <figure>
                  <img src="../../images/about_us/overview_privacy.png" alt="たいせつにしますプライバシー 10860704(08)">
                </figure>
                <p class="">
                  プライバシーマーク許可番号<br>
                  10860704（08）
                </p>
              </div>
            </li>
          </ul>
        </section>
        <section id="origin" class="origin">
          <h2 class="commonTtl">社名の由来</h2>
          <figure>
            <img src="../../images/about_us/overview_origin_img_01.jpg" alt="">
          </figure>
          <p class="origin__txt">
            今から30年ほど前にさかのぼります。<br><br>当時、社長の井川がTVディレクターとして、飢えと貧困の代名詞となっていたアフリカの村落を取材した時のことです。土地は肥沃なのに、なぜみんなが飢えに苦しんでいるのか。作物を育てるノウハウがあれば解決できるのに、なぜそれができないのか。その滞在していた村を去る前日、そこから50キロも離れていないところに水路が整備され、作物が生い茂る肥沃な土地がありました。しかし、それは貧困の村まで届かず<span id="removeElm">…</span><span id="addElm">、利権の対象となっているとのことでした。<br><br>
            この現実は、ドキュメンタリストとしてメディアを通じ、この村の惨状を世界中の人へ問題提起することが、やがて村落の人たちを救えると信じていた井川の考えを根底から変えました。「そこに住んでいる人がいたら、自分の手を差し伸べたい」。人として当たり前の行為を、間接的に行うか、直接的に行うか。悩み抜いていくうちに、ドキュメンタリストとしての限界が見えました。<br><br>
            わずか2週間ほどの滞在でしたが、いざ帰ろうとするときに、子供たちが泣きながら抱きついてくる。スタッフ全員が後ろ髪を引かれる思いで、ロケ車に乗り込んだとき、自分の無力さを痛感しました。この子たちを助けるために自分にできることは、メディアに問うことよりも、そこに川を造り、水路をつくり、作物を育てるノウハウを提供することではないのか･･･。<br><br>
             クリーク･アンド･リバー社の社名は、この強烈な想いから名付けられました。<br><br>
             人が困っていれば、自分のできることから直接動いていきたい。クリーク･アンド･リバー社の事業活動が世界規模になるにつれ、そのコンセプトが大きなパワーとなって、人の心の中に生き続ける。そして、日本だけではなく、世界の人々の笑顔を生み出す願いを込めた社名です。</span>
             <span class="origin__txtBtnWrap">
               <a id="btn" class="origin__txtBtn">すべてを見る</a>
            </span>

          </p>
        </section>
        <section id="access" class="access">
          <h2 class="commonTtl">事業拠点・アクセスマップ</h2>
          <ul class="access__list">
            <li class="bgcBlc">
              <h4 class="access__dt -lLine">本社</h4>
              <p class="access__txt w60">〒105-0004<br>
                東京都港区新橋四丁目1番1号<br>新虎通りCORE
              </p>
              <p class="access__txt mt0">※QRコードからもアクセスできます。</p>
              <div class="access__gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.7391669193673!2d139.753496!3d35.6652223!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5cd3a1b259010283!2z5paw6JmO6YCa44KKQ09SRQ!5e0!3m2!1sja!2sjp!4v1640637379687!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>              
              </div>
              <p class="access__txt">
                <span class="-bold">（交通機関）<br></span>
                都営地下鉄三⽥線 内幸町駅 A1出⼝／東京メトロ日比谷線 虎ノ門ヒルズ駅 A1出口　徒歩5分<br>
                JR⼭⼿線 他 新橋駅 烏森口　徒歩6分<br>
                東京メトロ銀座線 新橋駅日比谷口　徒歩7分
              </p>
              <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://cocokarago.com/?id=c25ecfde0c2a27338e49"><span>道案内はこちら</span></a>
              <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/5bxF5BL2EDETq29u9"><span>Googleマップを見る</span></a>
              <a class="access__qrLink">
                <img src="../../images/about_us/overview_qr.png" alt="">
              </a>
            </li>
            <li class="bgcBlc -gray">
              <h4 class="access__dt -lLine">大阪支社</h4>
              <p class="access__txt">〒542-0081<br>
                大阪府大阪市中央区南船場3丁目5番8号<br>オーク心斎橋ビル8階<br>
              </p>
              <div class="access__gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1640.5875413388596!2d135.5013941!3d34.6755304!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e717574609fd%3A0x897476b91f2f9ee1!2z44CSNTQyLTAwODEg5aSn6Ziq5bqc5aSn6Ziq5biC5Lit5aSu5Yy65Y2X6Ii55aC077yT5LiB55uu77yV4oiS77yYIOOCquODvOOCr-W_g-aWjuapi-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1640637563008!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <p class="access__txt">
                <span class="-bold">（交通機関）<br></span>
                地下鉄御堂筋線・長堀鶴見緑地線「心斎橋駅」 クリスタ長堀北10番出口　徒歩3分／北7番出口すぐ<br>
                地下鉄四つ橋線「四ツ橋駅」 1-A番出口　徒歩5分<br>
                地下鉄堺筋・長堀鶴見緑地線「長堀橋駅」　クリスタ長堀北1番出口　徒歩6分
              </p>
              <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/VUGpeiPJvchFViM79"><span>Googleマップを見る</span></a>
            </li>
          </ul>
          <ul class="access__list">
            <li class="bgcBlc">
              <h4 class="access__dt -lLine">名古屋オフィス</h4>
              <p class="access__txt">〒450-0003<br>
                愛知県名古屋市中村区名駅南1-3-18<br>NORE名駅3階<br>
              </p>
              <div class="access__gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1630.7788596878372!2d136.8904972!3d35.1676495!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600376d8646fc923%3A0x1e8dbbbec099951f!2z44CSNDUwLTAwMDMg5oSb55-l55yM5ZCN5Y-k5bGL5biC5Lit5p2R5Yy65ZCN6aeF5Y2X77yR5LiB55uu77yT4oiS77yR77yYIO-8ru-8r--8su-8peWQjemnhQ!5e0!3m2!1sja!2sjp!4v1640640830235!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <p class="access__txt">
                <span class="-bold">（交通機関）<br></span>
                名古屋駅　徒歩12分<br>
                伏見駅　徒歩2分
              </p>
              <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/K6DP8RuZF1HvFKug7"><span>Googleマップを見る</span></a>
            </li>
            <li class="bgcBlc -gray">
              <h4 class="access__dt -lLine">札幌オフィス</h4>
              <p class="access__txt">〒450-0003<br>
                札幌市中央区北2条西3-1-8<br>朝日生命札幌ビル 7F<br>
              </p>
              <div class="access__gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2914.9533111994606!2d141.3501506!3d43.0634495!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b299de69d068b%3A0x8a65f02bde881f6a!2z44CSMDYwLTAwMDIg5YyX5rW36YGT5pyt5bmM5biC5Lit5aSu5Yy65YyX77yS5p2h6KW_77yT5LiB55uu77yR4oiS77yYIOacneaXpeeUn-WRveacreW5jOODk-ODqw!5e0!3m2!1sja!2sjp!4v1640640858958!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <p class="access__txt">
                <span class="-bold">（交通機関）<br></span>
                JR札幌駅　徒歩6分<br>
                各線さっぽろ駅　徒歩3分<br>
                地下鉄各線大通駅　徒歩3分
              </p>
              <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/1Dze6wNuQmnsZdwo8"><span>Googleマップを見る</span></a>
            </li>
          </ul>
          <ul class="access__list">
            <li class="bgcBlc">
              <h4 class="access__dt -lLine">九州オフィス</h4>
              <p class="access__txt">〒812-0012<br>
                福岡県福岡市博多区博多駅中央街1-1<br>新幹線博多ビル7F<br>
              </p>
              <div class="access__gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3323.597271188037!2d130.4200677!3d33.5898043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354191c80c403731%3A0x548df9a3fae84638!2z5paw5bm557ea5Y2a5aSa44OT44Or!5e0!3m2!1sja!2sjp!4v1640640882698!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <p class="access__txt">
                <span class="-bold">（交通機関）<br></span>
                JR博多駅直結
              </p>
              <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/1rmk8DXDyR6Y6EiB7"><span>Googleマップを見る</span></a>
            </li>
            <li class="bgcBlc -gray">
              <h4 class="access__dt -lLine">仙台オフィス</h4>
              <p class="access__txt">〒983-0037<br>
                宮城県仙台市宮城野区平成一丁目3番15号<br>
              </p>
              <div class="access__gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.3962206163064!2d140.91347571533197!3d38.2703071796723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8987c1917f7699%3A0x6574d457fc992092!2z44CSOTgzLTAwMzcg5a6u5Z-O55yM5LuZ5Y-w5biC5a6u5Z-O6YeO5Yy65bmz5oiQ77yR5LiB55uu77yT4oiS77yR77yV!5e0!3m2!1sja!2sjp!4v1640640903301!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <p class="access__txt">
                <span class="-bold">（交通機関）<br></span>
                JR苦竹駅より徒歩8分
              </p>
              <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/EkPnhSYbLDUP1BXT6"><span>Googleマップを見る</span></a>
            </li>
          </ul>
          <ul class="access__list">
            <li class="bgcBlc">
              <h4 class="access__dt -lLine">C&Rクリエイティブアカデミー</h4>
              <p class="access__txt">〒130-0026<br>
                東京都墨田区両国2-10-6<br>住友不動産両国ビル別館（アネックス）2階<br>
              </p>
              <div class="access__gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.1641343130443!2d139.7908168!3d35.6935387!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601889ea2c02d329%3A0xf75d8c897d08b791!2z5L2P5Y-L5LiN5YuV55Sj5Lih5Zu944OT44Or5Yil6aSo!5e0!3m2!1sja!2sjp!4v1640641034676!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
              <p class="access__txt">
                <span class="-bold">（交通機関）<br></span>
                JR総武・中央緩行線 両国駅　徒歩3分<br>東京都営大江戸線 両国駅　徒歩10分
              </p>
              <a class="-outboundLinkFlex -btnWidth" target="_blank" href="https://goo.gl/maps/xEydzvZkY2x5oEdV7"><span>Googleマップを見る</span></a>
            </li>
          </ul>
        </section>
      </div> 
      <div class="servicelinks">
        <ul class="servicelinks__list">
          <li>
            <a class="global__btn arrow__iconHover" target="_blank" href="/faq/">よくあるご質問
              <div class="arrow-glay">
                <span class="arrow"></span>
              </div>
            </a>
          </li>
          <li>
            <a class="global__btn arrow__iconHover"  target="_blank" href="/contact/">お問い合わせ
              <div class="arrow-glay">
                <span class="arrow"></span>
              </div>
            </a>
          </li>
          <li>
            <a class="global__btn arrow__iconHover" target="_blank" href="/news/">ニュースリリース
              <div class="arrow-glay">
                <span class="arrow"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <ul class="ankerLinks ankerFixed">
        <li><a href="#company">会社概要</a></li>
        <li><a href="#origin">社名の由来</a></li>
        <li><a href="#access">アクセスマップ</a></li>
      </ul>
    </main>
    <%- include('../../include/_footer.ejs'); %>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
          // $(window).on('scroll load', function(){
          //   var scrollTop = $(window).scrollTop();
          //   var windowHeight = $(window).height();
          //   var mvHeight = $('.kv').innerHeight();
          //   var breadHeight = $('.breadcrumb').innerHeight();
          //   var footerHeight = $("footer").height();
          //   var docHeight = $(document).height(); 
          //   var check = window.pageYOffset ;       //現在のスクロール地点 
          //   if(scrollTop > mvHeight + breadHeight){
          //     if(check > docHeight - windowHeight - footerHeight){ 
          //       $('.ankerLinks').fadeOut();
          //     } else{
          //       $('.ankerLinks').fadeIn();
          //     }
          //   } else {
          //     $('.ankerLinks').fadeOut();
          //   };
          // });
          $('.ankerLinks').hide();
          var startPos = 0,winScrollTop = 0;
          $(window).on('scroll',function(){
            winScrollTop = $(this).scrollTop();
            if (winScrollTop >= startPos) {
                $('.ankerLinks').fadeOut();
            } else {
                $('.ankerLinks').fadeIn();
            }
            startPos = winScrollTop;
          });
        $(function () {
            const addElm = document.getElementById('addElm'); 
            $('#btn').click(function () {
            $(addElm).show(0);
            $(this).hide();
            // $(this).toggleClass("active");
            // const btnText = $(this).text();
            // if (btnText == "すべてを見る") {
            //   $(this).text("閉じる");
            // } else {
            // $(this).text("すべてを見る");
            // }
            });
        });


  </script>
</html>