<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/subpages/_subpageHead.ejs', {path: "../", title: "よくあるご質問 | クリーク･アンド･リバー社｜C&Rグループ", description: "よくあるご質問。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../include/_header.ejs'); %>
    <main id="faq" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>よくあるご質問</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
        <h1 class="imgKv__ttl">よくあるご質問</h1>
        <span class="imgKv__line"></span>
      </section>
        <div class="common-container">
            <div class="anchor-container">
              <div class="anchor-list">
                <div class="anchor-item">
                  <a href="#header-1" class="anchor-link top-link">→ 会社・グループ会社について<span class="-arrow"></span> </a> 
                  <a href="#list-1-item-1" class="anchor-item--no-arrow anchor-link">会社が設立されたのはいつですか？ <span class="-arrow"></span> </a> 
                  <a href="#list-1-item-2" class="anchor-item--no-arrow anchor-link">株式が上場したのはいつですか？ <span class="-arrow"></span> </a> 
                  <a href="#list-1-item-3" class="anchor-item--no-arrow anchor-link">C&Rグループについて教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-1-item-4" class="anchor-item--no-arrow anchor-link">企業理念・ビジョンなどについて教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-1-item-5" class="anchor-item--no-arrow anchor-link">クリーク･アンド･リバー社に関する最新ニュースをできるだけ早く入手したいのですが。<span class="-arrow"></span> </a> 
                  <a href="#list-1-item-6" class="anchor-item--no-arrow anchor-link">コーポレート・ガバナンスの取り組みについて教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-1-item-7" class="anchor-item--no-arrow anchor-link">サステナビリティへの取り組みについて教えてください。 <span class="-arrow"></span> </a> 
                </div>
              </div>
              <div class="anchor-list">
                <div class="anchor-item">
                  <a href="#header-2" class=" anchor-link top-link">→ 業績について<span class="-arrow"></span> </a> 
                  <a href="#list-2-item-1" class="anchor-item--no-arrow anchor-link">決算期を教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-2-item-2" class="anchor-item--no-arrow anchor-link">最新の決算情報はどこで見ることができますか？<span class="-arrow"></span> </a> 
                  <a href="#list-2-item-3" class="anchor-item--no-arrow anchor-link">これまでの業績を教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-2-item-4" class="anchor-item--no-arrow anchor-link">決算説明会は動画で見ることができますか？<span class="-arrow"></span> </a> 
                  <a href="#list-2-item-5" class="anchor-item--no-arrow anchor-link">IRに関する問い合わせ先を教えてください。<span class="-arrow"></span> </a> 
                </div>
              </div>
              <div class="anchor-list">
                <div class="anchor-item">
                  <a href="#header-3" class=" anchor-link top-link">→ 株式について<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-1" class="anchor-item--no-arrow anchor-link">証券コードは何番ですか？<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-2" class="anchor-item--no-arrow anchor-link">売買単位株式数を教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-3" class="anchor-item--no-arrow anchor-link">株価を教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-4" class="anchor-item--no-arrow anchor-link">「発行する株式の総数」（受権枠）はいくつですか？<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-5" class="anchor-item--no-arrow anchor-link">発行済株式数は何株ですか？<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-6" class="anchor-item--no-arrow anchor-link">株主名簿管理人はどこですか？<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-7" class="anchor-item--no-arrow anchor-link">名義変更、住所変更などの株式事務については、どこに連絡すればいいですか？<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-8" class="anchor-item--no-arrow anchor-link">過去の株式分割の時期、発行済株式総数はどうなっていますか？<span class="-arrow"></span> </a> 
                  <a href="#list-3-item-9" class="anchor-item--no-arrow anchor-link">自己株式取得についての考え方を教えてください。<span class="-arrow"></span> </a> 
                </div>
              </div>
              <div class="anchor-list">
                <div class="anchor-item">
                  <a href="#header-4" class=" anchor-link top-link">→ 株主への還元制度について<span class="-arrow"></span> </a> 
                  <a href="#list-4-item-1" class="anchor-item--no-arrow anchor-link">配当に対する考え方を教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-4-item-2" class="anchor-item--no-arrow anchor-link">配当金支払いの株主確定日はいつですか？ <span class="-arrow"></span> </a> 
                  <a href="#list-4-item-3" class="anchor-item--no-arrow anchor-link">株主優待制度はありますか？<span class="-arrow"></span> </a> 
                </div>
              </div>
              <div class="anchor-list">
                <div class="anchor-item">
                  <a href="#header-5" class=" anchor-link top-link">→ プロフェッショナル登録について<span class="-arrow"></span> </a> 
                  <a href="#list-5-item-1" class="anchor-item--no-arrow anchor-link">登録するにはどうしたらいいですか？<span class="-arrow"></span> </a> 
                  <a href="#list-5-item-2" class="anchor-item--no-arrow anchor-link">フリーランスでも登録は可能ですか？どのように仕事を紹介してもらえるのでしょうか？<span class="-arrow"></span> </a> 
                  <a href="#list-5-item-3" class="anchor-item--no-arrow anchor-link">登録にはお金がかかりますか？<span class="-arrow"></span> </a> 
                  <a href="#list-5-item-4" class="anchor-item--no-arrow anchor-link">登録の削除（退会）はどのようにすればいいですか？<span class="-arrow"></span> </a> 
                  <a href="#list-5-item-5" class="anchor-item--no-arrow anchor-link">どのようなワークスタイルの仕事を紹介してもらえるのですか？<span class="-arrow"></span> </a> 
                  <a href="#list-5-item-6" class="anchor-item--no-arrow anchor-link">どの地域の仕事がありますか？<span class="-arrow"></span> </a> 
                </div>
              </div>
              <div class="anchor-list">
                <div class="anchor-item">
                  <a href="#header-6" class=" anchor-link top-link">→ お仕事のご依頼について<span class="-arrow"></span> </a> 
                  <a href="#list-6-item-1" class="anchor-item--no-arrow anchor-link">人材（派遣・紹介・業務委託）の相談をしたいのですが。<span class="-arrow"></span> </a> 
                  <a href="#list-6-item-2" class="anchor-item--no-arrow anchor-link">請負プロジェクト依頼について相談したいのですが。<span class="-arrow"></span> </a> 
                  <a href="#list-6-item-3" class="anchor-item--no-arrow anchor-link">チーム単位での人材のオーダーは可能ですか？ <span class="-arrow"></span> </a> 
                  <a href="#list-6-item-4" class="anchor-item--no-arrow anchor-link">各業界での実績を教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-6-item-5" class="anchor-item--no-arrow anchor-link">仕事を依頼したい場合は、どこに問い合わせすればよいですか？<span class="-arrow"></span> </a> 
                </div>
              </div>
              <div class="anchor-list">
                <div class="anchor-item">
                  <a href="#header-7" class=" anchor-link top-link">→ サイト利用について<span class="-arrow"></span> </a> 
                  <a href="#list-7-item-1" class="anchor-item--no-arrow anchor-link">推奨ブラウザを教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-7-item-2" class="anchor-item--no-arrow anchor-link">セキュアモード（SSL）について教えてください。<span class="-arrow"></span> </a> 
                  <a href="#list-7-item-3" class="anchor-item--no-arrow anchor-link">クッキーとは何ですか？ <span class="-arrow"></span> </a> 
                  <a href="#list-7-item-4" class="anchor-item--no-arrow anchor-link">個人情報の保護について教えてください。<span class="-arrow"></span> </a> 
                </div>
              </div>
            </div>

            <div class="common-secondHeading common-mb--subTitle">
              <h3 class="common-heading--h3" id="header-1">会社・グループ会社について</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <h4 class="faq__questionTtl common-mb" id="list-1-item-1">会社が設立されたのはいつですか？</h4>
            <p class="common-mb">1990年3月20日です。</p>
            <h4 class="faq__questionTtl common-mb" id="list-1-item-2">株式が上場したのはいつですか？</h4>
            <p class="common-mb">2000年6月18日にナスダック ジャパン 第一号銘柄として上場しました。</p>
            <h4 class="faq__questionTtl common-mb" id="list-1-item-3">C&Rグループについて教えてください。</h4>
            <p class="common-mb">C&Rグループは1990年に設立したクリーク･アンド･リバー社を中心に、20の企業で構成され、国内18・海外４拠点で活動しています。映像、ゲーム、Web、広告・出版、作家、医療、IT、会計、法曹、建築、ファッション、食、コンピュータサイエンス、ライフサイエンス、舞台芸術、CXO、アスリート、アグリの分野でプロフェッショナルに特化したエージェンシー（派遣・紹介）、プロデュース（請負・アウトソーシング）、ライツマネジメント（知的財産の収益化）事業を展開しています。さらに、VRやAI、プロフェッショナル専門の求人サイトや世界中の弁護士を結ぶSNS、ドローンやラボ型オフショア開発等へと周辺サービスを拡大しています。詳細は<a class="common-link"  href="">C&Rグループについて</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-1-item-4">企業理念・ビジョンなどについて教えてください。</h4>
            <p class="common-mb">C&Rグループは「人の能力は、無限の可能性を秘めています。私たちはその能力を阻害している社会の様々な要因を取り除き、人の叡智を最大限に解き放つ」ことをグループ統括理念としています。才能豊かなプロフェッショナルを発掘し、育て、⽀援し、活躍できる環境を構築していきます。そして、その才能を組み合わせることにより新たな価値を⽣み出し、私たちに関わる全ての⽅の幸せを追求していきます。詳細は<a href="" class="common-link">企業理念</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-1-item-5">クリーク･アンド･リバー社に関する最新ニュースをできるだけ早く入手したいのですが。</h4>
            <p class="common-mb">コーポレートサイトの<a href="" class="common-link">ニュースリリース</a>でお知らせしているほか、当社グループのIR関連の最新情報をメールでお届けする「IRニュースメール配信」サービスを提供しています。ご希望の方は<a href="" class="common-link">IRニュースメール配信登録フォーム</a>よりお申し込みください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-1-item-6">コーポレート・ガバナンスの取り組みについて教えてください。</h4>
            <p class="common-mb">経営機構における監督機能を強化するとともに、透明性の確保、迅速な職務執行体制、リスク管理体制の確立を図っています。<br>詳細は<a class="common-link" href="">コーポレート・ガバナンス</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-1-item-7">サステナビリティへの取り組みについて教えてください。</h4>
            <p class="common-mb">C&Rグループの事業基盤である「プロフェッショナル」を軸とした事業活動を通じて、サステナブルな社会の実現とC&Rグループの永続的な成長の両立をめざしてまいります。また、C&Rグループは、環境（Environment）、社会（Social）、ガバナンス（Governance）の観点よるESG経営を推進し、永続的な発展を可能とする強固な経営基盤を構築してまいります。詳細は<a href="" class="common-link">サステナビリティ</a>をご覧ください。</p>
            <div class="common-secondHeading common-mb--subTitle">
              <h3 class="common-heading--h3" id="header-2">業績について </h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <h4 class="faq__questionTtl common-mb" id="list-2-item-1">決算期を教えてください。</h4>
            <p class="common-mb">決算期は2月です。決算発表等の予定は<a class="common-link" href="">IRカレンダー</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-2-item-2">最新の決算情報はどこで見ることができますか？</h4>
            <p class="common-mb"><a class="common-link" href="">IRライブラリ</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-2-item-3">これまでの業績を教えてください。</h4>
            <p class="common-mb"><a href="" class="common-link">業績・財務情報</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-2-item-4">決算説明会は動画で見ることができますか？</h4>
            <p class="common-mb"><a href="" class="common-link">決算説明会資料・動画</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-2-item-5">IRに関する問い合わせ先を教えてください。</h4>
            <p class="common-mb"><a href="" class="common-link">お問い合わせフォーム</a>より、お問い合わせください。<br><br>
              株式会社クリーク･アンド･リバー社<br>
              経営企画部　IR担当者宛<br>
              電話：03-4550-0008<br>
              E-mail：ir@hq.cri.co.jp
              </p>
            <div class="common-link__space">
            </div>

            <div class="common-secondHeading common-mb--subTitle">
              <h3 class="common-heading--h3" id="header-3">株式について</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-1">証券コードは何番ですか？</h4>
            <p class="common-mb">4763です。</p>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-2">売買単位株式数を教えてください。</h4>
            <p class="common-mb">100株です。</p>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-3">株価を教えてください。</h4>
            <p class="common-mb">「Yahoo!ファイナンス」が提供する<a href="https://finance.yahoo.co.jp/quote/4763.T/chart" target="_blank" class="common-link">株価情報</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-4">「発行する株式の総数」（受権枠）はいくつですか？ </h4>
            <p class="common-mb">44,720,000株です。</p>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-5">発行済株式数は何株ですか？</h4>
            <p class="common-mb">23,009,000株です。</p>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-6">株主名簿管理人はどこですか？</h4>
            <p class="common-mb">三井住友信託銀行株式会社です。</p>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-7">名義変更、住所変更などの株式事務については、どこに連絡すればいいですか？ </h4>
            <p class="common-mb">株式の名義書換、住所変更、届け印の変更等の株式に関する各種手続きは、三井住友信託銀行株式会社にてお取り扱いしています。<a class="common-link" href="https://www.smtb.jp/personal/procedure/agency/" target="_blank">三井住友信託銀行株式会社ホームページ</a>またはフリーダイヤル（0120-782-031）よりご連絡ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-8">過去の株式分割の時期、発行済株式総数はどうなっていますか？</h4>
            <p class="common-mb">過去の株式分割の時期、発行済株式総数に関しては<a class="common-link" href="">株式について</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-3-item-9">自己株式取得についての考え方を教えてください。</h4>
            <p class="common-mb">経営環境の変化に対応した機動的な資本政策を遂行するために、自己株式を取得する方針です。</p>
            <div class="common-link__space">
            </div>

            <div class="common-secondHeading common-mb--subTitle">
              <h3 class="common-heading--h3" id="header-4">株主への還元制度について</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <h4 class="faq__questionTtl common-mb" id="list-4-item-1">配当に対する考え方を教えてください。</h4>
            <p class="common-mb">利益配分につきましては、将来の事業展開と経営体質の強化のために必要な内部留保を確保しつつ、安定した配当を継続して実施していくことを基本方針としています。詳しくは<a class="common-link" href="">株式について</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-4-item-2">配当金支払いの株主確定日はいつですか？</h4>
            <p class="common-mb">期末配当金は、毎年2月末日の最終の株主名簿および実質株主名簿に記載または記録された株主に支払います。</p>
            <h4 class="faq__questionTtl common-mb" id="list-4-item-3">株主優待制度はありますか？ </h4>
            <p class="common-mb">現在は実施しておりません</p>
            <div class="common-link__space">
            </div>

            <div class="common-secondHeading common-mb--subTitle">
              <h3 class="common-heading--h3" id="header-5">プロフェッショナル登録について</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <h4 class="faq__questionTtl common-mb" id="list-5-item-1">登録するにはどうしたらいいですか？</h4>
            <p class="common-mb">ご登録方法は<a class="common-link" target="_blank" href="https://www.creativevillage.ne.jp/member">登録すると？</a>をご覧ください</p>
            <h4 class="faq__questionTtl common-mb" id="list-5-item-2">フリーランスでも登録は可能ですか？どのように仕事を紹介してもらえるのでしょうか？</h4>
            <p class="common-mb">ご登録いただけます。活動状況やご希望にあわせてお仕事をご紹介します。<br>詳細は<a class="common-link" target="_blank" href="https://www.creativevillage.ne.jp/services-2">クリエイティブ業界で働く・登録する</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-5-item-3">登録にはお金がかかりますか？ </h4>
            <p class="common-mb">ご登録は無料です。ご登録後もクリーク･アンド･リバー社のサービスのご利用（仕事紹介、キャリアアドバイスなど）については、一切費用はかかりません。</p>
            <h4 class="faq__questionTtl common-mb" id="list-5-item-4">登録の削除（退会）はどのようにすればいいですか？ </h4>
            <p class="common-mb"><a class="common-link" target="_blank" href="https://reg31.smp.ne.jp/regist/is?SMPFORM=lird-ocsir-e3b7c0c4cd83fafc2f4b7abe2986091b&_ga=2.122265228.62392164.1642664509-1677845867.1594954903">クリーク･アンド･リバー社 登録抹消（退会）依頼</a>よりご連絡ください。追って、手続きに関するご案内をいたします。</p>
            <h4 class="faq__questionTtl common-mb" id="list-5-item-5">どのようなワークスタイルの仕事を紹介してもらえるのですか？ </h4>
            <p class="common-mb">派遣・紹介予定派遣・正社員/契約社員・請負（個人事業主として作品単位で請負っていただくケース）の4つの契約で、活動状況やご希望にあわせてお仕事をご紹介します。詳細は<a class="common-link" target="_blank" href="https://www.creativevillage.ne.jp/services-2">クリエイティブ業界で働く・登録する</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-5-item-6">どの地域の仕事がありますか？</h4>
            <p class="common-mb">関東（特に東京23区内および都内近郊）と関西（特に大阪府内および府内近郊）の仕事が多いですが、ご登録は全国各地にお住まいの方が可能です。ご来社が難しい場合は、郵送でのご登録も可能です。</p>
            <div class="common-link__space">
            </div>

            <div class="common-secondHeading common-mb--subTitle">
              <h3 class="common-heading--h3" id="header-6">お仕事のご依頼について</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <h4 class="faq__questionTtl common-mb" id="list-6-item-1">人材（派遣・紹介・業務委託）の相談をしたいのですが。</h4>
            <p class="common-mb">各分野のプロフェショナルのご相談は<a class="common-link" href="">お問い合わせ</a>フォームよりご連絡ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-6-item-2">請負プロジェクト依頼について相談したいのですが。</h4>
            <p class="common-mb">各分野の請負プロジェクトのご依頼は<a class="common-link" href="">お問い合わせ</a>フォームよりご連絡ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-6-item-3">チーム単位での人材のオーダーは可能ですか？</h4>
            <p class="common-mb">可能です。御社の課題解決に最適なご提案をいたします。<a class="common-link" href="">お問い合わせ</a>フォームよりご連絡ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-6-item-4">各業界での実績を教えてください</h4>
            <p class="common-mb">各業界の主な実績は<a class="common-link" href="">実績一覧</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-6-item-5">仕事を依頼したい場合は、どこに問い合わせすればよいですか？</h4>
            <p class="common-mb">お仕事のご依頼は<a class="common-link" href="">お問い合わせ</a>フォームよりご連絡ください。</p>
            <div class="common-link__space">
            </div>

            <div class="common-secondHeading common-mb--subTitle">
              <h3 class="common-heading--h3" id="header-7">サイト利用について</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <h4 class="faq__questionTtl common-mb" id="list-7-item-1">推奨ブラウザを教えてください。</h4>
            <p class="common-mb">推奨環境は<a class="common-link" href="">サイトポリシー</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-7-item-2">セキュアモード（SSL）について教えてください。</h4>
            <p class="common-mb">セキュアモードとは、インターネット上の通信を暗号化する技術「SSL（Secure Sockets Layer）」のことです。セキュアモードを利用することにより、より高い安全性を確保することができます。詳細は<a class="common-link" href="">サイトポリシー</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-7-item-3">クッキーとは何ですか？</h4>
            <p class="common-mb">クッキー（Cookie）とは、ウェブブラウザを通してお客さまが当サイトを訪れた際にお客さまのコンピュータ内に記録される小さなテキストファイルのことです。お客様が使用しているコンピュータのハードディスクに蓄積されます。クッキーの利用により、お客さまが使用されているコンピュータを識別できますが、お客さま個人を識別できるものではなく、お客さまのプライバシーを侵害するものではありません。お客さまがより便利にご利用いただけるため、当サイトの利用状況に関する統計分析や広告掲載等のためにクッキー情報を使用する場合があります。<br>また、広告の配信を委託する第三者への委託に基づき、第三者を経由して、クッキー情報を保存し、参照する場合があります。詳細は<a class="common-link" href="">サイトポリシー</a>をご覧ください。</p>
            <h4 class="faq__questionTtl common-mb" id="list-7-item-4">個人情報の保護について教えてください。</h4>
            <p class="common-mb">当社がたずさわる個人情報および関連資産を、過失や事故、災害、犯罪などの脅威から守り、プロフェッショナル、クライアント、社会に対して継続的、かつ安定的なサービスの提供を確保するために個人情報保護方針を策定し、適切な個人情報保護対策を実施・推進しております。詳細は<a class="common-link" href="">個人情報保護方針</a>をご覧ください。</p>
            <div class="common-link__space">
            </div>
        </div>
        <!-- <ul class="ankerLinks__blk-glay">
          <li>
            <a href="#_01">会社・グループについて</a>
          </li>
          <li>
            <a href="#_02">業績について</a>
          </li>
          <li>
            <a href="#_03">株式について</a>
          </li>
          <li>
            <a href="#_04">株主還元について</a>
          </li>
          <li>
            <a href="#_05">プロフェッショナル登録について</a>
          </li>
          <li>
            <a href="#_06">仕事のご依頼について</a>
          </li>
          <li>
            <a href="#_07">サイト利用について</a>
          </li>
        </ul>
        <section class="faq">
          <h2 id="_01" class="faq__ttl">会社・グループについて</h2>
          <ul class="faq__wrapper">
            <li class="faq__blk">
              <div class="faq__questionBox">
                <p class="faq__questionTxt">会社が設立されたのはいつですか？</p>
              </div>
              <div class="faq__anserBox">
                <p class="faq__anserTxt">スト回答テキスト回答テキスト回答テキスト</p>
              </div>
            </li>
            <li class="faq__blk">
              <div class="faq__questionBox">
                <p class="faq__questionTxt">株式が上場したのはいつですか？</p>
              </div>
              <div class="faq__anserBox">
                <p class="faq__anserTxt">回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト</p>
              </div>
            </li>
            <li class="faq__blk">
              <div class="faq__questionBox">
                <p class="faq__questionTxt">企業理念・ビジョンなどについて教えてください。</p>
              </div>
              <div class="faq__anserBox">
                <p class="faq__anserTxt">回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト</p>
              </div>
            </li>
            <li class="faq__blk">
              <div class="faq__questionBox">
                <p class="faq__questionTxt">企業理念・ビジョンなどについて教えてください。</p>
              </div>
              <div class="faq__anserBox">
                <p class="faq__anserTxt">回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト</p>
              </div>
            </li>
          </ul>
          <h2 class="faq__ttl">業績について</h2>
          <ul class="faq__wrapper">
            <li class="faq__blk">
              <div class="faq__questionBox">
                <p class="faq__questionTxt">決算期を教えてください。 </p>
              </div>
              <div class="faq__anserBox">
                <p class="faq__anserTxt">回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト</p>
              </div>
            </li>
            <li class="faq__blk">
              <div class="faq__questionBox">
                <p class="faq__questionTxt">最新の決算情報はどこで見ることができますか？</p>
              </div>
              <div class="faq__anserBox">
                <p class="faq__anserTxt">回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト</p>
              </div>
            </li>
            <li class="faq__blk">
              <div class="faq__questionBox">
                <p class="faq__questionTxt">これまでの業績を教えてください。</p>
              </div>
              <div class="faq__anserBox">
                <p class="faq__anserTxt">回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト</p>
              </div>
            </li>
          </ul>
          <div class="faq__contactBtn">
            <a class="global__btn arrow__iconHover -glayBtn" target="_blank" href="/contact/">お問い合わせする
              <div class="arrow-glay">
                <span class="arrow"></span>
              </div>
            </a>
          </div>
        </section> -->
      <!-- /.bnrBlk -->
    </main>
    <%- include('../include/_footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>

    <script>
      $('a[href^="#"]').click(function () {
        var headerHeight = $('#js-header').height();
        var speed = 500;
        var offset = 50;
        var href = $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top - headerHeight - offset;
        $("html, body").animate({ scrollTop: position }, speed, "swing");
        return false;
      });
    </script>
  </body>
</html>